$lt-bg: #f0f2f8;
$input-color: #bababa;

$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;

:host {
    color: $color-default;
}

.lt-card {
    margin-bottom: 0;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.wrap-input {
    &.icon-right {
        position: relative;

        input {
            padding-right: 30px;
        }

        .icon {
            position: absolute;
            top: 0;
            right: 5px;
            height: 100%;
            width: 30px;
            display: flex;
            align-items: center;

            &:after {
                position: absolute;
                top: 50%;
                lefT: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.icon-search {
    &:after {
        content: url('/assets/images/icons/icon-search.png');
    }
}

.icon-date {
    &:after {
        content: url('/assets/images/icons/icon-date.png');
    }
}

.icon-geo {
    &:after {
        content: url('/assets/images/icons/icon-geo.png');
    }
}

.icon-tech {
    &:after {
        content: url('/assets/images/icons/teachers-icon.png');
    }
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    position: relative;
    z-index: 3;

    .wrap-inputs {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}

.lt-drop-down {
    position: relative;
    width: 250px;

    .lt-drop-label {
        cursor: pointer;
    }
}

.lt-drop-content {
    display: none;
    position: absolute;
    width: calc(100% - 13px);
    right: 5px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(2, 2, 2, 0.25);
    z-index: 1;

    &.active {
        display: block;
    }
}

.name-search-wrapper {
    width: 340px;
}

agm-map {
    height: calc(100vh - 180px);
}

.lt-map-search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.lt-content {
    position: relative;
    z-index: 5;
}

.lt-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;;
    z-index: 10;
}

.lt-items {
    position: relative;
}

.list-items {
    padding: 10px 0;

    .item {
        display: flex;
        align-items: center;
        padding: 15px;
        width: 100%;
        cursor: pointer;
        transition: background 0.4s;

        &:hover {
            background: #fff;
        }

        .item-img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                width: auto;
                max-height: 100%;
            }
        }

        .item-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 100px);
            padding-left: 15px;

            .info {
                width: calc(100% - 130px);
            }

            .info-row {
                font-size: 13px;
                color: #757575;
                margin-bottom: 7px
            }

            .item-name {
                font-size: 16px;
                font-weight: 600;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 24px;
            }
        }
    }
}

.lt-load-more {
    padding: 15px 10px;
    text-align: center;
}

.info-academy {
    //padding: 15px;
    .info-header img{
        border-radius: 50%;
    }

    .info-row {
        font-size: 13px;
        color: #757575;
        margin-bottom: 7px
    }

    .item-name {
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
        margin-bottom: 7px;
    }

    .item-address,
    .item-followers {
        font-size: 13px;
        color: #757575;
        margin-bottom: 7px
    }
}

.toggle {
    color: #c6cbd0;
}

.lt-main-wrapper {
    position: relative;
    overflow: hidden;

    .lt-search-list,
    .lt-search-map {
        transition: all 0.3s;
    }

    .lt-search-map {
        left: 0;
        width: 100%;
    }

    &.active {
        .lt-search-list {
            transform: translateX(0);
        }

        .lt-search-map {
            left: 55%;
            width: 45%;
        }
    }
}

.lt-search-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    height: 100%;
    overflow-y: auto;
    z-index: 5;
    background: #fff;
    transform: translateX(-100%);
}

.no-found {
    text-align: center;
    padding: 20px;
}

.lt-geoloc {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
}

.search-tabs {
    text-align: left;
    margin: 15px 0 26px 0;
    .panel-radio-group {
        .radio-item {
            display: inline-block;
            position: relative;
            &.unread:after {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #f91656;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 10px;
            }
            label {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                padding-left: 26px;
                position: relative;
                padding-right: 20px;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0.5s ease-in-out;
                }
                &:hover {
                    &:before {
                        border-color: #4ca1ff;
                    }
                }
                &:after {
                    display: none;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #4ca1ff;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
            input[type="radio"] {
                display: none;
                &:checked+label {
                    &:before {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}