@import "../../../../../variables";

.n-informer {
    text-align: center;
    position: relative;
    .fa-shopping-cart{
        color: $gray;
    }
    .cart-products-count {
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        line-height: 15.5px;
        border-radius: 50%;
        background: #f91656;
        top: -8px;
        right: -3px;
        font-size: 11px;
        color: #fff;
    }
}
