<div class="list-classes" perfectScrollbar click-outside (clickOutside)="onOutside()" *ngIf="isOpen">
    <div class="class-item" *ngFor="let class of classes; let i = index;" (click)="onSelect(class)">
        {{class.name}}
    </div>
</div>