<div class="add-btn" (click)="imageInput.click()" [ngStyle]="stylesBtn">
    <img src="{{plusIcon}}" alt="" [ngStyle]="stylesIco">
</div>
<input #imageInput type="file" accept="image/*" style="display: none" (change)="onImage($event)">
