@import '../../../../../variables';

.add-btn {
    display: flex;
    align-items: center;
    padding: 11px 12px;
    font-size: 25px;
    background: $color-primary;
    border-radius: 50%;
    cursor: pointer;
    img {
        width: 20px;
    }
}
