<ngx-image-gallery [images]="images" [conf]="conf"></ngx-image-gallery>
<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="content-card-100" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScrollDown()">
  <div class="row profile-photos no-gutters">
    <div class="col-6 profile-photo-item" *ngFor="let photo of photos; let i = index;">
      <div class="photo-item-img">
        <button (click)="removeFiles(photo.post_id)" *ngIf="me.id == photo.user_id"></button>
        <img [src]="serverUrl+photo.url" alt="foto1" class="align-self-center" (click)="openGallery(i)"/>
      </div>
    </div>
    
    <div class="loader" *ngIf="!load">Loading...</div>
    <div class="col-12" *ngIf="photos.length == 0 && load">
      <div class="no-data">
        Not found photos
      </div>
    </div>
  </div>
</div>