<div class="cart-card">
    <div class="cc-title">
        Your Shopping Cart
    </div>
    <div class="cc-body">
        <div class="cc-table">
            <div class="cc-table-header">
                <div class="h-product-name">Product name</div>
                <div class="h-qty">Q-ty</div>
                <div class="h-price">Price</div>
                <div class="h-price">Shipping</div>
                <div class="h-total">TOTAL</div>
                <div class="h-controls"></div>
            </div>
            <div class="cc-table-body" *ngIf="products">
                <div class="cc-table-row" *ngFor="let product of products; let i = index">
                    <div class="b-product-name">
                        <img src="{{product.photo ? baseUrl + product.photo : noPhoto}}" alt="">
                        <span>{{product.name}}</span>
                    </div>
                    <div class="b-qty">
                        <opn-ui-qty-inp [(quantity)]="product.quantity" (onQuantityChange)="onChangeQuantity($event, product)" [(errore)]="product.error"></opn-ui-qty-inp>
                    </div>
                    <div class="b-price">
                        <div>${{product.price}}</div>
                    </div>
                    <div class="b-price">
                        <div>${{product.product.shipping_price}}</div>
                    </div>
                    <div class="b-total">
                        <div>${{product.price * product.quantity + product.product.shipping_price}}</div>
                    </div>
                    <div class="b-controls">
                        <img class="red-trash-btn" src="/assets/images/icons/delete-red.png" (click)="deleteProduct(product)">
                    </div>
                </div>
                <div class="row justify-content-end" *ngIf="products && products.length > 0">
                    <div class="col-auto all-total">TOTAL: <span>${{totals}}</span></div>
                </div>
                <div class="row justify-content-end"  *ngIf="products && products.length > 0">
                    <div class="col-auto cart-btns">
                        <button class="cancel-order" (click)="cancelOrder()">Cancel order</button>
                        <button class="buy-order" (click)="nextStep()">Buy</button>
                    </div>
                </div>
                <div class="no-data" *ngIf="products.length == 0">
                    Cart empty!
                </div>
            </div>
        </div>
    </div>
</div>
