@import '../../../../../../variables';

.cart-card {
    @extend %card-styles;
    margin-top: 60px;
    .cc-title {
        @extend %border-bottom;
        padding: 30px;
        line-height: 13px;
        display: flex;
    }
    .cc-body {
        padding: 30px 30px;
        .cc-table {
            .cc-table-header {
                @extend %border-bottom;
                display: flex;
                padding: 15px 0;
                font-size: 16px;
                font-family: "MuseoSansCyrl", serif;
                .h-product-name{
                    flex:4;
                    font-size: 13px;
                }
                .h-qty{
                    flex: 3;
                    text-align: center;
                    font-size: 13px;
                }
                .h-price,
                .h-total{
                    flex: 1;
                    text-align: left;
                    margin: 0 25px;
                    font-size: 13px;
                }
                .h-controls{
                    flex: 1.5;
                    font-size: 13px;
                }
            }
            .cc-table-body {
                .cc-table-row {
                    &:not(:last-child){
                        @extend %border-bottom;
                    }
                    
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    .b-product-name {
                        flex: 4;
                        img {
                            width: 50px;
                            height: 45px;
                            object-fit: cover;
                        }
                        span {
                            margin-left: 25px;
                            color: $color-primary;
                            font-size: 14px;
                            font-family: "MuseoSansCyrl", serif;
                            font-weight: 300;
                        }
                    }
                    .b-qty{
                        flex: 3;
                        font-size: 14px;
                        font-family: "MuseoSansCyrl", serif;
                        font-weight: 300;
                    }
                    .b-price, .b-total{
                        flex: 1;
                        display: flex;
                        margin: 0 25px;
                        color: $color-primary;
                        font-size: 14px;
                        font-family: "MuseoSansCyrl", serif;
                        font-weight: 300;
                        div {
                            width: 78%;
                        }
                    }
                    .b-controls {
                        flex: 1.5;
                        display: flex;
                        justify-content: flex-end;
                        .red-trash-btn {
                            object-fit: cover;
                            margin-right: 15px;
                            cursor: pointer;
                        }
                    }
                }
                .all-total{
                    font-size: 13px;
                    font-family: "MuseoSansCyrl", serif;
                    font-weight: 500;
                    color: #172a47;
                    margin-top: 35px;
                    & span{
                        font-weight: 300;
                        color: #4ca1ff;
                    }
                }
                .cart-btns{
                    padding-top: 35px;
                    .cancel-order{
                        border: 1px solid #d3dce9;
                        border-radius: 3px;
                        line-height: 40px;
                        background: transparent;
                        color: #202f3b;
                        transition: 0.2s;
                        padding: 0 40px;
                        cursor: pointer;
                        &:hover{
                            background: #d3dce9;
                        }
                        &[disabled]{
                            background: rgba($color: #4ca1ff, $alpha: 0.6);
                            cursor: default;
                        }
                    }
                    .buy-order{
                        border: 0;
                        border-radius: 3px;
                        line-height: 40px;
                        background: #4ca1ff;
                        color: white;
                        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                        transition: 0.2s;
                        padding: 0 40px;
                        cursor: pointer;
                        margin: 0 0 0 10px;
                        &:hover{
                            box-shadow: none;
                        }
                        &[disabled]{
                            background: rgba($color: #4ca1ff, $alpha: 0.6);
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}
