.academy-item{
  cursor: pointer;
  padding: 0 30px;

  .academy-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
    box-shadow: 0 8px 10px -5px #9a9797;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background-color: #f7f7f7;
    .academy-photo{
      box-shadow: 0 2px 10px -5px #9a9797;
    }
  }
  .academy-name{
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 15px;
    color: #172a47;
    text-overflow: ellipsis;
  }
  .is_pro{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    border: 0;
    background: #ff5e8b;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;
    float: right;
  }
  .is_status{
    position: absolute;
    top: -23px;
    right: 15px;
    background: #f5f5f5;
    color: #333333;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 11px;
    border-radius: 2px;
    padding: 3px 10px;
    white-space: nowrap
  }
}
