<div class="row align-items-center academy-item" (click)="onToAcademy()">
    <div class="col-2">
        <div class="academy-photo" [ngStyle]="{background: photoUrl}"></div>
    </div>
    <div class="col-8">
        <div class="academy-name">{{academy.name}}</div>
    </div>
    <div class="col-2 text-right">
        <div class="is_status" *ngIf="!academy.status_public && academy.status == 'Accepted'">Deactivated</div>
        <div class="is_status" *ngIf="academy.status == 'In_process'">Pending approval</div>
        <div class="is_status" *ngIf="academy.status == 'Rejected'">Academy rejected</div>
        <div class="is_pro" *ngIf="academy.is_pro && academy.status != 'Rejected' && academy.status != 'In_process'">Pro</div>
    </div>
</div>