@import '../../../../../../../variables';
$border-radius: 3px;
$input-color: #bababa;
.overlay-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 102;
    .modal-conteiner {
        width: 844px;
        max-height: 95vh;
        min-height: 250px;
        background: white;
        box-shadow: 2px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 28px;
        .close-modal {
            width: 14px;
            height: 14px;
            background: url(/assets/images/icons/close.png) 50% no-repeat;
            padding: 0;
            cursor: pointer;
            -webkit-transform: translateY(2px);
            transform: translateY(2px);
            position: absolute;
            top: 0;
            right: 0;
            transition: 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        .modal-head {
            font-size: 34px;
            color: #23354d;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            text-align: left;
            line-height: 40px;
        }
        .profile-setings {
            .profile-avatar {
                text-align: center;
                margin-top: 36px;
                .avatar-photo {
                    display: inline-block;
                    width: 128px;
                    height: 128px;
                    position: relative;
                    border-radius: 50%;
                    .change-avatar {
                        position: relative;
                        width: 100%;
                        background: transparent;
                        border-radius: 50%;
                        transition: 0.2s;
                        z-index: 10;
                        /deep/ opn-crop-logo-photo {
                            transform: translate(-50%, -50%);
                            transition: 0.2s;
                            .edit-logo-photo {
                                
                            }
                            .crop-container {
                                top: -144px;
                                right: -127px;
                            }
                        }
                    }
                }
            }
        }
        .form-group {
            margin-bottom: 25px;
            position: relative;
            .status-title{
                font-size: 11px;
                font-family: "MuseoSansCyrl";
                color: #90949c;
                font-weight: 300;
                text-transform: uppercase;
                &.bold{
                    font-weight: 700;
                }
            }
            .credentials {
                font-size: 11px;
                font-family: "MuseoSansCyrl";
                color: rgb(202, 211, 221);
                text-transform: uppercase;
            }
            /deep/ opn-academies-select input,
            /deep/ ng-datepicker input,
            /deep/ ng4geo-autocomplete input{            
                border: 1px solid #d3dce9 !important;
                &::-moz-placeholder {
                    color: $input-color !important;
                    font-weight: 300 !important;
                }
                &::-webkit-input-placeholder {
                    color: $input-color !important;
                    font-weight: 300 !important;
                }
                &:-ms-input-placeholder {
                    color: $input-color !important;
                    font-weight: 300 !important;
                }
                &:-moz-placeholder {
                    color: $input-color !important;
                    font-weight: 300 !important;
                }
                &.ng-invalid.ng-touched {
                    border-color: $red !important;
                }
                &:focus {
                    border-color: #98a6bc !important;
                    box-shadow: none !important;
                }
            }
            /deep/ opn-ui-select-type-setting .opn-ui-select{
                border: 1px solid #d3dce9 !important;
                &:hover{
                    box-shadow: none !important;
                }
                &.open{
                    border-color: #98a6bc !important;
                    box-shadow: none !important;
                }
            }
            input {
                width: 100%;
                border: 1px solid #d3dce9;
                border-radius: $border-radius;
                height: 42px;
                padding: 0 22px;
                outline: none;
                font-family: $font-family-cond;
                color: $dark;
                &::-moz-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }
                &::-webkit-input-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }
                &:-ms-input-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }
                &:-moz-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }
                &.ng-invalid.ng-touched {
                    border-color: $red;
                }
                &:focus {
                    border-color: #98a6bc;
                }
                &#weight {
                    padding-right: 40px;
                    appearance: none;
                    background: url("/assets/images/icons/lbs-icon.png") calc(100% - 10px) center no-repeat;
                }
            }
            i {
                width: 10px;
                height: 18px;
                line-height: 15px;
                text-align: center;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                color: $gray;
                font-weight: 300;
                font-size: 13px;
                display: none;
                &.has-error {
                    // display: block;
                    color: $red;
                    cursor: help;
                }
            }
            div.changeEmiter {
                margin-top: 22px;
                width: calc( 100% - 2px );
                height: 40px;
                display: block;
                position: absolute;
                top: 0;
                right: 1px;
                font-size: 14px;
                color: #4ca1ff;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                cursor: pointer;
                background: rgba(152, 152, 152, 0.2);
                text-align: right;
                line-height: 42px;
                border-radius: 3px;
                padding-right: 18px;
            }
        }
        .button-submit {
            height: 56px;
            border-radius: $border-radius;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background: #4ca1ff;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 16px;
            color: $white;
            border: 0;
            cursor: pointer;
            outline: none;
            transition: 0.2s ease-in-out;
            padding: 0 65px;
            &:hover {
                box-shadow: none;
            }
            &[disabled] {
                background: #f1f2f5;
                color: #cdcfd6;
                cursor: default;
            }
        }
        .button-skip {
            width: 48%;
            height: 42px;
            border-radius: $border-radius; //box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 16px;
            background: white;
            color: #ababab;
            border: 1px solid rgba(0, 0, 0, 0.23);
            cursor: pointer;
            float: right;
            outline: none;
            &:hover {
                //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27)
            }
        }
    }
    .allSaved {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 16px;
        color: #4ca1ff;
    }
}

.lock {
    .lock-over {
        display: none;
        background: rgba(0, 0, 0, 0.7);
        width: calc( 100% - 30px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 15px;
        padding: 0 30px;
        .lock-text {
            color: white;
            font-family: 'Proxima Nova Condensed';
            font-weight: 300;
            text-align: center;
            font-size: 16;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: calc(100% - 60px);
            line-height: 15px;
        }
        transition: 0.3s ease-in;
        z-index: 10;
    }
    &:hover {
        .lock-over {
            display: block !important;
        }
    }
}
