<div class="overlay-bg" *ngIf="firstLogin">
    <div class="modal-conteiner opn-scroll">
        <div class="d-block position-relative">
            <div class="close-modal" (click)="onSkip()"></div>
            <div class="tooltip-content" *ngIf="addresEmpty">
                Your address cant be empty
            </div>
        </div>
        <div class="modal-head">
            Settings
        </div>

        <form [formGroup]="form" style="margin-top: 20px;" *ngIf="!loadData">
            <div class="row">
                <div class="col-3 profile-setings">
                    <div class="profile-avatar">
                        <div class="avatar-load">
                            <div class="avatar-photo">
                                <opn-view-avatar [src]="userAvatar" [widthImg]="'128px'"></opn-view-avatar>
                                <div class="change-avatar">
                                    <opn-crop-logo-photo (onCropped)="setAvatar($event)"></opn-crop-logo-photo>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="form-group clearfix col-auto">
                            <div class="status-title d-inline-block mb-3"  [ngClass]="{'bold': !status_public}">Private</div>
                            <opn-ui-checkbox [check]="status_public" (changeCheckbox)="selectPrivate($event)"></opn-ui-checkbox>
                            <div class="status-title d-inline-block" [ngClass]="{'bold': status_public}">Public</div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <h6 class="text-left credentials">FIRST NAME</h6>
                                <input type="text" id="firstName" formControlName="firstName" [ngClass]="displayFieldCss('firstName')">
                                <i class="ion-alert" [ngClass]="displayFieldCss('firstName')" tooltip="This field is required"
                                    [tooltipDisabled]="!isFieldValid('firstName')" [tooltipAnimation]="true"
                                    tooltipPlacement="left"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <h6 class="text-left credentials">LAST NAME</h6>
                                <input type="text" id="lastName" formControlName="lastName" [ngClass]="displayFieldCss('lastName')">
                                <i class="ion-alert" [ngClass]="displayFieldCss('lastName')" tooltip="This field is required"
                                    [tooltipDisabled]="!isFieldValid('lastName')" [tooltipAnimation]="true"
                                    tooltipPlacement="left"></i>
                            </div>
                        </div>
                        <div class="select-academy col-6">
                            <div class="form-group">
                                <h6 class="text-left credentials">ACADEMY</h6>
                                <opn-academies-select [setCurrent]="currentAcademy" [valid]="validErrAcademy"
                                    (selected)="setAcademy($event)"></opn-academies-select>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <h6 class="text-left credentials">Date of Birth</h6>
                            <ng-datepicker [options]="dateOptions" [(ngModel)]="birthDay" [ngModelOptions]="{standalone: true}"></ng-datepicker>
                        </div>
                        <div class="form-group clearfix col-12">
                            <h6 class="text-left credentials">ADDRESS</h6>
                            <ng4geo-autocomplete [class.error]="false" *ngIf="currentBelt" [userSettings]="gaAutocompleteStings"
                                (keyup)="searchinputCallback($event)" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                        </div>
                        <div class="form-group col-6" [class.lock]="me.academy_status == 1">
                            <div class="lock-over" *ngIf="me.academy_status == 1">
                                <div class="lock-text">Ranking is managed by professor. Please contact academy for more
                                    details.</div>
                            </div>
                            <h6 class="text-left credentials">Ranking age</h6>
                            <opn-ui-select-type-setting *ngIf="ageType" [currentValue]="ageType" [dataSource]="[
                            {value: 'junior', title: 'Junior'},
                            {value: 'adult', title: 'Adult'}
                        ]"
                                (change)="onChangeAge($event)"></opn-ui-select-type-setting>
                        </div>
                        <div class="select-academy col-6">
                            <div class="form-group">
                                <h6 class="text-left credentials">WEIGHT</h6>
                                <input type="number" step="5" min="1" id="weight" formControlName="weight" [ngClass]="displayFieldCss('weight')">
                                <!-- <select2 [data]="weights" [value]="weightCurrent" [cssImport]="true" [width]="100" [options]="optionsWeight" (valueChanged)="changeWeight($event)"></select2> -->
                            </div>
                        </div>
                        <div class="col-12" [class.lock]="me.academy_status == 1">
                            <div class="lock-over" *ngIf="me.academy_status == 1">
                                <div class="lock-text">Ranking is managed by professor. Please contact academy for more
                                    details.</div>
                            </div>
                            <opn-belts [current]="currentBelt" [colors]="colorsBelt" [belts]="arrBelts" *ngIf="colorsBelt" [col]="2"
                                (change)="onChangeColor($event)" (changeBelt)="changeBeltColor($event)"></opn-belts>
                        </div>

                        <div class="form-group col-6">
                            <div class="position-relative">
                                <h6 class="text-left credentials">EMAIL</h6>
                                <input id="email" formControlName="email" type="email" required [ngClass]="displayFieldCss('email')">
                                <i class="ion-alert" [ngClass]="displayFieldCss('email')" tooltip="This field is required"
                                    [tooltipDisabled]="!isFieldValid('email')" [tooltipAnimation]="true"
                                    tooltipPlacement="left"></i>
                                <div class="changeEmiter" (click)="onChangeEmail($event)">Change</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="position-relative">
                                <h6 class="text-left credentials">PASSWORD</h6>
                                <input id="password" formControlName="password" type="password" [ngClass]="displayFieldCss('password')">
                                <i class="ion-alert" [ngClass]="displayFieldCss('password')" tooltip="Password (8 characters: 1 letter / 1 number at least)"
                                    [tooltipDisabled]="!isFieldValid('password')" [tooltipAnimation]="true"
                                    tooltipPlacement="left"></i>
                                <div class="changeEmiter" (click)="onChangePassword($event)">Change</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row justify-content-end no-gutters">
                        <div class="col-6">
                            <!-- <p *ngIf="allSaved" class="text-center allSaved">All changes are saved!</p> -->
                            <p *ngIf="!changeAddres" class="text-center allSaved" style="color: #ff0000;">Please select
                                your address from the drop-down list.</p>
                            <button class="button-submit pull-right" [disabled]="!changeAddres || addres == ''" (click)="onSubmit()">Save
                            </button>
                            <!-- <button class="button-skip" (click)="onSkip()">Skip</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="loader" *ngIf="loadData">Load...</div> -->
    </div>
</div>
