<!--<pre>{{user | json}}</pre>-->
<div #messageConfirm class="message-confirm">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 quest">
            ARE YOU SURE?
        </div>
        <div class="col-5">
            <button class="action accept" (click)="onConfirmMessage(true, messageConfirm);">Delete</button>
        </div>
        <div class="col-5">
            <button class="action declide" (click)="onConfirmMessage(false, messageConfirm);">Close</button>
        </div>
    </div>
</div>
<div class="lt-chat" *ngIf="dialog">
    <div class="lt-chat-name">
        <span class="user-status" *ngIf="dialog?.type == 'users'" [ngClass]="{'active': userOnline}"></span>
        <div class="user-name" *ngIf="dialog?.type == 'users'">{{user?.first_name + ' ' + user?.last_name}}</div>
        <div class="user-name" *ngIf="dialog?.type == 'academy'">{{academy?.name}}</div>
    </div>
    <div class="list-messages">
        <div class="lt-scroll" #scrollMe (scroll)="checkScrollTop($event); disableInitScrollBottom($event);">
            <div class="lt-message" *ngFor="let message of messages" [ngClass]="{'lt-sender': message?.sender_id == me.id}">
                <button class="msg-rm" (click)="onRemoveMsg(message?.id, messageConfirm)" *ngIf="me.id == message.sender_id"></button>
                <div class="msg-img" *ngIf="message?.sender_id != me.id">
                    <img *ngIf="dialog?.type == 'users' && !dialog?.academy_id" [src]="message?.user_sender?.avatar ? baseUrl + message?.user_sender?.avatar : noImg"
                        alt="">
                    <img *ngIf="dialog?.type == 'academy' && dialog?.academy_id > 0" [src]="dialog?.academy?.photo ? baseUrl + dialog?.academy?.photo : defaultAcademyIcon"
                        alt="">
                </div>
                <div class="msg-info">
                    <div class="msg-date">{{message.created_at | date:'short'}}</div>
                    <div class="msg-text">{{message.content}}</div>
                </div>
            </div>
        </div>
        <div class="lt-loader" *ngIf="isLoading">
            <div class="loader"></div>
        </div>
    </div>
    <form novalidate class="lt-message-form">
        <div class="wrap-input icon-right">
            <textarea #elMsg type="text" placeholder="Start typing..." class="input-style" (keypress.enter)="$event.preventDefault()"
                (keydown.enter)="$event.preventDefault()" (keyup.enter)="$event.preventDefault(); sendMessage(elMsg.value)"></textarea>
        </div>
        <!--<button (click)="sendMessage(elMsg.value)" class="lt-btn">Send</button>-->
    </form>
</div>
