<div class="attended-card">
    <div class="attended-title-wrapper">
        <span class="attended-title">Promotions View</span>
    </div>
    <div class="attended-content" *ngIf="promotion">
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{promotion.stripe}}</div>
                <div class="name">Stripes</div>
            </div>
            <round-progress [current]="promotion.stripe" [max]="promotion.stripe" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{promotion.belt}}</div>
                <div class="name">New Belt</div>
            </div>
            <round-progress [current]="promotion.belt" [max]="promotion.belt" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
    </div>
    <div class="row justify-content-end more-box no-gutters">
        <a [routerLink]="[academyId, 'promotion-deteil']" class="more-btn">More detail</a>
    </div>
    
</div>
