@import '../../../../../variables';
%grey-text {
    color: $gray;
    font-weight: 100;
}

%input-styles {
    border-radius: 3px;
    outline: 0;
    border: 1px solid #d3dce9;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    transition: border-color 0.4s;
    color: #3a4a57;
    font-family: "MuseoSansCyrl", serif;
}

.add-product-card {
    font-family: "MuseoSansCyrl", serif;
    @extend %card-styles;
    ;
    margin: 20px 30px;
    .apc-header {
        padding: 30px;
        @extend %border-bottom;
        .actions-controls-block {
            display: flex;
            align-items: center;
            font-weight: 100;
            width: 100%;
            padding-right: 15px;
            .remove-btn {
                border-radius: 2px;
                padding: 10px 20px;
                img {
                    transform: translateY(-2px);
                    margin-right: 20px;
                }
                color: #172a47;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl",
                serif;
                cursor: pointer;
            }
            .cancel-btn {
                border-radius: 2px;
                padding: 10px 20px;
                cursor: pointer;
                border: 1px solid $border-gray;
                margin-right: 10px;
                color: #172a47;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
                transition: 0.2s;
                &:hover {
                    background: $border-gray;
                }
            }
            .save-btn {
                border-radius: 2px;
                padding: 10px 20px;
                background: $color-primary;
                color: #fff;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
                box-shadow: 0 3px 4px rgba($color: #5b6074, $alpha: 0.3);
                transition: 0.2s;
                cursor: pointer;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
    .apc-content {
        padding: 30px 30px 30px 15px;
        .info-block {
            .input-block {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .label {
                    font-weight: 300;
                    font-size: 14px !important;
                    color: #202f3b;
                    font-family: "MuseoSansCyrl", serif;
                }
                .input-title {
                    font-weight: 300;
                    font-size: 14px;
                    color: #90949c;
                    font-family: "MuseoSansCyrl", serif;
                }
                input {
                    @extend %input-styles;
                    height: 40px;
                }
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                .shipping-slider-wrapper {
                    display: flex;
                    padding: 0;
                    .shipping-slider {
                        display: flex;
                        align-items: center;
                        .payment-text {
                            margin-right: 10px;
                        }
                    }
                    .shipping-price-input {
                        display: flex;
                        align-items: center;
                        #shipping-price {
                            width: 100%;
                            padding: 0 15px;
                        }
                        label {
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                }
                /deep/ opn-ui-checkbox-2 .ui-checkbox-box {
                    transform: translateY(2px);
                }
            }
            .description-block {
                display: flex;
                margin-bottom: 20px;
                .input-title {
                    @extend %grey-text;
                }
                .description-input {
                    @extend %input-styles;
                    padding: 15px 20px;
                    height: 200px;
                    resize: none;
                }
            }
        }
        .photos-block {
            .photos-title {
                @extend %grey-text;
                margin-bottom: 10px;
            }
            .main-img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 242px;
                margin-bottom: 10px;
                border-radius: 3px;
                border: 1px dashed $border-gray;
                background: $background-gray;
                opn-add-img-btn {
                    z-index: 1;
                    position: absolute;
                }
                .main-img {
                    object-fit: cover;
                    max-width: 101%;
                    width: 101%;
                    height: 101%;
                }
            }
            .secondary-img-block {
                display: flex;
                margin: 0 -5px;
                .secondary-img-wrapper {
                    padding: 0 5px;
                    margin-bottom: 10px;
                    .secondary-img-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 80px;
                        border-radius: 3px;
                        border: 1px dashed $border-gray;
                        background: $background-gray;
                        opn-add-img-btn {
                            z-index: 1;
                            position: absolute;
                        }
                        .secondary-img {
                            object-fit: cover;
                            max-width: 101%;
                            width: 101%;
                            height: 101%;
                        }
                    }
                }
            }
        }
    }
}

.on-save-popup-wrapper {
    background: rgba(22, 42, 53, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(22, 42, 53, 0.8);
    top: 0;
    left: 0;
    z-index: 999999999999;
    .on-save-popup-card {
        width: 400px;
        background: white;
        padding: 25px 20px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
        .success-img {
            width: 60px;
        }
        .spc-title {
            color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            font-size: 1.65rem;
        }
        .fa-times {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
        }
        .osp-actions {
            display: flex;
            justify-content: center;
            .view-btn {
                border: 1px solid $border-gray;
                width: 30%;
                border-radius: 3px;
                text-align: center;
                padding: 10px;
                margin-right: 20px;
            }
            .create-new-btn {
                color: $white;
                background: $color-primary;
                width: 30%;
                border-radius: 3px;
                text-align: center;
                padding: 10px;
                margin-right: 20px;
            }
        }
    }
}
