.content-card-100 {
    width: 100%;
    background-color: white;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba($color: #172a47, $alpha: 0.15);
    padding: 15px 15px 0 15px;
    float: left;
    .profile-videos {
        margin: 0 -7.5px;
        .profile-video-item {
            margin-bottom: 15px;
            padding: 0 7.5px;
            position: relative;
            .video-item-source {
                display: flex;
                height: 100%;
                box-shadow: 0 2px 4px rgba($color: #172a47, $alpha: 0.15);
                background: rgba(0, 0, 0, 0.9);
                cursor: pointer;
                position: relative;
                overflow: hidden;
                button {
                    display: none;
                    width: 50px;
                    height: 50px;
                    background: url("/assets/images/icons/delete-blue.png") calc( 50% + 25px / 2) calc( 50% - 14px / 2) no-repeat;
                    position: absolute;
                    border: 0;
                    top: 0;
                    left: auto;
                    right: 0;
                    cursor: pointer;
                    outline: none;
                    -webkit-animation-duration: 0.2s;
                    animation-duration: 0.2s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    z-index: 10;
                    &:before {
                        display: block;
                        content: '';
                        width: 12px;
                        height: 14px;
                        background: url("/assets/images/icons/delete-blue.png") center no-repeat;
                        position: absolute;
                        top: calc( 50% - 32px / 2);
                        left: calc( 50% + 12px / 2);
                        z-index: 10;
                    }
                    &:after {
                        display: block;
                        content: '';
                        width: 0;
                        height: 0;
                        border-bottom: 50px solid #f7f7f7;
                        border-right: 50px solid transparent;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: rotate(-180deg);
                    }
                }
                &:hover {
                    button {
                        display: block;
                        animation-name: zoomIn;
                    }
                }
            }
        }
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
