<nb-card large>
    <nb-card-header>
        <div class="row">
            <div class="col-4 pt-2">
                Create statistics
            </div>
            <div class="col-4">
                <ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="date_from" (ngModelChange)="pickFrom()"></ng-datepicker>
            </div>
            <div class="col-4">
                <ng-datepicker #fromDateComponent [options]="toDateOptions" [(ngModel)]="date_to" (ngModelChange)="pickTo()"></ng-datepicker>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        
        <angular2-multiselect [data]="typeList" [(ngModel)]="statisticType" 
            [settings]="typeSettings" 
            (onSelect)="onTypeSelect()" 
            (onDeSelect)="onTypeDeSelect()">
        </angular2-multiselect>
        <div [ngSwitch]="this.dataModel.type[0]?.id">
            <div *ngSwitchCase="'academy'">
                <p class="mt-3" *ngIf="selectType">
                    <angular2-multiselect [data]="academyTypeList" [(ngModel)]="dataModel.academy_type" 
                        [settings]="academyTypeSettings" 
                        (onSelect)="onAcademyTypeSelect()" 
                        (onDeSelect)="onAcademyTypeDeSelect()">
                    </angular2-multiselect>
                </p>
                <p class="mt-3" *ngIf="selectAcademyType">
                    <angular2-multiselect [data]="academyList" [(ngModel)]="dataModel.academy_id" 
                        [settings]="academySettings" 
                        (onSelect)="onAcademyIdSelect()" 
                        (onDeSelect)="onAcademyIdDeSelect()">
                    </angular2-multiselect>
                </p>
                <p class="mt-3" *ngIf="selectAcademyId">
                    <angular2-multiselect [data]="transactionList" [(ngModel)]="dataModel.activity" 
                        [settings]="transactionSettings" 
                        (onSelect)="onTransactionSelect()" 
                        (onDeSelect)="onTransactionDeSelect()">
                    </angular2-multiselect>
                </p>
                <p class="mt-3" *ngIf="selectTransactionType">
                    <angular2-multiselect [data]="subscriptionList" [(ngModel)]="dataModel.subscription_id" 
                        [settings]="subscriptionSettings" 
                        (onSelect)="onSubscriptionSelect()" 
                        (onDeSelect)="onSubscriptionDeSelect()"
                        (onDeSelectAll)="onSubscriptionDeSelect()"
                        (onSelectAll)="onSubscriptionSelect()">
                    </angular2-multiselect>
                </p>
            </div>
            <div *ngSwitchCase="'student'">
                <p class="mt-3" *ngIf="selectType">
                    <angular2-multiselect [data]="stydentTypeList" [(ngModel)]="stydentModel.student_status" 
                        [settings]="studentsSettings" 
                        (onSelect)="onStydentTypeSelect()" 
                        (onDeSelect)="onStydentTypeDeSelect()">
                    </angular2-multiselect>
                </p>
                <p class="mt-3" *ngIf="selectStydentType">
                    <angular2-multiselect [data]="studentsList" [(ngModel)]="stydentModel.student_id" 
                        [settings]="studentSettings" 
                        (onSelect)="onStydentIdSelect()" 
                        (onDeSelect)="onStydentIdDeSelect()">
                    </angular2-multiselect>
                </p>
                <p class="mt-3" *ngIf="selectStydentId">
                    <angular2-multiselect [data]="transactionList" [(ngModel)]="stydentModel.activity" 
                        [settings]="transactionSettings" 
                        (onSelect)="onStTransactionSelect()" 
                        (onDeSelect)="onStTransactionDeSelect()">
                    </angular2-multiselect>
                </p>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button [disabled]="!runLoadStatistics" type="button" class="btn btn-hero-primary btn-with-icon float-right" (click)="onLoadStatistics()">
            <i class="nb-arrow-thin-down"></i>
            <span>Download Excel</span>
        </button>
    </nb-card-footer>
</nb-card>
