@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

    $padding: 1rem;
    nb-card{
        width: 100%;
    }
    nb-card-body {
        padding: $padding;
        min-height: 450px;
    }

    /deep/ ng-datepicker .ngx-datepicker-calendar-container{
        width: 230px !important;
    }

    @include nb-for-theme(cosmic) {
        color: nb-theme(color-fg-heading);

        .value {
            color: nb-theme(color-fg-highlight);
        }

        .details span {
            color: nb-theme(color-fg);
        }
    }

    @include media-breakpoint-down(xs) {
        .value {
            font-size: 1.75rem;
        }
    }
}
