<div class="detail-card">
    <div class="card-title">
            Your details
    </div>
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row input-controls">
                <div class="col-3">
                    <label for="first_name">First name</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="first_name" formControlName="first_name" type="text">
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="last_name">Last name</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="last_name" formControlName="last_name" type="text">
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="email">Email</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="email" formControlName="email" type="text">
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="phone">Phone</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="phone" formControlName="phone" dropSpecialCharacters="false" mask="000-000-0000" type="text">
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="address">Address</label>
                </div>
                <div class="col-9">
                    <ng4geo-autocomplete [userSettings]="gaAutocompleteStings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="state">State</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="state" formControlName="state" type="text" readonly>
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="city">City</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="city" formControlName="sity" type="text" readonly>
                </div>
            </div>
            <div class="row input-controls">
                <div class="col-3">
                    <label for="street">Street</label>
                </div>
                <div class="col-9">
                    <input class="input-style" id="street" formControlName="street" type="text" readonly>
                </div>
            </div>
        </form>
        <div class="row justify-content-end">
            <div class="col-auto cart-btns">
                <button class="cancel-order" (click)="prevOrder()">Prev step</button>
                <button class="buy-order" (click)="onSaveYourData()" [disabled]="form.invalid">Next</button>
            </div>
        </div>
    </div>
</div>
