<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="overlay-modal-bg" *ngIf="open">
    <div class="modalConteiner">
        <div class="row modal-panel no-gutters">
            <!-- <div class="col-auto prev-modal" *ngIf="step > 1 && step < 3" (click)="onPevStep()"></div> -->
            <div class="col-auto close-modal ml-auto" (click)="closeModal()"></div>
        </div>
        <div class="modal-head">
            {{(step < 3) ? openType + ' Holiday' : 'Thank you!' }} </div> <div class="steps" *ngIf="step < 3">
                <div class="spet-nuber">
                    step
                    <span>{{step}}</span> of 2
                </div>
                <div class="step-bar step{{step}}"></div>
        </div>
        <div [ngSwitch]="step" class="step-container">
            <div *ngSwitchCase="1">
                <div class="activiti-group">
                    <ng-datepicker *ngIf="step == 1" [selectDate]="selectDate" [(ngModel)]="date" [options]="options" [isOpened]="true"
                        [headless]="true"></ng-datepicker>
                </div>
                <button class="next-step accept" (click)="onNextStep()">Next Step</button>
            </div>
            <div *ngSwitchCase="2">
                <div class="no-data" *ngIf="classes && classes.length == 0">
                    Not found classes
                </div>
                <div *ngIf="classes && classes.length > 0">
                    <div class="row">
                        <div class="col-5 class-box">
                            <div class="activiti-group">
                                <label for="activiti-name" class="border-b">Choose class:</label>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="activiti-group">
                                <label for="activiti-name" class="border-b">Hours:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row holidayClasses " *ngFor="let hd of holidayClasses;">
                        <div class="col-5 class-box">
                            <div class="class-row">
                                <div class="class-name">{{hd.class_name}}</div>
                                <div class="class-edit"><button (click)="toggleeditClasses($event, hd)"></button></div>
                                <opn-select-class [classes]="classes" (selected)="onESelected($event, hd)" [isOpen]="hd.openClass" (toggle)="hd.openClass = !hd.openClass"></opn-select-class>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="hours-row">
                                <div class="hours" *ngFor="let day of hd.days; let i_d = index;">
                                    <span class="start">{{day.time_start | date: 'h:mm a'}}</span> - <span class="start">{{day.time_end
                                        | date: 'h:mm a'}}</span>
                                    <div class="wrap-hours-popup row no-gutters" *ngIf="hd.openTime" (clickOutside)="onEditOutside($event, hd)">
                                        <div class="col-6 start-time">
                                            <opn-ui-time [date]="day.time_start" (changeTime)="onEChangeStartTime($event, hd, i_d)"></opn-ui-time>
                                        </div>
                                        <div class="col-6 end-time">
                                            <opn-ui-time [date]="day.time_end" (changeTime)="onEChangeEndTime($event, hd, i_d)"></opn-ui-time>
                                        </div>
                                        <div class="col-12">
                                            <button class="remove-class" (click)="onERemoveClass(hd)">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="hours-btn">
                                    <button class="edit" (click)="toggleEditTime($event ,hd)"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="classes && classes.length >= 0">
                        <div class="col-5 class-box">
                            <div class="class-row">
                                <div class="class-name">{{selectClass.name}}</div>
                                <div class="class-edit"><button (click)="toggleCreateClasses($event)"></button></div>
                                <opn-select-class [classes]="classes" (selected)="onCSelected($event)" [isOpen]="openClasses" (toggle)="openClasses = !openClasses"></opn-select-class>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="hours-row">
                                <div class="hours">
                                    <span class="start">{{time.start | date: 'h:mm a'}}</span> - <span class="start">{{time.end
                                        | date: 'h:mm a'}}</span>
                                    <div class="wrap-hours-popup row no-gutters" *ngIf="openTime" (clickOutside)="onOutside($event)">
                                        <div class="col-6 start-time">
                                            <opn-ui-time [date]="time.start" (changeTime)="onChangeStartTime($event)"></opn-ui-time>
                                        </div>
                                        <div class="col-6 end-time">
                                            <opn-ui-time [date]="time.end" (changeTime)="onChangeEndTime($event)"></opn-ui-time>
                                        </div>
                                    </div>
                                </div>
                                <div class="hours-btn">
                                    <button class="edit" (click)="toggleTime($event)"></button>
                                </div>
                                <div class="hours-btn">
                                    <button class="add" (click)="onAddHoliday()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
               
                <button [ngClass]="{'accept': acceptCreate}" class="create-event-btn" (click)="onCreateHolidays()"
                    [disabled]="!acceptCreate && createProcess">
                    {{openType}}
                    <span class="small-loader inline-block" *ngIf="createProcess"></span>
                </button>
                <button class="remove-event-btn" *ngIf="openType == 'Update'" (click)="onRemove()">Remove</button>
                </div>
            </div>
            <div *ngSwitchCase="3">
                <div class="success-description">
                    Success! Your holiday {{(openType == 'Create') ? 'created' : 'updated'}}.
                </div>
                <button class="create-event-btn accept" (click)="closeModal()">Ok</button>
            </div>
        </div>
    </div>
</div>
