<div class="add-product-card">
    <div class="apc-header">
        <div class="apc-title">Add product</div>
    </div>
    <form class="apc-content row" [formGroup]="addForm" (ngSubmit)="saveProduct()">
        <div class="info-block col-7">
            <div class="input-block">
                <div class="input-title col-4">
                    Name
                </div>
                <input class="col-8" type="text" formControlName="title">
            </div>
            <div class="description-block">
                <div class="input-title col-4">
                    Description
                </div>
                <textarea class="description-input col-8" formControlName="description"></textarea>
            </div>
            <div class="input-block">
                <div class="input-title col-4">
                    Price
                </div>
                <input class="col-8" formControlName="price"  currencyMask [options]="{ align: 'left' }" type="numbers" min="0">
            </div>
            <div class="input-block">
                <div class="input-title col-4">
                    Shipping
                </div>
                <div class="shipping-slider-wrapper col-8">
                    <div class="shipping-slider">
                        <div class="payment-text" [ngSwitch]="productData.shipping_type">
                            <span class="label" *ngSwitchCase="'free'">Free</span>
                            <span class="label" *ngSwitchCase="'costing'">Costing</span>
                        </div>
                        <div class="payment-control">
                            <opn-ui-slider [check]="(productData.shipping_type!='free')"
                                           (changeCheckbox)="onChangeShipping($event)"></opn-ui-slider>
                        </div>
                    </div>
                    <div class="shipping-price-input">
                        <label for="shipping-price" class="label">Price:</label>
                        <input type="text" id="shipping-price" formControlName="shipping_price" currencyMask
                               [options]="{ align: 'left' }"
                               min="0">
                    </div>
                </div>
            </div>
            <div class="input-block">
                <div class="input-title col-4">
                    Quantity
                </div>
                <input class="col-8" type="number" formControlName="quantity">
            </div>
            <div class="input-block">
                <div class="col-8 offset-4 p-0">
                        <opn-ui-checkbox-2 class
                        (changeCheckbox)="onChangeVissbility($event)"></opn-ui-checkbox-2>
                        <!-- (changeCheckbox)="" -->
                        <span class="pl-2 label">not show</span>
                </div>
            </div>
        </div>
        <div class="photos-block col-5">
            <div class="photos-title">
                Photos
            </div>
            <div class="main-img-wrapper">
                <opn-add-img-btn (onImg)="onMainImageAdded($event)" [stylesBtn]="{padding: '14px'}" [stylesIco]="{width: '20px'}"></opn-add-img-btn>
                <img class="main-img" *ngIf="mainImage" src="{{mainImage}}" alt="">
            </div>
            <div class="secondary-img-block row">
                <div class="secondary-img-wrapper col-4" *ngFor="let img of images; let i = index">
                    <div class="secondary-img-box">
                        <opn-add-img-btn (onImg)="onImageAdded($event, i)" [stylesBtn]="{padding: '8px'}" [stylesIco]="{width: '16px'}"></opn-add-img-btn>
                        <img class="secondary-img" *ngIf="img.trim().length > 0" src="{{img}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions-controls-block">
            <div class="cancel-btn" (click)="cancelCreation()">Cancel</div>
            <button type="submit" class="save-btn">Save product <div class="small-loader inline-block" *ngIf="load"></div></button>
        </div>
    </form>
</div>
<div class="on-save-popup-wrapper" [hidden]="!productSaved">
    <div class="on-save-popup-card">
        <i class="fa fa-times" (click)="goToCreateNew()"></i>
        <div class="spc-title">
            <img class="success-img" src="assets/images/icons/success.png" alt="">
            <span> Success </span>
        </div>
        <div class="osp-actions">
            <div class="view-btn" (click)="goToView()">View</div>
            <div class="create-new-btn" (click)="goToCreateNew()">Create new</div>
        </div>
    </div>
</div>
