.day-hours{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 70px;
    position: relative;
    &:last-child{
      .hour{
        border-bottom: 1px solid #d3dce9;
      }
    }
  
    .hour{
      flex: 0 0 auto;
      height: 70px;
      float: left;
      box-sizing: border-box;
      border-right: 1px solid #d3dce9;
      &:last-child{
        border-right: 0;
      }
    }
  }