<div class="day-hours clearfix" *ngFor="let row of rows; let i = index;">
  <div class="hour" [style.width.px]="options.celWidth" *ngFor="let h of hours;">
  </div>
  <opn-view-event [events]="row" [options]="options" [hours]="hours" *ngIf="row.length > 0"></opn-view-event>
</div>