<main class="row no-gutters justify-content-center" [class.admin]="isAdmin">
    <opn-manager-panel *ngIf="!isAdmin" [academyId]="academyId" class="w-100" (checkManager)="onCheckManager($event)"></opn-manager-panel>
    <div class="col-12 max-content">
        <router-outlet></router-outlet>
    </div>
</main>
