<div class="attended-card">
    <div class="attended-title-wrapper">
        <span class="attended-title">Total classes view</span>
        <div class="date-wrapper">
            <span class="date-text"></span><ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="fromDate" (ngModelChange)="getTotalEnvents($event, toDate, academyId)"></ng-datepicker>
            <span class="date-text">&mdash;</span> <ng-datepicker [options]="toDateOptions" position="bottom-left" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
        </div>
    </div>
    <div class="attended-content" *ngIf="total_events">
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{total_events.class.active_total}}/{{total_events.class.total}}</div>
                <div class="name">Classes</div>
            </div>
            <round-progress [current]="total_events.class.active_total" [max]="total_events.class.total || 1" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#f18849'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{total_events.seminar.active_total}}/{{total_events.seminar.total}}</div>
                <div class="name">Seminar</div>
            </div>
            <round-progress [current]="total_events.seminar.active_total" [max]="total_events.seminar.total || 1" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#ff4f81'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{total_events.mat_event.active_total}}/{{total_events.mat_event.total}}</div>
                <div class="name">Open mat</div>
            </div>
            <round-progress [current]="total_events.mat_event.active_total" [max]="total_events.mat_event.total || 1" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#f3d928'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{total_events.others.active_total}}/{{total_events.others.total}}</div>
                <div class="name">Others</div>
            </div>
            <round-progress [current]="total_events.others.active_total" [max]="total_events.others.total || 1" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#11e66b'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
    </div>
</div>
