@import '../../../../../../../variables';

.attended-card {
    @extend %card-styles;
    .attended-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d3dce9;
        height: 60px;
        padding: 0 30px;
        .attended-title {
            font-family: "MuseoSansCyrl", serif;
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
        }
        .date-wrapper {
            display: flex;
            align-items: center;
            .date-text {
                font-family: "MuseoSansCyrl", serif;
                font-size: 15px;
                margin: 9px;
                font-weight: 400;
            }
            /deep/ .ngx-datepicker-container {
                .ngx-datepicker-input {
                    font-size: 14px;
                    border: 1px solid #DFE3E9;
                    width: 113px;
                    padding: 5px 15px;
                    border-radius: 3px;
                }
                .ngx-datepicker-calendar-container {
                    top: 32px;
                    left: -84px;
                    z-index: 1;
                    &.ngx-datepicker-position-bottom-left{
                        right: 0 !important;
                        left: auto !important;
                    }
                }
            }
        }
    }

    .attended-content {
        padding: 30px;
        min-height: 170px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .activity-card {
            position: relative;
            .legend {
                width: 60px;
                position: absolute;
                top: 30%;
                right: 23%;
                .numbers {
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 18px;
                    color: #202f3b;
                    text-align: center;
                }
                .name {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    text-align: center;
                }
            }
        }
    }
}
