<div class="attended-card">
    <div class="attended-title-wrapper">
        <span class="attended-title">Marketing</span>
        <div class="date-wrapper">
            <span class="date-text"></span><ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="fromDate" (ngModelChange)="getTotalMarketing()"></ng-datepicker>
            <span class="date-text">&mdash;</span> <ng-datepicker [options]="toDateOptions" position="bottom-left" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
        </div>
    </div>
    <div class="attended-content" *ngIf="marketing">
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{marketing.cancelled}}</div>
                <div class="name">Cencelled</div>
            </div>
            <round-progress [current]="marketing.cancelled" [max]="marketing.cancelled" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{marketing.inactive}}</div>
                <div class="name">Inactive</div>
            </div>
            <round-progress [current]="marketing.inactive" [max]="marketing.inactive" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="divide-line"></div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{marketing.free_trial}}</div>
                <div class="name">Free trial</div>
            </div>
            <round-progress [current]="marketing.free_trial" [max]="marketing.free_trial" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#f3d928'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{marketing.events}}</div>
                <div class="name">Events</div>
            </div>
            <round-progress [current]="marketing.events" [max]="marketing.events" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#f3d928'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
    </div>
    <div class="row card-arround-title">
        <div class="col-6 text-center group-title">Existing student</div>
        <div class="col-6 text-center group-title">New students</div>
    </div>
    <div class="row justify-content-end more-box no-gutters ">
        <a [routerLink]="[academyId, 'marketing-deteil']" class="more-btn">More detail</a> <!-- [academyId, 'promotion-deteil'] -->
    </div>
</div>
