<div class="card-wrapper col-3">
    <div class="card">
        <img class="card-img" src="{{product.images[0] ? baseUrl + product.images[0].url : noPhoto}}" (click)="goToProduct()">
        <div class="card-content">
            <div class="card-text">
                <div class="price">$ {{product.price}}</div>
                <div class="product-title" (click)="goToProduct()">{{product.title}}</div>
            </div>
            <div class="card-actions" [hidden]="product.isAdded" (click)="addProductToCart()">
                <i class="fa fa-shopping-cart"></i><span>Add to cart</span>
            </div>
            <div class="card-added" [hidden]="!product.isAdded">
                <span>Added</span>
            </div>
        </div>
    </div>
</div>
