@import '../../../../../variables';

.search-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0;
    .search-input-wrapper {
        position: relative;
        padding: 0;
        .search-input {
            width: 98%;
            padding: 9px 44px 9px 15px;
            border-radius: 3px;
            outline: 0;
            border: 1px solid #d3dce9;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            transition: border-color 0.4s;
            color: #757575;
            font-family: "MuseoSansCyrl", serif;
        }
        .fa-search {
            position: absolute;
            right: 22px;
            top: 11px;
            color: $icon-gray;
        }
    }
}
