<div class="product-page-wrapper container">
    <div class="search-block">
        <div class="col-4 search-input-wrapper">
            <input type="text" placeholder="Search" class="search-input" [(ngModel)]="productName"
                   (keyup.enter)="searchProducts()">
            <i class="fa fa-search pointer" (click)="searchProducts()"></i>
        </div>
        <opn-ui-back-btn></opn-ui-back-btn>
    </div>
    <opn-product-info></opn-product-info>
</div>
