.hours{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .hour{
        flex: 0 0 auto;
        height: 45px;
        float: left;
        background: #e9ecf2;
        line-height: 45px;
        text-align: center;
        font-size: 14px;
        font-family: "MuseoSansCyrl";
        color: #172a47;
        box-sizing: border-box;
        border-right: 1px solid #d3dce9;
        &:last-child{
            border-right: 0;
        }
    }
}