@import '../../../../../_variables';

.content-card-100 {
  &:not(.not-style) {
      background: white;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
      float: left;
      display: flex;
      flex-direction: column;
  }
  &.not-style{
      min-height: auto;
  }
  .no-data {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 13px;
    color: #172a47;
    text-align: center;
    padding: 30px 0;
  }
  .grid-panel {
    height: 61px;
    border-bottom: 1px solid #d3dce9;
    padding: 0 30px;
    .grid-title {
      font-family: "MuseoSansCyrl";
      font-weight: 500;
      font-size: 16px;
      color: #202f3b;
    }
    .grid-form {
      input.filter {
        width: 240px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #d3dce9;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 16px;
        color: #202f3b;
        float: right;
        padding: 0 30px 0 20px;
        background: url("/assets/images/icons/search-f.png") right center no-repeat;
        outline: none;
        &:hover, &:focus {
          border: 1px solid #98a6bc;
        }
      }
    }
  }
  .grid-content {
    padding: 0 30px;
    .grid-table {
      width: 100%;
      .grid-table-head th {
        height: 50px;
        border-bottom: 1px solid #d3dce9;
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 13px;
        color: #172a47;
      }
      .grid-table-row {
        th, td {
          padding: 7px 0px;
        }
      }
      tbody {
        .grid-table-row {
          border-bottom: 1px solid #d3dce9;
          padding: 0 10px;
          &:hover {
            background: #f0f2f8;
          }
          .grid-table-cel {
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: $dark;
            height: 50px;
            &.blue-text {
              color: $color-primary;
            }
            .grid-btn-delete {
              width: 12px;
              height: 14px;
              background: url("/assets/images/icons/icon-delete.png") right center no-repeat;
              float: right;
              cursor: pointer;
              border: 0;
              outline: none;
            }
            .grid-btn-edit {
              width: 14px;
              height: 14px;
              background: url("/assets/images/icons/icon-edit.png") right center no-repeat;
              float: right;
              margin-right: 25px;
              cursor: pointer;
              border: 0;
              outline: none;
            }
          }
        }
      }
      &.no-pagination {
        tbody .grid-table-row:last-child {
          border: 0;
        }
      }
    }
  }
  .pagination {
    margin-top: 20px;
    padding: 0 30px 26px 30px;
    .pages {
      .page {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        border: 1px solid #d3dce9;
        float: left;
        margin-left: 6px;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #172a47;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        &.active {
          cursor: default;
          pointer-events: none;
          border: 1px solid $color-primary;
          background: $color-primary;
          color: white;
        }
      }
    }
  }
}

.back-btn {
  margin-left: 20px;
  margin-top: 30px;
  background: transparent;
  .fa-arrow-left {
    color: $gray;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.user-row {
  display: flex;
  align-items: center;
}

.student-name {
  margin-left: 10px;
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  cursor: pointer;
}

.total-paid {
  font-weight: 500;
  text-align: right;
  padding: 0 60px;
}
.checkin-btn {
    font-size: 12px;
    font-weight: 100;
    color: $dark;
    width: 90px;
    cursor: pointer;
    &.check-btn{
        background-color: $color-primary;
        color: #fff;
        &:hover{
            border: 1px solid #82abff;
            background-color: #63c4ff;
            color: #fff;
        }
    }

    &.uncheck-btn{
        border: 1px solid $color-primary;
        background-color: #fff;
        color: $color-primary;
        &:hover{
            background-color: #63c4ff;
            color: #4493ea;
        }
    }
    outline:none;
}
.checkin-wrapper{
    display: flex;
    justify-content: center;
}

.joined-cel, .joined-col {
    padding: 7px 17px !important;
}

.radio-item {
  display: inline-block;
  position: relative;

  &.unread:after {
      display: inline-block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: #f91656;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 10px;
  }

  label {
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 14px;
      color: #202f3b;
      padding-left: 26px;
      position: relative;
      padding-right: 20px;
      cursor: pointer;
      margin: 0;

      &:before {
          display: block;
          content: '';
          width: 18px;
          height: 18px;
          border: 2px solid #babec9;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
          transition: 0.5s ease-in-out;
      }

      &:hover {
          &:before {
              border-color: #4ca1ff;
          }
      }

      &:after {
          display: none;
          content: '';
          width: 8px;
          height: 8px;
          background-color: #4ca1ff;
          border-radius: 50%;
          position: absolute;
          left: 5px;
          top: 5px;
      }
  }

  input[type="radio"] {
      display: none;

      &:checked+label {
          &:before {
              border-color: #4ca1ff;
          }

          &:after {
              display: block;
          }
      }
  }
}