<div class="content-card-100 not-style">
    <div class="row no-gutters">
        <div class="col-auto panel-radio-group">
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="schedule" id="status1" (change)="onChangeFilterStatus(tab)">
                <label for="status1">Classes List</label>
            </div>
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="holiday" id="status2" (change)="onChangeFilterStatus(tab)">
                <label for="status2">Holiday</label>
            </div>
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="checkin" id="status3" (change)="onChangeFilterStatus(tab)">
                <label for="status3">Manual Check-in <span *ngIf="!tab"> (Students)</span></label>
            </div>
        </div>
    </div>
</div>
<div class="content-card-100">
    <div class="row no-gutters">
        <div class="col-12 grid-content">
            <table class="grid-table" *ngIf="usersList.length > 0">
                <thead class="grid-table-head">
                    <tr class="grid-table-row">
                        <th>Name</th>
                        <th class="joined-col">Joined</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody class="grid-table-body">
                    <tr *ngFor="let user of usersList;" class="grid-table-row">
                        <td class="grid-table-cel">
                            <div class="user-row">
                                <opn-view-avatar [src]="user.avatar" [widthImg]="'40px'"></opn-view-avatar>
                                <span class="student-name blue-text">
                                    {{user.full_name}}
                                </span>
                            </div>
                        </td>
                        <td class="grid-table-cel joined-cel">{{user.created_at | date:'mediumDate'}}</td>
                        <td class="grid-table-cel checkin-wrapper">
                            <button [disabled]="user.checkLoad" class="btn checkin-btn uncheck-btn" *ngIf="isCheckin(user.checkin)" (click)="uncheck(user)">
                                Uncheck
                                <span class="small-loader inline-block" *ngIf="user.checkLoad"></span>
                            </button>
                            <button [disabled]="user.checkLoad" class="btn checkin-btn check-btn" *ngIf="!isCheckin(user.checkin)" (click)="checkIn(user)">
                                Check in 
                                <span class="small-loader inline-block" *ngIf="user.checkLoad"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no-data" *ngIf="usersList.length == 0">
                You do not have class participants
            </div>
        </div>
    </div>
</div>
