<div class="position-relative d-inline-block">
<div class="dropdown-visibility" #dropdownVisibility>
  <button class="btn-visibility" #dropdownBtn (click)="onToggle($event)"><i class="public"></i>Public</button>
</div>
<ul class="dropdown-menu-visibility">
    <li class="item" (click)="onSelect($event, 'all')"><i class="public"></i>Public</li>
    <li class="item" (click)="onSelect($event, 'me')"><i class="only-me"></i>Only me</li>
    <li class="item" (click)="onSelect($event, 'followers')"><i class="followers"></i>My followers</li>
</ul>
</div>