.modal-container {
  .modal-overlay {
    background-color: rgba(22, 42, 53, 0.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999999;
  }
  .app-modal {
    width: 540px;
    background: white;
    padding: 25px 35px;
    left: calc(50% - 250px);
    max-height: calc(100% - 50px);
    overflow-y: auto;
    position: fixed;
    top: 50px;
    width: 500px;
    z-index: 999999999;
    .close-modal{
      width: 14px;
      height: 14px;
      background: url("/assets/images/icons/close.png") center no-repeat;
      padding: 0;
      cursor: pointer;
      transform: translateY(2px);
      border: 0;
      outline: none;
      position: absolute;
      top: 29px;
      right: 35px;
      transition: 0.2s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
    .question {
      h3 {
        width: 85%;
        font-family: "MuseoSansCyrl";
        font-weight: 900;
        font-size: 25px;
        color: #323844;
        text-align: left;
      }
    }
    .description{
      width: 85%;
      margin-top: 20px;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 15px;
      color: rgba($color: #323844, $alpha: 0.8);
      text-align: left;
    }
    button.action{
      width: 100%;
      height: 44px;
      margin: 35px 0 15px 0;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 14px;
      border-radius: 5px;
      transition: 0.2s ease-in;
      outline: none;
      cursor: pointer;
      &.accept {
        border: 0;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        background: #4ca1ff;
        color: white;
        &:hover{
          box-shadow: none;
        }
      }
      &.declide{
        color: #202f3b;
        background: transparent;
        border: 1px solid #d3dce9;
        &:hover{
          background: #d3dce9;
        }
      }
    }
  }
}