<div class="modal-container" *ngIf="isOpen">
    <div class="modal-overlay" (click)="close(true)"></div> 
    <div class="app-modal opn-scroll">
        <button class="btn-close close-modal" (click)="close()"></button>
        <div class="body">
            <div class="question">
                <h3 *ngIf="modalTitle" [innerHTML]="modalTitle"></h3>
            </div>
            <div class="description" *ngIf="modalDescription" [innerHTML]="modalDescription"></div>
            <div class="row justify-content-end no-gutters">
                <div class="col-3 p-1 pr-2"><button class="action declide" (click)="onConfirm(false);">{{btnsTitle.declide}}</button></div>
                <div class="col-3 p-1"><button class="action accept" (click)="onConfirm(true);">{{btnsTitle.accept}}</button></div>
            </div>
        </div>
    </div>
</div>
