.content-card-100 {
    &.not-style{
        min-height: auto;
	}
}
.title-section {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 32px;
	color: #202f3b;
	padding: 0 0 20px 0;
}
.create-class_btn{
	width: 140px;
	height: 40px;
	border: 0;
	border-radius: 2px;
	background: #4ca1ff;
	color: white;
	box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
	cursor: pointer;
	font-size: 14px;
    font-family: "MuseoSansCyrl";
	font-weight: 300;
	transition: 0.2s ease-in;
	&:hover, &:focus{
		box-shadow: none;
	}
}

.radio-item {
    display: inline-block;
    position: relative;

    &.unread:after {
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: #f91656;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 10px;
    }

    label {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #202f3b;
        padding-left: 26px;
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        margin: 0;

        &:before {
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            border: 2px solid #babec9;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.5s ease-in-out;
        }

        &:hover {
            &:before {
                border-color: #4ca1ff;
            }
        }

        &:after {
            display: none;
            content: '';
            width: 8px;
            height: 8px;
            background-color: #4ca1ff;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked+label {
            &:before {
                border-color: #4ca1ff;
            }

            &:after {
                display: block;
            }
        }
    }
}