<main class="row no-gutters justify-content-center">
    <opn-manager-panel [academyId]="academyId" class="w-100" (checkManager)="onCheckManager($event)"></opn-manager-panel>
    <opn-create-class-schedule [academyId]="academyId"></opn-create-class-schedule>
    <opn-create-holiday-schedule *ngIf="scheduleLoad" [academyId]="academyId"></opn-create-holiday-schedule>
    <div class="col-12 max-content">
        <div class="content-card-100 not-style">
            <div class="row no-gutters">
                <div class="col-auto panel-radio-group">
                    <div class="radio-item">
                        <input type="radio" name="status" [(ngModel)]="tab" value="schedules" id="status1" (change)="onChangeFilterStatus(tab)">
                        <label for="status1">Schedule</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="status" [(ngModel)]="tab" value="classes" id="status2" (change)="onChangeFilterStatus(tab)">
                        <label for="status2">Classes</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="status" [(ngModel)]="tab" value="subscriptions" id="status3" (change)="onChangeFilterStatus(tab)">
                        <label for="status3">Subscriptions</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-card-100">
            <div class="row justify-content-between no-gutters">
                <div class="col-5 title-section">Weekly Schedule</div>
                <div class="col-3">
                    <button class="create-class_btn float-right" (click)="onOpenCreateClass()">Create class</button>
                </div>
            </div>
            <div class="loader" *ngIf="!scheduleLoad">Loading...</div>
            <opn-week-calendar *ngIf="scheduleLoad" (opnClassClick)="onClassClick($event)" [nowDate]="nowDate"
                [dataSource]="scheduleSource"></opn-week-calendar>
            <br>
            <div class="row justify-content-between no-gutters">
                <div class="col-5 title-section">Holiday and Special Hours</div>
                <div class="col-3">
                    <button class="create-class_btn float-right" (click)="onOpenCreateHoliday()">Create holiday</button>
                </div>
            </div>
            <div class="loader" *ngIf="!holidaysLoad">Loading...</div>
            <opn-week-calendar (opnHolidayClick)="onHolidayClick($event)" *ngIf="holidaysLoad && !isEmpty(holidaysSource)"
                [isHoliday]="true" [nowDate]="nowDate" [dataSource]="holidaysSource"></opn-week-calendar>
            <br>
        </div>
    </div>
</main>
