<aside class="left" perfectScrollbar> <!--sidebar-scroll-->
    <div class="row">
        <div class="col logo">
            <a href="/#/"><img src="/assets/images/logo-white.png" class="mx-auto d-block" alt="OPN MAT"></a>
        </div>
    </div>
    <!-- <div class="divider mx-auto"></div> -->
    <div class="row card-box lines-tb justify-content-center align-items-center" *ngIf="load">
        <div class="text-center user-logo-name-wrapper">
            <div style="position: relative; min-height: 100px;">
                <div class="edit-btn" (click)="openUserSettings()">Edit</div>
                <opn-view-avatar *ngIf="changeAvatar" [src]="userAvatar" [widthImg]="'135px'"
                                 [md]="'sidebar'" (click)="router.navigate(['/profile/'+user.id])"></opn-view-avatar>
            </div>
            <div class="card_fio" (click)="router.navigate(['/profile/'+user.id])">{{user.first_name}} {{user.last_name}}</div>
        </div>
        <div class="col-11 text-center">
            <div class="card_address">{{(user.short_address)?user.short_address:user.address}}</div>
        </div>
        <div class="col-11">
            <div class="row mt-4 align-items-center">
                <div class="col-12">
                    <div class="belt" *ngIf="belt" [ngStyle]="{'background': 'url(' + belt + ') no-repeat'}"></div>
                </div>
            </div>
        </div>
        <div class="col-11">
            <div class="row no-gutters">
                <div class="col-6 card-follower">
                    <a [routerLink]="['/profile', user.id, 'followers']">
                        <div class="count">{{user.count_followers}}</div>
                        <div class="title">Followers</div>
                    </a>
                </div>
                <div class="col-6 card-following">
                    <a [routerLink]="['/profile', user.id, 'followings']">
                        <div class="count">{{user.count_followings}}</div>
                        <div class="title">Following</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="!load">
        <div class="loader"></div>
    </div>
    <div class="col-11 menu-box">
        <ul #listBox class="menu">
             <li class="menu-item" *ngIf="isManager">
              <a (click)="openMyAcademies()">
                <i class="academies"></i>
                <span>My academies</span>
              </a>
            </li>
            <li class="menu-item">
                <a opnActiveRoute [box]="listBox.nativeElement" routerLink="/" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="my-feed"></i>
                    <span>My Feed</span>
                </a>
            </li>
            <li class="menu-item">
                <a opnActiveRoute [box]="listBox" [routerLink]="['/profile', user.id]" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="my-profile"></i>
                    <span>My Profile</span>
                </a>
            </li>
           
            <li class="menu-item">
                <a opnActiveRoute [box]="listBox" routerLink="/message" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="messages"></i>
                    <span>Messages</span>
                </a>
            </li>
            <!-- <li class="menu-item">
              <a href="/#/my-technique-roadmap">
                <i class="roadmap"></i>
                <span>My Technique Roadmap</span>
              </a>
            </li> -->
            <li opnActiveRoute class="menu-item">
                <a opnActiveRoute="search/activity" [box]="listBox" (click)="toSearchEvent()" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="events"></i>
                    <span>Events Near Me</span>
                </a>
            </li>
            <!-- <li opnActiveRoute class="menu-item">
                <a opnActiveRoute routerLink="/check-in" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="checkin"></i>
                    <span>Check In</span>
                </a>
            </li> -->
            <li class="menu-item">
                <a opnActiveRoute [box]="listBox" routerLink="/dashboard" routerLinkActive="active-link" [step]="2"
                   [routerLinkActiveOptions]="{exact: true}">
                    <i class="subscriptions"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a opnActiveRoute [box]="listBox" routerLink="/shop" routerLinkActive="active-link"
                   [routerLinkActiveOptions]="{exact: true}">
                    <div class="shop"><i class="fa fa-shopping-basket"></i></div>
                    <span>Shop</span>
                </a>
            </li>
            <li class="menu-item" (click)="onLogout()">
                <i class="logout"></i>
                <span>Log Out</span>
            </li>
        </ul>
    </div>
</aside>

<opn-user-settings ></opn-user-settings> <!--(changedData)="onChangeProfile($event)"-->
<opn-my-academies></opn-my-academies>
