<section class="register">
    <!--<opn-header></opn-header>-->
    <div style="background-color: white;" class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 text-center left-side">
                <a [routerLink]="['/auth/login']"><img src="assets/images/logo.png" alt="OPN MAT"></a>
                <div class="welcome col-lg-12" style="margin-bottom: 35px;">{{ title }}</div>
                <div style="color: rgb( 76, 161, 255 ); font-size: 24px"><img style="width: 50px;margin-top: -20px;margin-right: 10px;" src="assets/images/icons/success.png" >Success!</div>
                <div class="login-via-email col-lg-12">
                        When you login, please use {{userEmail}}<br> and the password you created.
                    </div>
                <form [formGroup]="form" class="form-margin">
                    <div class="form-group">
                        <h6 class="text-left credentials">EMAIL</h6>
                        <input id="email" formControlName="email" type="email" required [ngClass]="displayFieldCss('email')">
                    </div>
                    <div class="form-group">
                        <h6 class="text-left credentials">PASSWORD</h6>
                        <input id="password" formControlName="password" type="password" [ngClass]="displayFieldCss('password')">
                    </div>
                    <div class="text-right">
                        <button class="button-submit" (click)="onSubmit()">Sign in <div class="small-loader inline-block" *ngIf="load"></div></button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 carousel right-side">
                <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                    <slide *ngFor="let slidez of slides; let index=index"
                           [active]="slidez.active">
                        <div style="background-color: rgb( 23, 42, 71 ); z-index: -111;">
                            <img src="/assets/images/BG.jpg" class="slide-img">
                        </div>
                        <div class="carousel-caption" style="bottom: 200px;">
                            <img class="icon-with" src="assets/images/icons/some.png">
                            <h3 class="slide-title">{{slidez.title}}</h3>
                            <p  class="slide-text">{{slidez.text}}</p>
                        </div>
                    </slide>
                </carousel>
                <!--<img src="assets/images/icons/some.png">-->
            </div>
        </div>
    </div>
</section>