.back-to-orders{
    margin: 10px 0 30px 0;
    display: inline-block;
    cursor: pointer;
    img{
        margin-right: 10px;
    }
    span{
        font-family: MuseoSansCyrl;
        font-weight: 500;
        font-size: 13px;
        color: #172a47;
    }
}

.order-wrapper{
    padding: 0 7.5px;
    .order-card {
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        .card-head {
            height: 60px;
            border-bottom: 1px solid #d3dce9;
            
            padding: 0 30px;
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
            span{
                display: inline-block;
                line-height: 60px;
            }
            .payment_status{
                &::before{
                    display: inline-block;
                    content: '';
                    width: 25px;
                    height: 25px;
                    transform: translateY(7px);
                    margin-right: 5px;
                }
                &.paid::before{
                    background: url('/assets/images/icons/student-status.png') center bottom;
                }
                &.not_paid::before{
                    background: url('/assets/images/icons/student-status.png') center top;
                }
            }
        }
        .card-content {
            padding: 30px;
            min-height: 135px;
            display: flex;
            justify-content: space-between;
            .titles{
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                margin-bottom: 15px;
            }
            .item-row{
                min-height: 50px;
            }
            .customer-name{
                text-align: center;
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 15px;
                color: #202f3b;
                margin-top: 20px;
            }
            .customer-address{
                text-align: center;
                font-size: 14px;
                color: #90949c;
                font-family: MuseoSansCyrl;
                font-weight: 300;
            }
            .customer-btn{
                text-align: center;
                button{
                    margin-top: 30px;
                    border: 1px solid #d3dce9;
                    border-radius: 3px;
                    background: transparent;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #202f3b;
                    padding: 8px 25px;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover{
                        border-color: #98a6bc;
                    }
                }
            }
            .order-status {
                display: inline-block;
                border-radius: 5px;
                padding: 2px 10px;
                color: white;
                &.in_process {
                    background-color: #fcb062;
                }
                &.new {
                    background-color: #ff6793;
                }
                &.shipped {
                    background-color: #7cd73b;
                }
            }
        }
    
    }
}

.no-data {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 13px;
    color: #172a47;
    text-align: center;
    padding: 30px 0;
}
.t-name{
    padding-left: 15px;
}
.t-price, .t-q-ty, .t-total{
    padding-left: 5px;
}
.order-product{
    .product-photo{
        width: 100%;
        max-height: 50px;
        object-fit: contain;
    }
    
    .product-name{
        color: #4ca1ff;
        font-family: "MuseoSansCyrl";
        font-weight: 400;
        font-size: 13px;
        padding-left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .product-seller{
        font-size: 12px;
        color: #90949c;
        font-family: 'MuseoSansCyrl';
        font-weight: 300;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 15px;
    }
    %price{
        font-family: "MuseoSansCyrl";
        font-weight: 400;
        font-size: 13px;
        padding-left: 5px;
        color: #1c2836;
    }
    .product-price_quantity{
        @extend %price;
    }
    .product-total_price{
        @extend %price;
    }
}
.totals_data{
    width: 100%;
    tbody{
        td{
            width: 100%;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: #1c2836;
            padding-top:10px;
        }
    }
    tfoot{
        td{
            width: 100%;
            font-family: "MuseoSansCyrl";
            font-weight: 900;
            font-size: 14px;
            color: #1c2836;
            padding-top:10px;
        }
    }
}

.status-bar{
    margin-bottom: 25px;
    .status-item{
        width: 160px;
        height: 45px;
        .status-btn{
            width: 20px;
            height: 20px;
            border: 1px solid #141e2a;
            border-radius: 50%;
            float: left;
            cursor: pointer;
            transition: 0.2s;
        }
        .status-label{
            position: absolute;
            bottom: 0;
            transform: translateX(calc( -50% + 10px ));
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 12px;
            color: rgba($color: #172a47, $alpha: 0.5);
            transition: 0.2s;
        }
        &.hover {
            .status-btn{
            background: url('/assets/images/icons/active-round.png') center;
                border-color: #50a3ff;
            }
            .status-label{
                color: #172a47;
            }
        }
        &.active{ 
            .status-btn{
                background: url('/assets/images/icons/active-round.png') center;
                border-color: #50a3ff;
            }
            .status-label{
                color: #172a47;
            }
        }
        .divide-line{
            width: calc( 100% - 20px );
            float: left;
            border-bottom: 1px solid #141e2a;
            margin-top: 9px;
        }
    }
}

.customer-ctrls{
    display: block;
    width: 80px;
    float: right;
    margin-top: 18.5px;
    text-align: right;
    i{
        cursor: pointer;
        font-size: 20px;
        color: #90949c;
        transition: 0.2s;
        padding: 5px;
        border-radius: 3px;
        font-weight: 900;
        background: rgba($color: #f0f2f8, $alpha: 0.3);
        &:hover{
            color: #1c2836;
            background: #f0f2f8;
            
        }
    }
}