<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="row ">
                <div class="col-12">
                    <div class="back-to-orders" (click)="toOrders()">
                        <img src="/assets/images/icons/back-icon.png" alt="Orders">
                        <span>Back to orders</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 order-wrapper">
                            <div class="order-card">
                                <div class="card-head">
                                    <span>Order #{{orderId}}</span>
                                </div>
                                <div class="card-content">
                                    <div class="col-12 p-0" *ngIf="orderData">
                                        <div class="row titles no-gutters">
                                            <div class="col-1 t-photo">Photo</div>
                                            <div class="col-4 t-name">Product</div>
                                            <div class="col-1 t-price">Price</div>
                                            <div class="col-1 t-q-ty">Q-ty</div>
                                            <div class="col-2 t-total">Total</div>
                                            <div class="col-3 t-satus">Status</div>
                                        </div>
                                        <div class="row no-gutters order-product align-content-center" *ngFor="let order of orderData"> <!-- | orderBy: 'title' -->
                                            <div class="col-12" *ngFor="let item of order.items">
                                                <div class="row item-row no-gutters">
                                                    <div class="col-1 align-self-center">
                                                        <img class="product-photo" [src]="(item.photo) ? baseUrl + item.photo : noPhoto" [alt]="item.title">
                                                    </div>
                                                    <div class="col-4 align-self-center">
                                                        <div class="product-name">{{item.title}}</div>
                                                        <div class="product-seller">Seller: {{order.academy.name}}</div>
                                                    </div>
                                                    <div class="col-1 align-self-center">
                                                        <div class="product-price_quantity">
                                                            ${{item.price}}
                                                        </div>
                                                    </div>
                                                    <div class="col-1 align-self-center">
                                                        <div class="product-price_quantity">
                                                            {{item.quantity}}
                                                        </div>
                                                    </div>
                                                    <div class="col-2 align-self-center">
                                                        <div class="product-total_price">
                                                            ${{item.price * item.quantity}}
                                                        </div>
                                                    </div>
                                                    <div class="col-3 align-self-center">
                                                        <span class="order-status" [ngClass]="order.status">{{statusLabels[order.status]}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="loader" *ngIf="!orderData && !load">Loading...</div>
                                    <div class="col-12 no-data" *ngIf="!orderData && load">
                                        Not have this order
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="orderData">
                        <div class="col-12 order-wrapper">
                            <div class="order-card">
                                <div class="card-head">
                                    <span class="payment_status" [ngClass]="totalsData.payment_status">
                                        {{paidLabels[totalsData.payment_status]}}
                                    </span>
                                </div>
                                <div class="card-content">
                                    <div class="col-12 p-0" *ngIf="orderData">
                                        <div class="row no-gutters order-prices">
                                            <div class="col-12">
                                                <table class="totals_data" *ngIf="totalsData">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">Subtotal</td>
                                                            <td class="small">${{totalsData.subtotal}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Shiping</td>
                                                            <td class="small">${{totalsData.shipping_cost || 0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Tax</td>
                                                            <td class="small">${{totalsData.tax || 0}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="2">Total</td>
                                                            <td class="small">${{totalsData.total}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 order-wrapper" *ngIf="orderData">
                    <div class="order-card">
                        <div class="card-head ">
                            <span>Seller #{{academies[viewAcademy].id}}</span>
                            <div class="customer-ctrls" *ngIf="academies.length > 1">
                                <i class="nb-arrow-left" (click)="onPrevSeler()"></i>
                                <i class="nb-arrow-right" (click)="onNextSeler()"></i>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="col-12">
                                <div class="row justify-content-center" *ngIf="academies[viewAcademy]">
                                    <div class="col-auto">
                                        <opn-view-logo-academy *ngIf="academies[viewAcademy].id" [src]="academies[viewAcademy].photo"[widthImg]="'100px'"></opn-view-logo-academy>
                                    </div>
                                    <div class="col-12 customer-name">{{academies[viewAcademy].name}}</div>
                                    <div class="col-12 customer-address">{{academies[viewAcademy].location}}</div>
                                    <div class="col-12 customer-btn">
                                        <button (click)="onEventMessage(academies[viewAcademy].id)">Contact seller</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
