<div class="list-classes" perfectScrollbar [ngClass]="{'bot': pos == 'bot', 'top': pos == 'top'}">
    <div class="class-item" *ngFor="let subs of subscriptions; let i = index;">
        {{subs.subscription.name}}
    </div>
</div>