.list-classes{
  position: absolute;
  max-height: 140px;
  max-width: 200px;
  background: white;
  border-radius: 5px;
  border: 1px solid #d4e0ec;
  box-shadow: 0 4px 8px 0 rgba($color: #172a47, $alpha: 0.25);
  padding: 10px 25px;
  z-index: 10;
  &.top{
    bottom: 35px;
    left: -15px;
  }
  &.bot{
    top: 50px;
    left: -15px;
  }
  .class-item{
      width: 100%;
      color: #172a47;
      font-family: "MuseoSansCyrl";
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.secect{
          cursor: default;
          color: #4ca1ff;
      }
      &:hover{
          color: #4ca1ff;
          cursor: pointer;
      }
  }
}