<opn-academy-modal modalId="payment-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i> <span>Warning!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
        <button class="pay-event-btn" (click)="onRePay()">Pay Now</button>
    </div>
</opn-academy-modal>
<opn-academy-modal modalId="payment-success" closebtn="true">
    <div class="modal-info success">
        <i class="ion-checkmark"></i> <span>Success!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
    </div>
</opn-academy-modal>
<opn-payment-stripe [listData]="totalData" (outToken)="onPay($event)"></opn-payment-stripe>
<div class="row no-gutters subscription-wrap">
    <div class="subscription-card" *ngFor="let subscribe of subscriptions; let i = index" [hidden]="!(i < 3 || isViewMore)">
        <div class="card-body">
            <div class="tooltip-btn" *ngIf="subscribe.information && subscribe.information != ''">
                <div class="tooltip-content">
                    {{subscribe.information}}
                </div>
            </div>
            <div class="card-title">{{subscribe.name}}</div>
            <div class="card-price">$ {{subscribe.price}}</div>
            <div class="card-time">{{membership[subscribe.membership]}}</div>
            <div class="card-divider"></div>
            <div class="card-row row no-gutters">
                <div class="col-8 label">Sing up fee</div>
                <div class="col-4 value">$ {{subscribe.registration_fee}}</div>
            </div>
            <div class="card-row row no-gutters">
                <div class="col-8 label">Age</div>
                <div class="col-4 value">{{subscribe.age}}</div>
            </div>
            <div class="trial-days-wrapper">
                <div class="card-row row no-gutters" *ngIf="subscribe.trial_days">
                    <div class="col-8 label">Trial</div>
                    <div class="col-4 value trial-days">{{subscribe.trial_days}}&nbsp;day
                    </div>
                </div>
            </div>
            <div class="card-row row no-gutters">
                <div class="col-12">
                    <button class="sign-up" *ngIf="!subscribe.is_cancel && !subscribe.member" (click)="onSignUp(subscribe)">Sign up
                        <div class="small-loader inline-block" *ngIf="subscribe.joinLoader"></div>
                    </button>
                    <button class="sign-up" *ngIf="!subscribe.is_cancel && subscribe.member" (click)="onCancelNotification(subscribe)">Cancel
                        <div class="small-loader inline-block" *ngIf="subscribe.joinLoader"></div>
                    </button>
                    <button class="sign-up" disabled *ngIf="subscribe.is_cancel">Pending</button>
                </div>
            </div>
        </div>
    </div>
    <div class="view-more" *ngIf="subscriptions.length > 3 && !isViewMore" (click)="isViewMore = !isViewMore">View more</div>
    <div class="loader" *ngIf="!load">Loading...</div>
    <!-- <div class="col-12" *ngIf="subscriptions.length == 0 && load">
        <div class="no-data">
            Academy does not have any subscriptions yet.
        </div>
    </div> -->
</div>
