<div class="row">
    <div class="col-xxxl-4 col-md-6">
        <opn-count-statistic></opn-count-statistic>
    </div>
    <div class="col-xxxl-4 col-md-6">
        <opn-dashboard-reports></opn-dashboard-reports>
    </div>
</div>
