@mixin dropdown-icon($url){
  width: 24px;
  height: 18px;
  background: url($url) center no-repeat;
  transform: translateY(3px);
  margin-right: 12px;
  display: inline-block;
} 
.dropdown-visibility{
  position: relative;
  .btn-visibility{
    padding: 0px;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY(-13px);
    height: 20px;
    line-height: 10px;
    i.ion-ios-more{
      margin-top: 5px;
      width: 12px;
      height: 4px;
      display: inline-block;
      border-radius: 50%;
      font-size: 28px;
      color: #c5cacf;
    }
    &:hover{
      i.ion-ios-more{
        color: #4ca1ff;
      }
    }
  }
  .dropdown-menu-visibility{
    width: 180px;
    display: none;
    list-style: none;
    border: 1px solid #d4e0ec;
    border-radius: 3px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba($color: #172a47, $alpha: 0.25);
    .item{
      padding: 5px 18px;
      cursor: pointer;
      font-size: 14px;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      color: #172a47;
      &:last-child{
        border-color: transparent;
      }
      &.active{
        color: #4ca1ff;
      }
      &.divide{
        width: 100%;
        border-bottom: 1px solid #d4e0ec;
        padding: 0;
        margin: 5px 0;
      }
    }
    .item:hover, .item.active{
      color: rgb( 76, 161, 255 );
      i.public{
        @include dropdown-icon('/assets/images/icons/public.png');
      }
      i.only-me{
        @include dropdown-icon('/assets/images/icons/person-blue.png');
      }
      i.followers{
        @include dropdown-icon('/assets/images/icons/people-blue.png');
      }
      i.edit{
        @include dropdown-icon('/assets/images/icons/icon-edit.png');
      }
      i.trash{
        @include dropdown-icon('/assets/images/icons/close-red.png');
      }
    }
    
  }
  &.open{
    .dropdown-menu-visibility{
      display: block;
      position: absolute;
      right: -10px;
      top: 20px;
      z-index: 999;
      background-color: white;
      &:before{
        display: block;
        content: '';
        width: 9px;
        height: 9px;
        border-top: 1px solid #d4e0ec;
        border-left: 1px solid #d4e0ec;
        position: absolute;
        top: -5px;
        right: 13px;
        background: white;
        transform: rotate(45deg);
      }
    }
    .btn-visibility{
      i.ion-ios-more{
        color: #4ca1ff;
      }
    }
  }
  i.public{
    @include dropdown-icon('/assets/images/icons/public-gray.png');
  }
  i.only-me{
    @include dropdown-icon('/assets/images/icons/person.png');
  }
  i.followers{
    @include dropdown-icon('/assets/images/icons/people.png');
  }
  i.edit{
    @include dropdown-icon('/assets/images/icons/event-edit.png');
  }
  i.trash{
    @include dropdown-icon('/assets/images/icons/close.png');
  }
}