<div class="dropdown-visibility" #dropdownVisibility>
  <button class="btn-visibility" (click)="onToggle($event)">
    <i class="ion-ios-more"></i>
  </button>
  <ul class="dropdown-menu-visibility" [ngClass]="direction">
      <li class="item" [ngClass]="{active: current == 'all'}" (mousedown)="onSelect($event, 'all')"><i class="public"></i>Public</li>
      <li class="item" [ngClass]="{active: current == 'me'}" (mousedown)="onSelect($event, 'me')"><i class="only-me"></i>Only me</li>
      <li class="item" [ngClass]="{active: current == 'followers'}" (mousedown)="onSelect($event, 'followers')"><i class="followers"></i>My followers</li>
      <li class="item divide"></li>
      <li class="item" (mousedown)="onSelect($event, 'edit')"><i class="edit"></i>Edit</li>
      <li class="item" (mousedown)="onSelect($event, 'remove')"><i class="trash"></i>Remove</li>
  </ul>
</div>