@import '../../_variables';

@mixin arrow-belt($bg-pos-y) {
  width: 15px;
  height: 17px;
  background: url('/assets/images/arrow_belt.png') 0 $bg-pos-y no-repeat, transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 !important;
  outline: none;
}
@mixin arrow-belt-w($bg-pos-y) {
  width: 15px;
  height: 17px;
  background: url('/assets/images/arrow_belt-w.png') 0 $bg-pos-y no-repeat, transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 !important;
  outline: none;
}
.color-title{
  white-space: nowrap;
  padding: 0 0 7px 0 !important;
  font-size: 11px;
  font-family: "MuseoSansCyrl";
  color: #cad3dd;
  text-transform: uppercase;
  text-align: left;
}
.stripe-title{
  padding-bottom: 7px !important;
    font-size: 11px;
    font-family: "MuseoSansCyrl";
    color: #cad3dd;
    text-transform: uppercase;
    text-align: left;
}
.belt-color {
  height: 30px;
  margin: 0 6px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  position: relative;
  &:nth-child(2){
    margin-left: 0px;
  }
  &:last-child{
    margin-right: 0px;
  }
  &.active:after{
    display: block;
    content: url('/assets/images/a_color.png');
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 18px;
    height: 17px;
  }
}
.belts-wrapp{
  .wrap-colors{
    padding: 0 15px;
  }
  .belt{
    position: relative;
    img{
      width: 100%;
      min-height: 30px;
    }
    .prev_belt{
      @include arrow-belt(0px);
      right: 27%;
    }
    .next_belt{
      @include arrow-belt(-64px);
      right: 6%;
    }
    &.black{
      .prev_belt{
        @include arrow-belt-w(0px);
        right: 27%;
      }
      .next_belt{
        @include arrow-belt-w(-64px);
        right: 6%;
      }
    }
  }
}
