<div class="belts-wrapp row">

    <div [ngClass]="{'col-12': col == 1, 'col-6': col == 2}">
        <div class="form-group">
            <div class="row wrap-colors">
                <div class="col-12 color-title">Pick belt</div>
                <div class="col belt-color" [ngClass]="{'active': i==current_index}" [ngStyle]="{'background': color.hex}"
                    (click)="onSelectColor(color.id, $event)" *ngFor="let color of colors; let i = index">
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-12': col == 1, 'col-6': col == 2}">
        <div class="form-group">
            <div class="row">
                <div class="col-12 stripe-title">Pick stripe</div>
                <div class="col-12 belt" [ngClass]="activeBelt.name || ''" *ngIf="activeBelt">
                    <button class="prev_belt" (click)="onPrev()"></button>
                    <button class="next_belt" (click)="onNext()"></button>
                    <img src="{{activeBelt.source}}" alt="activeBelt.id">
                </div>
            </div>
        </div>
    </div>
</div>
