.content-card-100 {
    width: 100%;
    padding-bottom: 30px;

    .followers-panel {
        .panel-radio-group {
            .radio-item {
                display: inline-block;

                label {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #202f3b;
                    padding-left: 26px;
                    position: relative;
                    padding-right: 20px;
                    cursor: pointer;

                    &:before {
                        display: block;
                        content: '';
                        width: 18px;
                        height: 18px;
                        border: 2px solid #babec9;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover {
                        &:before {
                            border-color: #4ca1ff;
                        }
                    }

                    &:after {
                        display: none;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #4ca1ff;
                        border-radius: 50%;
                        position: absolute;
                        left: 5px;
                        top: 5px;
                    }
                }

                input[type="radio"] {
                    display: none;

                    &:checked+label {
                        &:before {
                            border-color: #4ca1ff;
                        }

                        &:after {
                            display: block;
                        }
                    }
                }

            }
        }

        .filter-name {
            width: 240px;
            height: 40px;
            border-radius: 2px;
            border: 1px solid #d3dce9;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 16px;
            color: #202f3b;
            float: right;
            padding: 0 30px 0 20px;
            background: url("/assets/images/icons/search-f.png") right center no-repeat;
            outline: none;

            &:hover,
            &:focus {
                border: 1px solid #98a6bc;
            }
        }
    }

    .profile-followers {
        margin: 0 -8px !important;

        .profile-follower-wrap {
            margin-top: 16px;
            padding: 0 8px;
        }

        .profile-follower-item {
			background: white;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
            position: relative;
            padding: 25px;

            .follower-item-data {
				padding: 0 8px 0 8px;

                .follower-avatar {
                    width: 105px;
                    height: 105px;
                    background-size: cover !important;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .follower-info {
                    padding: 0;
                    width: calc(100% - 66px);
                    margin-top: 10px;
                    text-align: center;

                    .follower-fio {
                        font-family: "MuseoSansCyrl";
                        font-weight: 500;
                        font-size: 15px;
                        color: #172a47;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    .follower-academy {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 13px;
                        color: #4ca1ff;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    .follower-address {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 11px;
                        color: #90949c;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
					.wrap_belt {
                        padding: 15px 0 5px 0;

                        .belt {
                            height: 25px;
                            background-position: 100% 0px !important;
                            background-size: cover !important;
                        }
                    }

                    .follower-followers {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 11px;
                        color: #90949c;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 10px 0;
                        padding: 10px 0;
                        border-top: 1px solid #d3dce9;
                        border-bottom: 1px solid #d3dce9;
                        text-transform: uppercase;

                        span {
                            font-size: 17px;
                            color: #4ca1ff;
                        }
					}
					.folower-box{
						font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 11px;
                        color: #90949c;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 10px 0;
                        
                        text-transform: uppercase;
						span {
                            font-size: 17px;
                            color: #4ca1ff;
						}
						.follower-left, .follower-right{
							width: 50%;
							float: left;
							padding: 10px 0;
							border-top: 1px solid #d3dce9;
							border-bottom: 1px solid #d3dce9;
						}
						.follower-left{
							border-right: 1px solid #d3dce9;
						}
					}
                }

				.empty{
					margin-top: 15px;
					width: 100%;
					height: 40px;
				}
                .follower-btn {
                    margin-top: 15px;
                    padding: 0;

                    button {
                        width: 100%;
                        height: 40px;
                        background: #4ca1ff;
                        border-radius: 3px;
                        border: 0;
                        font-size: 13px;
                        color: rgba($color: white, $alpha: 0.9);
                        cursor: pointer;
                        outline: none;
                        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);

                        &.unfollow {
                            background: #f1f2f5;
                            color: #cdcfd6;
                        }

                        &:hover {
                            box-shadow: none;
                        }
					}
                }
            }
        }

        .pagination {
            padding: 28px;

            .pages {
                .page {
                    width: 30px;
                    height: 30px;
                    border-radius: 2px;
                    border: 1px solid #d3dce9;
                    float: left;
                    margin-left: 6px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #172a47;
                    text-align: center;
                    line-height: 30px;
                    cursor: pointer;

                    &.active {
                        cursor: default;
                        pointer-events: none;
                        border: 1px solid #4ca1ff;
                        background: #4ca1ff;
                        color: white;
                    }
                }
            }
        }
    }
}
