$input-color: #bababa;
$red: #ff0000;
.user-data-wrap{
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
  .cover_block {
    width: 100%;
    height: 320px;
    overflow: hidden;
    &::before{
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(23, 42, 71,0.6);
      border-radius: 2px 2px 0 0;
    }
    .edit-cover-photo{
      width: 100px;
      opacity: 0.65;
      label{
        width: 116px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 30px;
        border-radius: 2px;
        text-align: center;
        line-height: 38px; 
        font-family: "MuseoSansCyrl";
        font-weight: 200;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        border: 1px solid #d3dce9;
        letter-spacing: 1px;
        transition: all 0.3s ease-in-out;
        &:hover{
          background: #d3dce9;
          color: #333333;
        }
      }
      input[type=file]{
        display: none;
      }
    }
    .profile-fl {
      font-size: 24px;
      font-family: "MuseoSansCyrl";
      color: rgb( 255, 255, 255 );
    }
    .profile-birsdate {
      font-size: 13px;
      font-family: "MuseoSansCyrl";
      color: rgb( 255, 255, 255 );
    }
    .followers{
      color: #4ca1ff;
      opacity: 0.9;
      font-size: 24px;
      font-family: 'MuseoSansCyrl';
      color: rgb( 76, 161, 255 );
      float: right;
      text-align: center;
      margin-right: 25px;
      p{
        font-size: 11px;
        font-family: "MuseoSansCyrl";
        color: rgb( 197, 202, 207 );
      }
    }
    .cover_btn{
      float: right;
      margin-right: 25px;
      margin-top: 25px;
      background-color: inherit;
      border: 1px solid white;
      color: white;
      width: 120px;
      height: 40px;
      opacity: 0.7;
      cursor: pointer;
    }
  }
  .profle-user-box {
    margin: 0 auto;
    .profile-avatar {
      display: inline-block;
      margin: 0 0 27px 30px;
    }
    .profile-data{
      width: calc( 100% - 158px );
      padding-left: 30px;
    }
    .profile-info{
      height: 120px;
      .profile-name{
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 24px;
        color: #ffffff;
        padding-bottom: 7px;
        letter-spacing: 1px;
      }
      .academy-name{
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 15px;
        color: #4ca1ff;
        padding-bottom: 5px;
        cursor: pointer;
      }
      .academy-address{
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 12px;
        color: #ffffff;
        padding-bottom: 5px;
      }
      .profile-date{
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 13px;
        color: #ffffff;
      }
      .follower-count{
        display: inline-block;
        width: 140px;
        text-align: center;
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 24px;
        color: #4ca1ff;
        padding-bottom: 10px;
      }
      .follower-title{
        display: inline-block;
        width: 140px;
        text-align: center;
        font-family: "MuseoSansCyrl";
        font-weight: 700;
        font-size: 11px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .count-follow{
        cursor: pointer;
        &:hover .follower-title{
          color: #4ca1ff;
        }
      }
    }
  }
  .profile-panel {
    border-radius: 0 0 3px 3px;
    height: 70px;
    .panel-btn {
      padding: 0 26px;
      height: 70px;
      position: relative;
      line-height: 68px;
      cursor: pointer;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 15px;
      color: #202f3b;
      border-bottom: 2px solid transparent;
      &:not(:last-child)::after {
        display: block;
        content: '';
        height: 45%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        //border-right: 1px solid #ededed;
      }
      
      span {
        color: #333333;
        font-size: 13px;
        font-family: 'Proxima Nova Condensed';
      }
      &.active-tab {
        border-bottom: 2px solid #4ca1ff;
        color: #4ca1ff;
      }
      &:hover{
        transition: 0.2s ease-in-out;
        color: #4ca1ff;
        border-color: rgba($color: #4ca1ff, $alpha: 0.5);
      }
      &.private{
        color: #cdcfd6 ;
        border-color: transparent;
        cursor: default;
        pointer-events: none;
        &:hover{
          color: #cdcfd6;
          border-color: transparent;
        }
      }
    }
    .posts-btn {
      &::before {
        display: inline-block;
        width: 19px;
        height: 19px;
        content: '';
        background: url("/assets/images/icons/posts/posts.png") center no-repeat;
        transform: translateY(5px);
      }
    }
    .photos-btn {
      &::before {
        display: inline-block;
        width: 19px;
        height: 19px;
        content: '';
        background: url("/assets/images/icons/posts/photos.png") center no-repeat;
        transform: translateY(5px);
        margin-right: 15px;
      }
    }
    .videos-btn {
      &::before {
        display: inline-block;
        width: 21px;
        height: 19px;
        content: '';
        background: url("/assets/images/icons/posts/videos.png") center no-repeat;
        transform: translateY(5px);
        margin-right: 15px;
      }
    }
    .followers-btn {
      &::before {
        display: inline-block;
        width: 29px;
        height: 19px;
        content: '';
        background: url("/assets/images/icons/posts/followers.png") center no-repeat;
        transform: translateY(5px);
        margin-right: 15px;
      }
    }
    .btn-follow-me{
      width: 115px;
      border: 0;
      border-radius: 3px;
      height: 40px;
      font-size: 15px;
      background: #4ca1ff;
      color: white;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      cursor: pointer;
      margin-right: 28px;
      box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
      &:hover {
        box-shadow: none;
      }
      &.unfollow{
        background: #f1f2f5;
        color: #cdcfd6;
        transition: 0.2s ease-in;
        outline: none;
      }
      &[disabled]{
        background: #f1f2f5;
        color: #cdcfd6;
        transition: 0.2s ease-in;
        outline: none;
        cursor: default;
      }
    }
  }
}

.feed-box{
  margin-top: 15px;
}
.hide-new{
  .feed-box:first-child{
    margin-top: 0;
  }
}

.right-content-box {
  width: 370px;
  .content-card-right {
    margin-bottom: 15px;
    padding: 0;
    .head-block{
      font-size: 16px;
      font-family: "MuseoSansCyrl";
      font-weight: 500;
      color: #202f3b;
      width: 100%;
      border: 0;
      background-color: transparent;
      text-align: left;
      padding: 15px 30px;
      outline: none;
      position: relative;
    }
    .add-btn{
      background: url(/assets/images/icons/add-button.png) no-repeat;
      width: 20px;
      height: 20px;
      border-radius: 40%;
      border: none;
      outline: none;
      cursor: pointer;
      float: right;
    }
    .new-block-r {
      width: 23px;
      height: 23px;
      background: transparent;
      border: 1px solid #e3e3e3;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      margin-top: 20px;
      &::after {
        display: inline-block;
        content: '+';
        font-size: 24px;
        color: #e3e3e3;
        height: 21px;
        line-height: 21px;
        transform: translate3d(-3px, -3px, 0);
      }
    }
    .new-academy-form {
      padding: 0 30px;
      .form-group {
        input {
          width: 100%;
          border: 1px solid #f5f5f5;
          border-radius: 3px;
          height: 42px;
          padding: 0 0 0 22px;
          outline: none;
          font-family: "Proxima Nova Condensed";
          color: #333333;
          &::-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &::-webkit-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-ms-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &.ng-invalid.ng-touched {
            border-color: $red;
          }
          &:focus {
            box-shadow: 0 0 9px rgba(79, 157, 191, 25);
          }
        }
        button[type=submit]{
          width: 80px;
          height: 35px;
          border: 0;
          border-radius: 3px;
          font-size: 15px;
          color: white;
          background: #4ca1ff;
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          cursor: pointer;
          outline: none;
          &:hover {
            //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27);
          }
        }
        button[type=reset]{
          width: 80px;
          height: 35px;
          border-radius: 3px;
          font-size: 15px;
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          background: white;
          color: #ababab;
          border: 1px solid rgba(0, 0, 0, 0.23);
          cursor: pointer;
          outline: none;
          &:hover {
            //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27);
          }
        }
      }
    }
    .info-block{
      padding: 10px 30px;
      // border-bottom: 1px solid #e8e8e8;
      &:hover{
        background: #f7f7f7;
      }
      .years-range{
        padding: 5px 0px;
        font-size: 14px;
        color: #23354d;
        font-family: 'MuseoSansCyrl';
        font-weight: 500;
        width: 31%;
        text-align: left;
        white-space: nowrap;
      }
      .name{
        font-size: 14px;
        color: #90949c;
        font-family: 'MuseoSansCyrl';
        padding-left: 15px;
        font-weight: 300;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
      .actions{
        text-align: right;
        i{
          cursor: pointer;
        }
      }
      
    }
    .new-prizes-form {
      padding: 0 30px;
      .form-group {
        textarea {
          width: 100%;
          border: 1px solid #f5f5f5;
          border-radius: 3px;
          height: 100px;
          padding: 12px 22px;
          outline: none;
          font-family: "MuseoSansCyrl";
          font-weight: 400;
          color: #333333;
          resize: none;
          &::-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &::-webkit-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-ms-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &.ng-invalid.ng-touched {
            border-color: $red;
          }
          &:focus {
            box-shadow: 0 0 9px rgba(79, 157, 191, 25);
          }
        }
        button[type=submit]{
          width: 100px;
          height: 35px;
          border: 0;
          border-radius: 3px;
          font-size: 15px;
          color: white;
          background: #4ca1ff;
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          cursor: pointer;
          outline: none;
          &:hover {
            //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27);
          }
        }
        button[type=reset]{
          width: 100px;
          height: 35px;
          border-radius: 3px;
          font-size: 15px;
          font-family: 'Proxima Nova Condensed';
          background: white;
          color: #ababab;
          border: 1px solid rgba(0, 0, 0, 0.23);
          cursor: pointer;
          outline: none;
          &:hover {
            //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27);
          }
        }
      }
    }
    .prize-content{
      font-size: 14px;
      color: #90949c;
      font-family: 'MuseoSansCyrl';
      font-weight: 400;
    }
  }
}

.link-message {
  width: 115px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40px;
  font-size: 15px;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  cursor: pointer;
  color: #202f3b;
  margin-right: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: #4ca1ff;
  }
}

.alert-text{
  min-width: 85px;
  height: 30px;
  background: #ffffff;
  text-transform: uppercase;
  color: #63acfe;
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
  padding: 0 15px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}