@import '../../../../../variables';

.level-stripe-card {
    @extend %card-styles;
    .card-head {
        height: 60px;
        border-bottom: 1px solid #d3dce9;
        line-height: 60px;
        padding: 0 30px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 500;
        font-size: 16px;
        color: #202f3b;
    }
    .level-stripe-wrapper {
        padding: 17px 30px 30px;
        min-height: 170px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        .level-stripe-title {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 17px;
        }
        .level-stripe {
            width: 110px;
            display: inline-block;
            position: relative;
            .legend {
                width: 60px;
                position: absolute;
                top: 33px;
                right: 26px;
                .numbers {
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 18px;
                    color: #202f3b;
                    text-align: center;
                }
                .name {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    text-align: center;
                }
            }
        }
    }
}
