<div class="level-stripe-card">
    <div class="card-content level-stripe-wrapper" *ngIf="userScore > -1 && maxScore > -1">
        <div class="level-stripe-title">Next Level Stripe</div>
        <div class="level-stripe">
            <div class="legend">
                <div class="numbers">{{userScore}}/{{maxScore}}</div>
                <div class="name">Classes</div>
            </div>
            <round-progress [current]="userScore" [max]="maxScore" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
    </div>
</div>
