.week-calendar_wrap {
    width: 100%;
    .row-calendar_header {
        width: 100%;
        height: 46px;
        border-bottom: 1px solid #d3dce9;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        
        .header-icon{
            width: 130px;
            height: 45px;
            background: #4ca1ff;
            float: left;
            position: relative;

            &:before{
                display: block;
                content: url('/assets/images/icons/clock-c.png');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .header-hours{
            min-width: calc( 100% - 130px );
            max-width: calc( 100% - 130px );
            height: 45px;
            float: right;
            background: #e9ecf2;
            overflow: hidden;
        }
    }

    .row-calendar_container {
        width: 100%;
        min-height: 500px;
        background: white;
        position: relative;
        &:after{
            display: block;
            content: '';
            clear: both;
        }
        &.holiday{
            min-height: 80px;
        }
        .col-days {
            width: 130px;
            max-height: 500px;
            overflow: hidden;
            position: relative;
            float: left;
            border-right: 1px solid #d3dce9;
            .days-box{
                width: 100%;
            }
        }

        .col-day-events {
            min-width: calc( 100% - 130px );
            max-width: calc( 100% - 130px );
            max-height: 500px;
            min-height: 500px;
            float: right;
            position: relative;
            &.holiday{
                min-height: 80px;
            }
        }
    }
}
