<div class="week-calendar_wrap">
  <div class="row-calendar_header">
    <div class="header-icon"></div>
    <div class="header-hours" #hoursScroll>
      <div class="hours-box">
        <opn-calendar-hours [dataSourse]="toolbarHours"></opn-calendar-hours>
      </div>
    </div>
  </div>
  <div class="row-calendar_container" [ngClass]="{'holiday': isHoliday}">
    <div class="col-days" #daysScroll>
      <div class="days-box" *ngIf="viewToolbarDays">
        <opn-calendar-days [isHoliday]="isHoliday" [dataSourse]="toolbarDays" [options]="options"></opn-calendar-days>
      </div>
    </div>
    <div class="col-day-events" #scrollBox [perfectScrollbar]="scrollConfig" (psScrollX)="psScrollX()" (psScrollY)="psScrollY()" [ngClass]="{'holiday': isHoliday}">
      <div class="box" *ngIf="viewToolbarDays">
        <div class="wrap-days" [style.height.px]="options.celHeight * toolbarDays[day].rows" *ngFor="let day of days;">
          <opn-day-events [dataSours]="dayRows[day]" [hoursSours]="toolbarHours" [options]="options"></opn-day-events>
        </div>
      </div>
    </div>
  </div>
</div>
