@import '../../../../../variables';

.subscription-wrap {
    margin: 30px -8px;
    .tooltip-btn {
        width: 20px;
        height: 20px;
        background: url("/assets/images/icons/info-sprite.png") center 0 no-repeat;
        position: absolute;
        top: 10px;
        right: 18px;
        cursor: pointer;
        .tooltip-content {
            display: none;
        }
        &:hover {
            background: url("/assets/images/icons/info-sprite.png") center -24px no-repeat;
            & .tooltip-content {
                width: 254px;
                max-height: 300px;
                display: block;
                position: absolute;
                top: 35px;
                right: -20px;
                background: white;
                padding: 22px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #3a4a57;
                border-radius: 3px;
                border: 1px solid #d4e0ec;
                box-shadow: 0 4px 8px rgba(23, 42, 71, 0.25);
                z-index: 10;
                overflow: hidden;
                &:before {
                    display: block;
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-left: 1px solid #d4e0ec;
                    border-bottom: 1px solid #d4e0ec;
                    position: absolute;
                    top: -6px;
                    right: 24px;
                    background: white;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(135deg);
                }
            }
        }
    }
    .subscription-card {
        padding: 0 8px;
        margin-bottom: 15px;
        .card-body {
            box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
            border-radius: 3px;
            background: white;
            min-height: 190px;
            padding: 15px;
            .card-title {
                text-align: center;
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 15px;
                color: #172a47;
                text-overflow: ellipsis;
                margin: 15px 0 0 0;
            }
            .card-price {
                text-align: center;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 30px;
                color: $color-primary;
                margin-top: 10px;
            }
            .card-time {
                text-align: center;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                margin-top: 10px;
                font-size: 14px;
                color: #90949c;
            }
            .card-divider {
                border-bottom: 1px solid #d3dce9;
                margin: 15px 0 15px 0;
            }
            .card-row {
                margin: 5px;
                & div.label {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                }
                & div.value {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #162d3d;
                    text-align: right;
                    &.trial-days {
                        font-weight: 600;
                        color: $color_primary;
                    }
                }
                .sign-up {
                    width: 100%;
                    height: 40px;
                    border: 0;
                    background: $color-primary;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: white;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    border-radius: 3px;
                    transition: 0.2s ease-in;
                    outline: none;
                    cursor: pointer;
                    margin-top: 15px;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
        .trial-days-wrapper{
            height: 12.8px;
        }
    }
}
