<div class="row no-gutters subscription-wrap">
    <div class="col-3 subscription-card" *ngFor="let subscribe of subscriptions;">
        <div class="card-body">
            <div class="tooltip-btn" *ngIf="subscribe.subscription.information != ''">
                <div class="tooltip-content">
                    {{subscribe.subscription.information}}
                </div>
            </div>
            <div class="card-title">{{subscribe.subscription.name}}</div>
            <div class="card-price">$ {{subscribe.subscription.price}}</div>
            <div class="card-time">{{membership[subscribe.subscription.membership]}}</div>
            <div class="card-divider"></div>
            <div class="card-row row no-gutters">
                <div class="col-8 label">Sing up fee</div>
                <div class="col-4 value">$ {{subscribe.subscription.registration_fee}}</div>
            </div>
            <div class="card-row row no-gutters">
                <div class="col-8 label">Age</div>
                <div class="col-4 value">{{subscribe.subscription.age}}</div>
            </div>
            <div class="trial-days-wrapper">
                <div class="card-row row no-gutters"
                     *ngIf="getTrialDaysLeft(subscribe.subscription.created_at, subscribe.subscription.trial_days) > 0">
                    <div class="col-8 label">Trial</div>
                    <div class="col-4 value trial-days">
                        {{getTrialDaysLeft(subscribe.subscription.created_at, subscribe.subscription.trial_days)}}&nbsp;day
                    </div>
                </div>
            </div>
            <div class="card-row row no-gutters">
                <div class="col-12">
                    <button class="sign-up" (click)="onCancel(subscribe.subscription)">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="!load">Loading...</div>
    <div class="col-12 no-data" *ngIf="subscriptions.length == 0 && load">
        No Subscriptions!
    </div>
</div>
