<section class="register">
    <!--<opn-header></opn-header>-->
    <div style="background-color: white; min-height: 100vh;" class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 left-side text-center">
                <a [routerLink]="['/auth/login']">
                    <img src="assets/images/logo.png" alt="OPN MAT">
                </a>
                <h4 class="welcome">Create academy</h4>
                <div class="steps" *ngIf="step <= 3">
                    <div class="spet-nuber">
                        step
                        <span>{{step}}</span> of 3
                    </div>
                    <div class="step-bar step{{step}}"></div>
                </div>
                <div class="row no-gutters" [ngSwitch]="step">
                    <div class="col-12 text-center" *ngSwitchCase="1">

                        <form [formGroup]="form1">
                            <div class="form-group">
                                <h6 class="text-left credentials">NAME</h6>
                                <input class="input-credentials" type="text" id="name" formControlName="name" placeholder="Business name">
                            </div>
                            <div class="form-group clearfix">
                                <h6 class="text-left credentials">LOCATION</h6>
                                <ng4geo-autocomplete class="text-left" [userSettings]="gaAutocompleteStings" (componentCallback)="autoCompleteCallback1($event)"
                                    required></ng4geo-autocomplete>
                            </div>
                            <div class="form-group">
                                <h6 class="text-left credentials">PHONE NUMBER</h6>
                                <input class="input-credentials" id="phone" formControlName="phone" type="tel" placeholder="267-535-4705" dropSpecialCharacters="false" mask="000-000-0000">
                            </div>
                            <!-- <div class="form-group">
                        <h6 class="text-left credentials">EMAIL</h6>
                        <input class="input-credentials" id="email" formControlName="email" type="email" placeholder="Email Adress" required>
                    </div> -->
                            <div class="text-right" style="margin-bottom: 60px">
                                <button class="button-submit" (click)="onSubmit1()">Next</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 text-center" *ngSwitchCase="2">
                        <div class="row">
                            <div class="col-12"><button class="sign-in-btn" (click)="toAcademyLogin()">Are you member? Sign in</button></div>
                            <div class="col-12 mt-4"><button class="sign-up-btn" (click)="toAcademyRegistration()">Create new account</button></div>
                        </div>
                    </div>
                    <div class="col-12 text-center" *ngSwitchCase="3">
                        <div class="row" [ngSwitch]="stepAction">
                            <div class="col-12" *ngSwitchCase="'login'">
                                <form [formGroup]="form3" class="form-margin">
                                    <div class="form-group">
                                        <h6 class="text-left credentials">EMAIL</h6>
                                        <input class="input-credentials" id="email" formControlName="email" type="email" required [ngClass]="displayFieldCss('email')">
                                    </div>
                                    <div class="form-group">
                                        <h6 class="text-left credentials">PASSWORD</h6>
                                        <input class="input-credentials" id="password" formControlName="password" type="password" [ngClass]="displayFieldCss('password')">
                                    </div>
                                    <!-- <p class="text-right">
                                  <a [routerLink]="['/auth/forgot']">Forgot password?</a>
                                </p> -->
                                    <div class="row">
                                        <div class="col-6 text-left">
                                            <p class="dont-have">
                                                Don't have an account?
                                                <br>
                                                <a (click)="stepAction = 'registration'">Sign up</a>
                                            </p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button class="button-submit" (click)="onSubmit3()">Sign in <div class="small-loader inline-block" *ngIf="loadIn"></div></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12" *ngSwitchCase="'registration'">
                                <form [formGroup]="form2" class="form-margin">
                                    <div class="form-group">
                                        <h6 class="text-left credentials">FIRST NAME</h6>
                                        <input class="input-credentials" type="text" id="firstName" formControlName="firstName">
                                    </div>
                                    <div class="form-group">
                                        <h6 class="text-left credentials">LAST NAME</h6>
                                        <input class="input-credentials" type="text" id="lastName" formControlName="lastName">
                                    </div>
                                    <div class="form-group">
                                        <h6 class="text-left credentials">EMAIL</h6>
                                        <input class="input-credentials" id="email" formControlName="email" type="email" required>
                                    </div>
                                    <div class="form-group address clearfix">
                                        <h6 class="text-left credentials">ADDRESS</h6>
                                        <ng4geo-autocomplete class="text-left" [class.has-error]="!(address && address.trim() !== '') || addressError" [userSettings]="gaAutocompleteStings"
                                            (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
                                    </div>
                                    <div class="form-group select-academy">
                                        <div class="form-group">
                                            <h6 class="text-left credentials">ACADEMY</h6>
                                            <select2 class="text-left" [data]="academies" [cssImport]="true" [width]="100" [options]="optionsAcademy" (valueChanged)="changeAcademy($event)"></select2>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h6 class="text-left credentials">Date of Birth</h6>
                                        <ng-datepicker [options]="dateOptions" [(ngModel)]="birthDay" [ngModelOptions]="{standalone: true}"></ng-datepicker>
                                    </div>
                                    <!-- <div class="form-group select-belt">
                                    <select2 [data]="belts" [cssImport]="true" [width]="100" [options]="optionsBelt" (valueChanged)="changeBelt($event)"></select2>
                                </div> -->
                                    <div class="form-group">
                                        <h6 class="text-left credentials">AGE</h6>
                                        <opn-ui-select-type [currentValue]="ageType" [dataSource]="[
                                    {value: 'junior', title: 'Junior'},
                                    {value: 'adult', title: 'Adult'}
                                  ]" (change)="onChangeAge($event)"></opn-ui-select-type>
                                    </div>
                                    <opn-belts [colors]="colorsBelt" [belts]="arrBelts" (change)="onChangeColor($event)" (changeBelt)="changeBeltColor($event)"></opn-belts>
                                    <!-- <div class="form-group">
                                    <input id="weight" formControlName="weight" type="text" placeholder="Weight" [ngClass]="displayFieldCss('weight')">
                                    <i class="ion-alert" [ngClass]="displayFieldCss('weight')" tooltip="This field is required" [tooltipDisabled]="!isFieldValid('weight')" [tooltipAnimation]="true" tooltipPlacement="left"></i>
                                </div> -->
                                    <div class="form-group select-academy">
                                        <div class="form-group">
                                            <h6 class="text-left credentials">WEIGHT</h6>
                                            <input type="number" step="5" min="1" id="weight" formControlName="weight">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h6 class="text-left credentials">PASSWORD</h6>
                                        <input id="password" formControlName="password" type="password">
                                    </div>
                                    <div class=" form-group ">
                                        <h6 class="text-left credentials">CONFIRM PASSWORD</h6>
                                        <input id="passwordConfirm" formControlName="passwordConfirm" type="password">
                                    </div>
                                    <div class="text-right" style="margin-bottom: 30px;">
                                        <p *ngIf="addressError" class="text-center allSaved" style="color: #ff0000;">Please select your address from the drop-down list.</p>
                                        <button class="button-submit" (click)="onSubmit2()">Sign up <div class="small-loader inline-block" *ngIf="loadUp"></div></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 carousel right-side" style="position: relative;">
                <div style="position: fixed; width: 66.66666667%">
                    <carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                        <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
                            <div style="background-color: rgb( 23, 42, 71 ); z-index: -111;">
                                <img src="/assets/images/BG.jpg" class="slide-img">
                            </div>
                            <div class="carousel-caption" style="bottom: 200px;">
                                <img class="icon-with" src="assets/images/icons/some.png">
                                <h3 class="slide-title">{{slidez.title}}</h3>
                                <p class="slide-text">{{slidez.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
                <!--<img src="assets/images/icons/some.png">-->
            </div>
        </div>
    </div>
</section>
