@import '../../../../variables';
$border-radius: 3px;
$input-color: #bababa;
section.register {
    //min-height: 100vh;
    //background: url("/assets/images/BG.jpg") center no-repeat;
    //background-size: cover;
    .steps {
        text-align: center;
        margin: 40px 0 30px 0;
        .spet-nuber {
            font-family: "MuseoSansCyrl";
            font-weight: 900;
            font-size: 11px;
            text-transform: uppercase;
        }
        .step-bar {
            width: 110px;
            height: 6px;
            background: #efefef 70%;
            border-radius: 2px;
            display: inline-block;
            &.step1 {
                &::after {
                    width: 33%;
                    height: 6px;
                    display: block;
                    content: '';
                    background: #4ca1ff;
                    border-radius: 2px 0 0 2px;
                    transition: 0.4s ease-in;
                }
            }
            &.step2 {
                &::after {
                    width: 67%;
                    height: 6px;
                    display: block;
                    content: '';
                    background: #4ca1ff;
                    border-radius: 2px 0 0 2px;
                    transition: 0.4s ease-in;
                }
            }
            &.step3 {
                &::after {
                    width: 100%;
                    height: 6px;
                    display: block;
                    content: '';
                    background: #4ca1ff;
                    border-radius: 2px 0 0 2px;
                    transition: 0.4s ease-in;
                }
            }
        }
    }
    .sign-in-btn{
        width: 100%;
        line-height: 16px;
        height: 50px;
        border: 0;
        background: #f1f2f5;
        color: #cdcfd6;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        margin-left: 10px;
        border-radius: 2px;
        transition: 0.2s ease-in;
        outline: none;
        cursor: pointer;
        &:hover{
            box-shadow: none;
        }
    }
    .sign-up-btn{
        width: 100%;
        line-height: 16px;
        height: 50px;
        border: 0;
        background: #4ca1ff;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        color: white;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        margin-left: 10px;
        border-radius: 2px;
        transition: 0.2s ease-in;
        outline: none;
        cursor: pointer;
        &:hover{
            box-shadow: none;
        }
    }
    .form-head {
        margin-bottom: 40px;
        h1 {
            font-family: $font-family-cond;
            font-size: $h1-size;
            text-align: center;
            font-weight: 400;
        }
        p {
            font-family: $font-family;
            font-size: 16px;
            color: $gray;
            text-align: center;
        }
    }
    .auth-box {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
        border-radius: $border-radius;
        margin: 70px 0 5px 0;
        padding: 30px;
        max-width: 540px;
    }
    .form-group {
        margin-bottom: 10px;
        position: relative;
        input {
            width: 100%;
            border: 1px solid $white-gray;
            border-radius: $border-radius;
            height: 42px;
            padding: 0 22px;
            outline: none;
            font-family: $font-family-cond;
            color: $dark;
            &::-moz-placeholder {
                color: $input-color;
                font-weight: 300;
            }
            &::-webkit-input-placeholder {
                color: $input-color;
                font-weight: 300;
            }
            &:-ms-input-placeholder {
                color: $input-color;
                font-weight: 300;
            }
            &:-moz-placeholder {
                color: $input-color;
                font-weight: 300;
            }
            &.ng-invalid.ng-touched {
                border-color: $red;
            }
            &:focus {
                box-shadow: 0 0 9px rgba(79, 157, 191, 25);
            }
        }
        i {
            width: 10px;
            height: 18px;
            line-height: 15px;
            text-align: center;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: $gray;
            font-weight: 300;
            font-size: 13px;
            &.has-error {
                color: $red;
                cursor: help;
            }
        }
    }
    .button-submit {
        width: 100%;
        height: 42px;
        border-radius: $border-radius;
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
        background-color: rgb( 76, 151, 255);
        font-family: $font-family-cond;
        font-size: 16px;
        color: $white;
        border: 0;
        cursor: pointer;
        outline: none;
        height: 50px;
        transition: 0.2s ease-in;
        &:hover {
            box-shadow: none;
        }
    }
    .left-side {
        margin-top: 60px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .right-side {
        padding-left: 0px;
        padding-right: 0px;
    }
    .welcome {
        font-size: 32px;
        font-family: "MuseoSansCyrl";
        color: rgb( 50, 56, 68);
        line-height: 1.25;
        height: 23px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .login-via-email {
        font-size: 15px;
        font-family: "MuseoSansCyrl";
        color: rgb( 32, 47, 59);
        opacity: 0.702;
    }
    .credentials {
        font-size: 11px;
        font-family: "MuseoSansCyrl";
        color: rgb( 202, 211, 221);
        text-transform: uppercase;
    }
    .form-margin {
        margin-top: 50px;
    }
    .input-credentials {
        width: 100%;
        border: 1px solid rgb( 197, 202, 207);
        border-radius: 3px;
        height: 50px;
        padding: 0 22px;
        outline: none;
        font-family: 'Proxima Nova Condensed';
        color: #333333;
    } //.carousel{
    //    background: url('/assets/images/BG.jpg') center no-repeat;
    //    min-height: 100vh;
    //    background-size: cover;
    //}
    .academy-button {
        cursor: pointer;
        background-color: white;
        width: 50%;
        height: 60px;
        border-radius: 5px;
        border: 1px solid rgb( 197, 202, 207);
        margin-top: 30px;
    }
    .slide-title {
        font-size: 28px;
        font-family: "MuseoSansCyrl";
        color: rgb( 255, 255, 255);
    }
    .slide-text {
        font-size: 15px;
        font-family: "MuseoSansCyrl";
        color: rgb( 255, 255, 255);
        background-color: transparent;
        color: white;
    }
    .slide-img {
        opacity: 0.5;
        height: 945px;
    }
    .icon-with {
        width: 55px;
        margin-bottom: 20px;
    }
    @media (max-width: 1700px) {
        .left-side {
            margin-top: 60px;
            padding-left: 70px;
            padding-right: 70px;
        }
        .dont-have {
            font-size: 13px;
            a {
                color: #007bff;
                cursor: pointer;
                &:hover {
                    color: #0056b3;
                    text-decoration: underline;
                }
            }
        }
        .welcome {
            font-size: 26px;
            font-family: "MuseoSansCyrl";
            color: rgb( 50, 56, 68);
            line-height: 1.25;
            height: 23px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 1366px) {
        .left-side {
            margin-top: 60px;
            padding-left: 70px;
            padding-right: 70px;
        }
        .welcome {
            font-size: 26px;
            font-family: "MuseoSansCyrl";
            color: rgb( 50, 56, 68);
            line-height: 1.25;
            height: 23px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .credentials {
            font-size: 11px;
            font-family: "MuseoSansCyrl";
            color: rgb( 202, 211, 221);
            text-transform: uppercase;
        }
        .form-margin {
            margin-top: 50px;
        }
        .input-credentials {
            width: 100%;
            border: 1px solid rgb( 197, 202, 207);
            border-radius: 3px;
            height: 50px;
            padding: 0 22px;
            outline: none;
            font-family: 'Proxima Nova Condensed';
            color: #333333;
        }
        .academy-button {
            cursor: pointer;
            background-color: white;
            width: 50%;
            height: 60px;
            border-radius: 5px;
            border: 1px solid rgb( 197, 202, 207);
            margin-top: 30px;
        }
        .title {
            /* чтобы линии не выходили за ширину блока заголовка */
            overflow: hidden;
            margin-top: 20px;
        }
        .title:before,
        .title:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 100%;
            height: 1px;
            background: rgb( 211, 220, 233);
            border: solid #FFF;
            border-width: 0 10px;
        }
        .title:before {
            margin-left: -100%;
        }
        .title:after {
            margin-right: -100%;
        }
        .slide-title {
            font-size: 28px;
            font-family: "MuseoSansCyrl";
            color: rgb( 255, 255, 255);
        }
        .slide-text {
            font-size: 15px;
            font-family: "MuseoSansCyrl";
            color: rgb( 255, 255, 255);
            background-color: transparent;
            color: white;
        }
        .slide-img {
            opacity: 0.5;
            height: 945px;
        }
        .icon-with {
            width: 55px;
            margin-bottom: 20px;
        }
    }
    @media (max-height: 768px) {
        .slide-img {
            opacity: 0.5;
            height: 768px;
        }
    }
}
