<div class="payment-form">
    <form (ngSubmit)="getToken($event)">
        <div class="payment-group">
            <div class="selelct-cards">
                <button type="button" #current class="select-btn" (click)="onToggle($event)" (blur)="statusSelect(false)">Select your card</button>
                <div class="wrap-options" #selectOptions>
                    <div class="option-card" *ngFor="let card of meCards" (mousedown)="onSelectCard(card)">
                        <div class="card-number">{{card.brand}} **** **** **** {{card.last4}}</div>
                    </div>
                    <div class="option-card new" (mousedown)="onNewCard($event)">New Card</div>
                </div>
            </div>
        </div>

        <div class="payment-group" [class.d-none]="!addStatus">
            <div id="card-element" class="field" #card></div>
        </div>
        <div #error class="payment-errors"></div>
        <div class="payment-list" *ngIf="listData">
            <ul>
                <li *ngFor="let list of listData;">
                    <span class="list-name">{{list.name}}:</span>
                    <span class="list-amount">$ {{list.amount}}</span>
                </li>
                <li class="total-class">
                    <span class="list-name">Total:</span>
                    <span class="list-amount">$ {{total}}</span>
                </li>
            </ul>
        </div>

        <button class="payment-btn" type="submit" [disabled]="paymentType == '' || process">Confirm and pay <div class="small-loader inline-block" *ngIf="load"></div></button>
    </form>
</div>
