<div class="col-12 search-bar-wrapper">
    <div class="col-4 search-input-wrapper">
        <input type="text" placeholder="Search" class="search-input" [(ngModel)]="productName"
               (keyup.enter)="searchProducts()">
        <i class="fa fa-search pointer" (click)="searchProducts()"></i>
    </div>
    <span class="sort-by" (click)="toggleSortByPrice()">Sort by Price
            <i class="fa fa-chevron-down" [hidden]="!isPriceIncreasing"></i>
            <i class="fa fa-chevron-up" [hidden]="isPriceIncreasing"></i>
        </span>
</div>
<div class="col-12 products-list-wrapper" *ngIf="products">
    <opn-academy-product-card [product]="product" *ngFor="let product of products"></opn-academy-product-card>
    <div class="view-more" *ngIf="productsCount > limit" (click)="onViewMore()">View more</div>
</div>
