@import "../../../../../../variables";
.search-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    .search-input-wrapper{
        position: relative;
        padding: 0;
        .search-input{
            width: 98%;
            padding: 9px 44px 9px 15px;
            border-radius: 3px;
            outline: 0;
            border: 1px solid #d3dce9;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            transition: border-color 0.4s;
            color: #757575;
            font-family: "MuseoSansCyrl", serif;
        }
        .fa-search {
            position: absolute;
            right: 22px;
            top: 11px;
            color: $icon-gray;
        }
    }
    .sort-by {
        color: $color-primary;
        cursor: pointer;
    }
}

.products-list-wrapper {
    padding: 0;
    /deep/ opn-academy-product-card {
        &:nth-child(4n+4) {
            .card-wrapper {
                margin-right: 0 !important;
            }
        }
    }
    .view-more {
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid $border-gray;
        background: #fff;
        margin: 10px auto;
        cursor: pointer;
    }
}
