<main class="row no-gutters justify-content-center">
  <div class="col-12 max-content">
    <div class="content-card-100">
      <opn-profile-followers></opn-profile-followers>
    </div>
  </div>
</main>