.row-event_id{
  position: absolute;
  top: 5px;
  left: 0;
}
.event-wrap{
  position: absolute;
  top: 5px; 
  height: 60px;
  border: 1px solid;
  border-left: 3px solid;
  padding: 8px 10px;
  cursor: pointer;

  .name{
    font-size: 13px;
    font-family: "MuseoSansCyrl";
    color: #141e2a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subscriptions{
    font-size: 13px;
    font-family: "MuseoSansCyrl";
    color: rgba($color: #141e2a, $alpha: 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subscriptions{
    font-size: 13px;
    font-family: "MuseoSansCyrl";
    color: rgba($color: #141e2a, $alpha: 0.8);
    .more{
      color: #4ca1ff;
      font-size: 12px;
      font-family: "MuseoSansCyrl";
      font-weight: 500;
      cursor: pointer;
      position: relative;
      &:hover{
        text-decoration: underline;
      }
    }
    .subs-list{
      /*border: 1px solid #d4e0ec;
      border-radius: 3px;
      background: white;
      box-shadow: 0 4px 8px rgba($color: #172a47, $alpha: 0.25);
      position: absolute;
      top: 25px;
      right: -30px;
      padding: 30px;
      z-index: 10;*/
    }
  }
}