<div class="row-event_id" #rowEvent></div>
<div class="event-wrap" [id]="event.id" [ngStyle]="event.stEvent" [style.border-color]="event.colorBorder" [style.background]="event.colorBg" *ngFor="let event of events;" (click) = "onClickEvent(event.meta)">
    <div class="name" [title]="event.name">
        {{(event.meta.type != 'class' && event.meta.type != 'holiday') ? (event.payment && event.payment == 'fee') ? '$' + event.price + ' - ' : 'free - ' : '' }} {{event.name}}
    </div>
    <div class="subscriptions" *ngIf="event.subscriptions?.length == 1">
        {{event.subscriptions[0].subscription.name}}
    </div>
    <div class="subscriptions" *ngIf="event.subscriptions?.length > 1">
        Combo <span class="more" (click)="event.isOpen = !event.isOpen">
            {{event.subscriptions.length}} more
        </span>
        <opn-week-subs-list *ngIf="event.isOpen" [pos]="alertPos" [subscriptions]="event.subscriptions"></opn-week-subs-list>
    </div>
</div>