<nb-card>
    <nb-card-header>Created users/academies</nb-card-header>
    <nb-card-body>
        <div class="row justify-content-around">
            <div class="col-auto activity-card">
                <div class="legend">
                    <div class="numbers">{{usersCount}}</div>
                    <div class="name">Users</div>
                </div>
                <round-progress [current]="usersCount" [max]="usersCount" [stroke]="10" [radius]="65" [semicircle]="false"
                    [rounded]="false" [responsive]="false" [clockwise]="true" [color]="'#f18849'" [background]="'#d3dce9'"
                    [duration]="800" [animation]="'easeOutCubic'" [animationDelay]="0">
                </round-progress>
            </div>
            <div class="col-auto activity-card">
                <div class="legend">
                    <div class="numbers">{{academiesCount}}</div>
                    <div class="name">Academies</div>
                </div>
                <round-progress [current]="academiesCount" [max]="academiesCount" [stroke]="10" [radius]="65"
                    [semicircle]="false" [rounded]="false" [responsive]="false" [clockwise]="true" [color]="'#ff4f81'"
                    [background]="'#d3dce9'" [duration]="800" [animation]="'easeOutCubic'" [animationDelay]="0">
                </round-progress>
            </div>
            <div class="col-auto activity-card">
                <div class="legend">
                    <div class="numbers">{{proAcademiesCount}}</div>
                    <div class="name">Pro academies</div>
                </div>
                <round-progress [current]="proAcademiesCount" [max]="proAcademiesCount" [stroke]="10" [radius]="65"
                    [semicircle]="false" [rounded]="false" [responsive]="false" [clockwise]="true" [color]="'#f3d928'"
                    [background]="'#d3dce9'" [duration]="800" [animation]="'easeOutCubic'" [animationDelay]="0">
                </round-progress>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-hero-primary btn-with-icon float-right" (click)="onMore()">
            <i class="ion-more"></i>
            <span>More</span>
        </button>
    </nb-card-footer>
</nb-card>
