@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

    $padding: 1rem;
    nb-card{
        width: 100%;
    }
    nb-card-body {
        overflow: hidden;
        padding: $padding;
    }

    .activity-card {
        position: relative;

        .legend {
            width: 60px;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);

            .numbers {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 18px;
                color: #202f3b;
                text-align: center;
            }

            .name {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 13px;
                color: #90949c;
                text-align: center;
            }
        }
    }


    @include nb-for-theme(cosmic) {
        color: nb-theme(color-fg-heading);

        .value {
            color: nb-theme(color-fg-highlight);
        }

        .details span {
            color: nb-theme(color-fg);
        }
    }

    @include media-breakpoint-down(xs) {
        .value {
            font-size: 1.75rem;
        }
    }
}
