<div class="sl-wrapper" *ngIf="subscriptions.length > 0">
    <div class="sub" *ngFor="let sub of subscriptions">
        <div class="sub-info-wrapper row no-gutters">
            <div class="sub-name col-4">{{sub.subscription.name}}</div>
            <div class="sub-academy col-3">{{sub.subscription.academy.name}}</div>
            <div class="sub-price col-3 text-right"> ${{sub.subscription.price}}/Month</div>
            <div class="col-2">
                <button class="sign-up" *ngIf="!sub.is_cancel" (click)="onCancelNotification(sub)">Cancel
                    <div class="small-loader inline-block" *ngIf="sub.joinLoader"></div>
                </button>
                <button class="sign-up" disabled *ngIf="sub.is_cancel">Pending</button>
            </div>
        </div>
    </div>
</div>
