@import '../../../../../variables';
%blue-text {
    font-family: "MuseoSansCyrl", serif;
    font-weight: 300;
    font-size: 14px;
    color: #4ca1ff;
}

.sl-wrapper {
    .sub {
        margin-bottom: 20px;
        .sub-info-wrapper {
            .sub-name {
                font-family: "MuseoSansCyrl", serif;
                font-weight: 500;
                font-size: 16px;
                color: #202f3b;
                padding-right: 20px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .sub-academy {
                @extend %blue-text; 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .sub-price {
                @extend %blue-text;
                font-size: 15px;
                padding: 0 20px;
            }
            .sign-up {
                width: 100%;
                height: 40px;
                border: 0;
                background: $color-primary;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: white;
                box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                border-radius: 3px;
                transition: 0.2s ease-in;
                outline: none;
                cursor: pointer;
                &:hover {
                    box-shadow: none;
                }
                &[disabled] {
                    background: #f1f2f5;
                    color: #cdcfd6;
                    outline: none;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}
