%accept {
    background: #4ca1ff;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
    &:hover {
        box-shadow: none;
    }
}

.modal-wrapper {
    background: rgba(22, 42, 53, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(22, 42, 53, 0.8);
    top: 0;
    left: 0;
    z-index: 999999999999;
    .add-belt-wrapper {
        width: 540px;
        background: white;
        padding: 25px 20px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;

        .add-belt-title {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
            margin: 10px;
        }

        .age-wrapper {
            margin-bottom: 16px;
            .age-title {
                white-space: nowrap;
                font-size: 11px;
                font-family: "MuseoSansCyrl", serif;
                color: #cad3dd;
                text-transform: uppercase;
            }
        }

        .belts-wrapper {
            margin-bottom: 30px;
        }

        .cancel-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            &.cancel-modal {
                width: 14px;
                height: 14px;
                background: url("/assets/images/icons/close.png") center no-repeat;
                padding: 0;
                cursor: pointer;
                transform: translateY(2px);
                transition: 0.2s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .btn-wrapper {
            display: flex;
            justify-content: center;
            .add-btn {
                background: #f1f2f5;
                color: #cdcfd6;
                cursor: default;
                width: 40%;
                height: 54px;
                border: 0;
                border-radius: 2px;
                outline: none;
                &.accept{
                    @extend %accept;
                }
            }
            .close-btn{
                width: 40%;
                height: 54px;
                border: 0;
                border-radius: 2px;
                outline: none;
                @extend %accept
            }
        }
        .success-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .success-icon {
                width: 55px;
            }
            .success-content{
                margin: 15px 0;
                font-size: 20px;
            }
            .btn-wrapper{
                width: 100%;
                margin: 15px 0 0;
            }
        }
    }
}
