<div class="modal-wrapper">
    <div class="add-belt-wrapper">
        <div *ngIf="!isAdded && user">
            <div class="cancel-btn cancel-modal" (click)="onClose()"></div>
            <div class="add-belt-title">
                PROMOTE
            </div>
            <div class="age-wrapper">
                <h6 class="text-left age-title">Ranking age</h6>
                <opn-ui-select-type-setting [currentValue]="userAgeType" [dataSource]="[
            {value: 'junior', title: 'Junior'},
            {value: 'adult', title: 'Adult'}
          ]" (change)="onChangeAge($event)"></opn-ui-select-type-setting>
            </div>
            <div class="belts-wrapper" *ngIf="arrBelts.length > 0">
                <opn-belts
                    [current]="user?.belt" [colors]="colorsBelt" [belts]="arrBelts"
                    (change)="onChangeColor($event)" (changeBelt)="changeBeltColor($event)"></opn-belts>
            </div>
            <div class="btn-wrapper" *ngIf="user">
                <button class="add-btn"
                        [ngClass]="{'accept' : beltId !== user?.belt.id}"
                        [disabled]="beltId === user?.belt.id" (click)="addBelt()"> Add
                </button>
            </div>
        </div>
        <div *ngIf="isAdded" class="success-wrapper">
            <div><img src="assets/images/icons/success.png" class="success-icon"></div>
            <div class="success-content">You have promoted this student</div>
            <div class="btn-wrapper">
                <button class="close-btn" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
