<div class="nt-date">{{ dataSource.created_at | date: 'd MMM y' }}</div>
<div class="nt-text">
    <span [innerHtml]="dataSource.content | keepHtml"></span>
    <a (click)="toOrder()" *ngIf="dataSource.details.order_id">#{{dataSource.details.order_id}}</a>
</div>
