.list-subscriptions{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 200px;
    li.list-item{
        display: block;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        span{
            display: block;
            height: 36px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &>li.list-item.has-child{
        padding: 0 30px 0 10px;
        position: relative;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover{
            border-color: #d3dce9;
        }
        &:after{
            width: 20px;
            text-align: right;
            color: #c2c2c2;
            font-size: 13px;
            display: inline-block;
            font-family: Ionicons;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            content: "\F123";
        }
        ul.child-list{
            display: none;
            list-style: none;
            padding: 0;
            border: 1px solid #d3dce9;
            position: absolute;
            top: 36px;
            left: 0;
            min-width: 100%;
            background: white;
            li.list-item{
                height: 46px;
                line-height: 46px;
            }
        }
        &.open{
            ul.child-list{
                display: block;
            }
        }
    }
}