<ul class="list-subscriptions">
    <li #listEl class="list-item"  [ngClass]="{'has-child': list.length > 0}" (click)="onToggleList($event)">
        <span>{{firstaName}}</span>
        <ul class="child-list">
            <li class="list-item" *ngFor="let item of list;">
                <span>{{item}}</span>
            </li>
        </ul>
    </li>
</ul>
