<div *ngIf="isManager" class="manager-panel d-flex justify-content-center">
    <div class="col-12 max-content p-0">
        <div class="manager-panel-container row no-gutters justify-content-between align-items-center">
            <ul class="mg-menu col-auto">
                <li class="mg-menu-item">
                    <a [routerLink]="['/academiy-datail', academyId]" routerLinkActive="active-link">Home</a>
                </li>
                <li class="mg-menu-item pointer" (click)="router.navigate(['/academiy-datail', academyId, 'messages'])">
                    <a class="academy-messages">Messages</a>
                    <span class="new-messages-indicator" *ngIf="newMessagesCount > 0">{{newMessagesCount}}</span>
                </li>
                <li class="mg-menu-item">
                    <a [routerLink]="['/academiy-datail', academyId, 'activities']" routerLinkActive="active-link">Activity</a>
                </li>
                <li class="mg-menu-item">
                    <a [routerLink]="['/academiy-datail', academyId, 'students']" routerLinkActive="active-link">Students</a>
                </li>
                <li class="mg-menu-item">
                    <a [routerLink]="['/academiy-datail', academyId, 'settings']" routerLinkActive="active-link">Settings</a>
                </li>
                <li class="mg-menu-item has-childs" *ngIf="isPro">
                    <a>Shop</a>
                    <ul class="menu-child">
                        <li class="menu-child-item">
                            <a (click)="goToLink('/shop/add-product')">Add product</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/shop/products')">Products</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/shop/orders')">Orders</a>
                        </li>
                    </ul>
                </li>
                <li class="mg-menu-item has-childs" *ngIf="isPro">
                    <a>Bussiness</a>
                    <ul class="menu-child">
                        <li class="menu-child-item">
                            <a (click)="goToLink('/teachers-techniques')">Teachers &amp; Techniques</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/classes')">Classes</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/schedule')">Schedule</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/create-subscriptions')">Subscriptions</a>
                        </li>
                        <li class="menu-child-item">
                            <a (click)="goToLink('/belt-settings')">Belt settings</a>
                        </li>
                    </ul>
                </li>
                <li class="mg-menu-item">
                    <a [routerLink]="['/academiy-datail', academyId, 'classes', 'check-in']" routerLinkActive="active-link">Manual check-in</a>
                </li>
            </ul>
            <div class="col-auto">
                <button class="go-pro-btn d-block" [class.pro]="isPro" (click)="onOpenPro()">
                    {{(isPro)?'Pro':'Upgrade'}}
                </button>
            </div>
        </div>
    </div>
</div>
