.n-informer{
  text-align: center;
  position: relative;
  img{
    display: inline-block;
  }
  &.unread:after{
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #f91656;
    position: absolute;
    border: 3px solid #ffffff;
    top: -3px;
    right: -3px;
    box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.5);
  }
  .notifications-count {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 15.5px;
    border-radius: 50%;
    background: #f91656;
    top: -8px;
    right: -3px;
    font-size: 11px;
    color: #fff;
}
}