@import '../../../../../../../_variables';
$border-radius: 3px;
$input-color: #bababa;

.modal-box {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    z-index: 999999999999;

    .overlay-modal-bg {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
    }

    .modalConteiner {
        width: 540px;
        background: white;
        padding: 25px 0;
        position: absolute;
        top: 30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: 30px;

        .modal-panel {
            margin: 0;

            .close-modal {
                width: 14px;
                height: 14px;
                background: url("/assets/images/icons/close.png") center no-repeat;
                padding: 0;
                cursor: pointer;
                transform: translateY(2px);
                transition: 0.2s ease-in-out;
                margin-right: 30px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .modal-head {
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 34px;
            color: #323844;
            text-align: left;
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            padding-left: 30px;
        }

        .modal-body {
            padding: 0 30px;

            .addded-alert {
                font-family: "MuseoSansCyrl";
                text-align: center;

                .alert-text {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 24px;
                    color: #323844;
                    text-align: center;
                }
            }

            .form-group {
                margin-bottom: 10px;
                position: relative;

                input {
                    width: 100%;
                    border: 1px solid $white-gray;
                    border-radius: $border-radius;
                    height: 42px;
                    padding: 0 22px;
                    outline: none;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    color: $dark;

                    &::-moz-placeholder {
                        color: $input-color;
                        font-weight: 300;
                    }

                    &::-webkit-input-placeholder {
                        color: $input-color;
                        font-weight: 300;
                    }

                    &:-ms-input-placeholder {
                        color: $input-color;
                        font-weight: 300;
                    }

                    &:-moz-placeholder {
                        color: $input-color;
                        font-weight: 300;
                    }

                    /*&.ng-invalid.ng-touched {
            border-color: $red;
          }*/
                    &:focus {
                        box-shadow: 0 0 9px rgba(79, 157, 191, 25);
                    }
                }

                i {
                    width: 10px;
                    height: 18px;
                    line-height: 15px;
                    text-align: center;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $gray;
                    font-weight: 300;
                    font-size: 13px;
                    display: none;

                    &.has-error {
                        display: block;
                        color: $red;
                        cursor: help;
                    }
                }

                .done-text {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 16px;
                    color: #4ca1ff;
                    text-align: center;
                    margin: 15px 0 0 0;
                }

                .button-submit {
                    width: 100%;
                    height: 40px;
                    border: 0;
                    background: #4ca1ff;
                    color: white;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    font-family: "MuseoSansCyrl";
                    margin: 35px 0 5px 0;
                    border-radius: 2px;
                    transition: 0.2s ease-in;
                    outline: none;
                    float: left;
                    cursor: pointer;

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

div[perfectScrollbar] {
    margin-top: 10px;
    max-height: 300px;
    position: relative;
}

.new-box {
    padding: 0 45px;

    .new-academy-btn {
        width: 100%;
        height: 40px;
        border: 0;
        background: #4ca1ff;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: white;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        border-radius: 3px;
        transition: 0.2s ease-in;
        outline: none;
        cursor: pointer;
        margin-top: 30px;

        &:hover {
            box-shadow: none;
        }
    }
}

@media (min-width: 1492px) {
    .overlay-modal-bg {
        left: 0px;
    }
}
