<div class="modal-box" *ngIf="thisOpen">
    <div class="overlay-modal-bg" (click)="closeModal()"></div>
    <div class="modalConteiner">
        <div class="row modal-panel no-gutters justify-content-between">
            <div class="col-auto modal-head">
                {{ (step == 1) ? 'My academies' : 'Create Academy' }}
            </div>
            <div class="col-auto close-modal" (click)="closeModal()"></div>
        </div>
        <div class="row" [ngSwitch]="step">
            <div class="col-12" *ngSwitchCase="1">
                <div perfectScrollbar>
                    <opn-list-academy *ngFor="let academy of myAcademies;" [academy]="academy" (onSelect)="closeModal()"></opn-list-academy>
                </div> 
            </div>
        </div>
    </div>
</div>
