<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="products-card">
    <div class="pc-header row">
        <div class="pc-title col-7 no-gut">All Products</div>
        <div class="header-actions col-5 no-right-gut">
            <div class="col-7 search-input-wrapper">
                <input type="text" placeholder="Search" class="search-input" [(ngModel)]="productName" (keyup)="searchProducts()">
                <i class="fa fa-search pointer" (click)="searchProducts()"></i>
            </div>
            <div class="col-5 no-right-gut add-product-btn-wrapper">
                <div class="add-product-btn" (click)="toCreateProduct()">
                    Add product
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="pc-body">
                <thead>
                    <tr class="pc-table-header">
                        <th>
                            <span class="pcth-image">Image</span>
                        </th>
                        <th>
                            <span class="pcth-product-name">Product name</span>
                        </th>
                        <th>
                            <span class="pcth-price">Price</span>
                        </th>
                        <th>
                            <span class="pcth-shipping">Shipping</span>
                        </th>
                        <th>
                            <span class="pcth-qty">Q-ty</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="pc-table-body" *ngIf="products">
                    <tr class="pc-table-row" *ngFor="let product of products; let i = index;" [class.not-show]="!product.show">
                        <!-- <opn-ui-checkbox-2 [check]="product?.checked"
                                   (changeCheckbox)="product.checked = !product.checked; onCheckRow($event);"></opn-ui-checkbox-2> -->
                        <td class="pctb-image">
                            <img src="{{product.images[0] ? baseUrl + product.images[0].url : noPhoto}}" alt="">
                        </td>
                        <td class="pctb-product-name">
                            <div class="product-name-block">
                                <div class="product-name">{{product.title}}</div>
                                <div class="product-desc">{{product.description}}</div>
                            </div>
                        </td>
                        <td class="pctb-price">
                            <span class="price-block">$ {{product.price}}</span>
                        </td>
                        <td class="pctb-shipping">
                            <span class="shipping-block" [hidden]="!(product.shipping_price > 0)">{{'$ ' + product.shipping_price}}</span>
                            <span class="free-shipping" [hidden]="product.shipping_price > 0">Free shipping</span>
                        </td>
                        <td class="pctb-qty">{{product.quantity}}</td>
                        <td class="pctb-controls">
                            <img class="edit-btn" src="/assets/images/icons/icon-edit.png" alt="" [routerLink]="product.id">
                            <img class="eye-btn" src="/assets/images/icons/eye.png" *ngIf="product.show" (click)="onChangeShow(product, i)">
                            <img class="eye-hide-btn" src="/assets/images/icons/eye-hide.png" *ngIf="!product.show" (click)="onChangeShow(product, i)">
                            <img class="delete-btn" src="/assets/images/icons/delete-blue.png" alt="" (click)="onRemove(product)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row no-gutters justify-content-between pagination" *ngIf="products?.length > 0">
        <div class="col-auto">
            <opn-per-page [dataSource]="perPageOptions" [currentValue]="limit" (change)="onChangePerPage($event)"></opn-per-page>
        </div>
        <div class="col-auto pages" *ngIf="pagintion.show">
            <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">
                {{p}}
            </div>
        </div>
    </div>
</div>
