@import "../../../../../variables";

.products-card {
    @extend %card-styles;
    margin: 20px 0 20px 30px;
    font-family: 'MuseoSansCyrl', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .pc-header {
        @extend %border-bottom;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 30px;
        .pc-title {
            font-weight: 500;
            font-size: 15px;
            color: #202f3b;
            font-family: "MuseoSansCyrl", serif;
        }
        .header-actions {
            display: flex;
            .search-input-wrapper {
                position: relative;
                padding: 0;
                .search-input {
                    width: 98%;
                    padding: 9px 44px 9px 15px;
                    border-radius: 3px;
                    outline: 0;
                    border: 1px solid #d3dce9;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    transition: border-color 0.4s;
                    color: #202f3b;
                    font-family: "MuseoSansCyrl", serif;
                }
                .fa-search {
                    position: absolute;
                    right: 22px;
                    top: 11px;
                    color: $icon-gray;
                }
            }
            .add-product-btn-wrapper {
                .add-product-btn {
                    background: $color-primary;
                    color: #fff;
                    font-weight: 300;
                    font-size: 14px;
                    font-family: "MuseoSansCyrl", serif;
                    box-shadow: 0 3px 4px rgba($color: #5b6074, $alpha: 0.3);
                    transition: 0.2s;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 3px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .pc-body {
        margin: 30px;
        width: calc( 100% - 60px );
        .pc-table-header {
            @extend %border-bottom;
            font-weight: 500;
            .pcth-image {
                width: 80px;
            }
            th span{
                display: inline-block;
                color: #172a47;
                font-weight: 500;
                font-size: 13px;
                font-family: "MuseoSansCyrl", serif;
                padding: 5px 0 10px 0;
            }
            .pcth-controls {
                font-size: 1.15rem;
                line-height: 24px;
                text-align: right;
                .red-trash-btn {
                    width: 16px;
                    height: 18.5px;
                    object-fit: cover;
                }
                .eye-btn {
                    margin-right: 9px;
                }
            }
        }
        .pc-table-row {
            @extend %border-bottom;
            .pctb-image {
                img {
                    width: 50px;
                    object-fit: cover;
                }
            }
            .pctb-product-name {
                .product-name-block {
                    display: inline-block;
                    .product-name {
                        color: #4ca1ff;
                        font-weight: 300;
                        font-size: 14px;
                        font-family: "MuseoSansCyrl", serif;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding-top: 5px;
                    }
                    .product-desc {
                        color: #3a4a57;
                        font-weight: 300;
                        font-size: 12px;
                        font-family: "MuseoSansCyrl", serif;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: pre-wrap;
                    }
                }
            }

            .pctb-price {
                color: #4ca1ff;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
                .price-block {
                    text-align: left;
                }
            }
            .pctb-shipping {
                color: #1c2836;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
            }
            .pctb-qty {
                color: #1c2836;
                font-weight: 300;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
            }
            .pctb-controls {
                font-size: 1.15rem;
                line-height: 24px;
                text-align: right;
                .edit-btn {
                    object-fit: cover;
                    cursor: pointer;
                    outline: none;
                }
                .delete-btn {
                    object-fit: cover;
                    cursor: pointer;
                    outline: none;
                }
            }
            &.not-show{
                .pctb-image,
                .pctb-product-name,
                .pctb-price,
                .pctb-shipping,
                .pctb-qty{
                    opacity: 0.5;
                }
            }
        }
        .eye-btn {
            margin: 0 16px;
            object-fit: cover;
            cursor: pointer;
            outline: none;
        }
        .eye-hide-btn {
            margin: 0 15px;
            object-fit: cover;
            cursor: pointer;
            outline: none;
        }
    }
    .pagination {
        margin: 0 30px 30px 30px;
        .pages {
            .page {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                float: left;
                margin-left: 6px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #172a47;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                &.active {
                    cursor: default;
                    pointer-events: none;
                    border: 1px solid #4ca1ff;
                    background: #4ca1ff;
                    color: white;
                }
            }
        }
    }
}
