<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="cart-wrapper">
                <div class="shop-tabs row w-100 no-gutters">
                    <div class="col-auto panel-radio-group">
                        <div class="radio-item">
                            <!-- unread -->
                            <input type="radio" name="group" [(ngModel)]="tab" value="cart" id="search" (change)="onChangeTab('cart')">
                            <label for="search">Cart</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="orders" id="orders" (change)="onChangeTab('orders')">
                            <label for="orders">Orders</label>
                        </div>
                    </div>
                </div>
                <div class="cart-progress-wrapper row">
                    <div class="cart-progress">
                        <div>
                            <div class="cp-circle" [class.current-status]="stepOrder >= 1">
                                <div class="cp-text cart">Cart</div>
                            </div>
                        </div>
                        <div>
                            <div class="cp-circle" [class.current-status]="stepOrder >= 2">
                                <div class="cp-text det">Shipping</div>
                            </div>
                        </div>
                        <div>
                            <div class="cp-circle" [class.current-status]="stepOrder >= 3">
                                <div class="cp-text pay">Payment</div>
                            </div>
                        </div>
                        <div>
                            <div class="cp-circle" [class.current-status]="stepOrder === 4">
                                <div class="cp-text success">Success</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters" [ngSwitch]="stepOrder">
                    <div class="col-12" *ngSwitchCase="1">
                        <opn-user-cart (changeStep)="onChangeStep($event)"></opn-user-cart>
                    </div>
                    <div class="col-7" *ngSwitchCase="2">
                        <div class="step-box">
                            <opn-cart-your-details (outOrderId)="orderId = $event;" (changeStep)="onChangeStep($event)"
                                (changeTotals)="onchangeTotals($event)"></opn-cart-your-details>
                        </div>
                    </div>
                    <div class="col-7" *ngSwitchCase="3">
                        <div class="step-box">
                            <opn-payment-cart (outToken)="onPay($event)" [payment]="false"></opn-payment-cart>
                        </div>
                    </div>
                    <div class="col-5" *ngIf="stepOrder > 1 && stepOrder <= 3">
                        <div class="step-box">
                            <opn-cart-product [(totals)]="totals"></opn-cart-product>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="stepOrder == 4">
                        <div class="row align-items-center order-success_box">
                            <div class="col-12 text-center">
                                <img src="/assets/images/icons/pay-success.png" alt="success">
                                <div class="success-text">Thanl you for choosing us!</div>
                                <button class="go-shop" (click)="goShop();">Go shop</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
