@import '../../../../../variables';
.step-box{
    margin-top: 60px;
}
.cart-wrapper {
    font-family: 'MuseoSansCyrl', serif;
    padding-top: 1px;
    .cart-progress-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .cart-progress {
            display: flex;
            height: 11px;
            width: 70%;
            border-bottom: 1px solid;
            & > * {
                flex: 1;
                &:last-child {
                    flex: 0;
                }
            }
            .cp-circle {
                width: 21.5px;
                height: 20px;
                border: 1px solid;
                border-radius: 50%;
                background: $background-gray;
                position: relative;
                .cp-text {
                    position: absolute;
                    white-space: nowrap;
                    color: $gray;
                    font-size: 12px;
                    bottom: -26px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.current-status {
                    background: $color-primary;
                    border-color: $color-primary;
                    .cp-text {
                        color: inherit;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.order-success_box{
    @extend %card-styles;
    margin: 60px 0 0 0 !important;
    min-height: 70vh;
    .success-text{
        margin-top: 40px;
        text-align: center;
        font-size: 28px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 300;
        color: #323844;
    }
    .go-shop{
        border: 1px solid #d3dce9;
        border-radius: 3px;
        line-height: 40px;
        background: transparent;
        color: #202f3b;
        transition: 0.2s;
        padding: 0 50px;
        cursor: pointer;
        margin-top: 25px;
        &:hover{
            background: #d3dce9;
        }
    }
}
.shop-tabs {
    text-align: left;
    .panel-radio-group {
        .radio-item {
            display: inline-block;
            position: relative;
            &.unread:after {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #f91656;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 10px;
            }
            label {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                padding-left: 26px;
                position: relative;
                padding-right: 20px;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0.5s ease-in-out;
                }
                &:hover {
                    &:before {
                        border-color: #4ca1ff;
                    }
                }
                &:after {
                    display: none;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #4ca1ff;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
            input[type="radio"] {
                display: none;
                &:checked+label {
                    &:before {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}