<div class="scl-card" >
    <div class="scl-title">
        Subscriptions
    </div>
    <div class="scl-content">
        <div class="current-card-wrapper">
            <div class="card-title">Default subscription card</div>
            <div class="card-number" *ngIf="defaultCard">{{defaultCard.brand}} **** **** **** {{defaultCard.last4}}</div>
        </div>
        <div class="card-requisites" *ngIf="userId">
            <opn-subscription-list [userId]="userId"></opn-subscription-list>
        </div>
    </div>
</div>
