<nb-card>
    <nb-card-header>
        List pages
    </nb-card-header>

    <nb-card-body>
        <!-- (create)="onCreate($event)" (delete)="onDelete($event)" -->
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>