@import "../../../_variables";

.back-btn {
    background: transparent;
    cursor: pointer;
    &:hover, &:hover .fa-arrow-left{
        color: $color-primary;
    }
    .fa-arrow-left {
        color: $gray;
    }

    &:focus {
        outline: 0;
    }
}
