$input-color: #bababa;
$red: #ff0000;

.content-card-100 {
    min-height: 278px !important;
}

.activity-wrap {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);

    .cover_block {
        background-size: cover !important;
        position: relative;
        height: 278px;
        position: relative;
        border-radius: 6px 6px 0 0;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);

        &::before {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(23, 42, 71, 0.6);
            border-radius: 6px;
        }

        .activity-type {
            min-width: 85px;
            height: 30px;
            background: #ffffff;
            text-transform: uppercase;
            color: #63acfe;
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 13px;
            line-height: 30px;
            border-radius: 2px;
            text-align: center;
            margin-top: 25px;
            margin-left: 30px;
            padding: 0 15px;
        }

        .join-box {
            margin-bottom: 30px;
            padding: 0 30px;

            .join-users {
                margin-top: 20px;

                .user-avatar {
                    display: block;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: white;
                    padding: 1px;
                    float: left;

                    &.right-count {
                        background: rgba($color: white, $alpha: 0.8);
                        text-align: center;
                        line-height: 42px;
                        color: #141e2a;
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 12px;
                    }
                }
            }
        }

        .edit-cover-photo {
            width: 100px;
            opacity: 0.65;

            label {
                width: 116px;
                height: 40px;
                position: absolute;
                top: 20px;
                left: 30px;
                border-radius: 2px;
                text-align: center;
                line-height: 38px;
                font-family: "MuseoSansCyrl";
                font-weight: 200;
                font-size: 14px;
                color: #ffffff;
                cursor: pointer;
                border: 1px solid #d3dce9;
                letter-spacing: 1px;
            }

            input[type=file] {
                display: none;
            }
        }

        .info-block_right {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 272px;
            height: calc(100% - 40px);
            box-shadow: 0 3px 4px rgba($color: #5b6074, $alpha: 0.3);
            background: #4ca1ff;
            border-radius: 5px;
            padding: 15px 20px 20px 20px;
            z-index: 10;

            .activity-name {
                color: #ffffff;
                font-family: "MuseoSansCyrl";
                font-weight: 700;
                font-size: 18px;
            }

            .activity-location {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #ffffff;
                cursor: pointer;
                padding: 10px 0 0 15px;
                background: url('/assets/images/icons/pin-w.png') 0 15px no-repeat;
            }

            .activity-price {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 35px;
                color: #ffffff;
                padding: 15px 0;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &>.row {
                height: 100%;
            }

            .activity-btns {
                text-align: center;

                .join-btn {
                    width: 90%;
                    height: 40px;
                    background: #ffffff;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    color: #141e2a;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    border: 0;
                    border-radius: 2px;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    transition: 0.2s;

                    &:hover {
                        box-shadow: none;
                    }

                    &.passed {
                        background: #f1f2f5;
                        color: #cdcfd6;
                        box-shadow: none;
                        cursor: default;
                    }

                    .small-loader {
                        position: absolute;
                        top: 12px;
                        right: 35px;
                    }
                }
            }
        }
    }

    .last-attenders {
        color: #ffffff;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
    }

    .profile-panel {
        border-radius: 0 0 3px 3px;
        height: 70px;

        .panel-btn {
            padding: 0 26px;
            height: 70px;
            position: relative;
            line-height: 68px;
            cursor: pointer;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 15px;
            color: #202f3b;
            border-bottom: 2px solid transparent;

            &:not(:last-child)::after {
                display: block;
                content: '';
                height: 45%;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                //border-right: 1px solid #ededed;
            }

            span {
                color: #333333;
                font-size: 13px;
                font-family: 'Proxima Nova Condensed';
            }

            &.active-tab {
                border-bottom: 2px solid #4ca1ff;
                color: #4ca1ff;
            }

            &:hover {
                transition: 0.2s ease-in-out;
                color: #4ca1ff;
                border-color: rgba($color: #4ca1ff, $alpha: 0.5);
            }

            &.private {
                color: #cdcfd6;
                border-color: transparent;
                cursor: default;
                pointer-events: none;

                &:hover {
                    color: #cdcfd6;
                    border-color: transparent;
                }
            }
        }

        .posts-btn {
            &::before {
                display: inline-block;
                width: 19px;
                height: 19px;
                content: '';
                background: url("/assets/images/icons/posts/posts.png") center no-repeat;
                transform: translateY(5px);
            }
        }

        .photos-btn {
            &::before {
                display: inline-block;
                width: 19px;
                height: 19px;
                content: '';
                background: url("/assets/images/icons/posts/photos.png") center no-repeat;
                transform: translateY(5px);
                margin-right: 15px;
            }
        }
    }
}

.list-users {
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    .user {
        display: flex;
        padding: 10px;
        width: 50%;
        @media (max-width: 1199px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
        .item-img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                width: auto;
                max-height: 100%;
            }
        }

        .user-info {
            width: calc(100% - 100px);
            padding-left: 15px;
            .user-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 7px;
                cursor: pointer;
            }
            .user-address,
            .user-followers {
                font-size: 13px;
                color: #757575;
                margin-bottom: 7px
            }
        }
    }
}

.content-card {
    padding: 15px;
    &.feed-box{
        padding: 15px;
        margin-top: 15px;
    }
    .activity-type {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #90949c;
        padding-left: 44px;
        position: relative;

        span {
            color: #172a47;
            text-transform: uppercase;
        }

        &:before {
            display: inline-block;
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &.class:before {
            background: url("/assets/images/icons/class-icon.png") center/contain no-repeat;
        }

        &.others:before {
            background: url("/assets/images/icons/others-icon.png") center/contain no-repeat;
        }

        &.mat_event:before {
            background: url("/assets/images/icons/mat_event-icon.png") center/contain no-repeat;
        }

        &.seminar:before {
            background: url("/assets/images/icons/seminar-icon.png") center/contain no-repeat;
        }

        // &.class:before {
        //   background: url("/assets/images/icons/class-icon.png.png") center/100% no-repeat;
        // }
    }

    .person-limit {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #90949c;
        padding-left: 44px;
        position: relative;
        margin-top: 20px;

        span {
            color: #172a47;
        }

        &::before {
            display: inline-block;
            content: '';
            width: 22px;
            height: 16px;
            background: url("/assets/images/icons/person-limit.png") center no-repeat;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .location {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #90949c;
        padding-left: 44px;
        position: relative;
        margin-top: 20px;

        span {
            color: #172a47;
        }

        &::before {
            display: inline-block;
            content: '';
            width: 22px;
            height: 20px;
            background: url("/assets/images/icons/icon-view-map-g.png") center no-repeat;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .activity-instructors {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #90949c;
        padding-left: 44px;
        position: relative;
        margin-top: 20px;

        span {
            color: #172a47;
        }

        &::before {
            display: inline-block;
            content: '';
            width: 22px;
            height: 16px;
            background: url("/assets/images/icons/teachers-icon.png") center no-repeat;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .activity-techniques {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #90949c;
        padding-left: 44px;
        position: relative;
        margin-top: 20px;

        span {
            color: #172a47;
        }

        &::before {
            display: inline-block;
            content: '';
            width: 22px;
            height: 16px;
            background: url("/assets/images/icons/techniques.png") center no-repeat;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .activity-about {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #172a47;
        position: relative;
        margin-top: 20px;
        padding: 0 44px 15px 44px;
    }

    &.activity-comments {
        padding: 15px 0 !important;

        .activity-comment-form {
            border-bottom: 1px solid #d3dce9;
            padding-bottom: 16px;

            .comment-user-avatar {
                padding: 0 15px 0 30px;
            }

            .activity-comment-fields {
                width: calc(100% - 95px);
                padding-right: 30px;

                textarea {
                    width: 100%;
                    min-height: 54px;
                    border: 0;
                    border-bottom: 1px solid #d3dce9;
                    resize: vertical;
                    outline: none;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #202f3b;
                    padding: 10px;
                }

                button.comment-post-btn {
                    width: 117px;
                    height: 40px;
                    background: #4ca1ff;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    color: #ffffff;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    border: 0;
                    border-radius: 2px;
                    outline: none;
                    cursor: pointer;
                    margin-left: auto !important;
                    display: block;
                    margin-top: 12px;

                    &[disabled] {
                        background: #f1f2f5;
                        color: #cdcfd6;
                        transition: 0.2s ease-in;
                        outline: none;
                        cursor: default;
                    }
                }
            }
        }

        .comment-item {
            margin-top: 20px;
            position: relative;

            .comment-user-avatar {
                padding: 0 15px 0 30px;
            }

            .comment-data {
                width: calc(100% - 95px);
                padding-right: 30px;
                overflow: hidden;

                .comment-user-name {
                    width: 60%;
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 15px;
                    color: #4ca1ff;
                    float: left;
                }

                .comment-datetime {
                    display: inline-block;
                    max-width: 40%;
                    float: right;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    text-align: right;
                    position: relative;
                }

                .comment-text {
                    margin-top: 16px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #3a4a57;
                    border-bottom: 1px solid #d3dce9;
                    padding-bottom: 20px;
                }

                .remove-comment {
                    display: none;
                    width: 25px;
                    height: 25px;
                    background: url('/assets/images/icons/delete-red.png') center no-repeat;
                    border: 0;
                    outline: none;
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;
                    z-index: 10;
                    outline: none;
                    position: absolute;
                    top: -4px;
                    left: -30px;
                    -webkit-animation-duration: 0.5s;
                    animation-duration: 0.5s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
            }

            &:hover {
                .comment-data {
                    .remove-comment {
                        display: inline-block;
                        animation-name: zoomIn;
                    }
                }
            }

            .comment-confirm {
                width: 100%;
                height: calc(100% + 15px);
                position: absolute;
                top: -15px;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                z-index: 11;
                transition: 0.3s ease-in;
                display: none;

                &>.row {
                    height: 100%;
                    margin: 0;
                }

                .quest {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 15px;
                    color: #ffffff;
                    text-align: center;
                }

                .action {
                    width: 100%;
                    height: 34px;
                    border: 0;
                    background: #f1f2f5;
                    color: #cdcfd6;
                    margin: 10px 0 0 0;
                    border-radius: 2px;
                    transition: 0.2s ease-in;
                    outline: none;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    cursor: pointer;

                    &.accept {
                        background: #4ca1ff;
                        color: white;
                    }

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.card-m {
    margin-top: 15px !important;
}

.right-content-box {
    .content-card-right {
        margin: 0;
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        float: right;
        background: white;

        .left-box {
            width: 35px;
            height: 160px;
            float: left;

            .left-tem {
                position: relative;
                height: calc(160px / 3);

                &.start:before {
                    display: block;
                    content: '';
                    border-right: 1px solid #d3dce9;
                    height: 27px;
                    position: absolute;
                    top: 4px;
                    right: 4px;
                }

                &.start:after {
                    display: block;
                    content: '';
                    border: 2px solid #4ca1ff;
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    top: 37.6px;
                    right: 0px;
                    border-radius: 5px;
                }

                &.center:before {
                    display: block;
                    content: '';
                    border-right: 1px dotted #4ca1ff;
                    height: calc(100% - 13.2px);
                    position: absolute;
                    top: 6.6px;
                    right: 4px;
                }

                &.end:before {
                    display: block;
                    content: '';
                    border: 2px solid #4ca1ff;
                    width: 9px;
                    height: 9px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border-radius: 5px;
                }

                &.end:after {
                    display: block;
                    content: '';
                    border-right: 1px solid #d3dce9;
                    height: 27px;
                    position: absolute;
                    top: 15.6px;
                    right: 4px;
                }
            }
        }

        .right-date {
            width: 230px;
            float: left;

            .datetime.start {
                height: 70px;
                position: relative;

                .title {
                    padding-left: 18px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #4ca1ff;
                    position: absolute;
                    top: 24px;
                    right: 0;
                }

                .day {
                    width: 60px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 100;
                    font-size: 35px;
                    color: #172a47;
                    float: left;
                    margin-top: 15px;
                    text-align: right;
                }

                .month-year,
                .time {
                    width: calc(100% - 60px);
                    padding-left: 18px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    float: right;
                    margin-top: 24px;
                }

                .time {
                    margin-top: 2px;
                }
            }

            .datetime.end {
                height: 70px;
                position: relative;

                .title {
                    padding-left: 18px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #f91656;
                    position: absolute;
                    top: 9px;
                    right: 0;
                }

                .day {
                    width: 60px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 100;
                    font-size: 35px;
                    color: #172a47;
                    float: left;
                    margin-top: 0;
                    text-align: right;
                }

                .month-year,
                .time {
                    width: calc(100% - 60px);
                    padding-left: 18px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    float: right;
                    margin-top: 9px;
                }

                .time {
                    margin-top: 2px;
                }
            }
        }
    }
}

.modal-info {
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #282d38;
    text-align: center;

    &.error {
        .ion-alert {
            display: inline-block;
            width: 45px;
            height: 45px;
            color: #f91656;
            font-size: 23px;
            margin-right: 10px;
            border: 2px solid #f91656;
            padding: 5px;
            border-radius: 50%;
        }

        span {
            color: #f91656;
        }

        .payment-msg {
            margin-top: 24px;
        }

        .pay-event-btn {
            width: 100%;
            height: 54px;
            border: 0;
            margin: 35px 0 25px 0;
            border-radius: 2px;
            transition: 0.2s ease-in;
            font-size: 16px;
            font-weight: 300;
            outline: none;
            background: #4ca1ff;
            color: white;
            box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
            cursor: pointer;

            &:hover {
                box-shadow: none;
            }
        }
    }

    &.success {
        .ion-checkmark {
            display: inline-block;
            width: 45px;
            height: 45px;
            color: #4ca1ff;
            font-size: 23px;
            margin-right: 10px;
            border: 2px solid #4ca1ff;
            padding: 5px;
            border-radius: 50%;
        }

        span {
            color: #4ca1ff;
        }

        .payment-msg {
            margin-top: 24px;
        }
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
