<opn-crop-cover-photo #cropCover [activityId]="activityId" [cropperSrc]="cropper" (closeModel)="onCloseCoverModal()"
    (saveCover)="onChangeCover($event)"></opn-crop-cover-photo>
<opn-payment-stripe [listData]="totalData" (outToken)="onPay($event)"></opn-payment-stripe>
<opn-modal modalId="payment-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i>
        <span>Warning!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
        <button class="pay-event-btn" (click)="onRePay()">Pay Now</button>
    </div>
</opn-modal>
<opn-modal modalId="join-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i>
        <span>Warning!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
    </div>
</opn-modal>
<opn-modal modalId="payment-success" closebtn="true">
    <div class="modal-info success">
        <i class="ion-checkmark"></i>
        <span>Success!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
    </div>
</opn-modal>
<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<main class="row no-gutters justify-content-center">
    <div class="col-12 max-content">
        <div class="content-card-100">
            <div class="activity-wrap" *ngIf="activity">
                <div class="row cover_block no-gutters" [ngStyle]="coverBg" lazy-load-images>
                    <div class="info-block_right">
                        <div class="row">
                            <div class="col-12 align-self-start">
                                <div class="activity-name">
                                    {{activity.name}}
                                </div>
                                <div class="activity-location">
                                    {{activity.location}}
                                </div>
                                <div class="activity-price" *ngIf="eventLoaded ">
                                    <sup *ngIf="(activity.payment_status == 'free') ? false : true">$</sup>
                                    {{ (activity.payment_status == 'free') ? 'Free' : activity.price_all}}
                                </div>
                            </div>
                            <div class="col-12 align-self-end">
                                <div class="activity-btns" *ngIf="eventLoaded">
                                    <button *ngIf="(activity.amount > joinedCount) && differenceDate > 0 && (isMember < 0 && ((activity.type == 'class' && activity.status_public == 1) || (activity.type != 'class' )))"
                                        class="join-btn" (click)="onJoin(activity)">Join
                                        <div class="small-loader inline-block" *ngIf="joinLoader"></div>
                                    </button>
                                    <button *ngIf="(activity.amount > joinedCount) && differenceDate > 0 && isMember >= 0 && activity.payment_status == 'free'"
                                        class="join-btn" (click)="onUnJoin(activity)">Undo join
                                        <div class="small-loader inline-block" *ngIf="unjoinLoader"></div>
                                    </button>
                                    <button *ngIf="(activity.amount > joinedCount) && differenceDate > 0 && isMember >= 0 && activity.payment_status == 'fee'"
                                        class="join-btn passed" (click)="onUnJoin(activity)">Joined
                                    </button>
                                    <button *ngIf="differenceDate <= 0 && (activity.amount > joinedCount)" class="join-btn passed">Passed</button>
                                    <button *ngIf="(joinedCount >= activity.amount)" class="join-btn passed">Limit
                                        exceeded</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="edit-cover-photo" *ngIf="activity.isManager">
                        <label for="edit-cover-photo">Edit Cover</label>
                        <input id="edit-cover-photo" type="file" (change)="onEditCoverPhoto($event)">
                    </div>
                    <div class="col-12 align-self-end join-box">
                        <div class="row no-gutters justify-content-between">
                            <div class="col-auto align-self-start">
                                <div class="last-attenders" *ngIf="join_activities && join_activities.length > 0">
                                    Last Attenders:
                                </div>
                                <div class="join-users" *ngIf="join_activities">
                                    <div class="user-avatar" *ngFor="let join_user of join_activities; let i = index;"
                                        [ngStyle]="{'z-index': i+1, 'transform': 'translateX(-'+ (6*i) +'px)'}">
                                        <opn-view-avatar [src]="join_user.user.avatar" [widthImg]="'40px'"></opn-view-avatar>
                                    </div>
                                    <div class="user-avatar right-count" *ngIf="rightCount > 0" [ngStyle]="{'z-index': i+maxJoinAvatar, 'transform': 'translateX(-'+ (6*maxJoinAvatar) +'px)'}">
                                        +{{rightCount}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row no-gutters profile-panel justify-content-between">
                    <div class="col-auto">
                        <div class="row no-gutters">
                            <div class="col-auto align-self-center panel-btn" [ngClass]="{'active-tab': tabSelect == 'timline'}"
                                (click)="tabSelect = 'timline'">
                                Timeline
                            </div>
                            <div *ngIf="all_joined.length > 0" class="col-auto align-self-center panel-btn" [ngClass]="{'active-tab': tabSelect == 'attenders'}"
                                (click)="tabSelect = 'attenders'">
                                Attenders ({{all_joined.length}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngSwitch]="tabSelect">
            <div class="content-card-100 pb-3">
                <div class="content-card" *ngSwitchCase="'timline'">
                    <div class="activity-type {{activity.type}}">
                        Activity:
                        <span>{{types[activity.type]}}</span>
                    </div>
                    <div class="location">
                        Address:
                        <span>{{address}}</span>
                    </div>
                    <div class="person-limit">
                        Person limit:
                        <span>{{joinedCount}}/{{(activity.amount < 1000000) ? activity.amount : '-' }}</span> </div>
                                <div class="activity-instructors" *ngIf="instructors != ''">
                                Instructor:
                                <span>{{instructors | pipeJoin: ', '}}</span>
                    </div>
                    <div class="activity-about" *ngIf="activity.about">
                        {{activity.about}}
                    </div>
                </div>
                <div class="content-card" *ngSwitchCase="'attenders'">
                    <div class="list-users" *ngIf="!isLoading">
                        <div class="user" *ngFor="let item of all_joined">
                            <div class="user-img">
                                <opn-view-avatar [belt]="item.user?.belt_user?.belt?.sourse_round" [defaultSrc]="noImg"
                                    [src]="user.avatar" [widthImg]="'80px'" [md]="'sidebar'">
                                </opn-view-avatar>
                            </div>
                            <div class="user-info">
                                <div class="user-name" (click)="toProfile(item.user.id)">{{item.user.first_name}}
                                    {{item.user.last_name}}</div>
                                <div class="user-address">{{item.user?.address || 'no address'}}</div>
                                <div class="user-followers">
                                    <span>Followers:</span>
                                    <span class="amount color-active">{{item.user?.followers.length}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-content-box" style="float: right;">
                    <div class="content-card-right clearfix p-0">
                        <div class="left-box">
                            <div class="left-tem start"></div>
                            <div class="left-tem center"></div>
                            <div class="left-tem end"></div>
                        </div>
                        <div class="right-date">
                            <div class="datetime start">
                                <div class="day">{{activity.start_date | date:'dd'}}</div>
                                <div class="month-year">{{activity.start_date | date:'MMMM yyyy'}}</div>
                                <div class="time">{{activity.start_date | date:'h:m a'}}</div>
                                <!-- <div class="title">Start</div> -->
                            </div>
                            <div class="datetime start">
                                <div class="day">{{activity.end_date | date:'dd'}}</div>
                                <div class="month-year">{{activity.end_date | date:'MMMM yyyy'}}</div>
                                <div class="time">{{activity.end_date | date:'h:m a'}}</div>
                                <!-- <div class="title">End</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-card card-m feed-box" *ngSwitchCase="'timline'">
                    <opn-new-post-form  *ngIf="activityId" [activityId]="activityId" (postAdded)="onPostAdded($event)"></opn-new-post-form>
                </div>
                <div class="card-m" *ngSwitchCase="'timline'">
                    <div class="wrapper clearfix" style="padding-bottom: 24px;" infiniteScroll [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="300" (scrolled)="onScrollDown()" [class.hide-new]="me != userId">
                        <div class="content-card feed-box" *ngFor="let post of posts;" id="{{'post_'+post.id}}">
                            <opn-view-post (openModal)="onOpenModal($event)" (onRemove)="onRemovePost($event)" [post]="post"
                                [me]="userView"></opn-view-post>
                        </div>
                        
                    </div>
                </div>
                <div class="content-card p-0 mt-3">
                    <div class="loader" *ngIf="!load">Loading...</div>
                    <div class="col-12" *ngIf="posts.length == 0 && load">
                        <div class="no-data">
                            Not found posts
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
