<nb-card>
    <nb-card-header>
        List of deactivated users
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>