$lt-bg: #f0f2f8;
$input-color: #bababa;

$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.lt-chat {
  width: 100%;
  height: 100%;
  img {
    max-width: 100%;
    height: auto;
  }

  .lt-chat-name {
    padding: 10px 25px;
    border-bottom: 1px solid $color-border;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      cursor: pointer;

    .user-name {
      font-weight: bold;
    }
  }
}

.lt-scroll {
  position: relative;
  overflow-y: auto;
  padding: 10px 25px;
}

.user-location {
  font-size: 13px;
  color: #c1c3c8;
  margin-top: 2px;
}

.list-messages {
  height: calc(100% - 160px);
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  position: relative;


  .lt-message {
    display: flex;
    padding: 10px 0;
    position: relative;
    .msg-rm{
      display: none;
      width: 50px;
      height: 50px;
      background: url("/assets/images/icons/delete-blue.png") calc( 50% + 25px / 2 ) calc( 50% - 14px / 2 ) no-repeat, rgba(255,255,255,0.8);
      position: absolute;
      border: 0;
      top: 0;
      left: auto;
      right: 0;
      cursor: pointer;
      outline: none;

      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      &:after{
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 50px solid #f7f7f7; 
        border-right: 50px solid transparent;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .msg-img {
      width: 36px;
      height: 36px;
      overflow: hidden;
      border-radius: 50%;
      margin-top: 15px;
    }

    .msg-date {
      font-size: 11px;
      color: #90949c;
      margin-bottom: 5px;
    }

    .msg-info {
      padding: 0 10px;
      max-width: 80%;
      text-align: left;
    }

    .msg-text {
      background: $lt-bg;
      display: inline-flex;
      padding: 8px 10px;
      font-size: 13px;
      line-height: 17px;
      color: #162d3d;
      border-radius: 3px;
      word-break: break-word;
    }


    &.lt-sender {
      justify-content: flex-end;
      .msg-rm{
        background: url("/assets/images/icons/delete-blue.png") calc( 50% - 25px / 2 ) calc( 50% - 14px / 2 ) no-repeat, rgba(255,255,255,0.8);
        left: 0;
        right: auto;
        &:after{
          width: 0;
          height: 0;
          border-bottom: 50px solid #f7f7f7;
          border-right: 50px solid transparent;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: rotate(-90deg);
        }
      }

      .msg-date {
        text-align: right;
      }

      .msg-text {
        background: $color-primary;
        color: #fff;
      }

      .msg-info {
        text-align: right;
      }
    }
    &:hover{
      background-color: #f7f7f7;
      button.msg-rm{
        display: block;
        animation-name: zoomIn;
      }
    }
  }
}

.lt-message-form {
  border-top: 1px solid $color-border;
  padding: 10px 25px;
  height: 100px;
  display: flex;
  align-items: center;

  .wrap-input {
    width: 100%;
  }
}

.lt-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.message-confirm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
  transition: 0.3s ease-in;
  display: none;
  & > .row{
      height: 100%;
      margin: 0;
  }
  .quest {
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 15px;
      color: #ffffff;
      text-align: center;
  }
  .action {
      width: 100%;
      height: 34px;
      border: 0;
      background: #f1f2f5;
      color: #cdcfd6;
      margin: 10px 0 0 0;
      border-radius: 2px;
      transition: 0.2s ease-in;
      outline: none;
      box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
      cursor: pointer;
      &.accept {
          background: #4ca1ff;
          color: white;
      }
      &:hover {
          box-shadow: none;
      }
  }
}


@keyframes zoomIn {
  from {
    opacity: 0.6;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}