<div class="cc-table-body" *ngIf="products">
    <div class="cc-table-row" *ngFor="let product of products">
        <div class="b-product-name">
            <img src="{{product.photo ? baseUrl + product.photo : noPhoto}}" alt="">
            <span>{{product.name}}</span>
        </div>
        <div class="b-price">
            <div>${{product.price}} x {{product.quantity}}</div>
        </div>
    </div>
    <table *ngIf="totals" class="mt-3">
        <tbody>
            <tr *ngIf="totals.subtotal || tmpSubTotal" class="price-total">
                <td class="w-100">Subtotal</td>
                <td class="text-right"><span>${{totals.subtotal || tmpSubTotal}}</span></td>
            </tr>
            <tr *ngIf="totals.shipping" class="price-total">
                <td class="w-100">Shipping</td>
                <td class="text-right"><span>${{totals.shipping}}</span></td>
            </tr>
            <tr *ngIf="totals.tax" class="price-total">
                <td class="w-100">Tax</td>
                <td class="text-right"><span>${{totals.tax}}</span></td>
            </tr>
            <tr *ngIf="totals.total || tmpTotal" class="price-total">
                <td class="w-100">TOTAL</td>
                <td class="text-right"><span>${{totals.total || (tmpTotal + totals.shipping)}}</span></td>
            </tr>
        </tbody>
    </table>
</div>