@import '../../../../../../variables';
.cc-table-body {
    padding: 0 0 0 30px;
    .cc-table-row {
        @extend %border-bottom;
        display: flex;
        align-items: center;
        padding: 15px 0;
        .b-product-name {
            flex: 9;
            img {
                width: 50px;
                height: 45px;
                object-fit: cover;
            }
            span {
                margin-left: 25px;
                color: $color-primary;
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
                font-weight: 300;
            }
        }
        .b-price,
        .b-total {
            flex: 3;
            display: flex;
            justify-content: center;
            margin: 0 25px;
            color: $color-primary;
            font-size: 14px;
            font-family: "MuseoSansCyrl", serif;
            font-weight: 300;
            div {
                width: 78%;
            }
        }
    }
    .price-total{
        font-size: 14px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 300;
        color: #1c2836;
        &:last-child{
            font-weight: 900;
        }
    }
}
