@import '../../../../../../variables';

.detail-card{
    @extend %card-styles;
    margin-top: 60px;
    .card-title{
        @extend %border-bottom;
        padding: 30px;
        line-height: 13px;
        display: flex;
    }
    .card-body{
        padding: 30px;
        .input-controls{
            &:not(:first-child){
                margin-top: 20px;
            }
            input.input-style{
                width: 100%;
                height: 40px;
                border: 1px solid #d3dce9;
                padding: 0 20px;
                font-size: 15px;
                font-family: "MuseoSansCyrl", serif;
                font-weight: 300;
                color: #202f3b;
                &:hover, &:focus {
                    border-color: #98a6bc;
                }
                &[readonly]{
                    background: rgba($color: #d3dce9, $alpha: 0.5);
                    cursor: default;
                }
            }
            label{
                font-size: 14px;
                font-family: "MuseoSansCyrl", serif;
                font-weight: 300;
                color: #90949c;
            }
        }
        ng4geo-autocomplete /deep/ input{
            width: 100%;
            height: 40px !important;
            border: 1px solid #d3dce9 !important;
            padding: 0 20px !important;
            font-size: 15px !important;
            font-family: "MuseoSansCyrl", serif !important;
            font-weight: 300;
            color: #202f3b !important;
            &:hover, &:focus {
                box-shadow: none !important;
                border-color: #98a6bc;
            }
        }
        .cart-btns{
            padding-top: 35px;
            .cancel-order{
                border: 1px solid #d3dce9;
                border-radius: 3px;
                line-height: 40px;
                background: transparent;
                color: #202f3b;
                transition: 0.2s;
                padding: 0 40px;
                cursor: pointer;
                &:hover{
                    background: #d3dce9;
                }
                &[disabled]{
                    background: rgba($color: #4ca1ff, $alpha: 0.6);
                    cursor: default;
                }
            }
            .buy-order{
                border: 0;
                border-radius: 3px;
                line-height: 40px;
                background: #4ca1ff;
                color: white;
                box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                transition: 0.2s;
                padding: 0 40px;
                cursor: pointer;
                margin: 0 0 0 10px;
                &:hover{
                    box-shadow: none;
                }
                &[disabled]{
                    background: rgba($color: #4ca1ff, $alpha: 0.6);
                    cursor: default;
                }
            }
        }
    }
}