.ui-checkbox-box{
    display: inline-block;
  label{
    width: 18px;
    height: 18px;
    border: 2px solid #babec9;
    position: relative;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 0;
    top: 3px;
    &:hover{
        border-color: #4ca1ff;
    }
    &:after{
        display: none;
        content: '';
        width: 8px;
        height: 8px;
        background-color: #4ca1ff;
        position: absolute;
        left: 3px;
        top: 3px;
    }
  }
  input[type='checkbox']{
    display: none;
    &:checked + label{
        border-color: #4ca1ff;
        &:after{
            display: block;
        }
    }
  }
}