<div class="ui-checkbox-box">
  <input type="checkbox" class="checkbox" [id]="'ui-checkbox_' + id" [(ngModel)]="check" (change)="onChange($event)">
  <label [for]="'ui-checkbox_' + id"></label>
</div>