<div class="scl-card" *ngIf="userId">
    <div class="scl-title">
        Subscriptions
    </div>
    <div class="scl-content">
        <div class="current-card-wrapper">
            <div class="card-title">Default subscription card</div>
            <div class="card-number" *ngIf="defaultCard">{{defaultCard.brand}} **** **** **** {{defaultCard.last4}}</div>
            <opn-change-card (outToken)="onOutToken($event)"></opn-change-card>
            <div class="edit-btn" (click)="openCardSelection()"></div>
        </div>
        <div class="card-requisites">
            <opn-subscription-list [userId]="userId"></opn-subscription-list>
        </div>
    </div>
</div>
