@import '../../../../../variables';

.scl-card {
    @extend %card-styles;
    .scl-title {
        height: 60px;
        border-bottom: 1px solid #d3dce9;
        line-height: 60px;
        padding: 0 30px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 500;
        font-size: 16px;
        color: #202f3b;
    }
    .scl-content {
        padding: 15px 30px;
        min-height: 170px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;
        .current-card-wrapper {
            position: relative;
            margin-bottom: 25px;
            .edit-btn {
                right: 30px;
                top: 20px;
                width: 14px;
                height: 14px;
                background: url("/assets/images/icons/icon-edit.png") right center no-repeat;
                position: absolute;
                cursor: pointer;
            }
        }
    }
}
