<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="row ">
                <div class="col-12">
                    <div class="back-to-orders" (click)="toOrders()">
                        <img src="/assets/images/icons/back-icon.png" alt="Orders">
                        <span>Back to orders</span>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="orderData">
                <div class="col-12 status-bar">
                    <div class="row justify-content-center no-gutters">
                        <div class="status-item col-auto align-self-center" [ngClass]="{'hover': status.hover, 'active': status.active}" *ngFor="let status of statusBar.data; let i = index">
                            <div class="status-btn" (click)="onSetStatus(status.id, i)" (mouseenter)="onEnterStatus(status.id)" (mouseleave)="onLeaveStatus()"></div>
                            <div class="divide-line" *ngIf="i < statusBar.count - 1"></div>
                            <div class="status-label">{{status.label}}</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 order-wrapper">
                            <div class="order-card">
                                <div class="card-head">
                                    #{{orderId}}
                                </div>
                                <div class="card-content">
                                    <div class="col-12 p-0" *ngIf="orderData">
                                        <div class="row no-gutters order-product align-content-center" *ngFor="let item of orderData.items">
                                            <div class="col-1">
                                                <img class="product-photo" [src]="baseUrl+item.photo" alt="item.title">
                                            </div>
                                            <div class="col-5 align-self-center">
                                                <div class="product-name">{{item.title}}</div>
                                            </div>
                                            <div class="col-3 align-self-center">
                                                <div class="product-price_quantity">
                                                    ${{item.price}} x {{item.quantity}}
                                                </div>
                                            </div>
                                            <div class="col-3 align-self-center">
                                                <div class="product-total_price">
                                                    ${{item.price * item.quantity}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="loader" *ngIf="!orderData && !load">Loading...</div>
                                    <div class="col-12 no-data" *ngIf="!orderData && load">
                                        Not have this order
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="orderData">
                        <div class="col-12 order-wrapper">
                            <div class="order-card">
                                <div class="card-head">
                                    <span class="payment_status" [ngClass]="orderData.payment_status">
                                        {{paidLabels[orderData.payment_status]}}
                                    </span>
                                </div>
                                <div class="card-content">
                                    <div class="col-12 p-0" *ngIf="orderData">
                                        <div class="row no-gutters order-prices">
                                            <div class="col-12">
                                                <table class="totals_data">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">Subtotal</td>
                                                            <td class="small">${{orderData.subtotal}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Shiping</td>
                                                            <td class="small">${{orderData.shipping_cost || 0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Tax</td>
                                                            <td class="small">${{orderData.tax || 0}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="2">Total</td>
                                                            <td class="small">${{orderData.total}}</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 order-wrapper" *ngIf="orderData">
                    <div class="order-card">
                        <div class="card-head">
                            Customer
                        </div>
                        <div class="card-content">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 customer-avatar">
                                        <opn-view-avatar [belt]="orderData.user.belt_user.belt.sourse_round" [src]="orderData.user.avatar" [widthImg]="'100px'"></opn-view-avatar>
                                    </div>
                                    <div class="col-12 customer-name">{{orderData.user.full_name}}</div>
                                    <div class="col-12 customer-address">{{orderData.user.short_address || orderData.user.address}}</div>
                                    <div class="col-12 customer-btn">
                                        <button (click)="onEventMessage(orderData.user.id)">Contact buyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
