@import '../../../../../../variables';
$border-radius: 3px;
$input-color: #bababa;
.modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  z-index: 999999999999;

  .overlay-modal-bg {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
  }
  .closeModal {
    font-size: 15px;
    color: white;
    font-family: 'Proxima Nova Condensed';
    position: absolute;
    top: 29px;
    right: 35px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .modalConteiner {
    width: 540px;
    min-height: 340px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: white;
    padding: 18px 30px 30px 30px;
    .close-modal{
      width: 14px;
      height: 14px;
      background: url("/assets/images/icons/close.png") center no-repeat;
      padding: 0;
      cursor: pointer;
      transform: translateY(2px);
      transition: 0.2s ease-in-out;
      position: absolute;
      top: 29px;
      right: 35px;
      &:hover{
        transform: scale(1.1);
      }
    }
    .modal-head {
      font-family: "MuseoSansCyrl";
      font-weight: 900;
      font-size: 25px;
      color: #323844;
      text-align: left;
    }
    .modal-body {
      padding: 15px 0;
      .addded-alert{
        font-family: "MuseoSansCyrl";
        text-align: center;
        .alert-text{
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          font-size: 24px;
          color: #323844;
          text-align: center;
        }
      }
      .form-group {
        margin-bottom: 10px;
        position: relative;
        input {
          width: 100%;
          border: 1px solid $white-gray;
          border-radius: $border-radius;
          height: 42px;
          padding: 0 22px;
          outline: none;
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          color: $dark;
          &::-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &::-webkit-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-ms-input-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          &:-moz-placeholder {
            color: $input-color;
            font-weight: 300;
          }
          /*&.ng-invalid.ng-touched {
            border-color: $red;
          }*/
          &:focus {
            box-shadow: 0 0 9px rgba(79, 157, 191, 25);
          }
        }
        i {
          width: 10px;
          height: 18px;
          line-height: 15px;
          text-align: center;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          color: $gray;
          font-weight: 300;
          font-size: 13px;
          display: none;
          &.has-error {
            display: block;
            color: $red;
            cursor: help;
          }
        }
        .done-text{
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          font-size: 14px;
          color: #4ca1ff;
          text-align: center;
          margin: 15px 0;
        }
        .button-submit {
          width: 105px;
          height: 44px;
          border: 0;
          background: #4ca1ff;
          color: white;
          box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
          font-family: "MuseoSansCyrl";
          margin: 35px 0 15px 0;
          border-radius: 2px;
          transition: 0.2s ease-in;
          outline: none;
          float: right;
          cursor: pointer;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1492px) {
  .overlay-modal-bg {
    left: 0px;
  }
}