@import "../../../../../variables";
%custom-padding {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

%input-styles {
    border-radius: 3px;
    outline: 0;
    border: 1px solid #d3dce9;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    transition: border-color 0.4s;
    color: #757575;
    font-family: "MuseoSansCyrl", serif;
}

.shop-wrapper {
    .search-bar-wrapper {
        box-shadow: 0 0 4px rgba(2, 2, 2, 0.25);
        background: $white;
        display: inline-flex;
        position: relative;
        border-radius: 4px;
        padding: 15px 0;
        margin: 25px 0 15px;
        .name-search-wrapper {
            position: relative;
            .name-search-input {
                width: 98%;
                padding: 9px 35px 9px 15px;
                @extend %input-styles;
            }
            .fa-search {
                position: absolute;
                right: 32px;
                top: 11px;
                color: $icon-gray;
            }
        }
        .location-search-wrapper {
            position: relative;
            /deep/ ng4geo-autocomplete {
                #search_places {
                    border-radius: 3px !important;
                    outline: 0 !important;
                    border: 1px solid #d3dce9 !important;
                    font-weight: 300 !important;
                    font-size: 15px !important;
                    line-height: 20px !important;
                    transition: border-color 0.4s !important;
                    color: #757575 !important;
                    font-family: "MuseoSansCyrl", serif !important;
                    padding-right: 40px !important;
                    &::placeholder {
                        color: #757575 !important;
                    }
                }
                .custom-autocomplete__dropdown {
                    width: 130% !important;
                    top: 43px !important;
                }
            }
            .fa-map-marker {
                position: absolute;
                color: $icon-gray;
                right: 31px;
                top: 11px;
                font-size: 19px;
            }
        }
        .price-search-wrapper {
            flex: 0 0 29.333333%;
            max-width: 29.333333%;
            .ps-input {
                flex: 0 0 45%;
                max-width: 45%;
                border-radius: 3px;
                padding: 9px 15px;
                @extend %input-styles;
            }
        }
        .search-btn-wrapper {
            flex: 0 0 20.666667%;
            max-width: 20.666667%;
            .search-btn {
                width: 100%;
                border-radius: 3px;
                border: 1px solid $border-gray;
                color: $white;
                background: $color-primary;
                cursor: pointer;
            }
        }
    }
    .search-result {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        .sr-number {
            margin-left: 5px;
        }
        .sort-by {
            color: $color-primary;
            cursor: pointer;
        }
    }
    .products-list-wrapper {
        padding: 0;
        /deep/ opn-product-card {
            &:nth-child(4n+4) {
                .card-wrapper {
                    margin-right: 0 !important;
                }
            }
        }
        .view-more {
            width: 130px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid $border-gray;
            background: #fff;
            margin: 10px auto;
            cursor: pointer;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shop-tabs {
    text-align: left;
    .panel-radio-group {
        .radio-item {
            display: inline-block;
            position: relative;
            &.unread:after {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #f91656;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 10px;
            }
            label {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                padding-left: 26px;
                position: relative;
                padding-right: 20px;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0.5s ease-in-out;
                }
                &:hover {
                    &:before {
                        border-color: #4ca1ff;
                    }
                }
                &:after {
                    display: none;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #4ca1ff;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
            input[type="radio"] {
                display: none;
                &:checked+label {
                    &:before {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}
.statuses-box{
    display: inline-block;
    .status-item{
        display: inline-block;
        border-radius: 5px;
        padding: 2px 10px;
        margin: 0 15px;
        color: white;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        &.in_process {
            background-color: #fcb062;
        }
        &.new {
            background-color: #ff6793;
        }
        &.shipped {
            background-color: #7cd73b;
        }
        span{
            display: inline-block;
            color: #202f3b;
            padding-left: 10px;
        }
    }
}