<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p shop-wrapper">
            <div class="shop-tabs row w-100 no-gutters">
                <div class="col-auto panel-radio-group">
                    <div class="radio-item">
                        <!-- unread -->
                        <input type="radio" name="group" [(ngModel)]="tab" value="search" id="search" (change)="onChangeTab('search')">
                        <label for="search">Products</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="group" [(ngModel)]="tab" value="orders" id="orders" (change)="onChangeTab('orders')">
                        <label for="orders">Orders</label>
                    </div>
                </div>
            </div>
            <div class="col-12 search-bar-wrapper">
                <div class="col-3 name-search-wrapper">
                    <input type="text" placeholder="Name products" class="name-search-input" (keyup.enter)="searchProducts()" [(ngModel)]="productName">
                    <i class="fa fa-search pointer" (click)="searchProducts()"></i>
                </div>
                <div class="col-3 location-search-wrapper">
                    <ng4geo-autocomplete [userSettings]="gaAutoCompleteSettings" (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
                    <i class="fa fa-map-marker" (click)="searchProducts()"></i>
                </div>
                <div class="col-4 price-search-wrapper">
                    <input class="ps-input" placeholder="Min price" type="number" min="0" (keyup.enter)="searchProducts()" [(ngModel)]="minPrice">
                    <span class="ps-dash"> - </span>
                    <input class="ps-input" placeholder="Max price" type="number" min="0" (keyup.enter)="searchProducts()" [(ngModel)]="maxPrice">
                </div>
                <div class="col-2 search-btn-wrapper">
                    <div class="btn search-btn" (click)="searchProducts()">Search</div>
                </div>
            </div>
            <div class="col-12 search-result">
                <span>Search result:
                    <span class="sr-number">{{productsCount}}</span>
                </span>
                <span class="sort-by" (click)="toggleSortByPrice()">Sort by Price
                    <i class="fa fa-chevron-down" [hidden]="!isPriceIncreasing"></i>
                    <i class="fa fa-chevron-up" [hidden]="isPriceIncreasing"></i>
                </span>
            </div>
            <div class="col-12 products-list-wrapper" *ngIf="products">
                <opn-product-card [product]="product" *ngFor="let product of products"></opn-product-card>
                <div class="view-more" *ngIf="productsCount > limit" (click)="onViewMore()">View more</div>
            </div>
            <div class="col-12" *ngIf="load">
                <div class="loader"></div>
            </div>
            <div class="col-12 products-list-wrapper text-center" *ngIf="productsCount == 0 && !load">
                <img src="/assets/images/icons/product-box.png" alt="no-product">
                <div class="mt-1 no-data">Not have product</div>
            </div>
        </div>
    </div>
</div>
