<opn-create-holiday-schedule [academyId]="academy_id"></opn-create-holiday-schedule>
<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="content-card-100 not-style">
    <div class="row no-gutters">
        <div class="col-auto panel-radio-group">
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="schedule" id="status1" (change)="onChangeFilterStatus(tab)">
                <label for="status1">Classes List</label>
            </div>
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="holiday" id="status2" (change)="onChangeFilterStatus(tab)">
                <label for="status2">Holiday</label>
            </div>
            <div class="radio-item">
                <input type="radio" name="status" [(ngModel)]="tab" value="checkin" id="status3" (change)="onChangeFilterStatus(tab)">
                <label for="status3">Manual Check-in</label>
            </div>
        </div>
    </div>
</div>
<div class="content-card-100">
    <div class="row no-gutters grid-panel align-items-center">
        <div class="grid-title">
            Holidays
        </div>

        <!-- <ng-datepicker [options]="datePickerOptions" [(ngModel)]="filerDate" class="ml-auto" [disabled]="true" [position]="'bottom-left'"
                       [ngModelOptions]="{standalone: true}"></ng-datepicker> -->
    </div>
    <div class="row no-gutters list-wrapper">
        <div class="col-12 grid-content">
            <div class="no-data" *ngIf="listClasses.length == 0">
                You do not have classes
            </div>
            <table class="grid-table" *ngIf="listClasses.length > 0">
                <thead class="grid-table-head">
                    <tr class="grid-table-row">
                        <th>Date</th>
                        <th>Day</th>
                        <th>Hours</th>
                        <th>Name</th>
                        <th>Subscription</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let class of listClasses;" class="grid-table-row" (click)="onOpenCreateClass(class.meta)">
                        <td class="grid-table-cel">
                            {{class.date | date: 'MMMM, dd'}}
                        </td>
                        <td class="grid-table-cel">
                            {{class.day}}
                        </td>
                        <td class="grid-table-cel">
                            {{class.time_start}} - {{class.time_end}}
                        </td>
                        <td class="grid-table-cel">
                            {{class.name}}
                        </td>
                        <td class="grid-table-cel">
                            <div class="subscriptions" *ngIf="class.subscriptions?.length == 1">
                                {{class.subscriptions[0].subscription.name}}
                            </div>
                            <div class="subscriptions subs-list" *ngIf="class.subscriptions?.length > 1">
                                Combo <span class="more blue-text" (click)="onSubsOpen($event, class)">
                                    {{class.subscriptions.length}} more
                                </span>
                                <opn-class-subs-list *ngIf="class.isOpen" [pos]="'bot'" [subscriptions]="class.subscriptions"></opn-class-subs-list>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
