<opn-payment-stripe (outToken)="onPay($event)"></opn-payment-stripe>
<opn-modal modalId="payment-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i>
        <span>Warning!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
        <button class="pay-event-btn" (click)="onRePay()">Pay Now</button>
    </div>
</opn-modal>
<opn-modal modalId="join-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i>
        <span>Warning!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
    </div>
</opn-modal>
<opn-modal modalId="payment-success" closebtn="true">
    <div class="modal-info success">
        <i class="ion-checkmark"></i>
        <span>Success!</span>
        <div class="payment-msg">
            {{modalAlert}}
        </div>
    </div>
</opn-modal>
<section class="lt-section-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="search-tabs row w-100 no-gutters">
                    <div class="col-auto panel-radio-group">
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="users" id="users" (change)="onChangeTab('users')">
                            <label for="users">Users</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="academies" id="academies" (change)="onChangeTab('academy')">
                            <label for="academies">Academies</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="activities" id="activities" (change)="onChangeTab('activity')">
                            <label for="activities">Activities</label>
                        </div>
                    </div>
                </div>
                <div class="search-header">
                    <div class="search-result">Found: {{total}} activity(s)</div>
                    <div class="search-view">
                        <span>View:</span>
                        <i (click)="toggleView('list')" [class.active]="view == 'list'" class="icon-view-grid"></i>
                        <i (click)="toggleView('map')" [class.active]="view == 'map'" class="icon-view-map"></i>
                    </div>
                </div>
                <div class="lt-card">
                    <div class="search-form">
                        <div class="wrap-inputs">
                            <div class="wrap-input icon-right">
                                <input #search type="text" [(ngModel)]="searchName" class="input-style" placeholder="Activity name" (keyup.enter)="searchItems(search.value)">
                                <i class="icon icon-search"></i>
                            </div>
                            <div class="wrap-input wrap-date icon-right ml-auto" (clickOutside)="togglePicker()">
                                <input #date placeholder="Select date" type="text" class="input-style" [ngModel]="selectedDays" (keyup.enter)="resetItems(date.value)"
                                    (click)="datePicker.toggle()">
                                <input style="display: none" type="text" class="input-style" ngModel ngbDatepicker #datePicker="ngbDatepicker" [displayMonths]="displayMonths"
                                    [showWeekdays]="false" [navigation]="false" [showWeekNumbers]="showWeekNumbers" [dayTemplate]="tempDay"
                                    (ngModelChange)="onDateChange($event)">
                                <!--<i class="icon icon-date" (click)="datePicker.open()"></i>-->
                                <i class="icon icon-date" (click)="datePicker.toggle()"></i>

                                <ng-template #tempDay let-date="date" let-focused="focused">
                                    <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="wrap-types">
                            <div class="wrap-input wrap-select">
                                <angular2-multiselect [data]="typesOptions" [(ngModel)]="requestOptions.types" [settings]="typesSelectSettings" (onSelect)="getItems(requestOptions)"
                                    (onDeSelect)="getItems(requestOptions)" (onSelectAll)="getItems(requestOptions)" (onDeSelectAll)="getItems(requestOptions)"></angular2-multiselect>
                                <!-- <ng-select placeholder="Activity"
                                           #elType
                                           [options]="types"
                                           (selected)="onSelectedType($event)">
                                </ng-select> -->
                            </div>
                            <!-- click-outside (clickOutside)="toggleDropDown($event)" -->
                            <div class="wrap-input lt-drop-down icon-right" (click)="toggleDropDown($event)">
                                <div class="input-style lt-drop-label">Radius</div>
                                <i class="icon toggle">▼</i>
                                <div class="lt-drop-content" [ngClass]="{'active': activeSlider}">
                                    <div>{{newRadius}}</div>
                                    <div ngD3Slider id="slider2" [length]="sliderOptions.length" [maxValue]="sliderOptions.maxValue" [minValue]="sliderOptions.minValue"
                                        [initialValue]="sliderOptions.initialValue" [color]="sliderOptions.color" [emptyColor]="sliderOptions.emptyColor"
                                        [thumbColor]="sliderOptions.thumbColor" [thumbSize]="sliderOptions.thumbSize" [lineWidth]="sliderOptions.lineWidth"
                                        (selectedValue)="onChangeRadius($event)">
                                    </div>
                                    <div class="radius-btns">
                                        <span (click)="toggleRadius()">Clear</span>
                                        <span class="btn-apply" (click)="toggleRadius('apply')">Apply</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-input wrap-select">
                                <angular2-multiselect [data]="priceOptions" [(ngModel)]="requestOptions.price" [settings]="priceSelectSettings" (onSelect)="getItems(requestOptions)"
                                    (onDeSelect)="getItems(requestOptions)" (onSelectAll)="getItems(requestOptions)" (onDeSelectAll)="getItems(requestOptions)"></angular2-multiselect>
                            </div>
                        </div>
                        <div class="btn-reset" (click)="resetItems()">Reset</div>
                    </div>
                    <div class="lt-main-wrapper" [ngClass]="{'active': view == 'list'}">
                        <div class="lt-search-list opn-scroll">
                            <div class="lt-loader" *ngIf="isLoading">
                                <div class="loader"></div>
                            </div>
                            <div class="lt-items">
                                <div class="list-items p-0" *ngIf="!isLoading && listTypes">
                                    <div *ngFor="let type of listTypes">
                                        <div class="type-name">{{typesTitle[type]}}</div>
                                        <div class="item" *ngFor="let event of listActivities[type]">
                                            <div class="lt-click" (click)="selectItem(event)">
                                                <div class="item-info">
                                                    <div class="info">
                                                        <div class="item-name" (click)="toActivity(event?.id)">{{event.name}}</div>
                                                        <div class="info-row item-datetime">
                                                            <i class="icon icon-date"></i>
                                                            <div class="col-right item-datetime">
                                                                {{ event?.start_date | date: 'longDate'}}
                                                                <span>{{ event?.start_date | date: 'shortTime'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="info-row item-address">
                                                            <i class="icon icon-geo-g"></i>
                                                            <div>
                                                                <span class="item-academy" (click)="toAcademy(item?.events[0]?.academy?.id)">{{event?.academy?.name || 'no academy'}}</span>
                                                                <br>
                                                                <span class="item-address">{{event?.location || 'no address'}}</span>
                                                            </div>

                                                        </div>
                                                        <div class="info-row">
                                                            <i class="icon icon-price"></i>
                                                            <div class="col-right item-price">
                                                                {{ (event.payment_status == 'free') ? 'Free' : '$' + event.price_all }}
                                                            </div>
                                                        </div>
                                                        <div class="info-row item-students">
                                                            <i class="icon icon-tech"></i>
                                                            <div class="col-right">
                                                                <span>Visitors: </span>
                                                                <span class="amount color-active">
                                                                    {{event?.joinedCount || 0}}/{{(event.amount
                                                                    < 1000000)
                                                                        ? event.amount : '-'}} </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button *ngIf="(event?.amount > event?.joinedCount) && event?.differenceDate > 0 && (event?.isMember < 0)"
                                                class="join-btn" (click)="onJoin(event)">Join
                                                <div class="small-loader inline-block" *ngIf="event?.load"></div>
                                            </button>
                                            <button *ngIf="(event?.amount > event?.joinedCount) && event?.differenceDate > 0 && event?.isMember >= 0" class="join-btn passed">Joined</button>
                                            <button *ngIf="event?.differenceDate <= 0 && (event?.amount > event?.joinedCount)" class="join-btn passed">Passed</button>
                                            <button *ngIf="(event?.joinedCount >= event?.amount)" class="join-btn passed">Limit exceeded</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="loader-sm" *ngIf="isLoadingNew">
                                    <div class="loader"></div>
                                </div>
                                <div *ngIf="!allItems && !isLoadingNew" class="lt-load-more">
                                    <span class="lt-btn lt-sm" (click)="loadMoreItems()">Load more</span>
                                </div>
                            </div>
                            <div class="no-found" *ngIf="!activities.length && !isLoadingNew && !isLoading">
                                Nothing was found
                            </div>
                        </div>
                        <div class="lt-search-map">
                            <div class="lt-loader" *ngIf="isLoading && view != 'list'">
                                <div class="loader"></div>
                            </div>
                            <div class="lt-geoloc">
                                <div class="wrap-input icon-right">
                                    <input class="input-style addres-input" [(ngModel)]="meAddress" placeholder="Search for location" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" type="text" #searchLocation [formControl]="searchControl" (keydown.enter)="refreshCoordinates(lat, lng)">
                                    <i class="icon icon-geo" (click)="setCurrentPosition()"></i>
                                </div>
                            </div>

                            <agm-map #map id="map" [latitude]="lat" [longitude]="lng" [styles]="mapStyles" [minZoom]="3" [zoom]="zoom">
                                <agm-marker-cluster [styles]="[{
                                                    url: 'assets/images/icons/icon-cluster.png',
                                                    width: '42',
                                                    height: '42',
                                                    textColor: '#fff'
                                                }]">
                                    <agm-marker *ngFor="let item of activities; let i = index" [latitude]="item.latitude" [longitude]="item.longitude" [iconUrl]="item.icon">
                                        <agm-snazzy-info-window [closeWhenOthersOpen]="true" [maxWidth]="250" [maxHeight]="400">
                                            <ng-template>
                                                <div class="info-event">
                                                    <div class="info-header row no-gutters align-content-end" [ngStyle]="{background: (item?.events[0]?.academy?.cover_photo) ? 'url('+ baseUrl+item?.events[0]?.academy?.cover_photo+') center/cover' : 'url(/assets/images/profile_cover.jpg) center/cover'}">
                                                        <div class="academy-logo">
                                                            <img [src]="item?.events[0]?.academy?.photo ? baseUrl + item?.events[0]?.academy?.photo : '/assets/images/academy-logo-transparent.png'"
                                                                alt="">
                                                        </div>
                                                        <div class="academy_name col-12" (click)="toAcademy(item?.events[0]?.academy?.id)">{{item?.events[0]?.academy?.name}}</div>
                                                        <div class="academy_address col-12">{{item?.events[0]?.academy?.location || 'no address'}}</div>
                                                    </div>
                                                    <div class="info-content list-events">
                                                        <div class="item" *ngFor="let event of item.events">
                                                            <div class="item-info">

                                                                <div class="info">
                                                                    <div class="info-row justify-content-between">
                                                                        <div class="item-img {{event.type}}"></div>
                                                                        <div class="col-right item-name" (click)="toActivity(event?.id)">{{event?.name}}</div>
                                                                    </div>
                                                                    <div class="info-row justify-content-between">
                                                                        <i class="icon icon-date"></i>
                                                                        <div class="col-right item-datetime">
                                                                            {{ event?.start_date | date: 'longDate'}}
                                                                            <br>
                                                                            <span>{{ event?.start_date | date: 'shortTime'}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-row justify-content-between">
                                                                        <i class="icon icon-price"></i>
                                                                        <div class="col-right item-price">
                                                                            {{ (event.payment_status == 'free') ? 'Free' : '$' + event.price_all }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="info-row item-students justify-content-between">
                                                                        <i class="icon icon-tech"></i>
                                                                        <div class="col-right">
                                                                            <span>Visitors: </span>
                                                                            <span class="amount color-active">
                                                                                {{event?.joinedCount || 0}}/{{(event.amount
                                                                                <
                                                                                    1000000) ? event.amount : '-'}} </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button *ngIf="(event?.amount > event?.joinedCount) && event?.differenceDate > 0 && (event?.isMember < 0)"
                                                                class="join-btn" (click)="onJoin(event)">Join
                                                                <div class="small-loader inline-block" *ngIf="event?.load"></div>
                                                            </button>
                                                            <button *ngIf="(event?.amount > event?.joinedCount) && event?.differenceDate > 0 && event?.isMember >= 0" class="join-btn passed">Joined</button>
                                                            <button *ngIf="event?.differenceDate <= 0 && (event?.amount > event?.joinedCount)" class="join-btn passed">Passed</button>
                                                            <button *ngIf="(event?.joinedCount >= event?.amount)" class="join-btn passed">Limit exceeded</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </agm-snazzy-info-window>
                                    </agm-marker>
                                    <agm-circle [latitude]="lat" [longitude]="lng" [circleDraggable]="false" [editable]="false" [radius]="radiusValue" [fillColor]="'#4ca1ff'"
                                        [fillOpacity]="0.2">
                                    </agm-circle>
                                </agm-marker-cluster>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<img #myImg class="d-none" [src]="src" />
<canvas #myCanvas class="d-none" id="canvas"></canvas>
