<nb-card>
    <nb-card-header>
        List users/academies
    </nb-card-header>

    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab tabTitle="Users">
                <br />
                <ng2-smart-table [settings]="userSettings" [source]="userSource" (create)="onUserExport()"
                    (userRowSelect)="onUserSelect($event)">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab tabTitle="Academies">
                <br />
                <ng2-smart-table [settings]="academySettings" [source]="academySource" (create)="onAcademyExport()"
                    (userRowSelect)="onAcademySelect($event)">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab tabTitle="Pro Academies">
                <br />
                <ng2-smart-table [settings]="academySettings" [source]="proAcademySource" (create)="onProAcademyExport()"
                    (userRowSelect)="onAcademySelect($event)">
                </ng2-smart-table>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>
