.content-card-100 {
    padding: 0;
    float: left;
    width: calc(100% - 22px);
    margin: 14px 22px 0 22px;

    .row-10 {
        margin: 0 -7px;

        .col-p {
            padding: 0 7px;
        }
    }

    .student-card {
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);

        .card-head {
            height: 60px;
            border-bottom: 1px solid #d3dce9;
            line-height: 60px;
            padding: 0 30px;
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
        }

        .card-content {
            padding: 30px;
            min-height: 135px;
            display: flex;
            justify-content: space-between;

            .student-info-wrapper {
                display: flex
            }

            .subscription-info-wrapper {
                text-align: right;

                .subscription-title {
                    color: #90949c;
                    font-size: 13px;
                }

                .subscription-date {
                    color: #90949c;
                    font-size: 12px;
                }
            }
        }
    }

    .level-stripe-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 17px !important;

        .level-stripe-title {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 17px;
        }
    }

    .level-stripe,
    .level-activity {
        width: 110px;
        height: 110px;
        position: relative;
        margin: 0 auto;

        .legend {
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            position: absolute;

            .numbers {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 18px;
                color: #202f3b;
                text-align: center;
            }

            .name {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 13px;
                color: #90949c;
                text-align: center;
            }
        }
    }

    .level-activity {
        float: left;
        margin: 0 0.5%;
    }

    .user-data {
        padding-left: 24px;
        width: calc(100% - 70px);

        .user-name {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 15px;
            color: #172a47;

            .online-status-wrapper {
                font-size: 12px;
                color: #90949c;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                margin-left: 10px;
                display: inline-flex;
                align-items: center;

                .online-indicator {
                    margin-right: 3px;
                    display: inline-block;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;

                    &.offline {
                        background: #ccc;
                    }

                    &.online {
                        background-color: #2bec4a;
                    }
                }
            }

        }

        .user-academy {
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 13px;
            color: #4ca1ff;
        }

        .user-address {
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 13px;
            color: #90949c;
            text-overflow: ellipsis;
        }
    }
}

.activity-wrapper {
    max-height: 625px;

    .activity-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .activity-content {
        padding: 0 !important;
        display: flex;
        flex-direction: column;

        .activity-item-wrapper {
            margin: 0 30px 30px 30px;
            max-height: 490px;
            overflow-y: auto;

            .activity-item {
                min-height: 60px;
                padding: 10px 50px 5px 50px;
                position: relative;

                &:before {
                    display: block;
                    content: '';
                    height: 100%;
                    position: absolute;
                    border-right: 1px solid #e0e6f0;
                    top: 0;
                    left: 23px;
                }

                .ai-date {
                    font-family: "MuseoSansCyrl";
                    font-weight: 200;
                    font-size: 12px;
                    color: #90949c;
                    position: relative;

                    &:before {
                        display: block;
                        content: '';
                        width: 9px;
                        height: 9px;
                        position: absolute;
                        top: 5px;
                        left: -31px;
                        border-radius: 50%;
                        border: 2px solid #4ca1ff;
                        background: white;
                        outline: 10px solid white;
                    }
                }

                .ai-text {
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 13px;
                    color: #202f3b;

                    a {
                        color: #4ca1ff;
                        text-decoration: none;
                    }
                }

                .student-belt {
                    width: 222px;
                    height: 21px;
                }
            }
        }

        .no-activities {
            align-self: center;
            margin: auto;
        }

        .more-events {
            margin: 0 15px 15px 15px;
            width: calc(100% - 40px);
            height: 30px;
            background: #f0f2f8;
            color: #4ca1ff;
            font-size: 13px;
            font-family: "MuseoSansCyrl", serif;
            font-weight: 300;
            cursor: pointer;
            outline: none;
            border: 0;
            border-radius: 3px;
        }
    }
}

i.ion-plus {
    font-weight: 300;
    color: #4ca1ff;
    cursor: pointer;
    width: 20px;
    height: 20.5px;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid #4ca1ff;
    text-align: center;
    line-height: 18px;
}

/deep/ .attended-card {
    margin-bottom: 15px;
}

.activity-refund {
    width: 140px;
    height: 30px;
    border: 0;
    background: #4ca1ff;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 13px;
    color: white;
    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
    border-radius: 3px;
    transition: 0.2s ease-in;
    outline: none;
    cursor: pointer;
    margin-top: 8px;

    &:hover {
        box-shadow: none;
    }
}

.activity-refunded {
    width: 140px;
    height: 30px;
    border: 0;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 13px;
    background: #f1f2f5;
    border-radius: 3px;
    color: #cdcfd6;
    outline: none;
    cursor: default;
    margin-top: 8px;
    pointer-events: none;
}

.message-btn {
    float: right;
    .btn-message {
        width: 115px;
        border: 0;
        border-radius: 3px;
        line-height: 40px;
        height: 40px;
        font-size: 15px;
        background: #4ca1ff;
        color: white;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        cursor: pointer;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);

        &:hover {
            box-shadow: none;
        }

        &.unfollow {
            background: #f1f2f5;
            color: #cdcfd6;
            transition: 0.2s ease-in;
            outline: none;
        }

        &[disabled] {
            background: #f1f2f5;
            color: #cdcfd6;
            transition: 0.2s ease-in;
            outline: none;
            cursor: default;
        }
    }
}
