<div class="content-card-100">
    <div class="row no-gutters row-10 student-info-score-wrapper">
        <div class="col-8 col-p">
            <div class="student-card">
                <div class="card-head">
                    Student Dashboard
                    <div class="message-btn" *ngIf="this.studentId">
                        <button class="btn-message" (click)="onEventMessage()">Message</button>
                    </div>
                </div>
                <div class="card-content" *ngIf="student">
                    <div class="student-info-wrapper">
                        <div class="student-avatar-wrapper">
                            <opn-view-avatar [belt]="student?.belt?.sourse_round" [src]="student?.avatar"
                                             [widthImg]="'70px'" [md]="'sidebar'"></opn-view-avatar>
                        </div>
                        <div class="col-auto user-data">
                            <div class="user-name">
                                {{student.first_name}} {{student.last_name}}
                                <span class="online-status-wrapper">
                                    <span *ngIf="student.online">
                                        <span class="online-indicator online"></span><span>Online</span>
                                    </span>
                                    <span *ngIf="!student.online">
                                        <span class="online-indicator offline"></span><span>Offline</span>
                                    </span>
                                </span>
                            </div>
                            <div class="user-academy">
                                {{student.academy.name}}
                            </div>
                            <div class="user-address">
                                {{student.address || 'no adress'}}
                            </div>
                            
                        </div>
                    </div>
                    <div class="subscription-info-wrapper"
                         *ngIf="studentSubscriptions.length > 0; else noSubscriptions">
                        <div class="subscription-title"> Subscription:</div>
                        <div class="subscription-name"> {{studentSubscriptions[0].subscription.name}}</div>
                        <div class="subscription-date"> since {{studentSubscriptions[0].created_at | date:'yyyy'}}
                        </div>
                    </div>
                    <ng-template #noSubscriptions>
                        No subscriptions
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-4 col-p">
            <opn-level-stripe [studentId]="studentId" [academyId]="academyId" *ngIf="+student?.academy?.is_pro === 1"></opn-level-stripe>
        </div>
    </div>
</div>

<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-7 col-p">
            <opn-attended *ngIf="studentId && academyId" [userId]="studentId" [academyId]="academyId"></opn-attended>
            <opn-student-subscriptions [userId]="studentId"></opn-student-subscriptions>
        </div>
        <div class="col-5 col-p">
            <div class="student-card activity-wrapper">
                <add-belt [studentId]="studentId" [hidden]="!isAddBelt" (close)="closeAddBelt()"
                          (onAdd)="onBeltAdded($event)"></add-belt>
                <div class="card-head activity-title">
                    <span>Activity</span><i class="ion-plus" (click)="isAddBelt = true"></i>
                </div>
                <div class="card-content activity-content">
                    <div class="activity-item-wrapper" *ngIf="studentActivities.length > 0; else noActivity">
                        <div class="activity-item" *ngFor="let activity of studentActivities; let i = index" [hidden]="!viewMore && i === (initialLimit - 1)">
                            <div class="ai-date">{{ activity.created_at | date: 'd MMM y' }}</div>
                            <div class="ai-text" [innerHtml]="activity.data"></div>
                            <div *ngIf="activity.type === 'belt'">
                                <img class="student-belt" src="{{baseUrl + activity.details.sourse}}" alt="">
                            </div>
                            <button class="activity-refund" *ngIf="activity.type == 'refund' && activity.is_refund == 0 && activity.is_change_refund == 0" (click)="onRefund(activity)">Refund <span class="small-loader inline-block" *ngIf="activity.refundLoader"></span></button>
                            <button class="activity-refunded" *ngIf="activity.is_change_refund == 1 && activity.is_refund == 0">Pending</button>
                            <button class="activity-refunded" *ngIf="activity.is_change_refund == 1 && activity.is_refund == 1">Refunded</button>
                        </div>
                    </div>
                    <button class="more-events" (click)="onLoadMore()"
                            *ngIf="studentActivities.length === initialLimit">View More
                    </button>
                    <ng-template #noActivity>
                        <div class="no-activities">No activities yet</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
