@import "../../../_variables";

.qty-wrapper {
    display: flex;
    margin: auto;
    width: 140px;
    height: 40px;
    border: 1px solid $border-gray;
    border-radius: 2px;
    .plus-btn, .minus-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 15px 15px 18px;
        cursor: pointer;
    }
    .minus-btn {
        border-right: 1px solid $border-gray;
    }
    .plus-btn {
        border-left: 1px solid $border-gray;
    }
    input {
        width: 100%;
        border: none;
        text-align: center;
        max-width: 52px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
