<div class="qty-wrapper">
    <div class="minus-btn" (click)="minusVal()"> - </div>
    <input type="number" [(ngModel)]="quantity" (ngModelChange)="emitChange($event)" min="minVal">
    <div class="plus-btn" (click)="plusVal()"> + </div>
</div>
