$input-color: #bababa;
$red: #ff0000;

.content-card-100 {
    &:not(.not-style) {
        background: white;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        float: left;
        display: flex;
        flex-direction: column;
    }
    &.not-style{
        min-height: auto;
    }

    .list-wrapper {
        flex: 1;
    }

    .no-data {
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 20px;
        color: #172a47;
        text-align: center;
        padding: 30px 0;
    }

    .grid-panel {
        height: 61px;
        border-bottom: 1px solid #d3dce9;
        padding: 0 30px;

        .grid-title {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
        }

        .grid-form {
            input.filter {
                width: 240px;
                height: 40px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 16px;
                color: #202f3b;
                float: right;
                padding: 0 30px 0 20px;
                background: url("/assets/images/icons/search-f.png") right center no-repeat;
                outline: none;

                &:hover,
                &:focus {
                    border: 1px solid #98a6bc;
                }
            }
        }
    }

    .grid-content {
        padding: 0 30px;

        .grid-table {
            width: 100%;

            .grid-table-head th {
                height: 50px;
                border-bottom: 1px solid #d3dce9;
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 13px;
                color: #172a47;
            }

            .grid-table-row {

                & th:first-child,
                & td:first-child {
                    padding-left: 10px;
                }

                & th:last-child,
                & td:last-child {
                    padding-right: 10px;
                    text-align: right;
                }
            }

            tbody {
                .grid-table-row {
                    border-bottom: 1px solid #d3dce9;

                    &:hover {
                        background: #f0f2f8;
                    }

                    .grid-table-cel {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 14px;
                        color: #90949c;
                        height: 50px;

                        &.blue-text {
                            color: #4ca1ff;
                        }

                        & > .subscriptions:not(.subs-list) {
                            font-size: 14px;
                            font-family: "MuseoSansCyrl";
                            color: rgba($color: #141e2a, $alpha: 0.8);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .subscriptions {
                            font-size: 14px;
                            font-family: "MuseoSansCyrl";
                            color: rgba($color: #141e2a, $alpha: 0.8);
                            position: relative;

                            .more {
                                color: #4ca1ff;
                                font-size: 12px;
                                font-family: "MuseoSansCyrl";
                                font-weight: 500;
                                cursor: pointer;
                                position: relative;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .grid-btn-delete {
                            width: 12px;
                            height: 14px;
                            background: url("/assets/images/icons/icon-delete.png") right center no-repeat;
                            float: right;
                            cursor: pointer;
                            border: 0;
                            outline: none;
                        }

                        .grid-btn-edit {
                            width: 14px;
                            height: 14px;
                            background: url("/assets/images/icons/icon-edit.png") right center no-repeat;
                            float: right;
                            margin-right: 25px;
                            cursor: pointer;
                            border: 0;
                            outline: none;
                        }
                    }
                }
            }

            &.no-pagination {
                tbody .grid-table-row:last-child {
                    border: 0;
                }
            }
        }
    }

    .pagination {
        margin-top: 20px;
        padding: 0 30px 26px 30px;

        .pages {
            .page {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                float: left;
                margin-left: 6px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #172a47;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                &.active {
                    cursor: default;
                    pointer-events: none;
                    border: 1px solid #4ca1ff;
                    background: #4ca1ff;
                    color: white;
                }
            }
        }
    }
}

.radio-item {
    display: inline-block;
    position: relative;

    &.unread:after {
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: #f91656;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 10px;
    }

    label {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #202f3b;
        padding-left: 26px;
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        margin: 0;

        &:before {
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            border: 2px solid #babec9;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.5s ease-in-out;
        }

        &:hover {
            &:before {
                border-color: #4ca1ff;
            }
        }

        &:after {
            display: none;
            content: '';
            width: 8px;
            height: 8px;
            background-color: #4ca1ff;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked+label {
            &:before {
                border-color: #4ca1ff;
            }

            &:after {
                display: block;
            }
        }
    }
}

.link-text {
    cursor: pointer;
}

.search-wrapper {
    margin-left: 11px;
}

.show-all {
    margin-left: auto;
}

.by-date label {
    padding-right: 10px;
}

/deep/ ng-datepicker {
    width: 130px;

    .ngx-datepicker-container {
        .ngx-datepicker-input {
            width: 100% !important;
            color: #202f3b;
            height: 40px !important;
            border-radius: 2px !important;
            border: 1px solid #d0d6e7 !important;
            padding: 11px 16px !important;
        }
    }

    .ngx-datepicker-calendar-container {
        top: 42px !important;
    }
}
