<opn-ui-back-btn class="mr-auto" *ngIf="isAdmin"></opn-ui-back-btn>
<div class="content-card-100" *ngIf="reload">
    <div class="row no-gutters row-10 student-info-score-wrapper">
        <div class="col-5 col-p">
            <div class="row academy-card no-gutters">
                <div class="col-12 card-head">Academy Dashboard</div>
                <div class="row card-content align-items-center">
                    <div class="col-5 card-photo">
                        <opn-view-logo-academy [src]="academy.photo" [widthImg]="'100px'" (click)="toAcademy()"></opn-view-logo-academy>
                    </div>
                    <div class="col-7">
                        <div class="name">{{academy.name}}</div>
                        <div class="location">{{academy.location}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 col-p">
            <opn-total-classes [academyId]="academy.id"></opn-total-classes>
        </div>
    </div>
</div>

<div class="content-card-100" *ngIf="reload">
    <div class="row no-gutters row-10">
        <div class="col-5 col-p">
            <opn-promotion-view [academyId]="academy.id"></opn-promotion-view>
        </div>
        <div class="col-7 col-p">
            <opn-marketing-view [academyId]="academy.id"></opn-marketing-view>
        </div>
    </div>
</div>

<div class="content-card-100" *ngIf="reload">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <opn-revenue-view [academyId]="academy.id"></opn-revenue-view>
        </div>
    </div>
</div>
