@mixin card-head() {
    height: 60px;
    border-bottom: 1px solid #d3dce9;
    line-height: 60px;
    padding: 0 30px;
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 16px;
    color: #202f3b;
  }
@mixin card-content() {
    padding: 30px;
    min-height: 135px;
    display: flex;
    justify-content: space-between;
}
@mixin font($size, $weight, $color) {
    font-family: "MuseoSansCyrl";
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
.content-card-100 {
    padding: 0;
    float: left;
    width: calc(100% - 22px);
    margin: 14px 22px 0 22px;
    min-height: auto !important;
    .row-10 {
        margin: 0 -7px;
        .col-p {
            padding: 0 7px;
        }
    }
    .academy-card {
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        .card-head {
            @include card-head();
        }
        .card-content {
            @include card-content();
            min-height: 170px;
            .card-photo{
                cursor: pointer;
            }
            .name{
                @include font(15px, 500, #1c2836);
            }
            .location{
                @include font(14px, 300, #90949c);
            }
        }
    }
}