<div class="content-card-100">
    <div class="row">
        <div class="col-12">
            <opn-to-dashboard [academyId]="academyId"></opn-to-dashboard>
        </div>
    </div>
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="row grid-wrap no-gutters">
                <div class="col-12">
                    <div class="row justify-content-between align-items-center no-gutters heder-line">
                        <div class="col-auto grid-head">Promotions View</div>
                        <div class="col-auto">
                            <button class="h-btns promotion-btn" [disabled]="!studentId" (click)="onAddBelt()">{{studentId ? 'Promotion' : 'Please select student'}}</button>
                            <button class="h-btns export-btn" (click)="exportToExcel()">Export</button>
                            <button class="h-btns print-btn" (click)="printGrid()">Print</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row grid-content align-items-center">
                        <div class="col-12" *ngIf="academyInfo">
                            <add-belt [studentId]="studentId" *ngIf="isAddBelt" [hidden]="!isAddBelt" (close)="closeAddBelt()" (onAdd)="onBeltAdded($event)"></add-belt>
                            <table class="grid-data" id="data-grid">
                                <thead>
                                    <tr>
                                        <th class="select-t">Select</th>
                                        <th><div class="filter" [ngClass]="filter.name.order" (click)="onChangeFilter('name')">Student name</div></th>
                                        <th><div class="filter" [ngClass]="filter.subscription.order" (click)="onChangeFilter('subscription')">Subscription</div></th>
                                        <th><div class="filter" [ngClass]="filter.level.order" (click)="onChangeFilter('level')">Student level</div></th>
                                        <th><div class="filter" [ngClass]="filter.attended.order" (click)="onChangeFilter('attended')">{{(academyInfo.promotion_method == 'time') ? 'Time attended' : 'Classes attended'}}</div></th>
                                        <th><div class="filter" [ngClass]="filter.status.order" (click)="onChangeFilter('status')">Required for promo</div></th>
                                        <th><div class="filter" [ngClass]="filter.next.order" (click)="onChangeFilter('next')">Promotion type</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of promotionUsers; let i = index;">
                                        <td class="check-row select-t">
                                            <opn-ui-checkbox-2 [check]="listCheckboxes[i].checked" [value]="listCheckboxes[i].value" (changeCheckbox)="onCheckRow($event, i);"></opn-ui-checkbox-2>
                                        </td>
                                        <td class="long">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto mr-3 user-data" (click)="toUserDashboar(row.user)">
                                                    <opn-view-avatar [src]="row.user.avatar" [widthImg]="'30px'"></opn-view-avatar>
                                                </div>
                                                <div class="col-7 user-data" (click)="toUserDashboar(row.user)">
                                                    {{row.full_name || ''}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="long"> <opn-subscription-list [subscriptions]="row.user.subscriptions"></opn-subscription-list> </td> <!-- {{row.user.subscriptions.length > 0 ? row.user.subscriptions[0].subscription.name : '-'}} -->
                                        <td class="small">{{row.student_level}}</td>
                                        <td class="small">{{(academyInfo.promotion_method == 'time') ? row.time_attended : row.class_attended}}</td>
                                        <td class="small">{{row.status}}</td>
                                        <td class="small">{{row.next_promotion}}</td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                            <div class="loader" *ngIf="promotionUsers.length == 0 && !load">Loading...</div>
                            <div class="no-data" *ngIf="promotionUsers.length == 0 && load">
                                Not have users
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row no-gutters justify-content-between pagination" *ngIf="promotionUsers.length > 0">
                        <div class="col-auto">
                            <opn-per-page (change)="onChangePerPage($event)"></opn-per-page>
                        </div>
                        <div class="col-auto pages" *ngIf="pagintion.show">
                            <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">
                                {{p}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
