@mixin card-head() {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 16px;
    color: #202f3b;
}

@mixin card-content() {
    padding: 0 30px;
    min-height: 135px;
    display: flex;
    justify-content: space-between;
}

@mixin font($size, $weight, $color) {
    font-family: "MuseoSansCyrl";
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

.content-card-100 {
    padding: 0;
    float: left;
    width: calc(100% - 22px);
    margin: 14px 22px 0 22px;
    min-height: auto !important;
    .row-10 {
        margin: 0 -7px;
        .col-p {
            padding: 0 7px;
        }
    }
    .grid-wrap {
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        .heder-line{
            border-bottom: 1px solid #d3dce9;
            height: 80px;
        }
        .grid-head {
            @include card-head();
        }
        .grid-content {
            @include card-content();
        }
    }
    .grid-data {
        width: 100%;
        tr{
            height: 54px;
            border-bottom: 1px solid #d3dce9; 
        }
        thead th{
            @include font(13px, 500, #172a47);
            padding-right: 30px;
            position: relative;
            white-space: normal;
            & .filter{
                cursor: pointer;
                &:after{
                    width: 20px;
                    text-align: right;
                    content: '';
                    color: #c2c2c2;
                    font-size: 13px;
                    display: inline-block;
                    font-family: Ionicons;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    text-rendering: auto;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
                &.ASC:after{
                    content: "\F123";
                }
                &.DESC:after{
                    content: "\F126";
                }
            }
            
        }
        tbody{
            td{
                @include font(14px, 300, #1c2836);
                vertical-align: middle;
                &.long{
                    width: calc( 50% / 2 );
                }
                &.small{
                    width: calc( 50% / 4 );
                }
                &:not(:last-child){
                    padding-right: 10px;
                }
            }
            .check-row {
                label{
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    position: relative;
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    margin: 0;
                    top: 3px;
                    &:hover{
                        border-color: #4ca1ff;
                    }
                    &:after{
                        display: none;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #4ca1ff;
                        position: absolute;
                        left: 3px;
                        top: 3px;
                    }
                }
                input[type='checkbox']{
                    display: none;
                    &:checked + label{
                        border-color: #4ca1ff;
                        &:after{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .h-btns{
        height: 41px;
        @include font(14px, 300, #202f3b);
        margin-left: 10px;
        padding: 0 30px;
        border: 0;
        background: transparent;
        cursor: pointer;
        outline: none;
        &:last-child{
            margin-right: 30px;
        }
    }
    .promotion-btn{
        border-radius: 3px;
        line-height: 40px;
        background: #4ca1ff;
        color: white;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        transition: 0.2s;
        &:hover{
            box-shadow: none;
        }
        &[disabled]{
            background: rgba($color: #4ca1ff, $alpha: 0.6);
            cursor: default;
        }
    }
    .export-btn{
        padding: 0 5px;
        &::before{
            display: inline-block;
            content: url('/assets/images/icons/export.png');
            margin-right: 10px;
            transform: translateY(4px);
        }
    }
    .print-btn{
        padding: 0 5px;
        &::before{
            display: inline-block;
            content: url('/assets/images/icons/print.png');
            margin-right: 10px;
            transform: translateY(4px);
        }
    }
}

.pagination {
    padding: 28px;
    .pages {
        .page {
            width: 30px;
            height: 30px;
            border-radius: 2px;
            border: 1px solid #d3dce9;
            float: left;
            margin-left: 6px;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: #172a47;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            &.active {
                cursor: default;
                pointer-events: none;
                border: 1px solid #4ca1ff;
                background: #4ca1ff;
                color: white;
            }
        }
    }
}

.no-data {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 13px;
    color: #172a47;
    text-align: center;
    padding: 30px 0;
}
.user-data{
    cursor: pointer;
}