<aside class="right" [class.is-manager]="isManager" [ngClass]="{'no-scroll': itemsSearchActive, 'o-settings': profile }">
    <div class="button notification-info mx-auto">
        <a [routerLink]="'/shop/cart'">
            <opn-cart-informer></opn-cart-informer>
        </a>
    </div>
    <div class="search" [ngClass]="{'lt-active': itemsSearchActive }">
        <div class="button search mx-auto" (click)="openItemsSearch();"></div>
        <div class="lt-search" [hidden]="!itemsSearchActive">
            <div class="search-row">
                <div class="wrap-input">
                    <input class="input-style" #search type="text" placeholder="Search" (keyup)="onSearch(search.value)">
                </div>
            </div>
            <div class="lt-loader" *ngIf="isLoading">
                <div class="loader"></div>
            </div>
            <div class="wrap-results" *ngIf="!isLoading">
                <div *ngIf="usersSearch.length">
                    <div class="search-row row-bg">
                        <div class="title">Users</div>
                    </div>
                    <div class="list-items">
                        <div class="search-item" *ngFor='let item of usersSearch' (click)="toItem('user', item.id)">
                            <div class="search-img">
                                <img [src]="item.avatar ? baseUrl + item.avatar : defaultUserIcon" alt="">
                            </div>
                            <div class="search-name">
                                <span>{{item.first_name}} {{ item.last_name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="search-row">
                        <span class="link-view" (click)="toItem('user')">View all</span>
                    </div>
                </div>
                <div *ngIf="academiesSearch.length">
                    <div class="search-row row-bg">
                        <div class="title">Academies</div>
                    </div>
                    <div class="list-items">
                        <div class="search-item" *ngFor='let item of academiesSearch' (click)="toItem('academy', item.id)">
                            <div class="search-img">
                                <img [src]="item.photo ? baseUrl + item.photo : defaultAcademyIcon" alt="">
                            </div>
                            <div class="search-name">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="search-row">
                        <span class="link-view" (click)="toItem('academy')">View all</span>
                    </div>
                </div>
                <div *ngIf="eventsSearch.length">
                    <div class="search-row row-bg">
                        <div class="title">Events</div>
                    </div>
                    <div class="list-items">
                        <div class="search-item" *ngFor="let item of eventsSearch" (click)="toItem('activity', item.id)">
                            <div class="search-img">
                                <img [src]="getActivityAvatar(item.type)" alt="">
                            </div>
                            <div class="search-name">
                                <div class="wrap-date">
                                    <div class="start">{{item.name}}</div>
                                    <div class="create">{{ item.start_date | date: 'longDate'}}</div>
                                </div>
                                <div class="price" *ngIf="item.price_all">${{item.price_all}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="search-row">
                        <span class="link-view" (click)="toItem('activity')">View all</span>
                    </div>
                </div>
            </div>
            <div class="search-row" *ngIf="!emptySearch && !isLoading">
                <div class="title">Please, enter another value</div>
            </div>
        </div>
    </div>
    <div class="button message-info mx-auto">
        <div class="wrap-img" (click)="toggleChat()">
            <span class="notify-new" *ngIf="newMessage">{{newMessage}}</span>
            <img class="setting-icon" src="assets/images/icons/chat.png">
        </div>

        <div class="lt-aside-chat" *ngIf="openChat">
            <div class="chat-content">
                <div class="lt-dialogs">
                    <div class="lt-dialog-search" *ngIf="!isMessages">
                        <div class="wrap-input icon-right">
                            <input type="text" placeholder="Search" class="input-style" #searchChat (keyup)="onSearchChat(searchChat.value)">
                            <div *ngIf="!listSearch.length" class="icon icon-search"></div>
                            <div *ngIf="listSearch.length" class="lt-icon-close icon icon-close" (click)="closeSearch()"></div>
                            <div *ngIf="listSearch.length" class="lt-list-search">
                                <div class="user-item" *ngFor="let item of listSearch" (click)="toMessages(item.id)">
                                    <!--<pre>{{item | json}}</pre>-->
                                    <div class="info">
                                        <div class="avatar">
                                            <img [src]="item.avatar ? baseUrl + item.avatar : defaultUserIcon" alt="">
                                        </div>
                                        <span>{{item.first_name}} {{item.last_name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="lt-icon-close" (click)="toggleChat($event)"></i>
                    </div>
                    <div class="wrap-list-dialogs">
                        <div class="list-dialogs" *ngIf="!isMessages">
                            <div #dialogConfirm class="message-confirm">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-12 quest">
                                        ARE YOU SURE?
                                    </div>
                                    <div class="col-5">
                                        <button class="action accept" (click)="onConfirmDialog(true, dialogConfirm);">Delete</button>
                                    </div>
                                    <div class="col-5">
                                        <button class="action declide" (click)="onConfirmDialog(false, dialogConfirm);">Close</button>
                                    </div>
                                </div>
                            </div>
                            <div class="dialog-item" *ngFor="let dialog of dialogs">
                                <button class="dialog-rm" (click)="onRemoveDialog(dialog.id, dialogConfirm)"></button>
                                <right-app-dialog [dialog]="dialog" (click)="openMessage(dialog)">
                                </right-app-dialog>
                            </div>
                        </div>
                        <div class="wrap-chat" *ngIf="isMessages">
                            <!--<div class="lt-btn-back" (click)="closeMessage()">Back</div>-->
                            <span class="back-btn-wrapper" (click)="closeMessage()" *ngIf="isMessages">
                                <i class="fa fa-arrow-left lt-close-chat"></i>
                                <span class="back-btn-text">Back</span>
                            </span>
                            <right-app-chat [dialog]="activeDialog"></right-app-chat>
                        </div>
                        <div class="lt-loader" *ngIf="isLoading">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lt-aside-chat" *ngIf="openAcademyChat">
            <div class="chat-content">
                <div class="lt-dialogs">
                    <div class="lt-dialog-search" *ngIf="!isMessages">
                        <div class="wrap-input icon-right">
                            <input type="text" placeholder="Search" class="input-style" #searchChat (keyup)="onSearchAcademyChat(searchChat.value)">
                            <div *ngIf="!listSearch.length" class="icon icon-search"></div>
                            <div *ngIf="listSearch.length" class="lt-icon-close icon icon-close" (click)="closeSearch()"></div>
                            <div *ngIf="listSearch.length" class="lt-list-search">
                                <div class="user-item" *ngFor="let item of listSearch" (click)="toMessages(item.id)">
                                    <!--<pre>{{item | json}}</pre>-->
                                    <div class="info">
                                        <div class="avatar">
                                            <img *ngIf="chatType == 'manager'" [src]="item.avatar ? baseUrl + item.avatar : defaultUserIcon"
                                                alt="">
                                            <img *ngIf="chatType == 'user'" [src]="item?.photo ? baseUrl + item?.photo : defaultUserIcon"
                                                alt="">
                                        </div>
                                        <span *ngIf="chatType == 'manager'" class="name">{{item.first_name}}
                                            {{item.last_name}}</span>
                                        <span *ngIf="chatType == 'user'" class="name">{{item.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="lt-icon-close" (click)="toggleAcademyChat($event)"></i>
                    </div>
                    <div class="wrap-list-dialogs">
                        <div class="list-dialogs" *ngIf="!isMessages">
                            <right-app-dialog-academy [typeAcademyChat]="chatType" [dialog]="dialog" *ngFor="let dialog of dialogs"
                                (click)="openAcademyMessage(dialog)">
                            </right-app-dialog-academy>
                        </div>
                        <div class="wrap-chat" *ngIf="isMessages">
                            <!--<div class="lt-btn-back" (click)="closeMessage()">Back</div>-->
                            <i class="lt-icon-close lt-close-chat" *ngIf="isMessages" (click)="closeAcademyMessage()"></i>
                            <right-app-chat-academy [typeAcademyChat]="[chatType]" [dialog]="activeDialog"></right-app-chat-academy>
                        </div>
                        <div class="lt-loader" *ngIf="isLoading">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button notification-info mx-auto">
        <a  [routerLink]="'/notification'">
            <opn-notification-informer></opn-notification-informer>
        </a>
    </div>
    <div class="button plus mx-auto" (click)="onCreateAcademy()"><i class="ion-plus"></i></div>
    <!-- <div class="academies-list mx-auto">
        <opn-item-academy *ngFor="let academy of myAcademies;" [academy]="academy"></opn-item-academy>
    </div> -->
    <div [hidden]="!itemsSearchActive" class="overlay" (click)="closeItemsSearch();"></div>
</aside>

<opn-new-academy *ngIf="modalAcademy" (closedModal)="onCloseodalAcademy()" (addedAcademy)="onAcademyAdd($event)"></opn-new-academy>

<div class="overlay-bg" [hidden]="!itemsSearchActive" (click)="closeItemsSearch()"></div>
