@import '../../../../../../variables';

$border-radius: 3px;
$input-color: #bababa;
$lt-bg: #f0f2f8;
$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;

aside.right {
    width: 94px;
    min-height: 990px;
    float: right;
    padding: 12px 0;
    background: #f0f2f8 !important;
    position: relative;
    z-index: 101;

    &.is-manager {
        margin-top: 60px;
    }

    &.o-settings {
        z-index: 100;
    }

    .button {
        width: 40px;
        height: 40px;
        margin: 10px 0;
        border: 1px solid transparent;
        display: block;
        padding: 5px 0;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white !important;
        box-shadow: 0 8px 10px -5px #9a9797;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 2px 10px -5px #9a9797;
        }

        .setting-icon {
            margin-left: 9px;
            width: 20px;
        }

        &.front {
            z-index: 10101;
        }

        //&.setting {
        //  background-image: url('/assets/images/icons/setting.png');
        //  background-size: 30px;
        //}
        //&.academy {
        //  background-image: url('/assets/images/icons/academy-ava.png');
        //}
        &.plus {
            text-align: center;
            color: #c6cbd0;
            font-size: 18px;
        }

        //&.filter {
        //  background-image: url('/assets/images/icons/filter.png');
        //}
        //&.message-info {
        //  background-image: url('/assets/images/icons/message-info.png');
        //}
        //&.notification-info {
        //  background-image: url('/assets/images/icons/notification-info.png');
        //}
        &.search {
            background-image: url('/assets/images/icons/icon-search.png');
        }
    }

    &.no-scroll {
        overflow: inherit;
    }
}

.lt-active {
    position: relative;
    z-index: 6;

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: calc(100% - 10px);
        transform: translateY(-50%);
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #ffffff;
    }

    .button {
        border-radius: 50%;
        background-color: #fff;
    }
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 1;
}

.lt-search {
    top: 0;
    position: absolute;
    right: 100%;
    background: #fff;
    padding: 15px 0 5px;
    border-radius: 4px;
    width: 320px;
    //line-height: 1;
    max-height: calc(100vh - 50px);
    overflow-y: auto;

    .search-row {
        padding: 0 18px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &.row-bg {
            background: #f0f2f8;
            padding: 5px 18px;
            margin-bottom: 0;
            color: #90949c;
            font-size: 13px;
        }
    }

    .link-view {
        display: inline-flex;
        font-size: 13px;
        color: $color-primary;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .list-items {
        padding: 5px 0;

        .search-item {
            display: flex;
            align-items: center;
            padding: 8px 18px;
            cursor: pointer;
            transition: background 0.4s;

            &:hover {
                background: #f0f2f8;
            }
        }

        .search-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .search-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 12px;
            font-size: 14px;
            line-height: 16px;
            color: #172a47;
            width: calc(100% - 30px);

            .wrap-date {
                width: calc(100% - 50px);
            }

            &>span,
            .start {
                font-weight: 500;
            }

            .price {
                color: $color-primary;
            }

            .create {
                color: #757575;
                padding: 5px 0 0;
                font-size: 12px;
                line-height: 14px;
            }
        }

        .title {
            color: #90949c;
            font-size: 13px;
            line-height: 15px;
        }
    }
}

.overlay-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 100;

    .modal-conteiner {
        width: 844px;
        height: 95vh;
        min-height: 250px;
        max-height: 1034px;
        background: white;
        box-shadow: 2px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 28px;

        .close-modal {
            width: 14px;
            height: 14px;
            background: url(/assets/images/icons/close.png) 50% no-repeat;
            padding: 0;
            cursor: pointer;
            -webkit-transform: translateY(2px);
            transform: translateY(2px);
            position: absolute;
            top: 0;
            right: 0;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .modal-head {
            font-size: 34px;
            color: #23354d;
            font-family: 'Proxima Nova Condensed';
            font-weight: 900;
            text-align: center;
            line-height: 40px;
        }

        .profile-setings {
            .profile-avatar {
                text-align: center;
                margin-top: 36px;

                .avatar-photo {
                    display: inline-block;
                    position: relative;

                    .change-avatar {
                        position: absolute;
                        display: inline-block;
                        top: -10px;
                        right: 0;
                        text-shadow: -5px 5px 3px white;
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 25px;
            position: relative;

            .credentials {
                font-size: 11px;
                font-family: "MuseoSansCyrl";
                color: rgb(202, 211, 221);
                text-transform: uppercase;
            }

            input {
                width: 100%;
                border: 1px solid $white-gray;
                border-radius: $border-radius;
                height: 42px;
                padding: 0 22px;
                outline: none;
                font-family: $font-family-cond;
                color: $dark;

                &::-moz-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }

                &::-webkit-input-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }

                &:-ms-input-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }

                &:-moz-placeholder {
                    color: $input-color;
                    font-weight: 300;
                }

                &.ng-invalid.ng-touched {
                    border-color: $red;
                }

                &:focus,
                &:hover {
                    box-shadow: 0 0 9px rgba(79, 157, 191, 25);
                }

                &#weight {
                    padding-right: 40px;
                    appearance: none;
                    background: url("/assets/images/icons/lbs-icon.png") calc(100% - 10px) center no-repeat;
                }
            }

            i {
                width: 10px;
                height: 18px;
                line-height: 15px;
                text-align: center;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                color: $gray;
                font-weight: 300;
                font-size: 13px;
                display: none;

                &.has-error {
                    // display: block;
                    color: $red;
                    cursor: help;
                }
            }

            div.changeEmiter {
                margin-top: 22px;
                width: 100%;
                height: 67%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 14px;
                color: #4ca1ff;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                cursor: pointer;
                background: rgba(138, 138, 138, 0.3);
                text-align: right;
                line-height: 42px;
                border-radius: 3px;
                padding-right: 18px;
            }
        }

        .button-submit {
            width: 100%;
            height: 42px;
            border-radius: $border-radius;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background: #4ca1ff;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 16px;
            color: $white;
            border: 0;
            cursor: pointer;
            outline: none;
            transition: 0.2s ease-in-out;

            &:hover {
                box-shadow: none;
            }

            &[disabled] {
                background: #f1f2f5;
                color: #cdcfd6;
                cursor: default;
            }
        }

        .button-skip {
            width: 48%;
            height: 42px;
            border-radius: $border-radius;
            //box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 16px;
            background: white;
            color: #ababab;
            border: 1px solid rgba(0, 0, 0, 0.23);
            cursor: pointer;
            float: right;
            outline: none;

            &:hover {
                //box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.27)
            }
        }
    }

    .allSaved {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 16px;
        color: #4ca1ff;
    }
}

@media (max-height: 990px) and (min-width: 1239px) {
    aside.right {
        min-height: 300px;
        height: 100vh;
        overflow-y: auto;
    }
}

@media (min-width: 1240px) {
    aside.right {
        position: fixed;
        top: 0;
        right: 0;
    }

    .sidebar-scroll {
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.23);
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: rgba(255, 255, 255, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 3px;
        }
    }
}

.lt-aside-chat {
    position: fixed;
    width: 320px;
    right: 30px;
    bottom: 10px;
    background: #fff;
    height: 380px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
}

.lt-btn-back {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #4ca1ff;
    font-size: 14px;
    cursor: pointer;
}

.wrap-list-dialogs {
    //position: relative;
    height: 380px;

    .list-dialogs {
        position: relative;
        height: 320px;
        overflow-y: auto;

        .dialog-item {
            position: relative;

            .dialog-rm {
                display: none;
                width: 50px;
                height: 50px;
                background: url("/assets/images/icons/delete.png") calc(50% + 25px / 2) calc(50% - 14px / 2) no-repeat, rgba(255, 255, 255, 0.8);
                position: absolute;
                border: 0;
                top: 0;
                left: auto;
                right: 0;
                cursor: pointer;
                outline: none;
                -webkit-animation-duration: 0.2s;
                animation-duration: 0.2s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;

                &:after {
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-bottom: 50px solid $lt-bg;
                    border-right: 50px solid transparent;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &:hover {
                background: #f0f2f8;

                button.dialog-rm {
                    display: block;
                    animation-name: zoomIn;
                }
            }
        }
    }

    .lt-dialog {
        display: flex;
        align-items: center;
        padding: 10px;
        transition: all 0.4s;
        cursor: pointer;

        &.active,
        &:hover {
            background: $lt-bg;
        }

        .dialog-img {
            width: 50px;
            height: 50px;
            position: relative;

            .wrap-img {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
            }

            &.active {
                &:after {
                    content: "";
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    background: #2bec4a;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .dialog-info {
            width: calc(100% - 50px);
            padding-left: 15px;

            .user-name {
                display: flex;
                justify-content: space-between;

                span {
                    font-weight: bold;
                }
            }

            .user-msg {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 24px;
            }
        }

        .date {
            font-size: 14px;
            color: #c1c3c8;
        }
    }
}

.lt-dialog-search {
    padding: 10px;
    border-bottom: 1px solid $color-border;
    height: 60px;
    display: flex;
    align-items: center;

    .wrap-input {
        width: 100%;

        .icon-close {
            margin: 0;
            cursor: pointer;
        }
    }
}

.lt-icon-close {
    margin: 0 5px 0 12px;
    cursor: pointer;
}

.lt-close-chat {}

.wrap-input {
    &.icon-right {
        position: relative;

        input {
            padding-right: 30px;
        }

        .icon {
            position: absolute;
            top: 0;
            right: 5px;
            height: 100%;
            width: 30px;
            display: flex;
            align-items: center;

            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.lt-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.message-info {
    position: relative;
}

.notify-new {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 15.5px;
    border-radius: 50%;
    background: #f91656;
    top: -5px;
    right: -3px;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.wrap-chat {
    position: absolute;
    top: 0;
    z-index: 9999;
    background: #fff;
    height: 100%;
    width: 100%;

    .back-btn-wrapper {
        position: absolute;
        right: 11px;
        top: 8px;
        display: flex;
        cursor: pointer;
        color: #fff;
        align-items: center;

        .back-btn-text {
            margin-bottom: 3px;
            margin-left: 3px;
        }
    }
}

.lt-list-search {
    position: absolute;
    left: 0;
    top: 45px;
    padding: 0 10px;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #afc7d2;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(2, 2, 2, 0.25);
    z-index: 2;

    img {
        max-width: 100%;
        height: auto;
    }

    .user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }

        .info {
            display: flex;
            align-items: center;
        }

        .avatar {
            width: 35px;
            height: 35px;
            margin-right: 15px;
            overflow: hidden;
            border-radius: 50%;
        }

        .name {
            font-weight: 500;
        }
    }

    .lt-button {
        background: $lt-bg;
        color: $color-label;
        padding: 8px;
        font-size: 13px;
        cursor: pointer;
        transition: background 0.4s;
        border-radius: 2px;

        &:hover {
            background: darken($lt-bg, 10%);
        }
    }
}

.tooltip-content {
    width: 254px;
    max-height: 300px;
    display: block;
    position: absolute;
    top: 35px;
    right: -20px;
    background: white;
    padding: 22px;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 14px;
    color: #3a4a57;
    border-radius: 3px;
    border: 1px solid #d4e0ec;
    box-shadow: 0 4px 8px rgba(23, 42, 71, 0.25);
    z-index: 10;
    overflow: hidden;

    &:before {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-left: 1px solid #d4e0ec;
        border-bottom: 1px solid #d4e0ec;
        position: absolute;
        top: -6px;
        right: 24px;
        background: white;
        -webkit-transform: rotate(-45deg);
        transform: rotate(135deg);
    }
}

.message-confirm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 11;
    transition: 0.3s ease-in;
    display: none;

    &>.row {
        height: 100%;
        margin: 0;
    }

    .quest {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 15px;
        color: #ffffff;
        text-align: center;
    }

    .action {
        width: 100%;
        height: 34px;
        border: 0;
        background: #f1f2f5;
        color: #cdcfd6;
        margin: 10px 0 0 0;
        border-radius: 2px;
        transition: 0.2s ease-in;
        outline: none;
        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
        cursor: pointer;

        &.accept {
            background: #4ca1ff;
            color: white;
        }

        &:hover {
            box-shadow: none;
        }
    }
}
