$white: #ffffff
$background: $white
$border: #d2dbe8
$shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.08)
$radius: 0
$text: #172a47
$text-secondary: #A4A9B1
$color: #4ca1ff

.ngx-datepicker-position-bottom-left
  top: 40px
  right: 0

.ngx-datepicker-position-bottom-right
  // top: 40px
  // left: 0

.ngx-datepicker-position-top-left
  bottom: 40px
  right: 0

.ngx-datepicker-position-top-right
  bottom: 40px
  left: 0

.ngx-datepicker-container
  position: relative

  .ngx-datepicker-input
    padding: 5px 10px
    font-size: 14px
    width: 200px
    outline: none
    border: 1px solid $border

  .ngx-datepicker-calendar-container
    position: relative
    width: 300px
    background: $background
    // box-shadow: $shadow
    border-radius: $radius
    margin: 0 auto

    .topbar-container
      width: 100%
      height: 50px
      padding: 15px 7px
      // border-bottom: 1px solid $border
      display: flex
      justify-content: space-between
      align-items: center
      user-select: none

      svg
        cursor: pointer

        g
          fill: #CED0DA
      i
        cursor: pointer
        font-weight: 700
        font-size: 30px
        color: #c2c2c2

      .topbar-title
        color: $text
        font-size: 15px
        font-family: "MuseoSansCyrl"
        font-weight: 400
        cursor: pointer

    .main-calendar-container
      width: 100%
      height: 100%
      padding: 1px
      font-size: 12px
      font-weight: 500

      .main-calendar-day-names
        color: $text-secondary
        width: 100%
        display: flex
        align-items: center

        .day-name-unit
          width: calc(100% / 7)
          text-transform: uppercase
          text-align: center

      .main-calendar-days, .main-calendar-years
        padding: 1px
        width: 100%
        display: inline-block
        max-height: 275px
        overflow: hidden

        .day-unit, .year-unit
          width: calc(100% / 7)
          height: 40px
          display: inline-flex
          float: left
          align-items: center
          justify-content: center
          cursor: pointer
          user-select: none
          // border-radius: 50%
          color: $text
          border-collapse: collapse
          position: relative
          font-family: "MuseoSansCyrl"
          font-weight: 400
          font-size: 15px

          &:before
            width: calc( 100% + 1px )        
            height: calc( 100% + 1px )
            position: absolute
            top: -1px
            left: -1px
            border: 1px solid $border
            display: block
            content: ''  

          &.is-prev-month
            color: $text-secondary

          &:hover:before
            border-color: $color
            z-index: 1

          &.is-today
            background-color: #bfdeff

          &.is-selected:before
            border-color: $color
            z-index: 1
          
          &.is-disabled
            cursor: not-allowed
            color: $text-secondary
            &:hover:before
              border-color: $border !important

            &:hover
              background: transparent
              z-index: 1


      .main-calendar-years
        height: 210px
        display: block
        padding: 0

        .year-unit
          width: calc(100% / 3)
          border-radius: 10px
