<div class="attended-card">
    <div class="attended-title-wrapper">
        <span class="attended-title">Revenue</span>
        <div class="date-wrapper">
            <span class="date-text"></span><ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="fromDate" (ngModelChange)="getTotalRevenue()"></ng-datepicker>
            <span class="date-text">&mdash;</span> <ng-datepicker [options]="toDateOptions" position="bottom-left" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <ul class="revenu-tabs">
                <li class="revenu-tab subscription" [class.active-tab]="tab == 'subscription'" (click)="tab = 'subscription'">Subscription</li>
                <li class="revenu-tab shop" [class.active-tab]="tab == 'shop'" (click)="tab = 'shop'">Shop</li>
                <li class="revenu-tab event" [class.active-tab]="tab == 'event'" (click)="tab = 'event'">Event</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 chart-box" *ngIf="dataCharts">
            <div *ngIf="tab == 'subscription' && dataCharts.subscription">
                <chart type="bar" [data]="dataCharts.subscription" [options]="options" style="height: 300px;"></chart>
            </div>
            <div *ngIf="tab == 'shop' && dataCharts.shop">
                <chart type="bar" [data]="dataCharts.shop" [options]="options" style="height: 300px;"></chart>
            </div>
            <div *ngIf="tab == 'event' && dataCharts.event">
                <chart type="bar" [data]="dataCharts.event" [options]="options" style="height: 300px;"></chart>
            </div>
        </div>
    </div>
    <div class="row justify-content-end more-box no-gutters ">
        <a [routerLink]="[academyId, 'revenue-deteil']" class="more-btn">More detail</a> <!-- [academyId, 'promotion-deteil'] -->
    </div>
</div>
