@import '../../../../../../../variables';

.attended-card {
    @extend %card-styles;
    .attended-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d3dce9;
        height: 60px;
        padding: 0 30px;
        .attended-title {
            font-family: "MuseoSansCyrl", serif;
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
        }
        .date-wrapper {
            display: flex;
            align-items: center;
            .date-text {
                font-family: "MuseoSansCyrl", serif;
                font-size: 15px;
                margin: 9px;
                font-weight: 400;
            }
            /deep/ .ngx-datepicker-container {
                .ngx-datepicker-input {
                    font-size: 14px;
                    border: 1px solid #DFE3E9;
                    width: 113px;
                    padding: 5px 15px;
                    border-radius: 3px;
                }
                .ngx-datepicker-calendar-container {
                    top: 32px;
                    left: -84px;
                    z-index: 1;
                    &.ngx-datepicker-position-bottom-left{
                        right: 0 !important;
                        left: auto !important;
                    }
                }
            }
        }
    }

    .attended-content {
        padding: 30px 30px 15px 30px;
        min-height: 155px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .activity-card {
            position: relative;
            .legend {
                width: 60px;
                position: absolute;
                top: 30%;
                right: 23%;
                .numbers {
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 18px;
                    color: #202f3b;
                    text-align: center;
                }
                .name {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    text-align: center;
                }
            }
        }
    }
    .card-arround-title {
        padding: 0 30px;
        .group-title {
            font-family: "MuseoSansCyrl", serif;
            font-weight: 500;
            font-size: 13px;
            color: #202f3b;
        }
    }
    .more-box {
        padding: 16px 0 30px 0;
        .more-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            width: 115px;
            border: 0;
            border-radius: 3px;
            height: 40px;
            text-align: center;
            font-size: 15px;
            line-height: 40px;
            background: #4ca1ff;
            color: white;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            cursor: pointer;
            margin-right: 28px;
            box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
            transition: 0.2s;
            float: right;
            text-decoration: none !important;
            &:hover {
                box-shadow: none;
            }
        }
    }
    .chart-box{
        padding: 20px 40px 0 40px;
    }
    .revenu-tabs{
        list-style: none;
        padding: 0;
        margin: 15px 0 0 0;
        li.revenu-tab{
            padding: 0 15px;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: #202f3b;
            font-weight: 300;
            cursor: pointer;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
            &.subscription:hover{
                border-color: rgba($color: #4ca1ff, $alpha: 0.5);
                color: #4ca1ff;
            }
            &.subscription.active-tab{
                color: #4ca1ff;
                border-color: #4ca1ff;
            }
            &.shop:hover{
                border-color: rgba($color: #f18849, $alpha: 0.5);
                color: #f18849;
            }
            &.shop.active-tab{
                color: #f18849;
                border-color: #f18849;
            }
            &.event:hover{
                border-color: rgba($color: #ff4f81, $alpha: 0.5);
                color: #ff4f81;
            }
            &.event.active-tab{
                color: #ff4f81;
                border-color: #ff4f81;
            }
        }
    }
}
