<div class="academies-wrapp">
    <div class="academy-group">
        <input type="text" #academyInput [ngClass]="{'has-error': valid}" [value]="curent" (blur)="onBlur()"  (keyup)="searchAcademy($event)"> <!-- (focus)="onLoadAcademies($event)" -->
        <!--<i *ngIf="exclamation" class="ion-alert" [ngClass]="{'has-error': valid}" tooltip="This field is required" [tooltipDisabled]="!valid" [tooltipAnimation]="true" tooltipPlacement="left"></i>-->
    </div>
    <div class="academies-results" #results>
        <button class="apply-btn" (mousedown)="onSetMyAcademy()" [disabled]="disabledButton">Select</button>
        <ul class="academies-results__options">
            <li class="academies-results__option text-left" *ngFor="let academy of _academies" data-academy-id="academy.id" (mousedown)="selectAcademy($event, academy)">
                    <div class="academy-avatar" [ngStyle]="{
                        background: 
                          (academy.avatar) 
                            ? 'url('+ (serverUrl + academy.avatar) +') center/cover no-repeat'
                            : 'url(/assets/images/academy-logo.jpg) center/cover no-repeat'
                      }"></div>
                {{academy.text}}
            </li>
            <li class="academies-results__option text-left" *ngIf="_academies.length == 0">No results found</li>
        </ul>
    </div>
</div>