@import '../../_variables';
$border-radius: 3px;
$input-color: #bababa;
.academy-group{
  position: relative;
}
.academies-wrapp {
  margin-bottom: 25px;
  position: relative;
  input {
      width: 100%;
      border: 1px solid $white-gray;
      border-radius: $border-radius;
      height: 42px;
      padding: 0 22px;
      outline: none;
      font-family: $font-family-cond;
      color: $dark;
      &::-moz-placeholder {
          color: $input-color;
          font-weight: 300;
      }
      &::-webkit-input-placeholder {
          color: $input-color;
          font-weight: 300;
      }
      &:-ms-input-placeholder {
          color: $input-color;
          font-weight: 300;
      }
      &:-moz-placeholder {
          color: $input-color;
          font-weight: 300;
      }
      &.ng-invalid.ng-touched {
          border-color: $red;
      }
      &:focus {
          box-shadow: 0 0 9px rgba(79, 157, 191, 25);
      }
      &.has-error {
        border-color: $red;
    }
  }
  i {
      width: 10px;
      height: 18px;
      line-height: 15px;
      text-align: center;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: $gray;
      font-weight: 300;
      font-size: 13px;
      &.has-error {
          color: $red;
          cursor: help;
      }
  }
}
.apply-btn{
  width: 100%;
  height: 42px;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #4c97ff;;
  font-family: $font-family-cond;
  font-size: 16px;
  color: $white;
  border: 0;
  cursor: pointer;
  outline: none;
  &:hover {
      box-shadow: none;
  }
  &[disabled]{
    cursor: not-allowed;
    background: #f1f2f5;
    color: #cdcfd6;
  }
}
.academies-wrapp {
  position: relative;
  font-family: "Proxima Nova Condensed";
  .academies-results {
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 999;
    display: none;
    .academies-results__options{
      list-style-type: none;
      padding: 0;
      max-height: 130px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
        background-color: #f0f0f0;
        border-radius: 3px;
      }
      &::-webkit-scrollbar {
          width: 7px;
          background-color: #f0f0f0;
      }
      &::-webkit-scrollbar-thumb {
          background-color: #c9c9c9;
          border-radius: 3px;
      }
      li.academies-results__option{
        display: block;
        line-height: 42px;
        height: 42px;
        font-family: $font-family-cond;
        color: $gray;
        line-height: 42px;
        padding-left: 60px !important;
        position: relative;
        &:hover{
          background-color: #eeeeee;
          cursor: pointer;
        }
        .active{
          background-color: #eeeeee;
        }
        .academy-avatar{
          display: block;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          margin-right: 10px;
          transform: translateY(3px);
          position: absolute;
          left: 10px;
        }
      }
    }
  }
}