main {
    &:not(.admin){
        width: calc(100% - 96px - 240px);
        margin-left: 240px;
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1030px;
    .content-card-100 {
        padding: 0;
        float: left;
        margin: 14px 22px 0 22px;
        .row-10 {
            margin: 0 -7px;
            .col-p {
            }
        }
        .student-card {
            background: white;
            border-radius: 6px;
            box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
            .card-head {
                height: 60px;
                border-bottom: 1px solid #d3dce9;
                line-height: 60px;
                padding: 0 30px;
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 16px;
                color: #202f3b;
            }
            .card-content {
                padding: 30px;
                min-height: 135px;
                display: flex;
                justify-content: space-between;
                .student-info-wrapper {
                    display: flex
                }
                .subscription-info-wrapper {
                    text-align: right;
                    .subscription-title {
                        color: #90949c;
                        font-size: 13px;
                    }
                    .subscription-date {
                        color: #90949c;
                        font-size: 12px;
                    }
                }
            }
        }
        .level-activity {
            width: 110px;
            height: 110px;
            position: relative;
            margin: 0 auto;
            .legend {
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                position: absolute;
                .numbers {
                    font-family: "MuseoSansCyrl";
                    font-weight: 500;
                    font-size: 18px;
                    color: #202f3b;
                    text-align: center;
                }
                .name {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 13px;
                    color: #90949c;
                    text-align: center;
                }
            }
        }
        .level-activity {
            float: left;
            margin: 0 0.5%;
        }
        .user-data {
            padding-left: 24px;
            width: calc(100% - 70px);
            .user-name {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 15px;
                color: #172a47;

                .online-status-wrapper {
                    font-size: 12px;
                    color: #90949c;
                    font-weight: 400;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    margin-left: 10px;
                    display: inline-flex;
                    align-items: center;
                    .online-indicator {
                        margin-right: 3px;
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        &.offline {
                            background: #ccc;
                        }
                        &.online {
                            background-color: #2bec4a;
                        }
                    }
                }

            }
            .user-academy {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 13px;
                color: #4ca1ff;
                cursor: pointer;
                &:focus{
                    outline: 0;
                }
            }
            .user-address {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 13px;
                color: #90949c;
                text-overflow: ellipsis;
            }
        }
    }
    .student-card-wrapper{
        width: 690px;
        margin-right: 15px;
    }
    .attended-scl-wrapper{
        width: 560px;
        margin-right: 15px;
    }
    /deep/ .scl-card{
        margin-top: 15px !important;
    }
    opn-level-stripe{
        width: 265px;
    }
    opn-subscription-cards-list{
    }
    opn-attended {
        height: 100%;
        width: 560px;
    }
    .activity-wrapper {
        max-height: 625px;
        padding: 0 7px;
        width: 400px;
        .activity-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .activity-content {
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            .activity-item-wrapper {
                margin: 0 30px 30px 30px;
                max-height: 490px;
                overflow-y: auto;
                .activity-item {
                    min-height: 60px;
                    padding: 10px 50px 5px 50px;
                    position: relative;
                    &:before {
                        display: block;
                        content: '';
                        height: 100%;
                        position: absolute;
                        border-right: 1px solid #e0e6f0;
                        top: 0;
                        left: 23px;
                    }
                    .ai-date {
                        font-family: "MuseoSansCyrl";
                        font-weight: 200;
                        font-size: 12px;
                        color: #90949c;
                        position: relative;
                        &:before {
                            display: block;
                            content: '';
                            width: 9px;
                            height: 9px;
                            position: absolute;
                            top: 5px;
                            left: -31px;
                            border-radius: 50%;
                            border: 2px solid #4ca1ff;
                            background: white;
                            outline: 10px solid white;
                        }
                    }
                    .ai-text {
                        font-family: "MuseoSansCyrl";
                        font-weight: 500;
                        font-size: 13px;
                        color: #202f3b;
                        a {
                            color: #4ca1ff;
                            text-decoration: none;
                        }
                    }
                    .student-belt {
                        width: 222px;
                        height: 21px;
                    }
                }
            }
            .no-activities {
                align-self: center;
                margin: auto;
            }
            .more-events {
                margin: 0 15px 15px 15px;
                width: calc(100% - 40px);
                height: 30px;
                background: #f0f2f8;
                color: #4ca1ff;
                font-size: 13px;
                font-family: "MuseoSansCyrl", serif;
                font-weight: 300;
                cursor: pointer;
                outline: none;
                border: 0;
                border-radius: 3px;
            }
        }
    }

    i.ion-plus {
        font-weight: 300;
        color: #4ca1ff;
        cursor: pointer;
        width: 20px;
        height: 20.5px;
        font-size: 16px;
        border-radius: 50%;
        border: 2px solid #4ca1ff;
        text-align: center;
        line-height: 18px;
    }
}
