<main [class.admin]="userId">
    <opn-ui-back-btn class="mr-auto" *ngIf="userId"></opn-ui-back-btn>
    <div class="content-card-100">
        <div class="row no-gutters row-10 student-info-score-wrapper">
            <div class="student-card student-card-wrapper">
                <div class="card-head">
                    Student Dashboard
                </div>
                <div class="card-content" *ngIf="student">
                    <div class="student-info-wrapper">
                        <div class="student-avatar-wrapper">
                            <opn-view-avatar [belt]="student?.belt?.sourse_round" [src]="student?.avatar"
                                             [widthImg]="'70px'" [md]="'sidebar'"></opn-view-avatar>
                        </div>
                        <div class="col-auto user-data">
                            <div class="user-name">
                                {{student.first_name}} {{student.last_name}}
                            </div>
                            <div class="user-academy" *ngIf="userId">
                                {{student.academy.name}}
                            </div>
                            <div class="user-academy" *ngIf="!userId" [routerLink]="['/academiy-datail/' + student.academy.id]">
                                {{student.academy.name}}
                            </div>
                            <div class="user-address">
                                {{student.address || 'no adress'}}
                            </div>
                           
                        </div>
                    </div>
                    <div class="subscription-info-wrapper"
                         *ngIf="studentSubscriptions.length > 0; else noSubscriptions">
                        <div class="subscription-title"> Subscription:</div>
                        <div class="subscription-name"> {{studentSubscriptions[0].subscription.name}}</div>
                        <div class="subscription-date"> since {{studentSubscriptions[0].created_at | date:'yyyy'}}
                        </div>
                    </div>
                    <ng-template #noSubscriptions>
                        No subscriptions
                    </ng-template>
                </div>
            </div>
            <opn-level-stripe *ngIf="student" [studentId]="student.id" [academyId]="student.academy.id"></opn-level-stripe>
        </div>
    </div>

    <div class="content-card-100" style="margin-bottom: 15px;">
        <div class="row no-gutters row-10">
            <div class="attended-scl-wrapper" *ngIf="student">
                <opn-attended [userId]="student.id"></opn-attended>
                <opn-subscription-cards-list [userId]="student.id"></opn-subscription-cards-list>
            </div>
            <div class="student-card activity-wrapper">
                <div class="card-head activity-title">
                    <span>Activity</span>
                </div>
                <div class="card-content activity-content">
                    <div class="activity-item-wrapper" *ngIf="studentActivities.length > 0; else noActivity">
                        <div class="activity-item"
                             *ngFor="let activity of studentActivities; let i = index"
                             [hidden]="!viewMore && i === (initialLimit - 1)">
                            <div class="ai-date">{{ activity.created_at | date: 'd MMM y' }}</div>
                            <div class="ai-text" [innerHtml]="activity.data"></div>
                            <div *ngIf="activity.type === 'belt'">
                                <img class="student-belt" src="{{baseUrl + activity.details.sourse}}" alt="">
                            </div>
                        </div>
                    </div>
                    <button class="more-events" (click)="onLoadMore()"
                            *ngIf="studentActivities.length === initialLimit">View More
                    </button>
                    <ng-template #noActivity>
                        <div class="no-activities">No activities yet</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</main>
