<div class="content-card-100">
    <div class="row">
        <div class="col-12">
            <opn-to-dashboard [academyId]="academyId"></opn-to-dashboard>
        </div>
    </div>
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="row grid-wrap no-gutters">
                <div class="col-12">
                    <div class="row justify-content-between align-items-center no-gutters heder-line">
                        <div class="col-auto grid-head">Revenue</div>
                        <div class="date-wrapper ml-auto">
                            <span class="date-text"></span><ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="fromDate" (ngModelChange)="getTotalEnvents($event, toDate, academyId)"></ng-datepicker>
                            <span class="date-text">&mdash;</span> <ng-datepicker [options]="toDateOptions" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
                        </div>
                        <div class="col-auto">
                            <button class="h-btns export-btn" (click)="exportToExcel()">Export</button>
                            <button class="h-btns print-btn" (click)="printGrid()">Print</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row grid-content align-items-center">
                        <div class="col-12" *ngIf="academyInfo">
                            <table class="grid-data" id="data-grid">
                                <thead>
                                    <tr>
                                        <th><div class="filter" [ngClass]="filter.name.order" (click)="onChangeFilter('name')">Student name</div></th>
                                        <th><div class="filter" [ngClass]="filter.subscription_name.order" (click)="onChangeFilter('subscription_name')">Subscription</div></th>
                                        <th><div class="filter" [ngClass]="filter.class.order" (click)="onChangeFilter('class')">Class revenue</div></th>
                                        <th><div class="filter" [ngClass]="filter.shop.order" (click)="onChangeFilter('shop')">Shop revenue</div></th>
                                        <th><div class="filter" [ngClass]="filter.event.order" (click)="onChangeFilter('event')">Event revenue</div></th>
                                        <th><div class="filter" [ngClass]="filter.subscription.order" (click)="onChangeFilter('subscription')">Subscription revenue</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of promotionUsers; let i = index;">
                                        <td class="long">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto mr-3 user-data" (click)="toUserDashboar(row.user)">
                                                    <opn-view-avatar [src]="row.user.avatar" [widthImg]="'30px'"></opn-view-avatar>
                                                </div>
                                                <div class="col-7 user-data" (click)="toUserDashboar(row.user)">
                                                    {{row.full_name || ''}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="long">{{row.subscription_name || '-'}}</td>
                                        <td class="small"><span class="price">$ {{row.class}}</span></td>
                                        <td class="small"><span class="price">$ {{row.shop}}</span></td>
                                        <td class="small"><span class="price">$ {{row.event}}</span></td>
                                        <td class="small"><span class="price">$ {{row.subscription}}</span></td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                            <div class="loader" *ngIf="promotionUsers.length == 0 && !load">Loading...</div>
                            <div class="no-data" *ngIf="promotionUsers.length == 0 && load">
                                Not have users
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row no-gutters justify-content-between pagination" *ngIf="promotionUsers.length > 0">
                        <div class="col-auto">
                            <opn-per-page (change)="onChangePerPage($event)"></opn-per-page>
                        </div>
                        <div class="col-auto pages" *ngIf="pagintion.show">
                            <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">
                                {{p}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
