@import '../../../../../../../variables';

.card-wrapper {
    display: inline-block;
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23.6%;
    flex: 0 0 23.6%;
    max-width: 23.6%;
    margin-right: 1.3%;
    .card {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        display: inline-flex;
        position: relative;
        border-radius: 2px;
        margin-bottom: 15px;
        width: 100%;
        .card-img {
            width: inherit;
            height: 140px;
            object-fit: cover;
            padding: 3px 3px 0;
        }
        .card-content {
            height: 145px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 600;
            .card-text {
                .price {
                    color: $color-primary;
                }
                .product-title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-height: 50px;
                }
            }
            .card-actions {
                cursor: pointer;
                color: $orange;
                border-top: 1px solid $border-gray;
                padding: 15px 15px 0;
                text-align: center;
                i {
                    margin-right: 10px;
                }
            }
            .card-added{
                border-top: 1px solid $border-gray;
                padding: 15px 15px 0;
                text-align: center;
                color: $gray;
            }
        }
    }
}
