<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="overlay-modal-bg" *ngIf="open">
    <div class="modalConteiner">
        <div class="row modal-panel no-gutters">
            <!-- <div class="col-auto prev-modal" *ngIf="step > 1 && step < 3" (click)="onPevStep()"></div> -->
            <div class="col-auto close-modal ml-auto" (click)="onClose()"></div>
        </div>
        <div class="modal-head">
                {{(step < 3) ? openType +' Class' : 'Thank you!'}}
        </div>
        <div class="steps" *ngIf="step < 3">
            <div class="spet-nuber">
                step
                <span>{{step}}</span> of 2
            </div>
            <div class="step-bar step{{step}}"></div>
        </div>
        <div [ngSwitch]="step" class="step-container">
            <div *ngSwitchCase="1">
                <div class="activiti-group">
                    <label for="activiti-name">Name:</label>
                    <input type="text" id="activiti-name" [(ngModel)]="modelEvent.name" (keyup)="onChangeField2()">
                </div>

                <div class="activiti-group">
                        <label for="activiti-name">Hours:</label>
                        <div class="daysBox">
                            <div class="dayItem" *ngFor="let day of modelEvent.days; let i = index;">
                                <span>{{day.day}}:</span> {{day.time_start}} - {{day.time_end}} <button (click)="onRemoveDay(i);">Remove</button>
                            </div>
                        </div>
                        <div class="col-day">
                            <ng-select placeholder="Day" (selected)="onDaySelect($event)"
                                #elDays [options]="days" [allowClear]="clearDaySelect">
                            </ng-select>
                        </div>
                        <div class="col-day">
                            <div class="activiti-time">
                                <opn-ui-time [date]="time.start" (changeTime)="onChangeStartTime($event)"></opn-ui-time>
                            </div>
                        </div>
                        <div class="col-day">
                            <div class="activiti-time">
                                <opn-ui-time [date]="time.end" (changeTime)="onChangeEndTime($event)"></opn-ui-time>
                            </div>
                        </div>
                        <div class="col-day-btn">
                            <button class="add-day_btn" [disabled]="disableAddDay" (click)="onAddDay(elDays)"><i class="ion-plus"></i></button>
                        </div>
                </div>
                <div class="activiti-group">
                    <label for="activiti-name">Subscription:</label>
                    <angular2-multiselect [data]="subscriptionsList" [(ngModel)]="modelEvent.subscriptions" [settings]="subscriptionSettings"
                        (onSelect)="onSubscriptionSelect($event)" (onDeSelect)="OnSubscriptionDeSelect($event)" (onSelectAll)="OnSubscriptionDeSelect($event)"
                        (onDeSelectAll)="OnSubscriptionDeSelect($event)">
                    </angular2-multiselect>
                </div>
                <button [ngClass]="{'accept': acceptStep2}" class="next-step" (click)="onNextStep()">Next Step</button>
                <button class="remove-event-btn" *ngIf="openType == 'Update'" (click)="onRemove()">Remove</button>
            </div>
            <div *ngSwitchCase="2">
                <div class="activiti-group">
                    <label for="activiti-name">Teachers <button (click)="openNewTeacher()"><i class="ion-android-add drop-icon pointer"></i></button></label>
                    <angular2-multiselect [data]="teacherList" [(ngModel)]="modelEvent.teachers" [settings]="teachersSettings"
                        (onSelect)="onTeacherSelect($event)" (onDeSelect)="OnTeacherDeSelect($event)" (onSelectAll)="onSelectAllTeacher($event)"
                        (onDeSelectAll)="onDeSelectAllTeacher($event)">
                    </angular2-multiselect>
                </div>
                <div class="activiti-group">
                    <label for="activiti-name">Techniques <button (click)="openNewTechnique()"><i class="ion-android-add drop-icon pointer"></i></button></label>
                    <angular2-multiselect [data]="techniqueList" [(ngModel)]="modelEvent.techniques" [settings]="techniquesSettings"
                    (onSelect)="onTechniqueSelect($event)" (onDeSelect)="OnTechniqueDeSelect($event)" (onSelectAll)="onSelectAllTechnique($event)"
                    (onDeSelectAll)="onDeSelectAllTechnique($event)">
                </angular2-multiselect>
                </div>
                <div class="activiti-group">
                    <label for="activiti-name">Color:</label>
                    <div class="wrap-event" [cpFallbackColor]="colorBorder" colorPicker [cpPosition]="'top'" [cpAlphaChannel]="'disabled'" [style.border-color]="colorBorder" [style.background]="colorBg" [cpOutputFormat]="'rgba'" (colorPickerChange)="onSelectColor($event)">
                        <div class="event-name">Class name: {{ modelEvent.name }}</div>
                        <div class="event-subscriptions">Subscription: {{ modelEvent.subscriptions[0].itemName }}</div>
                    </div>
                </div>
                <button [ngClass]="{'accept': acceptCreate}" class="create-event-btn" (click)="onCreateActivity()"
                    [disabled]="createDisabled && createProcess">
                    {{openType}}
                    <span class="small-loader inline-block" *ngIf="createProcess"></span>
                </button>
                <button class="remove-event-btn" *ngIf="openType == 'Update'" (click)="onRemove()">Remove</button>
            </div>
            <div *ngSwitchCase="3">
                <div class="success-description">
                    Success! Your class {{openType == 'Create' ? openType : 'updated'}}.
                </div>
                <button class="create-event-btn accept" (click)="onClose()">Ok</button>
            </div>
        </div>
    </div>
</div>
<opn-update-teachers [academyId]="academyId"></opn-update-teachers>
<opn-update-techniques [academyId]="academyId"></opn-update-techniques>
