$lt-bg: #f0f2f8;
$input-color: #bababa;


$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;


:host {
  color: $color-default;
}

main {
  img {
    max-width: 100%;
    height: auto;
  }
}

.lt-card {
  .lt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lt-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    & > span {
      padding-right: 10px;
    }
  }
}

.row-logo {
  display: flex;
  align-items: center;

  .logo {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    .change-avatar{
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
      border-radius: 50%;
      transition: 0.2s;
      z-index: 10;
      /deep/ opn-crop-academy-logo{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
        .edit-academy-logo{
          label{
            opacity: 0;
          }
        }
        .crop-container{
          top: -76px;
          right: -158px;
        }
      }
    }
    &:hover{
      .change-avatar{
        background: rgba(2, 2, 2, 0.5);
        /deep/ opn-crop-academy-logo{
          .edit-academy-logo{
            label{
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .btn-change {
    background: $lt-bg;
    color: $color-label;
    padding: 8px 25px;
    font-size: 13px;
    cursor: pointer;
    transition: background 0.4s;
    position: relative;
    margin-left: 15px;
    border-radius: 2px;

    input {
      opacity: 0;
      font-size: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &:hover {
      background: darken($lt-bg, 10%);
    }
  }

  .name {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    color: $color-label;
  }
}

.lt-hours {
  @media (max-width: 1199px) {
    .col-xl-3 {
      margin-bottom: 15px;
    }
  }
}

.list-hours {
  .hour {
    padding: 0 0 20px;

    .day {
      font-weight: 500;
    }

    .remove {
      margin-left: 15px;
      color: $color-primary;
      cursor: pointer;
    }
  }
}
.h-btns{
  .close-lable{
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 14px;
    transform: translateY(-6px);
    display: inline-block;
    padding-left: 15px;
  }
  .btn-add {
    background: #4ca1ff;
    color: white;
    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
    transition: 0.2s;
    float: right;
    text-decoration: none !important;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    &[disabled]{
      background: rgba($color: #4ca1ff, $alpha: 0.5);
      cursor: default;
      box-shadow: none;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .sw-box{
    margin-top: 6px;
  }
}

.btn-add {
  cursor: pointer;
  color: $color-primary;
}

.lt-form-rows {
  .form-manager {
    //input {
    //  width: calc(100% - 110px);
    //}

    .wrap-input {
      display: flex;
    }

    .lt-btn {
      width: 100px;
      padding: 0;
      justify-content: center;
    }
  }
}

.lt-list-manager {
  padding: 0 30px 20px 30px;
  border-bottom: 1px solid $color-border;

  @media (min-width: 1200px){
    padding-left: 170px
  }
}

.lt-list {
  .manager-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
    .info {
      display: flex;
      align-items: center;
    }

    .avatar {
      width: 35px;
      margin-right: 15px;
      overflow: hidden;
      border-radius: 50%;
    }

    .name {
      font-weight: 500;
    }
  }

  .lt-button {
    background: $lt-bg;
    color: $color-label;
    padding: 8px 25px;
    font-size: 13px;
    cursor: pointer;
    transition: background 0.4s;
    border-radius: 2px;

    &:hover {
      background: darken($lt-bg, 10%);
    }
  }
}

.lt-form-footer{
  align-items: center;
  .all-saved{
    font-family: "MuseoSansCyrl", serif;
    font-weight: 300;
    font-size: 16px;
    color: #4ca1ff;
    margin-right: 25px;
  }
}


.form-manager {
  position: relative;

  .lt-list-search {
    position: absolute;
    left: 155px;
    top: 45px;
    padding: 0 10px;
    width: calc(100% - 264px);
    max-height: 250px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #afc7d2;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(2, 2, 2, 0.25);
  }

  .lt-btn {
    margin-left: 10px;
  }
}

.form-field{
  label{
    font-size: 11px;
    font-family: "MuseoSansCyrl";
    color: #cad3dd;
    text-transform: uppercase;
  }
  margin-top: 10px;
}

