<main class="row no-gutters justify-content-center">
    <opn-manager-panel *ngIf="academyId != 0" [academyId]="academyId" class="w-100" (checkManager)="isManager = $event"></opn-manager-panel>
    <div class="col-12 max-content">
        <div class="content-card-100">
            <div class="row">
                <div class="col-12">
                    <div class="lt-card">
                        <form [formGroup]="formSettings">
                            <div class="lt-header">
                                <div class="title">Academy settings</div>
                                <div class="lt-switcher">
                                    <span *ngIf="activeProfile; else active">Profile Activate</span>
                                    <ng-template #active>
                                        <span>Profile Deactivate</span>
                                    </ng-template>
                                    <label for="status" class="sw-box">
                                        <input id="status" type="checkbox" formControlName="status_public" (click)="toggleProfile()">
                                        <span class="switch">
                                            <span class="switcher"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="lt-form-rows">
                                <div class="wrap-row row align-items-start">
                                    <div class="row-logo col-2 mt-2">
                                        <div class="logo">
                                            <div class="avatar-photo">
                                                <div class="change-avatar">
                                                    <opn-crop-academy-logo (onCropped)="setAvatar($event)"></opn-crop-academy-logo>
                                                </div>
                                                <opn-view-avatar [src]="urlLogo" [widthImg]="'128px'"></opn-view-avatar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-field">
                                                    <label for="name">Name</label>
                                                    <div class="wrap-field">
                                                        <input class="input-style" id="name" formControlName="name"
                                                            type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-field">
                                                    <label>Location</label>
                                                    <div class="wrap-field">
                                                        <ng4geo-autocomplete [userSettings]="locationInputSettings"
                                                            (componentCallback)="autoCompleteCallback($event)">
                                                        </ng4geo-autocomplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-field">
                                                    <label for="email">Email</label>
                                                    <div class="wrap-field">
                                                        <input class="input-style" id="email" formControlName="email"
                                                            type="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-field">
                                                    <label for="phone">Phone</label>
                                                    <div class="wrap-field">
                                                        <input class="input-style" id="phone" formControlName="phone"
                                                            type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-field wrap-textarea">
                                                    <label for="information">Information</label>
                                                    <div class="wrap-field">
                                                        <textarea class="input-style" id="information" formControlName="information"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-field wrap-textarea">
                                                    <label for="information">Hours</label>
                                                    <div class="wrap-field">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="list-hours">
                                                                    <div class="hour" *ngFor="let item of hours">
                                                                        <span class="day">{{item.day}}</span>
                                                                        <span class="h-start">{{item.start}}</span>
                                                                        <span class="h-end" *ngIf="item.start != 'Closed'">-
                                                                            {{item.end}}</span>
                                                                        <span class="remove" (click)="removeHours(item.id)">Remove</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-center lt-hours">
                                                            <div class="col-xl-2">
                                                                <ng-select placeholder="Day" (selected)="onDaySelect($event)"
                                                                    #elDays [options]="days">
                                                                </ng-select>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <ng-select placeholder="Select start" (selected)="onStartSelect($event)"
                                                                    #elHStart [options]="hours_arr" [disabled]="!slectDay || slectClose">
                                                                </ng-select>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <ng-select placeholder="Select end" (selected)="onEndSelect($event)"
                                                                    #elHEnd [options]="hours_arr" [disabled]="!slectDay || slectClose">
                                                                </ng-select>
                                                            </div>
                                                            <div class="col-xl-4 h-btns">
                                                                <label for="close" class="sw-box">
                                                                    <input id="close" formControlName="hour_close" type="checkbox"
                                                                        (click)="toggleClose($event)">
                                                                    <span class="switch">
                                                                        <span class="switcher"></span>
                                                                    </span>
                                                                </label>
                                                                <span class="close-lable" [class.active]="slectClose">Closed</span>
                                                                <button class="btn-add" [disabled]="disabledAddBtn"
                                                                    (click)="addHour(elDays.value, elHStart.value, elHEnd.value)"><i
                                                                        class="ion-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lt-header">
                                <div class="title">Admin Roles</div>
                            </div>
                            <div class="lt-form-rows">
                                <div class="wrap-row form-manager" (clickOutside)=toggleManagersDropDown($event)>
                                    <label for="add-manager">Add Managers</label>
                                    <div class="wrap-input">
                                        <input class="input-style" id="add-manager" #search type="text" (click)="managersDropDownIsActive = true"
                                            (keyup)="onSearch(search.value)">
                                        <span [hidden]="!managersDropDownIsActive" class="lt-btn" (click)="onCloseSearch()">Close</span>
                                    </div>
                                    <div [hidden]="!managersDropDownIsActive || listSearch.length < 1" class="lt-list lt-list-search">
                                        <div class="manager-item" *ngFor="let item of listSearch">
                                            <div class="info">
                                                <div class="avatar">
                                                    <img [src]="item.avatar ? baseUrl + item.avatar : urlLogo" alt="">
                                                </div>
                                                <span class="name">{{item.first_name}} {{item.last_name}}</span>
                                            </div>
                                            <div class="lt-button">
                                                <span *ngIf="!item.is_manager; else added" (click)="addManager(item)">Add</span>
                                                <ng-template #added>Added</ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lt-list lt-list-manager">
                                    <div class="manager-item" *ngFor="let manager of managers">
                                        <div class="info">
                                            <div class="avatar">
                                                <img [src]="manager.avatar ? baseUrl + manager.avatar : noPhotoImg" alt="">
                                            </div>
                                            <span class="name">{{manager.first_name}} {{manager.last_name}}</span>
                                        </div>
                                        <div *ngIf="!manager.is_manager || +manager.is_manager.status === 0; else ownerBtn"
                                            class="lt-button" (click)="removeManager(manager)">Remove</div>
                                        <ng-template #ownerBtn>
                                            <div class="lt-button">Owner</div>
                                        </ng-template>
                                    </div>
                                    <div *ngIf="!managers.length" class="manager-item">
                                        <p>No managers yet</p>
                                    </div>
                                </div>
                                <div class="lt-form-footer">
                                    <span [hidden]="!savedRecently" class="all-saved">All changes are saved!</span>
                                    <button class="lt-btn" type="button" [disabled]="formSettings.invalid" (click)="onUpdateForm(formSettings)">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
