<main class="row no-gutters justify-content-center">
  <div class="col-12 max-content">
    <div class="content-card-100">
      <div class="notification-tabs">
          <div class="col-auto panel-radio-group">
              <div class="radio-item" [class.unread]="unreadGroup.user > 0"> <!-- unread -->
                <input type="radio" name="group" [(ngModel)]="group" value="user" id="status1" (change)="onChangeFilterStatus(group)">
                <label for="status1">Notification</label>
              </div>
              <div class="radio-item" [class.unread]="unreadGroup.manager > 0" *ngIf="isManager">
                <input type="radio" name="group" [(ngModel)]="group" value="manager" id="status2" (change)="onChangeFilterStatus(group)">
                <label for="status2">Manager</label>
              </div>
            </div>
      </div>
      <div class="notification-list">
        
        <div class="notification-item" [class.unread]="notification.view == 0" *ngFor="let notification of notifications;">
          <div *ngIf="notification.notification_type == 'standart' || notification.notification_type == 'follower'">
            <div class="nt-date">{{ notification.created_at | date: 'd MMM y' }}</div>
            <div class="nt-text" [innerHtml]="notification.content | keepHtml"></div>
          </div>
          <div *ngIf="notification.notification_type == 'canceled_subscription'">
              <opn-subscription-cancel [dataSource]="notification"></opn-subscription-cancel>
          </div>
          <div *ngIf="notification.notification_type == 'canceled_subscription_fee'">
            <opn-subscription-cancel-fee [dataSource]="notification"></opn-subscription-cancel-fee>
          </div>
          <div *ngIf="notification.notification_type == 'new_order' || notification.notification_type == 'new_status'">
              <opn-order-notification [dataSource]="notification"></opn-order-notification>
          </div>
        </div>
        <div class="loader" *ngIf="!load">Loading...</div>
        <div class="no-data" *ngIf="notifications.length == 0 && load">
          Not found notifications
        </div>
      </div>
    </div>
  </div>
</main>