<div class="nt-date">{{ dataSource.created_at | date: 'd MMM y' }}</div>
<div class="nt-text">
  <span [innerHtml]="dataSource.content | keepHtml"></span>
  <button class="n-cancel" *ngIf="!dataSource.changed" (click)="onCencel(dataSource)">Accept
      <div class="small-loader inline-block" *ngIf="dataSource.joinLoaderC"></div>
  </button>
  <button class="n-decline" *ngIf="!dataSource.changed" (click)="onDeclineSubscription(dataSource)">Decline
      <div class="small-loader inline-block" *ngIf="dataSource.joinLoaderD"></div>
  </button>
</div>
<opn-modal-fee (confirm)="onConfirm($event)"></opn-modal-fee>