.n-cancel{
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 0;
  background: #4ca1ff;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
  margin-left: 15px;
  transition: 0.2s;
  &:hover{
    box-shadow: none;
  }
}

.n-decline{
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 0;
  background: #ff5e8b;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
  margin-left: 10px;
  transition: 0.2s;
  &:hover{
    box-shadow: none;
  }
}