.to-dashboard{
    margin: 10px 0 30px 0;
    display: inline-block;
    cursor: pointer;
    img{
        margin-right: 10px;
    }
    span{
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 13px;
        color: #172a47;
    }
}