.events-widget{
  .date-group{
    border-top: 1px solid #d3dce9;
    .date{
      background: #f0f2f8;
      height: 31px;
      font-size: 13px;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      line-height: 31px;
      color: #90949c;
      padding: 0 20px;
    }
    .event-item{
      padding: 0 20px;
      height: 45px;
      .time{
        font-size: 12px;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        line-height: 45px;
        color: #90949c;
        padding-right: 15px;
        width: 68px;
      }
      .icon{
        position: relative;
        width: 35px;
        height: 45px;
        img{
          width: 25px;
          position: relative;
          top: 6px;
        }
      }
      .name{
        font-size: 14px;
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        line-height: 45px;
        color: #202f3b;
        width: 135px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 5px;
        cursor: pointer;
      }
      .other{
        text-align: right;
        font-size: 12px;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        line-height: 45px;
        color: #4ca1ff;
        width: 59px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:hover{
        background-color: #f7f7f7;
      }
    }
  }
  .more-events{
    margin: 0 15px 15px 15px;
    width: calc( 100% - 40px );
    height: 30px;
    background: #f0f2f8;
    color: #4ca1ff;
    font-size: 13px;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 3px;
  }
}
