<div class="events-widget">
  <div #eventsList class="clearfix opn-scroll" style="max-height: 300px;">
    <div class="date-group" *ngFor="let date of dates">
      <div class="row no-gutters">
        <div class="col-12 date">{{date | date: 'longDate'}}</div>
      </div>
      <div class="row event-item no-gutters" *ngFor="let item of events[date]">
        <div class="col-auto time">{{item.start_date | date: 'hh:mm a'}}</div>
        <div class="col-auto icon"><img [src]="'/assets/images/icons/'+item.type+'-icon.png'" [alt]="item.name"></div>
        <div class="col-auto name" (click)="onRedirectTo(item.id, item.type, item.academy_id)">{{item?.name || ''}}</div>
        <div class="col-auto other ml-auto">
            joined
        </div>
      </div>
    </div>
  </div>
</div>
