<div class="content-card-100">
    <div class="row no-gutters row-10">
        <div class="col-12 col-p">
            <div class="shop-tabs row w-100 no-gutters">
                <div class="col-auto panel-radio-group">
                    <div class="radio-item">
                        <!-- unread -->
                        <input type="radio" name="group" [(ngModel)]="tab" value="products" id="search" (change)="onChangeTab(fragment)">
                        <label for="search" *ngIf="fragment == 'cart'">Cart</label>
                        <label for="search" *ngIf="fragment == 'products'">Products</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" name="group" [(ngModel)]="tab" value="orders" id="orders" (change)="onChangeTab('orders')">
                        <label for="orders">Orders</label>
                    </div>
                    <div class="statuses-box">
                        <div class="status-item" [ngClass]="status.label" *ngFor="let status of statusArr;">
                            {{statusLabels[status.label]}} <span>{{status.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row grid-wrap no-gutters">
                <div class="col-12">
                    <div class="row justify-content-between align-items-center no-gutters heder-line">
                        <div class="col-auto grid-head">Orders</div>
                        <div class="col-auto ml-auto">
                            <div class="search-wrapper">
                                <input type="text" class="filter" [(ngModel)]="filter.id" placeholder="Search orders" (keyup)="onOrderSearch()">
                            </div>
                        </div>
                        <div class="date-wrapper">
                            <ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="filter.date.fromDate" (ngModelChange)="getUserOrders()"></ng-datepicker>
                            <span class="date-text">&mdash;</span>
                            <ng-datepicker [options]="toDateOptions" [(ngModel)]="filter.date.toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
                        </div>
                        <div class="col-auto">
                            <div class="select-wrapper">
                                <angular2-multiselect [data]="statusOptions" [(ngModel)]="filter.status" [settings]="statusSelectSettings" (onSelect)="getUserOrders()"
                                    (onDeSelect)="getUserOrders()" (onSelectAll)="getUserOrders()" (onDeSelectAll)="getUserOrders()"></angular2-multiselect>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row grid-content align-items-center">
                        <div class="col-12">
                            <add-belt [studentId]="studentId" *ngIf="isAddBelt" [hidden]="!isAddBelt" (close)="closeAddBelt()" (onAdd)="onBeltAdded($event)"></add-belt>
                            <table class="grid-data" id="data-grid">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="filter" [ngClass]="sort.id.order" (click)="onChangeFilter('id')">Order</div>
                                        </th>
                                        <th>
                                            <div class="filter" [ngClass]="sort.date.order" (click)="onChangeFilter('date')">Date</div>
                                        </th>
                                        <th>
                                            <div class="filter" [ngClass]="sort.full_name.order" (click)="onChangeFilter('full_name')">Buyer</div>
                                        </th>
                                        <th>
                                            <div class="filter" [ngClass]="sort.status.order" (click)="onChangeFilter('status')">Status</div>
                                        </th>
                                        <th>
                                            <div class="filter" [ngClass]="sort.total.order" (click)="onChangeFilter('total')">Total price</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of orders; let i = index;" (click)="toOrder(row.id)">
                                        <td class="small">
                                            <span class="text-link">#{{row.id}}</span>
                                        </td>
                                        <td class="long">{{row.created_at | date: 'dd MMM yyyy'}}</td>
                                        <!-- {{row.user.subscriptions.length > 0 ? row.user.subscriptions[0].subscription.name : '-'}} -->
                                        <td class="small">{{row.full_name}}</td>
                                        <td class="small">
                                            <span class="order-status" [ngClass]="row.status">{{statusLabels[row.status]}}</span>
                                        </td>
                                        <td class="small">
                                            <span class="price">$ {{row.total}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                            <div class="loader" *ngIf="orders.length == 0 && !load">Loading...</div>
                            <div class="no-data" *ngIf="orders.length == 0 && load">
                                Not have orders
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row no-gutters justify-content-between pagination" *ngIf="orders.length > 0">
                        <div class="col-auto">
                            <opn-per-page (change)="onChangePerPage($event)"></opn-per-page>
                        </div>
                        <div class="col-auto pages" *ngIf="pagintion.show">
                            <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">
                                {{p}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
