@mixin card-head() {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 16px;
    color: #202f3b;
}

@mixin card-content() {
    padding: 0 30px;
    min-height: 135px;
    display: flex;
    justify-content: space-between;
}

@mixin font($size, $weight, $color) {
    font-family: "MuseoSansCyrl";
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

.content-card-100 {
    padding: 0;
    float: left;
    width: calc(100% - 22px);
    margin: 14px 22px 0 22px;
    min-height: auto !important;
    .row-10 {
        margin: 0 -7px;
        .col-p {
            padding: 0 7px;
        }
    }
    /deep/ .date-wrapper {
        display: flex;
        align-items: center;
        .date-text {
            font-family: "MuseoSansCyrl", serif;
            font-size: 14px;
            margin: 9px;
            font-weight: 400;
        }
        .ngx-datepicker-container {
            .ngx-datepicker-input {
                border: 1px solid #d3dce9;
                width: 113px;
                padding: 5px 15px;
                border-radius: 3px;
                height: 40px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #1c2836;
                &:hover{
                    border-color: #98a6bc;
                    cursor: pointer;
                }
            }
            .ngx-datepicker-calendar-container {
                top: 32px;
                left: -84px;
                z-index: 1;
            }
        }
    }
    .search-wrapper{
        input[type='text']{
            border: 1px solid #d3dce9;
            width: 213px;
            height: 40px;
            padding: 0 15px;
            border-radius: 3px;
            background: url('/assets/images/icons/search-f.png') right center no-repeat, #fff;
            margin-right: 10px;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: #1c2836;
            &:hover{
                border-color: #98a6bc;
                cursor: pointer;
            }
        }
    }
    .select-wrapper{
        width: 150px;
        margin: 0 30px 0 10px;
    }
    .grid-wrap {
        background: white;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
        margin-top: 25px;
        .heder-line {
            border-bottom: 1px solid #d3dce9;
            height: 80px;
        }
        .grid-head {
            @include card-head();
        }
        .grid-content {
            @include card-content();
        }
    }
    .grid-data {
        width: 100%;
        tr {
            height: 54px;
            border-bottom: 1px solid #d3dce9;
        }
        thead th {
            @include font(13px, 500, #172a47);
            padding-right: 30px;
            position: relative;
            white-space: normal;
            & .filter {
                cursor: pointer;
                &:after {
                    width: 20px;
                    text-align: right;
                    content: '';
                    color: #c2c2c2;
                    font-size: 13px;
                    display: inline-block;
                    font-family: Ionicons;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    text-rendering: auto;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
                &.ASC:after {
                    content: "\F123";
                }
                &.DESC:after {
                    content: "\F126";
                }
            }
        }
        tbody {
            tr {
                cursor: pointer;
            }
            td {
                @include font(14px, 300, #1c2836);
                vertical-align: middle;
                &.long {
                    width: calc( 50% / 2);
                }
                &.small {
                    width: calc( 50% / 4);
                }
                &:not(:last-child) {
                    padding-right: 10px;
                }
                .text-link,
                .price {
                    color: #4ca1ff;
                }
                .order-status {
                    display: inline-block;
                    border-radius: 5px;
                    padding: 2px 10px;
                    color: white;
                    &.in_process {
                        background-color: #fcb062;
                    }
                    &.new {
                        background-color: #ff6793;
                    }
                    &.shipped {
                        background-color: #7cd73b;
                    }
                }
            }
            .check-row {
                label {
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    position: relative;
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    margin: 0;
                    top: 3px;
                    &:hover {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: none;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #4ca1ff;
                        position: absolute;
                        left: 3px;
                        top: 3px;
                    }
                }
                input[type='checkbox'] {
                    display: none;
                    &:checked+label {
                        border-color: #4ca1ff;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.pagination {
    padding: 28px;
    .pages {
        .page {
            width: 30px;
            height: 30px;
            border-radius: 2px;
            border: 1px solid #d3dce9;
            float: left;
            margin-left: 6px;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            color: #172a47;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            &.active {
                cursor: default;
                pointer-events: none;
                border: 1px solid #4ca1ff;
                background: #4ca1ff;
                color: white;
            }
        }
    }
}

.no-data {
    font-family: "MuseoSansCyrl";
    font-weight: 500;
    font-size: 13px;
    color: #172a47;
    text-align: center;
    padding: 30px 0;
}

.shop-tabs {
    text-align: left;
    .panel-radio-group {
        .radio-item {
            display: inline-block;
            position: relative;
            &.unread:after {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #f91656;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 10px;
            }
            label {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                padding-left: 26px;
                position: relative;
                padding-right: 20px;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0.5s ease-in-out;
                }
                &:hover {
                    &:before {
                        border-color: #4ca1ff;
                    }
                }
                &:after {
                    display: none;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #4ca1ff;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
            input[type="radio"] {
                display: none;
                &:checked+label {
                    &:before {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}
.statuses-box{
    display: inline-block;
    .status-item{
        display: inline-block;
        border-radius: 5px;
        padding: 2px 10px;
        margin: 0 15px;
        color: white;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        &.in_process {
            background-color: #fcb062;
        }
        &.new {
            background-color: #ff6793;
        }
        &.shipped {
            background-color: #7cd73b;
        }
        span{
            display: inline-block;
            color: #202f3b;
            padding-left: 10px;
        }
    }
}