.modal-box {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    z-index: 999999999999;
    .overlay-modal-bg {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
    }
    .closeModal {
        font-size: 20px;
        color: white;
        font-family: 'Proxima Nova Condensed';
        position: absolute;
        right: 23px;
        top: 20px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .modalConteiner {
        min-width: 1000px;
        min-height: 482px;
        width: 80vw;
        height: 80vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        .media-box {
            min-height: 482px;
            height: 80vh;
            width: calc( 100% - 340px);
            float: left;
            position: relative;
            .prevMedia {
                position: absolute;
                top: 50%;
                left: 24px;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.7);
                color: rgba(255, 255, 255, 0.7);
                padding: 10px;
                cursor: pointer;
                display: none;
            }
            .nextMedia {
                position: absolute;
                top: 50%;
                right: 48px;
                transform: translateY(-50%);
                background: rgba(0, 0, 0, 0.7);
                color: rgba(255, 255, 255, 0.7);
                padding: 10px;
                cursor: pointer;
                display: none;
            }
            &:hover {
                .nextMedia {
                    display: block;
                }
                .prevMedia {
                    display: block;
                }
            }
            .media-item {
                display: flex;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.9);
                img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    margin: 0 auto;
                }
                video {
                    max-height: 100%;
                }
            }
        }
        .post-box {
            width: 340px;
            float: right;
            padding: 15px;
            .post-scroll {
                margin: 0;
                height: calc(100% - 88px);
                overflow-x: hidden;
            }
            .feed-user-avatar {
                float: left;
                margin-right: 15px;
            }
            .feed-user-data {
                float: left;
                margin-top: 10px;
                .user-fio,
                .academy-name {
                    font-size: 15px;
                    font-family: "MuseoSansCyrl";
                    font-weight: 400;
                    color: #4ca1ff;
                    width: 220px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .feed-time-passed {
                    font-size: 13px;
                    color: #90949c;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    .feed-visibility {
                        &.all {
                            width: 24px;
                            height: 18px;
                            background: url(/assets/images/icons/public-gray.png) center no-repeat;
                            -webkit-transform: translateY(3px);
                            transform: translateY(3px);
                            margin-left: 10px;
                            display: inline-block;
                        }
                        &.me {
                            width: 24px;
                            height: 18px;
                            background: url(/assets/images/icons/person.png) center no-repeat;
                            -webkit-transform: translateY(3px);
                            transform: translateY(3px);
                            margin-left: 10px;
                            display: inline-block;
                        }
                        &.followers {
                            width: 24px;
                            height: 18px;
                            background: url(/assets/images/icons/people.png) center no-repeat;
                            -webkit-transform: translateY(3px);
                            transform: translateY(3px);
                            margin-left: 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .feed-likes-count {
            width: 100px;
            float: left;
            color: #1772a7;
            font-size: 15px;
            font-family: 'Proxima Nova Condensed';
        }
        .feed-comments-count {
            width: 100px;
            float: right;
            color: #1772a7;
            font-size: 15px;
            font-family: 'Proxima Nova Condensed';
        }
        .feed-last-like {
            color: #1772a7;
            font-size: 15px;
            font-family: 'Proxima Nova Condensed';
        }
        .feed-social-btn {
            margin: 15px -4px 0 -4px;
            height: 30px;
            .col-4 {
                padding: 0 4px;
            }
            .social-btn {
                background-color: #f0f2f8;
                color: #90949c;
                font-size: 13px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                border-radius: 2px;
                height: 30px;
                line-height: 31px;
                cursor: pointer;
                position: relative;
                &:hover {
                    color: #4ca1ff;
                    transition: 0.3s;
                }
                &.is-like {
                    i.like-icon {
                        background: url('/assets/images/icons/like-icon.png') top center no-repeat;
                    }
                }
                &.active {
                    i.comment {
                        background: url('/assets/images/icons/comment-active.png') top center no-repeat;
                    }
                    i.share-symbol {
                        background: url('/assets/images/icons/share-active.png') top center no-repeat;
                    }
                }
                i.like-icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 0px;
                    transform: translateY(3px);
                    background: url('/assets/images/icons/like-icon.png') top center no-repeat;
                }
                i.comment-icon {
                    display: inline-block;
                    width: 20px;
                    height: 18px;
                    margin-right: 0px;
                    transform: translateY(6px);
                    background: url('/assets/images/icons/comment.png') top center no-repeat;
                }
                i.share-icon {
                    display: inline-block;
                    width: 25px;
                    height: 20px;
                    margin-right: 0px;
                    transform: translateY(4px);
                    background: url('/assets/images/icons/share-icon.png') top center no-repeat;
                }
                i.share-symbol {
                    display: inline-block; //opacity: 0.4;
                    width: 25px;
                    height: 17px;
                    margin-right: 0px;
                    transform: translateY(4px);
                    background: url('/assets/images/icons/share.png') top center no-repeat;
                }
                i.hand-gesture {
                    display: inline-block; //opacity: 0.4;
                    width: 25px;
                    height: 17px;
                    margin-right: 0px;
                    transform: translateY(4px);
                    background: url('/assets/images/icons/like-gray.png') top center no-repeat;
                }
                i.hand-gesture-blue {
                    display: inline-block; //opacity: 0.4;
                    width: 25px;
                    height: 17px;
                    margin-right: 0px;
                    transform: translateY(4px);
                    background: url('/assets/images/icons/like.png') top center no-repeat;
                }
                i.comment {
                    display: inline-block;
                    width: 25px;
                    height: 17px;
                    margin-right: 0px;
                    transform: translateY(4px);
                    background: url('/assets/images/icons/comment.png') top center no-repeat;
                }
                .share-buttons-wrap {
                    width: 100%;
                    min-width: 150px;
                    border-style: solid;
                    position: absolute;
                    border: 1px solid #d4e0ec;
                    background: white;
                    border-radius: 3px;
                    box-shadow: 0 4px 8px rgba($color: #172a47, $alpha: 0.25);
                    z-index: 99;
                    padding: 8px 10px;
                    &:after {
                        display: block;
                        content: '';
                        width: 12px;
                        height: 12px;
                        transform: rotate(45deg);
                        border-width: 0 1px 1px 0;
                        border-color: #e3e3e3;
                        border-style: solid;
                        position: absolute;
                        left: calc( 50% - 6px);
                        z-index: 10;
                        background: white;
                        box-shadow: 2px 2px 4px rgba($color: #172a47, $alpha: 0.15);
                    }
                    &.top {
                        // top: -125px;
                        top: -130px;
                        left: 0;
                        &:after {
                            bottom: -5px;
                        }
                    }
                    &.bottom {
                        top: 55px;
                        left: -56px;
                        box-shadow: -2px -2px 4px rgba($color: #172a47, $alpha: 0.15);
                        &:after {
                            display: block;
                            content: '';
                            width: 12px;
                            height: 12px;
                            transform: rotate(-135deg);
                            border-width: 0 1px 1px 0;
                            border-color: #e3e3e3;
                            border-style: solid;
                            position: absolute;
                            top: -7px;
                            left: calc( 65%);
                            z-index: 10;
                            background: white;
                            box-shadow: 2px 2px 4px rgba($color: #172a47, $alpha: 0.15);
                        }
                    }
                    button {
                        width: 100%;
                        height: 30px;
                        border: 0;
                        outline: none;
                        background: transparent;
                        cursor: pointer;
                        color: #172a47;
                        font-size: 14px;
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        text-align: left;
                        i.share-me {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url('/assets/images/icons/list.png') center no-repeat, #f0f2f8;
                            margin-right: 13px;
                            transform: translateY(4px);
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
        .feed-comments {
            margin: 0;
            .separator {
                margin-top: 0;
            }
            .feed-comments-scroll {
                max-height: 200px;
            }
            .feed-comment {
                padding: 15px 8px 15px 0;
                position: relative;
                .comment-user-avatar {
                    width: 30px;
                    margin-right: 15px;
                    img {
                        width: 36px;
                        border-radius: 50%;
                    }
                }
                .comment-content {
                    width: calc( 100% - 45px);
                    .separator {
                        width: 100%;
                        border-bottom: 1px solid #e5eaf2;
                        margin-top: 15px;
                    }
                    .comment-user-date {
                        font-size: 15px;
                        font-family: "MuseoSansCyrl";
                        font-weight: 400;
                        color: #4ca1ff;
                        .comment-date {
                            color: #90949c;
                            font-size: 13px;
                            font-family: "MuseoSansCyrl";
                            font-weight: 300;
                            float: right;
                            position: relative;
                        }
                    }
                    .text {
                        margin-top: 10px;
                        font-size: 14px;
                        color: #3a4a57;
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                    }
                    .remove-comment {
                        display: none;
                        width: 25px;
                        height: 25px;
                        background: url('/assets/images/icons/delete-red.png') center no-repeat;
                        border: 0;
                        outline: none;
                        transition: all 0.5s ease-in-out;
                        cursor: pointer;
                        z-index: 10;
                        outline: none;
                        position: absolute;
                        top: -4px;
                        left: -30px;
                        -webkit-animation-duration: 0.5s;
                        animation-duration: 0.5s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                    }
                }
                &:hover {
                    .comment-content {
                        .remove-comment {
                            display: inline-block;
                            animation-name: zoomIn;
                        }
                    }
                }
                .comment-confirm {
                    width: 100%;
                    height: calc( 100% - 15px);
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: 11;
                    transition: 0.3s ease-in;
                    display: none;
                    &>.row {
                        height: 100%;
                        margin: 0;
                    }
                    .quest {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 15px;
                        color: #ffffff;
                        text-align: center;
                    }
                    .action {
                        width: 100%;
                        height: 34px;
                        border: 0;
                        background: #f1f2f5;
                        color: #cdcfd6;
                        margin: 0;
                        border-radius: 2px;
                        transition: 0.2s ease-in;
                        outline: none;
                        box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                        cursor: pointer;
                        &.accept {
                            background: #4ca1ff;
                            color: white;
                        }
                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .new-comment-form {
            padding: 15px 0;
            .user-avatar {
                width: 30px;
                margin-right: 15px;
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
            .form-group {
                width: calc( 100% - 45px);
                margin: 0;
                .coment-field {
                    width: calc( 100% - 90px);
                    float: left;
                    height: 40px;
                    border: 1px solid #e3e3e3;
                    border-radius: 3px;
                    padding-left: 18px;
                    font-size: 14px;
                    color: #3a4a57;
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    outline: none;
                }
                button.post-comment {
                    width: 80px;
                    float: right;
                    height: 40px;
                    border: 0;
                    background: #4ca1ff;
                    color: white;
                    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                    margin-left: 10px;
                    border-radius: 2px;
                    transition: 0.2s ease-in;
                    outline: none;
                    cursor: pointer;
                    &:hover {
                        box-shadow: none;
                    }
                    &[disabled] {
                        background: #f1f2f5;
                        color: #cdcfd6;
                        transition: 0.2s ease-in;
                        outline: none;
                        cursor: default;
                    }
                }
            }
        }
    }
}

@keyframes zoomIn {
  from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
      opacity: 1;
  }
}
