<div class="overlay-modal-bg" *ngIf="open">
    <div class="modalConteiner">
        <div class="row modal-panel no-gutters">
            <div class="col-auto close-modal ml-auto" (click)="onClose()"></div>
        </div>
        <div class="modal-head">
            Create Technique
        </div>
        <div class="modal-content" [ngSwitch]="step">
            <div class="step-container" *ngSwitchCase="1">
                <form [formGroup]="formTechnique" (ngSubmit)="onCreateTeacher()">
                    <div class="form-group mt-5">
                        <input formControlName="name" type="text">
                        <button type="submit" [disabled]="formTechnique.invalid">Add</button>
                    </div>
                </form>
            </div>
            <div class="step-container" *ngSwitchCase="2">
                <div class="step-container-head mt-5">
                    <div style="color: rgb( 76, 161, 255 ); font-size: 24px">
                        <img src="assets/images/icons/success.png" style="width: 50px;margin-top: -20px;margin-right: 10px;">
                        Success!
                    </div>
                    <p class="mt-4">You technique
                        <b>{{technique}}</b> created!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
