.overlay-modal-bg{
  background: rgba(22, 42, 53, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-top: 1px solid rgba(22, 42, 53, 0.8);
  top: 0;
  left: 0;
  z-index: 999999999999;
  .modalConteiner{
    width: 540px;
    background: white;
    padding: 25px 20px 70px 20px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    .modal-panel{
      margin: 0;
      .close-modal{
        width: 14px;
        height: 14px;
        background: url("/assets/images/icons/close.png") center no-repeat;
        padding: 0;
        cursor: pointer;
        transform: translateY(2px);
        transition: 0.2s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .modal-head{
      margin-top: 20px;
      font-family: "MuseoSansCyrl";
      font-weight: 300;
      font-size: 34px;
      color: #323844;
      text-align: center;
    }
    .modal-content{
      border: 0;
      .step-container{
        padding: 0 76px;
        .form-group {
          margin: 0;
          padding: 0;
          input[type="text"] {
            width: calc( 100% - 79px);
            height: 40px;
            border: 1px solid #d3dce9;
            border-radius: 3px 0 0 3px;
            padding-left: 18px;
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 14px;
            color: #202f3b;
            outline: none;
            float: left;
            &:focus,
            &:hover {
              border-color: #98a6bc;
            }
          }
          button {
            width: 80px;
            border: 0;
            border-radius: 0 3px 3px 0;
            height: 40px;
            font-size: 15px;
            color: white;
            background: #4ca1ff;
            font-family: 'Proxima Nova Condensed';
            cursor: pointer;
            margin-left: -1px;
            box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
            float: left;
            &:disabled {
              cursor: default;
              background: #f1f2f5;
              color: #cdcfd6;
            }
            &:hover {
              box-shadow: none;
            }
          }
        }
        .step-container-head{
          font-family: "MuseoSansCyrl";
          font-weight: 300;
          font-size: 20px;
          text-align: center;
          color: #282d38;
        }
      }
    }
  }
}