@import '../../../../../variables';

.content-card-100 {
    .students-panel {
        margin-top: 0px;
        height: 40px;

        .panel-radio-group {
            .radio-item {
                display: inline-block;

                label {
                    font-family: "MuseoSansCyrl";
                    font-weight: 300;
                    font-size: 14px;
                    color: #202f3b;
                    padding-left: 26px;
                    position: relative;
                    padding-right: 20px;
                    cursor: pointer;

                    &:before {
                        display: block;
                        content: '';
                        width: 18px;
                        height: 18px;
                        border: 2px solid #babec9;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover {
                        &:before {
                            border-color: #4ca1ff;
                        }
                    }

                    &:after {
                        display: none;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #4ca1ff;
                        border-radius: 50%;
                        position: absolute;
                        left: 5px;
                        top: 5px;
                    }
                }

                input[type="radio"] {
                    display: none;

                    &:checked+label {
                        &:before {
                            border-color: #4ca1ff;
                        }

                        &:after {
                            display: block;
                        }
                    }
                }

            }
        }

        .filter {
            input.filter {
                width: 240px;
                height: 40px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 16px;
                color: #202f3b;
                float: right;
                padding: 0 30px 0 20px;
                background: url("/assets/images/icons/search-f.png") right center no-repeat;
                outline: none;

                &:hover,
                &:focus {
                    border: 1px solid #98a6bc;
                }
            }
        }
    }

    .students-list {
        //  @extend %card-styles;
        margin: 0 -8px 0 -8px !important;
		.student-col{
			padding: 0 8px;
			margin-top: 16px;
		}
        .student-card {
            min-height: 275px;
            @extend %card-styles;
			padding: 25px;
            &:nth-child(4n+4) {
                border-right: 0;
            }

            .student-avatar {
                display: block;
                width: 105px;
                margin: 0 auto;
                position: relative;
                margin-top: 10px;
                border-radius: 50%;
                box-shadow: 0 2px 4px rgba($color: #5b6074, $alpha: 0.3);
            }

            .student-status {
                width: 25px;
                height: 25px;
                background: url("/assets/images/icons/student-status.png");
                position: absolute;
                top: 0px;
                right: 0px;

                &.active {
                    background: url("/assets/images/icons/student-status.png") center bottom;
                }
            }
        }

        .student-name {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 15px;
            color: #172a47;
            text-align: center;
            margin-top: 10px;
			cursor: pointer;
			white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .student-address {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 13px;
            color: #4ca1ff;
            text-align: center;
            margin: 0 auto;
        }
		.wrap_belt{
			padding: 15px 0 15px 0;
			border-bottom: 1px solid #d3dce9;
			.belt {
				height: 25px;
				background-position: 100% 0px !important;
				background-size: cover !important;
			}
		}
        

        .student-action {
            margin-top: 15px;

            .activate-btn {
                display: block;
                width: 100%;
                height: 40px;
                border: 0;
                background: #4ca1ff;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: white;
                box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
                border-radius: 3px;
                transition: 0.2s ease-in;
                outline: none;
                cursor: pointer;
                margin: 0 auto;

                &:hover {
                    box-shadow: none;
                }
            }

            .deactivate-btn {
                display: block;
                width: 100%;
                height: 40px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
				font-size: 14px;
				background: #f1f2f5;
                color: #90949c;
                margin: 0 auto;
                outline: none;
                border: 0;
                cursor: pointer;

                &:before {
                    display: inline-block;
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: url("/assets/images/icons/event-remove.png");
					margin-right: 10px;
					position: relative;
    				top: 1px;
                }
            }
        }
    }

    .pagination {
        padding: 28px;

        .pages {
            .page {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                float: left;
                margin-left: 6px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #172a47;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                &.active {
                    cursor: default;
                    pointer-events: none;
                    border: 1px solid #4ca1ff;
                    background: #4ca1ff;
                    color: white;
                }
            }
        }
    }

    .no-data {
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 13px;
        color: #172a47;
        text-align: center;
        padding: 30px 0;
    }
}
