<div class="attended-card">
    <div class="attended-title-wrapper">
        <span class="attended-title">Total classes attended</span>
        <div class="date-wrapper">
            <span class="date-text">From: </span><ng-datepicker #fromDateComponent [options]="fromDateOptions" [(ngModel)]="fromDate" (ngModelChange)="getUserAttendance()"></ng-datepicker>
            <span class="date-text">To:</span> <ng-datepicker [options]="toDateOptions" [(ngModel)]="toDate" (ngModelChange)="onToDateChange($event)"></ng-datepicker>
        </div>
    </div>
    <div class="attended-content" *ngIf="joins">
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{checkins.class}}</div>
                <div class="name">Classes</div>
            </div>
            <round-progress [current]="50" [max]="50" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#4ca1ff'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{joins.seminar}}</div>
                <div class="name">Seminar</div>
            </div>
            <round-progress [current]="50" [max]="50" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#ff4f81'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{joins.mat_event}}</div>
                <div class="name">Open mat</div>
            </div>
            <round-progress [current]="50" [max]="50" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#f3d928'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
        <div class="activity-card">
            <div class="legend">
                <div class="numbers">{{joins.others}}</div>
                <div class="name">Others</div>
            </div>
            <round-progress [current]="50" [max]="50" [stroke]="10" [radius]="55" [semicircle]="false"
                            [rounded]="false" [responsive]="false"
                            [clockwise]="true" [color]="'#11e66b'" [background]="'#d3dce9'"
                            [duration]="800"
                            [animation]="'easeOutCubic'"
                            [animationDelay]="0">
            </round-progress>
        </div>
    </div>
</div>
