<table class="content" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
    <tbody>
      <tr>
        <td class="content_cell" align="center" valign="top" style="padding: 0;text-align: center;background-color: #ffffff;font-size: 0 !important;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
              <tbody>
                <tr>
                  <td width="580" align="center" valign="top">
            <![endif]-->
            <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
              <!--[if (gte mso 9)|(IE)]>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
                <tbody>
                  <tr>
                    <td width="580" align="center" valign="top">
              <![endif]-->
              <div class="col-3" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;">
                <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                  <tbody>
                    <tr>
                      <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;">
                        <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 16px;margin-bottom: 24px;">Hello {{user_name}}!<br>
                        Please verify your email address to complete the registration of your <a href="{{site_url}}" style="display: inline-block;text-decoration: none;font-family: Helvetica, Arial, sans-serif;color: #2f68b4;"><strong>OPNMAT.com</strong></a> account.</p>
                        <table class="secondary_btn" align="center" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;clear: both;margin: 0 auto;">
                          <tbody>
                            <tr>
                              <td class="font_default" style="padding: 12px 24px;font-family: Helvetica, Arial, sans-serif;font-size: 16px;mso-line-height-rule: exactly;text-align: center;vertical-align: middle;-webkit-border-radius: 4px;border-radius: 4px;background-color: #2f68b4;"><a href="{{confirmation_url}}" style="display: block;text-decoration: none;font-family: Helvetica, Arial, sans-serif;color: #ffffff;font-weight: bold;text-align: center;"><span style="text-decoration: none;color: #ffffff;text-align: center;display: block;">Verify</span></a></td>
                            </tr>
                          </tbody>
                        </table><!-- end .secondary_btn -->
                        </td><!-- /.column_cell -->
                    </tr>
                  </tbody>
                </table><!-- /.column -->
              </div><!-- /.col-3 -->
              <!--[if (gte mso 9)|(IE)]>
                    </td>
                  </tr>
                </tbody>
              </table>
              <![endif]-->
            </div><!-- /.row -->
            <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </tbody>
            </table>
            <![endif]-->
        </td><!-- /.content_cell -->
      </tr>
    </tbody>
  </table><!-- /.content -->