<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="date=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">
<title></title>
<link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
<style type="text/css">
</style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0;padding: 0;min-width: 100%; /*! background-color: #d8dde4; */">
<div class="email_body" style="text-align: center; /*! padding: 32px 10px; background-color: #d8dde4; */">
  <!--[if (gte mso 9)|(IE)]>
  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
    <tbody>
      <tr>
        <td width="580" align="center" valign="top">
  <![endif]-->
  	<div class="email_container" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;margin: 0 auto; /*!  max-width: 580px; */ font-size: 0 !important;">
      <table class="header" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
        <tbody>
          <tr>
            <td class="header_cell col-bottom-0" align="center" valign="top" style="padding: 0;text-align: center;padding-bottom: 16px;-webkit-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;background-color: #2f68b4;font-size: 0 !important;">
                <!--[if (gte mso 9)|(IE)]>
                <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
                  <tbody>
                    <tr>
                      <td width="580" align="center" valign="top">
                <![endif]-->
                <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
                  <!--[if (gte mso 9)|(IE)]>
                  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
                    <tbody>
                      <tr>
                        <td width="580" align="center" valign="top">
                  <![endif]-->
                  <div class="col-3" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;">
                    <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                      <tbody>
                        <tr>
                          <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 20px;text-align: center;vertical-align: top;color: #ffffff;font-weight: bold;padding-bottom: 0;padding-top: 16px;"><a href="#" style="display: inline-block;text-decoration: none;font-family: Helvetica, Arial, sans-serif;color: #ffffff;"><img src="http://opn-mat.codereview.site/assets/images/logo-white.png" width="100" height="42" alt="OPNMAT" style="line-height: 1;outline: none;border: 0;text-decoration: none;-ms-interpolation-mode: bicubic;mso-line-height-rule: exactly;max-width: 156px;height: auto;"></a></td><!-- /.column_cell -->
                        </tr>
                      </tbody>
                    </table><!-- /.column -->
                  </div><!-- /.col-3 -->
                  <!--[if (gte mso 9)|(IE)]>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <![endif]-->
                </div><!-- /.row -->
                <!--[if (gte mso 9)|(IE)]>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <![endif]-->
            </td><!-- /.header_cell -->
          </tr>
        </tbody>
      </table><!-- /.header -->
      {{content}}
    </div><!-- /.email_container -->
  <!--[if (gte mso 9)|(IE)]>
        </td>
      </tr>
    </tbody>
  </table>
  <![endif]--> 
</div><!-- /.email_body --> 
</body>
</html>