<div class="modal-container" *ngIf="isOpen">
  <div class="modal-overlay"></div> <!--  (click)="close(true)" -->
  <div class="app-modal opn-scroll">
    <button class="btn-close close-modal" (click)="close()"></button>
    <div class="body">
          <div class="fee-group">
            <label for="fee-price">Enter fee:</label>
            <input #feeEl type="text" id="fee-price" [(ngModel)]="fee" currencyMask [options]="{ align: 'left' }" (keyup)="(feeEl.value == '')? disable = true : disable = fasle">
          </div>
          <div class="row justify-content-center">
            <div class="col-12"><button class="action accept" [disabled]="disable" (click)="onConfirm(true);">{{btnsTitle.accept}}</button></div>
          </div>
    </div>
  </div>
</div>
