<opn-modal modalId="payment-fail" closebtn="true">
    <div class="modal-info error">
        <i class="ion-alert"></i>
        <span>Warning!</span>
        <div class="payment-msg">
            Payment fail
        </div>
        <button class="pay-event-btn" (click)="onRePay()">Pay Now</button>
    </div>
</opn-modal>
<opn-modal modalId="payment-success" closebtn="true">
    <div class="modal-info success">
        <i class="ion-checkmark"></i>
        <span>Success!</span>
        <div class="payment-msg">
            Your Subscription canceled
        </div>
    </div>
</opn-modal>
<opn-payment-stripe [listData]="totalData" (outToken)="onPay($event)"></opn-payment-stripe>
<div class="nt-date">{{ dataSource.created_at | date: 'd MMM y' }}</div>
<div class="nt-text">
  <span [innerHtml]="dataSource.content | keepHtml"></span>
  <button class="n-cancel" *ngIf="!dataSource.changed" (click)="onCencel(dataSource)">Update
      <div class="small-loader inline-block" *ngIf="dataSource.joinLoaderC"></div>
  </button>
</div>
