.n-cancel{
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 0;
  background: #4ca1ff;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
  margin-left: 15px;
  transition: 0.2s;
  &:hover{
    box-shadow: none;
  }
}

.n-decline{
  width: 100px;
  height: 30px;
  border-radius: 2px;
  border: 0;
  background: #ff5e8b;
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
  margin-left: 10px;
  transition: 0.2s;
  &:hover{
    box-shadow: none;
  }
}

.modal-info {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #282d38;
  text-align: center;
  &.error {
      .ion-alert {
          display: inline-block;
          width: 45px;
          height: 45px;
          color: #f91656;
          font-size: 23px;
          margin-right: 10px;
          border: 2px solid #f91656;
          padding: 5px;
          border-radius: 50%;
      }
      span {
          color: #f91656;
      }
      .payment-msg {
          margin-top: 24px;
      }
      .pay-event-btn {
          width: 100%;
          height: 54px;
          border: 0;
          margin: 35px 0 25px 0;
          border-radius: 2px;
          transition: 0.2s ease-in;
          font-size: 16px;
          font-weight: 300;
          outline: none;
          background: #4ca1ff;
          color: white;
          box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
          cursor: pointer;
          &:hover {
              box-shadow: none;
          }
      }
  }
  &.success {
      .ion-checkmark {
          display: inline-block;
          width: 45px;
          height: 45px;
          color: #4ca1ff;
          font-size: 23px;
          margin-right: 10px;
          border: 2px solid #4ca1ff;
          padding: 5px;
          border-radius: 50%;
      }
      span {
          color: #4ca1ff;
      }
      .payment-msg {
          margin-top: 24px;
      }
  }
}