<main class="row no-gutters justify-content-center">
  <opn-manager-panel [academyId]="academy_id" class="w-100" (checkManager)="onCheckManager($event)"></opn-manager-panel>
  <div class="col-12 max-content">
    <div class="back-btn"><opn-ui-back-btn></opn-ui-back-btn></div>
    <router-outlet></router-outlet>
  </div>
</main>
