$white-gray: #f5f5f5;
$white: #ffffff;
$background-gray: #f0f2f8;
$border-gray: #d3dce9;
$icon-gray: #c5cacf;
$gray: #bababa;
$dark: #333333;
$red: #ff0000;
$crimson: #f91656;
$orange: #ff8300;
$blue: #4f9dbf;
$color-primary: #4ca1ff;
$submit-color: #1772a7;
$h1-size: 34px;
$font-family: 'Proxima Nova';
$font-family-cond: 'Proxima Nova Condensed';

%border-bottom {
    border-bottom: 1px solid $border-gray;
}

%card-styles {
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
}

%btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 3px;
    background: $color-primary;
    color: white;
}
