@import 'variables';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

$border-radius: 3px;
$input-color: #bababa;
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f0f2f8 !important;
}
.wrap-limiter{
  min-width: 1240px;
  &:after{
    display: block;
    content: '';
    clear: both;
  }
}

.no-data{
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-size: 13px;
  color: #172a47;
  text-align: center;
  padding: 30px 0;
}

/*
* begin styles for slect2 registration
**/

$select-true: #f5f5f5;
select2 {
  display: block;
}

.select-belt {
  .select2-container {
    width: 100% !important;
    .select2-selection {
      background-color: #fff !important;
      border-color: transparent !important;
      border-radius: $border-radius !important;
      height: auto !important;
      outline: none;
      .select2-selection__rendered {
        padding-left: 0px !important;
        line-height: 0 !important;
        .image {
          display: block;
          img {
            width: 100%;
          }
        }
      }
      .select2-selection__arrow {
        height: 10px;
        width: 10px;
        position: absolute;
        right: 1px;
        top: 50%;
        transform: translate(-50%, -50%);
        b {
          border-color: $gray transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0;
          height: 0;
          position: absolute;
          top: 5px;
          left: 5px;
          width: 0;
        }
      }
    }
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent $gray;
    border-width: 0 4px 5px;
  }
}

.select2-container--default .select2-results__option {
  padding: 10px 0 10px 0 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $select-true !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eeeeee !important;
  color: $white;
}

.select2-dropdown {
  background-color: #fff;
  border: 1px solid $white-gray !important;
  border-radius: $border-radius !important;
  box-sizing: border-box;
  display: block;
  position: absolute;
}

.select2-results__option {
  .image.select-belt {
    img {
      width: 100%;
    }
  }
}

.select-academy {
  .select2-container {
    width: 100% !important;
    height: 42px;
    .select2-selection {
      border-color: transparent !important;
      background-color: #fff !important;
      height: auto !important;
      outline: none;
      display: block;
      height: 42px !important;
      border: 1px solid $white-gray !important;
      border-radius: $border-radius !important;
      .select2-selection__rendered {
        height: 42px !important;
        padding-left: 20px !important;
        line-height: 38px !important;
        font-family: $font-family-cond;
        color: $dark;
        font-size: 16px;
      }
      .select2-selection__arrow {
        height: 10px;
        width: 10px;
        position: absolute;
        right: 1px;
        top: 50%;
        transform: translate(-50%, -50%);
        b {
          border-color: $gray transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0;
          height: 0;
          position: absolute;
          top: 5px;
          left: 5px;
          width: 0;
        }
      }
    }
  }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent $gray;
    border-width: 0 4px 5px;
  }
}

.select2-search--dropdown {
  display: block;
  padding: 15px 20px !important;
  border-color: rgba(0, 0, 0, 0.43);
}

.select2-dropdown.academy-dropdown .select2-search input.select2-search__field {
  font-family: "Proxima Nova Condensed";
  color: #333333;
  outline: none;
  padding-left: 20px;
  border: 1px solid #bababa;
  border-radius: 3px;
  height: 42px;
}

.select2-dropdown.academy-dropdown .select2-results .select2-results__options .select2-results__option {
  padding-left: 20px !important;
  font-family: $font-family-cond;
  color: $gray;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $input-color !important;
}

.select2-container--default .select2-results>.select2-results__options {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f0f0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 3px;
  }
}


/*
* end styles for slect2 registration
**/

.tooltip {
  opacity: 1 !important;
  &.left {
    transform: translateX(-8px)
  }
  .tooltip-inner {
    font-family: $font-family-cond;
    font-size: 14px;
    background-color: $white-gray;
    color: $red;
  }
}

datetime-popup .btn {
  color: black !important;
}

.bs-timepicker-field {
  width: 61px !important;
}

.opn-scroll {
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f0f0f0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 3px;
  }
}



/**
    Share style start
*/

.sb-custom-theme {
  .sb-wrapper {
    width: 100%;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    .sb-inner {
      /** ... inner wrapper */
      .sb-content {
        text-align: left;
        .sb-icon {
          display: inline-block;
          color: white;
          width: 20px;
          height: 20px;
          text-align: center;
          font-size: 15px;
          margin-right: 10px;
          border-radius: 2px;
          transform: translateY(5px);
          i{
            transform: translateY(-4px);
          }
        }
        .sb-text {
          display: inline-block;
          color: #172a47;
          font-size: 14px;
          font-family: "MuseoSansCyrl";
          font-weight: 300;
        }
      }
    } // For conditional styles
  }
  .sb-facebook{
    .sb-icon{
      background: #3c5998;
    }
  }

  .sb-twitter{
    .sb-icon{
      background: #55acef;
    }
  }
}


/**
    Share style end
*/

.subscription-single{
  .c-btn span span{
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 24px;
    color: #202f3b;
    font-family: "MuseoSansCyrl";
    font-size: 15px;
    font-weight: 300;
    line-height: 48px;
  }
  .c-btn span + span{
    width: 50px;
    height: 48px;
    border: 0;
    border-left: 1px solid #d3dce9;
    position: absolute;
    right: 0 !important;
    background: white;
    cursor: pointer;
    outline: none;
    &::after{
      display: block;
      content: '';
      width: 12px;
      height: 9px;
      background: url("/assets/images/icons/select-btn-icon.png") center top no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  .c-btn{
    &:hover span + span{
      border-color: #98a6bc;
      &::after{
        background: url("/assets/images/icons/select-btn-icon.png") center -73px no-repeat;
      }
    }
  }
}

.openModal {
  overflow: hidden !important;
}


.custom-autocomplete__input input {
  width: 100% !important;
  border: 1px solid $white-gray !important;
  border-radius: $border-radius !important;
  height: 42px !important;
  padding: 0 22px !important;
  outline: none !important;
  font-family: $font-family-cond !important;
  color: $dark !important;
  &::-moz-placeholder {
    color: $input-color;
    font-weight: 300;
  }
  &::-webkit-input-placeholder {
    color: $input-color;
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    color: $input-color;
    font-weight: 300;
  }
  &:-moz-placeholder {
    color: $input-color;
    font-weight: 300;
  }
  &.ng-invalid.ng-touched {
    border-color: $red;
  }
  &:focus {
    box-shadow: 0 0 9px rgba(79, 157, 191, 25);
  }
}
ng4geo-autocomplete.error{
  input#search_places{
    border: 1px solid #ff0000 !important;
  }
}

.small-loader,
.small-loader:after {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.small-loader {
  display: inline-block;
  margin-left: 10px;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.4em solid rgba(23,114,167, 0.2);
  border-right: 0.4em solid rgba(23,114,167, 0.2);
  border-bottom: 0.4em solid rgba(23,114,167, 0.2);
  border-left: 0.4em solid #d3e8ff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.loader {
  margin: 30px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #4ca1ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// todo: move to base.scss
$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;

$font-regular: 'MuseoSansCyrl';

.icon-search {
  &:after {
    content: url('/assets/images/icons/icon-search.png');
  }
}
.icon-date {
  &:after {
    content: url('/assets/images/icons/icon-date.png');
  }
}
.icon-price {
  &:after {
    content: url('/assets/images/icons/icon-price.png');
  }
}
.icon-geo {
  &:after {
    content: url('/assets/images/icons/icon-geo.png');
  }
}
.icon-geo-g {
  &:after {
    content: url('/assets/images/icons/icon-geo-g.png');
  }
}
.icon-tech {
  &:after {
    content: url('/assets/images/icons/teachers-icon.png');
  }
}
.icon-view-grid {
  &:after {
    content: url('/assets/images/icons/icon-view-grid-g.png');
  }
  &.active:after{
    content: url('/assets/images/icons/icon-view-grid.png');
  }
}
.icon-view-map {
  &:after {
    content: url('/assets/images/icons/icon-view-map-g.png');
  }
  &.active:after{
    content: url('/assets/images/icons/icon-view-map.png');
  }
}
.lt-bg {
  background: #f0f2f8;
  padding: 20px 15px;
}

.lt-card {
  background: #fff;
  border: 1px solid #afc7d2;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(2, 2, 2, 0.25);
  margin-bottom: 25px;
  //padding: 15px 20px;

  &.no-gutter {
    padding: 0;
  }

  .lt-header {
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;

    .title {
      font-size: 16px;
    }
  }

  .lt-content {
    padding: 20px;
  }
}

.sw-box {
  user-select: none;
  display: inline-block;
  position: relative;
  margin: 0;

  input {
    display: none;

    &:checked + .switch {
      background: $color-primary;

      .switcher {
        transform: translateX(18px);
      }
    }
  }

  .switch {
    display: block;
    width: 46px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    padding: 2px;
    transition: all .2s ease;
    background: #d0d1d6;

    .switcher {
      display: block;
      overflow: hidden;
      background: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      transition: all .2s ease;
    }
  }
}

.wrap-select,
.lt-form-rows {
  ng-select {
    & > div {
      border-radius: 3px;
      border: 1px solid #d3dce9;
      outline: 0;
      padding: 0 0 0 15px;
      font-weight: 300;
      //font-size: 15px;
      //transition: border-color 0.4s;

      & > div.below,
      & > div.single {
        height: 38px;
      }

      & > div.below,
      & > div.multiple,
      & > div.single {

        & > div.value,
        & > div.placeholder {
          line-height: 38px;
          padding: 0;
        }
        & > div.toggle {
          line-height: 38px;
        }
      }
      & > div.multiple {
        padding: 0 15px 0 0;
        min-height: 38px;

        & > div.option {
          line-height: 34px;
          background: #8292ac;
          color: #fff;
          border: 0;
          padding: 0 25px 0 10px;
          position: relative;

          span.deselect-option {
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            height: 16px;
            line-height: 1;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
.lt-form-rows {
  margin: 35px 0;

  label {
    margin: 0;
  }

  .wrap-row {
    display: flex;
    margin: 0 15px 25px;
    min-height: 42px;

    & > label {
      width: 140px;
      padding:0 15px;
      font-weight: 300;
      color: $color-label;
      margin: 0 0 5px 0;
    }

    &:not(.wrap-textarea) {
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wrap-textarea {
    label {
      margin-top: 10px;
    }
  }

  .wrap-input {
    width: calc(100% - 140px);
    position: relative;
    padding: 0 15px;

    .input-error {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 12px;
      color: red;
      padding: 0 15px;
    }
  }

  textarea {
    line-height: 22px;
  }

  .lt-radiobox {
    display: flex;
    align-items: center;

    .radio-item {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 30px;
      }

      span {
        position: absolute;
        left: 0;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $color-border;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          opacity: 0;
          background: $color-primary;
          cursor: pointer;
          transition: background 0.4s;
        }
      }

      input {
        display: none;

        &:checked {
          & + span {
            border-color: $color-primary;

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .custom-autocomplete__input #search_places {
    font-size: 15px !important;
    transition: border-color 0.4s !important;
    padding: 9px 15px !important;
    border: 1px solid $color-border !important;
    font-family: inherit !important;
    box-shadow: none!important;
    color: inherit!important;
    font-weight: 300;

    &:focus {
      border-color: $color-primary !important;
    }
  }
}

.input-style {
  width: 100%;
  padding: 9px 15px;
  border-radius: 3px;
  outline: 0;
  border: 1px solid $color-border;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  transition: border-color 0.4s;
  color: #757575;

  &.error {
    border-color: red;
  }

  &:focus {
    border-color: $color-primary;
  }
}

.lt-btn {
  background: $color-primary;
  color: #fff;
  height: 40px;
  padding: 0 30px;
  border: 0;
  cursor: pointer;
  transition: background 0.4s;
  border-radius: 3px;
  outline: 0;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;

  &:focus, &:active {
    outline: 0;
  }

  &:not(:disabled):hover {
    background: darken($color-primary, 10%);
    text-decoration: none;
  }

  &:hover {
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.lt-sm {
    height: 30px;
    padding: 0 15px;
  }
}

.lt-form-footer {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

// search-infobox
.si-has-border .si-frame.si-content-wrapper {
  border: 0;
  border-radius: 5px;
}
.si-content{
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.23);
    background-color: #f0f0f0;
    border-radius: 3px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f0f0f0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 3px;
  }
}
.si-frame {
  .si-close-button {
    z-index: 1;
    color: #fff;
    top: 10px;
    right: 15px;
    outline: none;
    &:hover{
      text-shadow: 0 0 2px black;
    }
  }
  &.si-content-wrapper {
    padding: 0;
    width: 250px;

    .info-event {
      .info-header {
        &:after {
          content:"";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background: rgba(30, 42, 59, 0.71);
        }
      }
    }

    .info-academy {
      text-align: center;

      .item-info {
        padding: 0 15px;
      }
    }

    .info-header {
      min-height: 100px;
      position: relative;
      overflow: hidden;

      &.no-image {
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          position: relative;
          z-index: 1;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .time {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        padding: 10px 15px;
        width: 100%;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 12px;
        color: #ffffff;
      }
    }

    .info-footer {
      padding: 15px 20px 10px 20px;

      .lt-btn {
        width: 100%;
      }
    }

    .info-content {
      padding: 10px 20px 0;
    }

    .row-info {
      display: flex;
      padding: 10px 0;
      font-size: 13px;
      color: #90949c;

      .name {
        color: $color-default;
      }

      .text {
        p {
          margin-bottom: 5px;
        }
      }

      .icon {
        margin-right: 10px;
      }
      .color-active {
        color: $color-primary;
      }
    }
  }
}

.lt-section-search {
  .sort {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    user-select: none;

    svg {
      width: 100%;
      height: 100%;
      cursor: pointer;

      path{
        fill: #757575;
      }

      &:hover{
        path {
          fill: $color-primary;
        }
      }
    }
  }

  .search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .search-form {
    display: flex;
    align-items: center;
    margin: 0 -5px;
    padding: 20px;
    border-bottom: 1px solid #d3dce9;

    .wrap-input {
      padding: 0 5px;
    }


    .wrap-input {
      &.icon-right {
        position: relative;

        input {
          padding-right: 30px;
        }

        .icon {
          position: absolute;
          top: 0;
          right: 5px;
          height: 100%;
          width: 30px;
          display: flex;
          align-items: center;

          &:after {
            position: absolute;
            top: 50%;
            lefT: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }

  .lt-view-type {
    display: none;

    &.active {
      display: block;
    }
  }

  .search-view {
    display: flex;
    align-items: center;

    i {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .radius-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;

    span {
      cursor: pointer;
    }

    .btn-apply {
      color: $color-primary;
      text-transform: uppercase;
    }
  }

  agm-map {
    height: calc(100vh - 190px);
  }

  .lt-search-map {
    position: relative;
  }

  .lt-map-search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  .lt-content {
    position: relative;
    z-index: 5;
  }

  .lt-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-view-items {
    height: calc(100vh - 190px);
    overflow-y: auto;

    .item {
      display: flex;
      padding: 20px;
    }

    .item-img {
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: start;
    }

    .item-info {
      width: calc(100% - 110px);
      padding-left: 20px;
    }

    .item-content {
      display: flex;
      justify-content: space-between;
    }

    .row-info {
      display: flex;
      font-size: 13px;
      color: #90949c;
      padding: 5px 0;
    }

    .title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }

    .name {
      color: #141e2a;
      margin-bottom: 5px;
    }

    .text {
      padding-left: 15px;
    }
  }

  .color-active {
    color: $color-primary;
  }
}

.loader-sm {
  .loader {
    overflow: hidden;
    margin: 10px auto;
    width: 30px;
    height: 30px;
    font-size: 4px;
  }
}

.wrap-date {
  .dropdown-menu {
    left: 0 !important;
    top: 100% !important;
  }
  .ngb-dp-months {
    padding: 0!important;
  }

  .ngb-dp-header {
    padding: 0!important;
  }

  .ngb-dp-month {
    &:first-child {
      ngb-datepicker-month-view {
        padding: 14px 5px 10px 10px;
      }
    }

    &:last-child {
      ngb-datepicker-month-view {
        padding: 14px 10px 10px 5px;
      }
    }
  }
  .ngb-dp-month {
    margin: 0!important;
  }

  .btn-link {
    color: #9e9a9a;
    background-color: transparent;
    border: none;
    font-size: 12px;
  }
  .ngb-dp-month-name {
    margin-top: -4px;
  }
}

.crop-container canvas{
  background: #48484a;
}

.lt-icon-close {
  width: 14px;
  height: 14px;
  background: url('/assets/images/icons/close.png') 50% no-repeat;
}

.pointer{
    cursor: pointer;
}

.no-gut{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.no-right-gut{
    padding-right: 0 !important;
}
