.toolDay{
  width: 130px;
  border-bottom: 1px solid #d3dce9;
  text-align: center;
  padding: 8px 0;
  
  .name{
    font-size: 15px;
    font-family: "MuseoSansCyrl";
    color: #172a47;
  }
  .date{
    font-size: 13px;
    font-family: "MuseoSansCyrl";
    color: #90949c;
  }
}