<div>
  <div class="toolDay" [style.height.px]="options.celHeight * dataSourse[day]?.rows" *ngFor="let day of days;">
    <div class="name">{{(isHoliday) ? dataSourse[day].mont : dataSourse[day].day}}</div>
    <div class="date">{{(isHoliday) ? dataSourse[day].day : dataSourse[day].date}}</div>
  </div>
</div>