<div class="info-block-wrapper row">
    <div class="col-8">
        <div class="product-card" *ngIf="product && loaded">
            <div class="product-title">{{product.title}}</div>
            <div class="product-images-block">
                <div class="main-img-wrapper">
                    <img class="main-img" src="{{images[mainImageIndex]? baseUrl + images[mainImageIndex].url : noPhoto}}" alt="">
                    <div class="slide-left-btn" (click)="prevImg()" *ngIf="images.length > 1">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="slide-right-btn" (click)="nextImg()" *ngIf="images.length > 1">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
                <div class="secondary-images-row row">
                    <div class="secondary-image-wrapper col-2" *ngFor="let img of images; let i = index">
                        <img class="secondary-image" src="{{baseUrl + img.url}}" alt="" [class.selected-img]="i === mainImageIndex" (click)="mainImageIndex = i;">
                    </div>
                </div>
                <div class="description-wrapper">
                    {{product.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="info-card" *ngIf="product">
            <div class="price-block">
                <div class="price-title grey-text">Price</div>
                <div class="price-value">${{product.price}}</div>
                <div class="card-actions" [hidden]="productAdded" (click)="addProductToCart()">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Add to cart</span>
                </div>
                <div class="card-added" [hidden]="!productAdded">
                    <span>Added</span>
                </div>
            </div>
            <div class="shipping-block">
                <div class="shipping-title grey-text">Shipping</div>
                <div class="shipping-type">{{product.shipping_price > 0?'$ ' + product.shipping_price : 'Free shipping'}}</div>
            </div>
            <div class="seller-block">
                <div class="seller-name">{{product.academy.name}}</div>
                <div class="seller-address grey-text">{{product.academy.location}}</div>
                <div class="contact-seller-btn" (click)="onEventMessage(product.academy.id)">Contact seller</div>
            </div>
        </div>
    </div>
</div>
