@import '../../../../../variables';

%block-styles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.grey-text{
    color: $gray;
    font-size: 15px;
}

.info-block-wrapper {
    padding-right: 0;
    .product-card {
        @extend %card-styles;;
        padding: 30px;
        .product-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 25px;
        }
        .main-img-wrapper {
            position: relative;
            .main-img {
                object-fit: cover;
                margin-bottom: 6px;
                height: 400px;
                width: 100%;
            }
            .slide-left-btn, .slide-right-btn {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 37px;
                height: 78px;
                color: white;
                background: rgba(56, 56, 58, 0.68);
                cursor: pointer;
            }
            .slide-right-btn {
                right: 0;
            }
        }
        .secondary-images-row {
            margin: 0 -4px 30px;
            .secondary-image-wrapper {
                padding-right: 4px;
                padding-left: 4px;
                cursor: pointer;
                .secondary-image {
                    object-fit: cover;
                    max-width: 100%;
                    height: 74px;
                    &.selected-img {
                        border: 3px solid $color-primary;
                    }
                }
            }
        }
    }

    .info-card {
        @extend %card-styles;;
        .price-block {
            @extend %block-styles;
            @extend %border-bottom;
            .price-title {
            }
            .price-value {
                font-weight: 500;
                font-size: 30px;
                letter-spacing: 4px;
                margin-bottom: 25px;
            }
            .card-actions {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 80%;
                border-radius: 3px;
                background: #ff8300;
                color: #ffffff;
                padding: 8px 0;
                i {
                    margin-right: 10px;
                }
            }
            .card-added {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                border-radius: 3px;
                background: $gray;
                color: #ffffff;
                padding: 8px 0;
            }
        }
        .shipping-block{
            @extend %block-styles;
            border-bottom: 1px solid $gray;
            .shipping-title{
                margin-bottom: 5px;
            }
            .shipping-type{
                font-weight: 500;
            }
        }
        .seller-block{
            @extend %block-styles;
            .seller-name{
                font-weight: 500;
                font-size: 1.2em;
                margin-bottom: 5px;
            }
            .seller-address{
                margin: 0 18% 25px;
                text-align: center;
            }
            .contact-seller-btn{
                padding: 10px 45px;
                border: 1px solid $border-gray;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}
