<main class="row no-gutters justify-content-center">
    <opn-manager-panel *ngIf="academyId" [academyId]="academyId" class="w-100"
                       (checkManager)="onCheckManager($event)"></opn-manager-panel>
    <div class="max-content">
        <div class="bs-card-wrapper">
            <div class="grid-table" *ngIf="academy">
                <div class="d-flex grid-table-head">
                    <div class="col">Belt</div>
                    <div class="col-2 count-title" *ngIf="academy.promotion_method === 'time'">Days</div>
                    <div class="col-2 count-title" *ngIf="academy.promotion_method === 'attendance'">Classes</div>
                    <div class="col-2">Controls</div>
                </div>
                <div class="d-flex flex-column belts-wrapper">
                    <div class="d-flex belt-row" *ngFor="let belt of belts">
                        <div class="col"><img class="belt-img" src="{{baseUrl + belt.belt.sourse}}"></div>
                        <div [hidden]="belt?.isEdit" class="count-table-cel" *ngIf="academy.promotion_method === 'time'">
                            {{belt.time_stripe_count}}
                        </div>
                        <div [hidden]="belt?.isEdit" class="count-table-cel" *ngIf="academy.promotion_method === 'attendance'">
                            {{belt.class_stripe_count}}
                        </div>
                        <div *ngIf="belt?.isEdit && academy.promotion_method === 'time'" class="count-input-wrapper">
                            <input class="count-input form-control" name="belt-time-{{belt.id}}" type="number" [(ngModel)]="belt.time_stripe_count" autofocus>
                        </div>
                        <div *ngIf="belt?.isEdit && academy.promotion_method === 'attendance'" class="count-input-wrapper">
                            <input class="count-input form-control" name="belt-class-{{belt.id}}" type="number" [(ngModel)]="belt.class_stripe_count" autofocus>
                        </div>
                        <div [hidden]="belt?.isEdit" class="controls-wrapper">
                            <button class="edit-btn" (click)="belt.isEdit = true"></button>
                        </div>
                        <div *ngIf="belt?.isEdit" class="d-flex edit-controls-wrapper">
                            <button class="btn btn-md fa fa-check" (click)="editBeltSetting(belt)"></button>
                            <button class="btn btn-md fa fa-times" (click)="belt.isEdit = false"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


