.bs-card-wrapper{
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
    margin: 30px;
    .grid-table-head{
        font-weight: 500;
        border-bottom: 1px solid #d3dce9;
        padding: 15px;
        .count-title{
            padding: 0;
            text-align: center;
        }
    }
    .belts-wrapper{
        padding: 15px;
        .belt-row{
            padding-bottom: 15px;
            &:last-child{
                padding-bottom: 0;
            }
            .belt-img{
                width: 411px;
            }
            .count-table-cel{
                width: 107px;
                padding-left: 40px;
                padding-top: 2px;
            }
            .count-input-wrapper{
                .count-input{
                    margin-right: 25px;
                    margin-left: 15px;
                    width: 54px;
                    height: 30px;
                    line-height: 2.5;
                }
            }
            .edit-controls-wrapper{
                padding-right: 15px;
                .fa-times{
                    margin-left: 10px;
                }
            }
            .controls-wrapper{
                padding-left: 36px;
                padding-right: 30px;
                padding-top: 5.5px;
                height:30px;
                .edit-btn {
                    width: 14px;
                    height: 14px;
                    background: url("/assets/images/icons/icon-edit.png") right center no-repeat;
                    float: right;
                    margin-right: 25px;
                    cursor: pointer;
                    border: 0;
                    outline: none;
                }
            }
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}

