.lt-users {
    position: relative;
}

.list-users {
    min-height: 100px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    .user {
        display: flex;
        padding: 10px;
        width: 33.33%;

        @media (max-width: 1199px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }

        .item-img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                width: auto;
                max-height: 100%;
            }
        }

        .user-info {
            width: calc(100% - 100px);
            padding-left: 15px;

            .user-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 7px;
            }

            .user-address,
            .user-followers {
                font-size: 13px;
                color: #757575;
                margin-bottom: 7px
            }
        }
    }
}

.search-form {

    .wrap-input {
        width: 340px;
    }
}

.academies-multiselect {
    width: 220px;
    margin-left: auto;
    .c-btn {
        font-weight: 100;
        min-height: 0 !important;
        padding: 9px 15px !important;
        box-shadow: none !important;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 15px;
        line-height: 20px;
        color: #757575 !important;
        border: 1px solid #d3dce9 !important;
    }
    .fa-angle-down {
        font-size: 16pt !important;
        right: 19px !important;
    }
}

.lt-load-more {
    padding: 15px 10px;
    text-align: center;
}

.sort-table {
}

.lt-drop-down {
    position: relative;
    width: 230px !important;
    margin-left: 20px;
    margin-right: 15px;

    .lt-drop-label {
        cursor: pointer;
    }
}

.lt-drop-content {
    display: none;
    position: absolute;
    width: calc(100% - 13px);
    right: 5px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(2, 2, 2, 0.25);
    z-index: 1;

    &.active {
        display: block;
    }
}

.radius-input {
    font-size: 15pt;
    color: #757575
}


.search-tabs {
    text-align: left;
    margin: 15px 0 30px 0;
    .panel-radio-group {
        .radio-item {
            display: inline-block;
            position: relative;
            &.unread:after {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #f91656;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 10px;
            }
            label {
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
                padding-left: 26px;
                position: relative;
                padding-right: 20px;
                cursor: pointer;
                &:before {
                    display: block;
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 2px solid #babec9;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: 0.5s ease-in-out;
                }
                &:hover {
                    &:before {
                        border-color: #4ca1ff;
                    }
                }
                &:after {
                    display: none;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #4ca1ff;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
            input[type="radio"] {
                display: none;
                &:checked+label {
                    &:before {
                        border-color: #4ca1ff;
                    }
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}