<section class="lt-section-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="search-tabs row w-100 no-gutters">
                    <div class="col-auto panel-radio-group">
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="users" id="users" (change)="onChangeTab('users')">
                            <label for="users">Users</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="academies" id="academies" (change)="onChangeTab('academy')">
                            <label for="academies">Academies</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" name="group" [(ngModel)]="tab" value="activities" id="activities" (change)="onChangeTab('activity')">
                            <label for="activities">Activities</label>
                        </div>
                    </div>
                </div>
                <div class="search-header">
                    <div class="search-result">Search result: {{total}} users</div>
                </div>
                <div class="lt-card">
                    <div class="search-form">
                        <div class="wrap-input icon-right">
                            <input #search type="text" class="input-style" placeholder="Search" (keyup.enter)="searchItems(search.value)">
                            <i class="icon icon-search" (click)="searchItems(search.value)"></i>
                        </div>
                        <!-- <angular2-multiselect [data]="academies" [(ngModel)]="selectedAcademies" [settings]="academiesSelectSettings" (onSelect)="onAcademySelect()" (onDeSelect)="onAcademySelect()" (onSelectAll)="onAcademySelect()" (onDeSelectAll)="onAcademySelect()" ></angular2-multiselect> -->
                        <div class="wrap-input lt-drop-down icon-right ml-auto" (clickOutside)="activeSlider = false">
                            <span class="radius-input" (click)="activeSlider = !activeSlider">
                                <div class="input-style lt-drop-label">Radius</div>
                                <i class="fa fa-angle-down icon toggle"></i>
                            </span>
                            <div class="lt-drop-content" *ngIf="activeSlider" [ngClass]="{'active': activeSlider}">
                                <div>{{newRadius || 0}}</div>
                                <div ngD3Slider id="slider2" [length]="sliderOptions.length" [maxValue]="sliderOptions.maxValue" [minValue]="sliderOptions.minValue"
                                    [initialValue]="sliderOptions.initialValue" [color]="sliderOptions.color" [emptyColor]="sliderOptions.emptyColor"
                                    [thumbColor]="sliderOptions.thumbColor" [thumbSize]="sliderOptions.thumbSize" [lineWidth]="sliderOptions.lineWidth"
                                    (selectedValue)="onChangeRadius($event)"></div>
                                <div class="radius-btns">
                                    <span (click)="clearRadius()">Clear</span>
                                    <span class="btn-apply" (click)="getItems()">Apply</span>
                                </div>
                            </div>
                        </div>
                        <span class="sort-table">
                            <span class="sort" (click)='sortItems()'>
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="346.000000pt" height="346.000000pt" viewBox="0 0 346.000000 346.000000">
                                    <g transform="translate(0.000000,346.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                        <g>
                                            <path d="M1570 2913 c-101 -214 -240 -560 -360 -898 l-68 -190 126 -3 c69 -1
                                        131 -1 137 1 5 3 28 59 50 126 l39 121 227 0 227 0 30 -82 c16 -46 35 -102 42
                                        -125 l13 -43 139 0 c76 0 138 3 138 6 0 11 -114 327 -178 495 -70 181 -172
                                        424 -235 562 l-46 97 -124 0 -125 0 -32 -67z m260 -481 c28 -73 50 -137 50
                                        -142 0 -6 -61 -10 -160 -10 -88 0 -160 2 -160 5 0 5 118 318 150 400 l12 30
                                        29 -75 c16 -41 52 -135 79 -208z" />
                                            <path d="M1300 1530 l0 -110 256 0 c251 0 256 0 243 -19 -8 -11 -62 -81 -120
                                        -158 -127 -166 -254 -349 -343 -497 l-66 -109 0 -78 0 -79 455 0 455 0 0 110
                                        0 110 -290 0 c-159 0 -290 4 -290 8 0 33 326 480 478 654 l93 108 -3 82 -3 83
                                        -432 3 -433 2 0 -110z" />
                                        </g>
                                        <path *ngIf='sort == 1 || sort == 2' d="M268 2192 c-199 -199 -268 -273 -268 -291 0 -29 162 -199 198 -208
                                20 -5 37 8 106 76 45 44 85 81 89 81 4 0 7 -238 7 -528 0 -397 3 -531 12 -540
                                17 -17 289 -17 306 0 9 9 12 143 12 540 0 290 3 528 8 528 4 0 43 -36 87 -80
                                44 -44 88 -80 99 -80 10 0 60 41 112 92 70 69 94 98 94 117 0 21 -56 82 -268
                                294 -230 229 -271 267 -297 267 -25 0 -67 -38 -297 -268z" />
                                        <path *ngIf='sort == 1 || sort == 3' d="M2742 2448 c-9 -9 -12 -143 -12 -540 0 -290 -3 -528 -8 -528 -4 0
                                -43 36 -87 80 -44 44 -88 80 -99 80 -10 0 -60 -41 -112 -92 -70 -69 -94 -98
                                -94 -117 0 -21 56 -82 268 -294 230 -229 271 -267 297 -267 25 0 67 38 297
                                268 199 199 268 273 268 291 0 29 -162 199 -198 208 -20 5 -37 -8 -106 -76
                                -45 -44 -85 -81 -89 -81 -4 0 -7 238 -7 528 0 397 -3 531 -12 540 -8 8 -57 12
                                -153 12 -96 0 -145 -4 -153 -12z" />
                                    </g>
                                </svg>
                            </span>
                        </span>
                    </div>
                    <div class="lt-users">
                        <div class="lt-loader" *ngIf="isLoading">
                            <div class="loader"></div>
                        </div>
                        <div class="list-users" *ngIf="!isLoading">
                            <div class="user" *ngFor="let user of users">
                                <div class="user-img">
                                    <opn-view-avatar [belt]="user?.belt_user?.belt?.sourse_round" [defaultSrc]="noImg" [src]="user.avatar" [widthImg]="'80px'"
                                        [md]="'sidebar'">
                                    </opn-view-avatar>
                                </div>
                                <div class="user-info">
                                    <div class="user-name">{{user.first_name}} {{user.last_name}}</div>
                                    <div class="user-address">{{user?.address || 'no address'}}</div>
                                    <div class="user-followers">
                                        <span>Followers:</span>
                                        <span class="amount color-active">{{user?.followers.length}}</span>
                                    </div>
                                    <div class="lt-btn lt-sm" (click)="followUser(user.id, 'add')">Follow</div>
                                </div>
                            </div>
                        </div>
                        <div class="loader-sm" *ngIf="isLoadingNew">
                            <div class="loader"></div>
                        </div>
                        <div *ngIf="!allItems && !isLoadingNew" class="lt-load-more">
                            <span class="lt-btn lt-sm" (click)="loadMoreItems()">Load more</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
