<div class="content-card-100" style="min-height: 650px">
  <div class="row justify-content-between no-gutters">
    <div class="col-5 title-section">Weekly Schedule</div>
    <div class="col-3">
      <opn-ui-select [currentValue]="currentType" [dataSource]="typesOptions" (change)="onTypeSelect($event)"></opn-ui-select>
    </div>
    <div class="col-3" *ngIf="currentType != 'class'">
        <angular2-multiselect [data]="priceOptions" [(ngModel)]="selectedPayment" [settings]="priceSelectSettings" (onSelect)="getItems()"
        (onDeSelect)="getItems()" (onSelectAll)="getItems()" (onDeSelectAll)="getItems()"></angular2-multiselect>
    </div>
    <div class="col-3" *ngIf="currentType == 'class'">
        <angular2-multiselect [data]="subscriptions" [(ngModel)]="selectedSubscriptions" [settings]="subscriptionsSelectSettings" (onSelect)="getItems()"
          (onDeSelect)="getItems()" (onSelectAll)="getItems()" (onDeSelectAll)="getItems()"></angular2-multiselect>
      </div>
  </div>
  <div class="loader" *ngIf="!scheduleLoad">Loading...</div>
  <opn-week-calendar *ngIf="scheduleLoad" (opnClick)="onEventClick($event)" [forStudent]="true" [activityType]="currentType" [nowDate]="nowDate" [dataSource]="scheduleSource"></opn-week-calendar>
  <br>
</div>
