<opn-create-activity [academy]="academyProfile" *ngIf="isCreateActivity"
                     (close)="closeCreateActivity()"></opn-create-activity>
<opn-update-activity [dataSource]="editClassSource" *ngIf="isUpdateActivity"
                     (close)="onCloseUpdateClass()"></opn-update-activity>
<opn-confirm-modal closebtn="true" modalTitle="ARE YOU SURE?" (confirm)="onConfirm($event);"></opn-confirm-modal>
<div class="content-card-100">
    <div class="row no-gutters grid-panel align-items-center">
        <div class="grid-title">
            Activities &nbsp;
            <span class="create-a" (click)="openCreateActivity()">Create</span>
        </div>
        <div class="radio-item show-all" (click)="getAllActivities()"> <!-- unread -->
            <input type="radio" [(ngModel)]="filterBy" value="all">
            <label for="status1">Show all</label>
        </div>
        <div class="radio-item by-date" (click)="switchToFilterByDate()">
            <input type="radio" id="status2" [(ngModel)]="filterBy" value="date">
            <label for="status2">By date</label>
        </div>
        <opn-range-datepicker (selectRange)="onSelectRange($event)"></opn-range-datepicker>
        <div class="search-wrapper grid-form">
            <input type="text" class="filter" #filter placeholder="Search" (keyup)="onFilter(filter.value)">
        </div>
    </div>
    <div class="row no-gutters list-wrapper">
        <div class="col-12 grid-content">
            <table class="grid-table" [class.no-pagination]="!pagintion.show" *ngIf="activitiesData.length > 0">
                <thead class="grid-table-head">
                <tr class="grid-table-row">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Number</th>
                    <th>Earned</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let activity of activitiesData;" class="grid-table-row">
                    <td class="grid-table-cel" [ngClass]="activity.type">
                        {{types[activity.type]}}
                    </td>
                    <td class="grid-table-cel blue-text link-text" (click)="toActivity(activity.id)">{{activity.name}}
                    </td>
                    <td class="grid-table-cel blue-text">
                        {{(+activity.price_all)?'$'+activity.price_all:(+activity.status_public)?'free':'private'}}
                    </td>
                    
                    <td class="grid-table-cel">{{activity.start_date | date:'mediumDate'}}</td>
                    <td class="grid-table-cel">{{activity?.join_activities?.length || 0}}/{{activity.amount}}</td>
                    <!--TODO: change to total_price-->
                    <td class="grid-table-cel blue-text">$ {{0}}</td>
                    <td class="grid-table-cel">
                        <button class="grid-btn-delete" (click)="onRemoveClass(activity)"></button>
                        <button class="grid-btn-edit" (click)="onEditClass(activity)"></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="no-data" *ngIf="activitiesData.length == 0">
                You do not have activities
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-between pagination" *ngIf="activitiesData.length > 0">
        <div class="col-auto">
            <opn-per-page (change)="onChangePerPage($event)"></opn-per-page>
        </div>
        <div class="col-auto pages" *ngIf="pagintion.show">
            <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">
                {{p}}
            </div>
        </div>
    </div>
</div>
