$input-color: #bababa;
$red: #ff0000;
.content-card-100 {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
    float: left;
    display: flex;
    flex-direction: column;
    .list-wrapper {
        flex: 1;
        align-items: center;
    }
    .no-data {
        font-family: "MuseoSansCyrl";
        font-weight: 500;
        font-size: 20px;
        color: #172a47;
        text-align: center;
        padding: 30px 0;
    }
    .grid-panel {
        height: 61px;
        border-bottom: 1px solid #d3dce9;
        padding: 0 30px;
        .grid-title {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 16px;
            color: #202f3b;
            .create-a{
                cursor: pointer;
                font-size: 14px;
                color: #90949c;
                transition: 0.2s;
                padding: 5px;
                border-radius: 3px;
                font-weight: 300;
                background: rgba($color: #f0f2f8, $alpha: 0.8);
            }
        }
        .grid-form {
            input.filter {
                width: 240px;
                height: 40px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 16px;
                color: #202f3b;
                float: right;
                padding: 0 30px 0 20px;
                background: url("/assets/images/icons/search-f.png") right center no-repeat;
                outline: none;
                &:hover,
                &:focus {
                    border: 1px solid #98a6bc;
                }
            }
        }
    }
    .grid-content {
        padding: 0 30px;
        .grid-table {
            width: 100%;
            .grid-table-head th {
                height: 50px;
                border-bottom: 1px solid #d3dce9;
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 13px;
                color: #172a47;
            }
            .grid-table-row {
                & th:first-child,
                & td:first-child {}
                & th:last-child,
                & td:last-child {
                    padding-right: 10px;
                    text-align: right;
                }
            }
            tbody {
                .grid-table-row {
                    border-bottom: 1px solid #d3dce9;
                    &:hover {
                        background: #f0f2f8;
                    }
                    .grid-table-cel {
                        font-family: "MuseoSansCyrl";
                        font-weight: 300;
                        font-size: 14px;
                        color: #90949c;
                        height: 50px;
                        position: relative;
                        &.blue-text {
                            color: #4ca1ff;
                        }
                        &:before {
                            display: inline-block;
                            content: '';
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        &.class, &.others, &.mat_event, &.seminar{
                            padding-left: 35px;
                        }
                        &.class:before {
                            background: url("/assets/images/icons/class-icon.png") center/contain no-repeat;
                        }
                        &.others:before {
                            background: url("/assets/images/icons/others-icon.png") center/contain no-repeat;
                        }
                        &.mat_event:before {
                            background: url("/assets/images/icons/mat_event-icon.png") center/contain no-repeat;
                        }
                        &.seminar:before {
                            background: url("/assets/images/icons/seminar-icon.png") center/contain no-repeat;
                        }
                        .grid-btn-delete {
                            width: 12px;
                            height: 14px;
                            background: url("/assets/images/icons/icon-delete.png") right center no-repeat;
                            float: right;
                            cursor: pointer;
                            border: 0;
                            outline: none;
                        }
                        .grid-btn-edit {
                            width: 14px;
                            height: 14px;
                            background: url("/assets/images/icons/icon-edit.png") right center no-repeat;
                            float: right;
                            margin-right: 25px;
                            cursor: pointer;
                            border: 0;
                            outline: none;
                        }
                    }
                }
            }
            &.no-pagination {
                tbody .grid-table-row:last-child {
                    border: 0;
                }
            }
        }
    }
    .pagination {
        margin-top: 20px;
        padding: 0 30px 26px 30px;
        .pages {
            .page {
                width: 30px;
                height: 30px;
                border-radius: 2px;
                border: 1px solid #d3dce9;
                float: left;
                margin-left: 6px;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #172a47;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                &.active {
                    cursor: default;
                    pointer-events: none;
                    border: 1px solid #4ca1ff;
                    background: #4ca1ff;
                    color: white;
                }
            }
        }
    }
}

.link-text {
    cursor: pointer;
}

.radio-item {
    display: inline-block;
    position: relative;
    &.unread:after {
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: #f91656;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 10px;
    }
    label {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        color: #202f3b;
        padding-left: 26px;
        position: relative;
        padding-right: 20px;
        cursor: pointer;
        margin: 0;
        &:before {
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            border: 2px solid #babec9;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.5s ease-in-out;
        }
        &:hover {
            &:before {
                border-color: #4ca1ff;
            }
        }
        &:after {
            display: none;
            content: '';
            width: 8px;
            height: 8px;
            background-color: #4ca1ff;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }
    input[type="radio"] {
        display: none;
        &:checked+label {
            &:before {
                border-color: #4ca1ff;
            }
            &:after {
                display: block;
            }
        }
    }
}

.link-text {
    cursor: pointer;
}

.search-wrapper {
    margin-left: auto;
}

.show-all {
    margin-left: auto;
}

.search-wrapper {
    margin-left: 11px;
}

.by-date label {
    padding-right: 10px;
}

/deep/ ng-datepicker {
    width: 130px;
    .ngx-datepicker-container {
        .ngx-datepicker-input {
            color: #202f3b;
            height: 40px !important;
            border-radius: 2px !important;
            border: 1px solid #d0d6e7 !important;
            padding: 11px 16px !important;
        }
    }
    .ngx-datepicker-calendar-container {
        width: 230px !important;
        top: 42px !important;
    }
}
