<div class="step-container">
    <div class="row no-gutters justify-content-center">
        <div class="col-auto logo-upgrade">
            <img src="/assets/images/icons/logo-black.png" alt="OPN MAT">
        </div>
    </div>
    <div class="step-container-head">
        Get more features
    </div>
    <p class="step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer </p>

    <div class="step-container-head">
        Pick Your
        <br> Promotion Type
    </div>
    <div class="step-container-types d-flex justify-content-center clearfix" [class.not-select]="!validPromotions">
        <div class="step-type">
            <div class="time" [class.active]="promotion == 'time'" #special (click)="onChangeTypeEvent($event, 'time')"></div>
            <div class="step-type-title">Time</div>
        </div>
        <div class="step-type">
            <div class="attendance" [class.active]="promotion == 'attendance'" #event (click)="onChangeTypeEvent($event, 'attendance')"></div>
            <div class="step-type-title">Attendance</div>
        </div>
    </div>
</div>
