.modal-head {
    margin-top: 20px;
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 34px;
    color: #323844;
    text-align: center;
}

.logo-upgrade {
    position: relative;
    margin-top: 30px;
    &:after {
        display: block;
        content: '';
        width: 46px;
        height: 19px;
        background: url("/assets/images/icons/pro-icon.png") center no-repeat;
        position: absolute;
        right: -13px;
        top: 10px;
    }
}

.step-container {
    padding: 0 76px;
    .step-container-head {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        color: #323844;
        margin-top: 30px;
    }
    p {
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #3a4a57;
        margin-top: 25px;
    }
    .step-container-types {
        margin: 30px 0;
        .step-type {
            width: 85px;
            float: left;
            .time,
            .attendance {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                border: 2px solid rgba(196, 201, 207, 0.5);
                position: relative;
                transition: 0.4s;
                cursor: pointer;
                &:hover {
                    border-color: #4196f4;
                }
                &.active {
                    border: 0;
                    &:after {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        border-radius: 50%;
                        background: url("/assets/images/icons/check-icon.png") center no-repeat, #4196f4;
                        z-index: 9;
                        transition: 0.2s;
                    }
                }
            }
            .time:before,
                {
                display: block;
                width: 32px;
                height: 33px;
                content: url("/assets/images/icons/time-icon.png");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            &:last-child {
                margin-left: 46px;
            }
            .attendance:before {
                display: block;
                width: 40px;
                height: 40px;
                content: url("/assets/images/icons/calendar-icon.png");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            .step-type-title {
                margin-top: 24px;
                text-align: center;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                color: #202f3b;
            }
        }
        &.not-select{
            .step-type {
                .time,
                .attendance {
                    border-color: #e82c4c;
                }
            }
        }
    }
}
