<div class="edit-academy-logo">
  <label for="edit-academy-logo"><i class="ion-camera"></i></label>
  <input #academyFile id="edit-academy-logo" type="file" (change)="onEditLogoPhoto($event)">
</div>
<div class="crop-container" #cropAcademyLogo>
  <div class="row no-gutters justify-content-between">
    <div class="col-2">
      <button class="save-cover" (click)="onSave()"><i class="ion-ios-crop-strong"></i></button>
    </div>
    <div class="col-2">
      <button class="close-cover" (click)="onCloseModal()"><i class="ion-android-close"></i></button>
    </div>
    <div class="col-12">
        <img-cropper #academyCropper [image]="data" (onCrop)="cropped($event)" [settings]="cropperSettings"></img-cropper>
    </div>
  </div>
</div>
