<div class="content-card-100" *ngIf="activity">
  <div class="row no-gutters grid-panel align-items-center">
    <div class="col-6 grid-title">{{activity.name}} participants</div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 grid-content">
      <table class="grid-table" [class.no-pagination]="!pagintion.show" *ngIf="activity.join_activities.length > 0">
        <thead class="grid-table-head">
        <tr class="grid-table-row">
          <th>Name</th>
          <th>Academy</th>
          <th>Joined</th>
          <th>Paid</th>
        </tr>
        </thead>
        <tbody class="grid-table-body">
        <tr *ngFor="let joined of activity.join_activities;" class="grid-table-row">
          <td class="grid-table-cel">
            <div class="user-row">
              <opn-view-avatar [src]="joined.user.avatar" [widthImg]="'40px'"></opn-view-avatar>
              <span class="student-name blue-text">
              {{joined.user.full_name}}
            </span>
            </div>
          </td>
          <td class="grid-table-cel"> {{joined.user.academy.name}}</td>
          <td class="grid-table-cel">{{joined.created_at | date:'mediumDate'}}</td>
          <td class="grid-table-cel">{{+joined.amount || 0}}$</td>
        </tr>
        </tbody>
      </table>
      <div class="no-data" *ngIf="activity.join_activities.length == 0">
        You do not have activity participants
      </div>
    </div>
  </div>
  <div class="total-paid">Total paid: {{+activity?.total_price || 0}}$</div>
  <div class="row no-gutters justify-content-between pagination" *ngIf="activity.join_activities.length > 0">
    <div class="col-auto">
      <opn-per-page (change)="onChangePerPage($event)"></opn-per-page>
    </div>
    <div class="col-auto pages" *ngIf="pagintion.show">
      <div class="page" *ngFor="let p of pagintion.pages;" [class.active]="page == p" (click)="onLoadPage(p);">{{p}}
      </div>
    </div>
  </div>
</div>
