<main class="row no-gutters justify-content-center">
    <opn-manager-panel [academyId]="academyId" class="w-100" (checkManager)="onCheckManager($event)"></opn-manager-panel>
    <div class="col-12 max-content" *ngIf="load">
        <div class="content-card-100">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div class="col-12 max-content" [ngSwitch]="stepUpgrade" *ngIf="packages && !load">
        <div *ngSwitchCase="1">
            <div class="content-card-100">
                <div class="title">Choose a plan that fits your business.</div>
            </div>
            <div class="content-card-100 packages-box">
                <div class="row no-gutters">
                    <div class="col-3 offset-6 pckg-h">
                        <div class="row">
                            <div class="col-12 align-self-start">
                                <div class="pckg-h-title free">
                                    Free
                                </div>
                                <div class="pckg-h-price">
                                    <span class="current">
                                        <sup class="currency">$</sup>{{packages?.free[0].price}}
                                        <span class="term">/mo</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 align-self-end">
                                <div class="pckg-h-quest">
                                    Sights set on success?
                                </div>
                                <div class="pckg-h-answer">
                                    Get found online and grow your business with Thryv Starter.
                                </div>
                                <button [class.current]="currentPackage?.free" class="pckg-h-button free" (click)="onSelectPackcge(packages?.free[0])">{{currentPackage?.free ? 'Current' : 'Select'}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pckg-h">
                        <div class="row">
                            <div class="col-12 align-self-start">
                                <div class="pckg-h-title pro">
                                    Pro
                                </div>
                                <div class="pckg-h-price">
                                    <span class="old">$59</span>&emsp;
                                    <span class="current">
                                        <sup class="currency">$</sup>{{packages?.pro[0].price}}
                                        <span class="term">/mo</span>
                                    </span>
                                    <div class="save">Save 50% for 3 months!</div>
                                </div>
                            </div>
                            <div class="col-12 align-self-end">
                                <div class="pckg-h-quest">
                                    Business need a boost?
                                </div>
                                <div class="pckg-h-answer">
                                    Get found online and grow your business with Thryv Starter.
                                </div>
                                <button [class.current]="currentPackage?.pro" class="pckg-h-button pro" (click)="onSelectPackcge(packages?.pro[0])">{{currentPackage?.pro ? 'Current' : 'Select'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">
                        <span>Messages</span>
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">
                        <span>Activity</span>
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">
                        <span>Students</span>
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">
                        <span>Settings</span>
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">
                        <span>Shop</span>
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-no.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">Subscriptions</div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-no.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">Teachers &amp; Techniques</div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-no.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">Classes</div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-no.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell">Belt settings</div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-no.png" alt="yes">
                    </div>
                    <div class="col-3 cell">
                        <img src="/assets/images/icons/ability-yes.png" alt="yes">
                    </div>
                </div>
                <div class="row pckg-ability no-gutters">
                    <div class="col-6 cell"></div>
                    <div class="col-3 cell">
                        <button [class.current]="currentPackage?.free" class="pckg-h-button current free" (click)="onSelectPackcge(packages?.free[0])">{{currentPackage?.free ? 'Current' : 'Select'}}</button>
                    </div>
                    <div class="col-3 cell">
                        <button [class.current]="currentPackage?.pro" class="pckg-h-button pro" (click)="onSelectPackcge(packages?.pro[0])">{{currentPackage?.pro ? 'Current' : 'Select'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div class="content-card-100">
                <div class="row no-gutters">
                    <div class="col-7 packages-box">
                        <opn-promotions (promotionChange)="promotionChange($event)" [academyData]="academyData" [academyId]="academyId" [isPro]="isPro"></opn-promotions>
                    </div>
                    <div class="col-5 right-box">
                        <div class="selected-package">
                                <div class="pckg-h-price">
                                        <span class="current">
                                            <sup class="currency">$</sup>{{packages?.pro[0].price}}<span class="term">/mo</span>
                                        </span>
                                        <div class="months">Monthly</div>
                                    </div>
                                    <p class="after-text">month-to-month flexibility</p>
                        </div>
                        <opn-payment-upgrade (outToken)="onPay($event)" [payment]="false"></opn-payment-upgrade>
                        <button class="cancelPro" (click)="onCancelPro()">Cencel</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3">
            <div class="content-card-100 packages-box succes-box">
                <div class="row justify-content-center">
                    <div class="col-auto succes-head">
                        <div style="color: rgb( 76, 161, 255 ); font-size: 24px">
                            <img src="assets/images/icons/success.png" style="width: 50px;margin-top: -15px;margin-right: 10px;">
                            Success!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 succes-text">
                        <span>
                            Thank you for upgrading!
                            <br> Your academy is PRO
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center succes-btns">
                    <div class="col-3"><button class="pay-success-btn" (click)="toDashboardPage()">Dashboard</button></div>
                    <div class="col-3"><button class="pay-success-btn" (click)="toAcademyPage()">Academy page</button></div>
                    <div class="col-3"><button class="pay-success-btn" (click)="toFeedPage()">Feed page</button></div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="4">
                <div class="content-card-100 packages-box succes-box">
                    <div class="row justify-content-center">
                        <div class="col-auto succes-head">
                            <div style="color: rgb( 76, 161, 255 ); font-size: 24px">
                                <img src="assets/images/icons/success.png" style="width: 50px;margin-top: -15px;margin-right: 10px;">
                                Success!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 succes-text">
                            <span>
                                Your academy is FREE
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center succes-btns">
                        <div class="col-3"><button class="pay-success-btn" (click)="toAcademyPage()">Academy page</button></div>
                        <div class="col-3"><button class="pay-success-btn" (click)="toFeedPage()">Feed page</button></div>
                    </div>
                </div>
            </div>
    </div>
</main>
