.content-card-100 {
    min-height: 80px;
    margin-bottom: 30px;
}

.right-box {
    padding-left: 20px;
}

.title {
    font-family: "MuseoSansCyrl";
    font-weight: 300;
    font-size: 28px;
    color: #323844;
    margin: 30px 0 0 0;
    text-align: center;
}

.packages-box {
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(23, 42, 71, 0.15);
    background: white;

    .pckg-h {
        border-left: 1px solid #d3dce9;
        padding: 0 10px;

        &>.row {
            height: 100%;
        }

        .pckg-h-title {
            text-align: center;
            font-family: "MuseoSansCyrl";
            font-weight: 900;
            font-size: 16px;
            text-transform: uppercase;
            padding: 30px 0 10px 0;

            &.free {
                color: #5ac8fa;
            }

            &.pro {
                color: #e82c4c;
            }
        }

        .pckg-h-price {
            text-align: center;

            .old {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 20px;
                text-decoration: line-through;
                color: rgba($color: #202f3b, $alpha: 0.4);
            }

            .current {
                font-family: "MuseoSansCyrl";
                font-weight: 500;
                font-size: 35px;
                color: #202f3b;

                .currency {
                    top: -15px !important;
                    font-size: 50% !important;
                    color: #202f3b;
                }

                .term {
                    font-weight: 300;
                    font-size: 13px;
                    color: #202f3b;
                }
            }

            .save {
                font-weight: 400;
                font-size: 13px;
                color: rgba($color: #141e2a, $alpha: 0.8);
            }
        }

        .pckg-h-quest {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 14px;
            color: #141e2a;
            margin-top: 35px;
            text-align: center;
        }

        .pckg-h-answer {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 14px;
            color: rgba($color: #141e2a, $alpha: 0.8);
            margin-top: 10px;
            text-align: center;
        }

        .pckg-h-button {
            width: 115px;
            height: 40px;
            border: 0;
            outline: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
            margin: 20px auto 40px auto;
            color: white;
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 14px;
            display: block;
            transition: 0.3s ease-in;
            cursor: pointer;

            &.free {
                background-color: #5ac8fa;
            }

            &.pro {
                background-color: #e82c4c;
            }

            &:hover {
                box-shadow: none;
            }

            &.current {
                background: #f1f2f5;
                color: #cdcfd6;
                box-shadow: none;
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .pckg-ability {
        text-align: center;

        .cell {
            min-height: 50px;
            line-height: 50px;
            border-top: 1px solid #d3dce9;
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 14px;
            color: #141e2a;

            &:not(:first-child) {
                border-left: 1px solid #d3dce9;
            }

            &:first-child {
                text-align: left;
                padding: 0 30px;
            }

            .pckg-h-button {
                width: 115px;
                height: 40px;
                line-height: 40px;
                border: 0;
                outline: none;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
                -moz-box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
                box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
                margin: 40px auto 40px auto;
                color: white;
                font-family: "MuseoSansCyrl";
                font-weight: 300;
                font-size: 14px;
                display: block;
                transition: 0.3s ease-in;
                cursor: pointer;

                &.free {
                    background-color: #5ac8fa;
                }

                &.pro {
                    background-color: #e82c4c;
                }

                &:hover {
                    box-shadow: none;
                }

                &.current {
                    background: #f1f2f5;
                    color: #cdcfd6;
                    box-shadow: none;
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
    }
}

.package-item {
    border-bottom: 1px solid #d3dce9;
    height: 50px;

    .name {
        color: #4ca1ff;
        font-size: 14px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 300;
        line-height: 30px;
    }

    .price {
        color: #4ca1ff;
        font-size: 14px;
        font-family: "MuseoSansCyrl", serif;
        font-weight: 300;
        line-height: 30px;
        text-align: right;
    }

    .change-pckg {
        width: 55px;
        height: 30px;
        border: 0;
        outline: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
        -moz-box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
        box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
        float: right;
        color: white;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 12px;
        display: block;
        transition: 0.3s ease-in;
        cursor: pointer;
        background-color: #5ac8fa;
    }
}

.selected-package {
    padding-top: 25px;
    .pckg-h-price {
        text-align: center;

        .old {
            font-family: "MuseoSansCyrl";
            font-weight: 500;
            font-size: 20px;
            text-decoration: line-through;
            color: rgba($color: #202f3b, $alpha: 0.4);
        }

        .current {
            font-family: "MuseoSansCyrl";
            font-weight: 300;
            font-size: 55px;
            color: #202f3b;

            .currency {
                top: -15px !important;
                font-size: 50% !important;
                color: #202f3b;
            }

            .term {
                font-weight: 300;
                font-size: 17px;
                color: #202f3b;
            }
        }

        .months {
            font-family: "MuseoSansCyrl";
            text-align: center;
            font-weight: 600;
            font-size: 26px;
            color: #141e2a;
        }
    }

    .after-text {
        font-family: "MuseoSansCyrl";
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        color: #141e2a;
    }
}

.succes-box {
    padding: 30px;

    .succes-head {
        margin-top: 10px;
    }

    .succes-text {
        margin-top: 20px;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 34px;
        color: #323844;
        text-align: center;
    }

    .pay-success-btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border: 0;
        outline: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: 0 3px 4px rgba(91, 96, 116, .3);
        margin: 40px auto 5px auto;
        color: white;
        font-family: "MuseoSansCyrl";
        font-weight: 300;
        font-size: 14px;
        display: block;
        transition: 0.3s ease-in;
        cursor: pointer;
        background-color: #5ac8fa;

        &:hover {
            box-shadow: none;
        }
    }

}

.cancelPro {
    width: 100%;
    height: 54px;
    border: 0;
    background: #4ca1ff;
    color: white;
    margin: 35px 0;
    border-radius: 2px;
    transition: 0.2s ease-in;
    box-shadow: 0 3px 4px rgba(91, 96, 116, 0.3);
    cursor: pointer;
    outline: none;

    &:hover {
        box-shadow: none;
    }
}
