$lt-bg: #f0f2f8;
$input-color: #bababa;
$color-primary: #4ca1ff;
$color-default: #202f3b;
$color-label: #90949c;
$color-border: #d3dce9;

.wrap-date{
    position: relative;
    .input-style{
        max-width: 225px;
        color: #202f3b;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        padding: 9px 25px 9px 15px;
    }
    .icon-date{
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0px;
        height: 100%;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-left: 1px solid #d3dce9;
        line-height: 0px;
    }
    .custom-day {
        text-align: center;
        display: inline-flex;
        height: 2rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        color: $color-default;
        transition: all 0.4s;
        box-shadow: inset 0 0 1px 1px #ccc;
    }
    
    .custom-day.range,
    .custom-day:hover {
        box-shadow: inset 0 0 1px 1px #fff;
        background: $color-primary;
        color: #fff;
    }
    
    .custom-day.faded {
        box-shadow: inset 0 0 1px 1px #fff;
        background: $color-primary;
        color: #fff;
    }
}
