<div class="wrap-input wrap-date icon-right" (clickOutside)="togglePicker()">
    <input #date placeholder="Select date" type="text" class="input-style" [ngModel]="selectedDays" 
        (click)="datePicker.toggle()"> <!--(keyup.enter)="resetItems(date.value)"-->
    <input style="display: none" type="text" class="input-style" ngModel ngbDatepicker #datePicker="ngbDatepicker" [displayMonths]="displayMonths"
        [showWeekdays]="false" [navigation]="false" [showWeekNumbers]="showWeekNumbers" [dayTemplate]="tempDay"
        (ngModelChange)="onDateChange($event)">
    <!--<i class="icon icon-date" (click)="datePicker.open()"></i>-->
    <i class="icon icon-date" (click)="datePicker.toggle()"></i>

    <ng-template #tempDay let-date="date" let-focused="focused">
        <span class="custom-day" [class.focused]="focused" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
            {{ date.day }}
        </span>
    </ng-template>
</div>